<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_scene_icon/btn_cells/i_achievement0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_achievement_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,273},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_activity_center0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_activity_center_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,654},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_authentication0000</key>
            <dict>
                <key>frame</key>
                <string>{{418,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_authentication_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{682,284},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_bind0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_bind_3600000</key>
            <dict>
                <key>frame</key>
                <string>{{418,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_continue_login0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_continue_login_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,459},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_exchange0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_exchange_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,366},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_friend0000</key>
            <dict>
                <key>frame</key>
                <string>{{418,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_friend_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{682,377},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_fruit_tree0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_fruit_tree_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,460},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_giftpack_discount0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,522},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_giftpack_discount_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{501,626},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_giftpack_youhui0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_ladybug0000</key>
            <dict>
                <key>frame</key>
                <string>{{418,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_ladybug_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,273},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mail0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mail_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,367},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mark0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,418},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mark_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{304,682},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_market0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_market_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,626},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_market_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{418,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_market_new_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{119,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,26}}</string>
                <key>sourceSize</key>
                <string>{119,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mi0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_mi_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{683,190},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_oppo0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,314},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_oppo_community0000</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_oppo_community_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_oppo_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,117},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_rank_race0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_rank_race_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{408,626},{91,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,26}}</string>
                <key>sourceSize</key>
                <string>{91,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_sales0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_star_bank_10000</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_star_bank_20000</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_star_bank_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{113,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,27}}</string>
                <key>sourceSize</key>
                <string>{113,27}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_star_reward0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_star_reward_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{655,106},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{90,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_update0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,569},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/i_vivo_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,626},{102,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,26}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_bag0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,465},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_bag_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{255,682},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_card0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,361},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_card_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{683,96},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_community0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,257},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_community_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,654},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_fc0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,153},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_fc_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{682,469},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_forum0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,49},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_forum_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{302,654},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_left0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_right0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_set0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/btn_cells/s_i_set_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{206,682},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>home_scene_icon/btn_fruit_tree_res/cells/fruit_tree_upgrade0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,553},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>home_scene_icon/btn_star_bank_res/cells/star_bank_hudejie10000</key>
            <dict>
                <key>frame</key>
                <string>{{638,616},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>home_scene_icon/btn_star_bank_res/cells/star_bank_hudejie20000</key>
            <dict>
                <key>frame</key>
                <string>{{594,626},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>home_scene_icon/btn_star_bank_res/cells/star_bank_hudejie30000</key>
            <dict>
                <key>frame</key>
                <string>{{546,654},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>home_scene_icon/btn_star_bank_res/cells/star_bank_hudejie40000</key>
            <dict>
                <key>frame</key>
                <string>{{502,654},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>home_scene_icon/btn_star_bank_res/cells/star_bank_hudejie50000</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_flag_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{123,673},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_flag_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,221},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_flag_gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{638,650},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_flag_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,682},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_flag_new_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{452,654},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_label_discount0000</key>
            <dict>
                <key>frame</key>
                <string>{{686,543},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_label_reward0000</key>
            <dict>
                <key>frame</key>
                <string>{{682,519},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_reddot0000</key>
            <dict>
                <key>frame</key>
                <string>{{590,660},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>home_scene_icon/common_res/cells/icon_reddot_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{173,673},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>home_scene_icon/common_res/icon_flag_help0000</key>
            <dict>
                <key>frame</key>
                <string>{{402,654},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>home_scene_icon/local_activity/mau/cells/i_activity_mau0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>home_scene_icon/local_activity/mau/cells/i_activity_mau_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>home_scene_icon/tips/cells/tipArrowL0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,650},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>home_scene_icon/tips/cells/tipArrowR0000</key>
            <dict>
                <key>frame</key>
                <string>{{686,567},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>home_scene_icon/tips/cells/tipBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,45}}</string>
                <key>sourceSize</key>
                <string>{171,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_scene_icon.png</string>
            <key>size</key>
            <string>{711,711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6cf8961150e1c6e6226dadc41a1b90b:cab511409ac47b4e2b88605cd3283259:56c5e00f94d919b348b3598966b64d68$</string>
            <key>textureFileName</key>
            <string>home_scene_icon.png</string>
        </dict>
    </dict>
</plist>
