<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>37.986217498779297</real>
	<key>angleVariance</key>
	<real>11.398486137390137</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>configName</key>
	<string>boss_bee</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.97610121965408325</real>
	<key>finishColorGreen</key>
	<real>0.76572221517562866</real>
	<key>finishColorRed</key>
	<real>0.0</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>0.29981076717376709</real>
	<key>finishColorVarianceGreen</key>
	<real>1</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>18.881988525390625</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>0.0</real>
	<key>gravityy</key>
	<real>-81.0364990234375</real>
	<key>maxParticles</key>
	<integer>239</integer>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<integer>300</integer>
	<key>minRadiusVariance</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>0.20039910078048706</real>
	<key>particleLifespanVariance</key>
	<real>0.76159745454788208</real>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<real>0.0</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<integer>360</integer>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>145.16693115234375</real>
	<key>rotationEndVariance</key>
	<real>65.857917785644531</real>
	<key>rotationStart</key>
	<real>53.219139099121094</real>
	<key>rotationStartVariance</key>
	<real>38.650039672851562</real>
	<key>sourcePositionVariancex</key>
	<real>1</real>
	<key>sourcePositionVariancey</key>
	<real>1</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>0.0</real>
	<key>startColorAlpha</key>
	<real>0.5</real>
	<key>startColorBlue</key>
	<real>0.94316357374191284</real>
	<key>startColorGreen</key>
	<real>0.24246245622634888</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>1</real>
	<key>startParticleSize</key>
	<real>25.198757171630859</real>
	<key>startParticleSizeVariance</key>
	<real>85.217391967773438</real>
	<key>tangentialAccelVariance</key>
	<real>297.554443359375</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>boss_bee.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
