<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,42}}</string>
				<key>sourceSize</key>
				<string>{32,42}</string>
			</dict>
			<key>hide_branch10000</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{547,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{547,239}}</string>
				<key>sourceSize</key>
				<string>{547,239}</string>
			</dict>
			<key>hide_branch20000</key>
			<dict>
				<key>frame</key>
				<string>{{0,239},{541,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{541,172}}</string>
				<key>sourceSize</key>
				<string>{541,172}</string>
			</dict>
			<key>hide_branch30000</key>
			<dict>
				<key>frame</key>
				<string>{{0,411},{578,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{578,141}}</string>
				<key>sourceSize</key>
				<string>{578,141}</string>
			</dict>
			<key>hide_branch_guang0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>hide_cloud_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{110,552},{25,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,34}}</string>
				<key>sourceSize</key>
				<string>{25,34}</string>
			</dict>
			<key>hide_reward_box0000</key>
			<dict>
				<key>frame</key>
				<string>{{135,552},{65,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,72}}</string>
				<key>sourceSize</key>
				<string>{65,72}</string>
			</dict>
			<key>hide_reward_box_highlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{200,552},{73,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,83}}</string>
				<key>sourceSize</key>
				<string>{73,83}</string>
			</dict>
			<key>hide_reward_box_white0000</key>
			<dict>
				<key>frame</key>
				<string>{{273,552},{62,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,70}}</string>
				<key>sourceSize</key>
				<string>{62,70}</string>
			</dict>
			<key>hide_reward_bubble0000</key>
			<dict>
				<key>frame</key>
				<string>{{335,552},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,100}}</string>
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>
			<key>hide_reward_dot0000</key>
			<dict>
				<key>frame</key>
				<string>{{436,552},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>hide_reward_root0000</key>
			<dict>
				<key>frame</key>
				<string>{{454,552},{59,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,34}}</string>
				<key>sourceSize</key>
				<string>{59,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>branch.png</string>
			<key>size</key>
			<string>{600,660}</string>
			<key>textureFileName</key>
			<string>branch.png</string>
		</dict>
	</dict>
</plist>
