<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>askForHelpFlower0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{98,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,143}}</string>
				<key>sourceSize</key>
				<string>{98,143}</string>
			</dict>
			<key>countdown_party_fly_bg</key>
			<dict>
				<key>frame</key>
				<string>{{98,0},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,31}}</string>
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>countdown_party_fly_item</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>countdown_party_fly_num</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{71,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,56}}</string>
				<key>sourceSize</key>
				<string>{71,56}</string>
			</dict>
			<key>countdown_party_fly_num_1</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{80,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,49}}</string>
				<key>sourceSize</key>
				<string>{80,49}</string>
			</dict>
			<key>countdown_party_fly_num_2</key>
			<dict>
				<key>frame</key>
				<string>{{371,0},{96,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,49}}</string>
				<key>sourceSize</key>
				<string>{96,49}</string>
			</dict>
			<key>countdown_party_fly_num_3</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{107,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,49}}</string>
				<key>sourceSize</key>
				<string>{107,49}</string>
			</dict>
			<key>countdown_party_fly_num_4</key>
			<dict>
				<key>frame</key>
				<string>{{574,0},{109,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,49}}</string>
				<key>sourceSize</key>
				<string>{109,49}</string>
			</dict>
			<key>flowerOpenStar0000</key>
			<dict>
				<key>frame</key>
				<string>{{683,0},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0001</key>
			<dict>
				<key>frame</key>
				<string>{{778,0},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0002</key>
			<dict>
				<key>frame</key>
				<string>{{873,0},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0004</key>
			<dict>
				<key>frame</key>
				<string>{{95,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0005</key>
			<dict>
				<key>frame</key>
				<string>{{190,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0006</key>
			<dict>
				<key>frame</key>
				<string>{{285,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0007</key>
			<dict>
				<key>frame</key>
				<string>{{380,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0008</key>
			<dict>
				<key>frame</key>
				<string>{{475,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0009</key>
			<dict>
				<key>frame</key>
				<string>{{570,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0010</key>
			<dict>
				<key>frame</key>
				<string>{{665,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0011</key>
			<dict>
				<key>frame</key>
				<string>{{760,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0012</key>
			<dict>
				<key>frame</key>
				<string>{{855,143},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0014</key>
			<dict>
				<key>frame</key>
				<string>{{95,210},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerSeed0000</key>
			<dict>
				<key>frame</key>
				<string>{{190,210},{46,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,74}}</string>
				<key>sourceSize</key>
				<string>{46,74}</string>
			</dict>
			<key>flowerShadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{236,210},{108,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,138}}</string>
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>flowerShineCircle0000</key>
			<dict>
				<key>frame</key>
				<string>{{344,210},{101,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,87}}</string>
				<key>sourceSize</key>
				<string>{101,87}</string>
			</dict>
			<key>flowerStar00000</key>
			<dict>
				<key>frame</key>
				<string>{{445,210},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,28}}</string>
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>flowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{471,210},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>flowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{493,210},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>flowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{516,210},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>flowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{538,210},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>flowerStarOpenBackground0000</key>
			<dict>
				<key>frame</key>
				<string>{{560,210},{121,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,120}}</string>
				<key>sourceSize</key>
				<string>{121,120}</string>
			</dict>
			<key>flower_ingredient0000</key>
			<dict>
				<key>frame</key>
				<string>{{681,210},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,98}}</string>
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>hiddenFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{776,210},{82,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,103}}</string>
				<key>sourceSize</key>
				<string>{82,103}</string>
			</dict>
			<key>hiddenFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{858,210},{81,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,103}}</string>
				<key>sourceSize</key>
				<string>{81,103}</string>
			</dict>
			<key>hiddenFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{939,210},{80,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,103}}</string>
				<key>sourceSize</key>
				<string>{80,103}</string>
			</dict>
			<key>hiddenFlowerAnimGray0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{86,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,106}}</string>
				<key>sourceSize</key>
				<string>{86,106}</string>
			</dict>
			<key>hiddenFlowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{86,348},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hiddenFlowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{108,348},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>hiddenFlowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{131,348},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hiddenFlowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{153,348},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>jumpedFlower0000</key>
			<dict>
				<key>frame</key>
				<string>{{176,348},{98,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,143}}</string>
				<key>sourceSize</key>
				<string>{98,143}</string>
			</dict>
			<key>normalFlowerAnim00000</key>
			<dict>
				<key>frame</key>
				<string>{{274,348},{75,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,99}}</string>
				<key>sourceSize</key>
				<string>{75,99}</string>
			</dict>
			<key>normalFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{349,348},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>
			<key>normalFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{442,348},{93,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,122}}</string>
				<key>sourceSize</key>
				<string>{93,122}</string>
			</dict>
			<key>normalFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{535,348},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>
			<key>normalFlowerAnim40000</key>
			<dict>
				<key>frame</key>
				<string>{{628,348},{96,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,131}}</string>
				<key>sourceSize</key>
				<string>{96,131}</string>
			</dict>
			<key>normalFlowerAnimGray0000</key>
			<dict>
				<key>frame</key>
				<string>{{724,348},{97,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,127}}</string>
				<key>sourceSize</key>
				<string>{97,127}</string>
			</dict>
			<key>shiningStars0000</key>
			<dict>
				<key>frame</key>
				<string>{{821,348},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0001</key>
			<dict>
				<key>frame</key>
				<string>{{897,348},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0003</key>
			<dict>
				<key>frame</key>
				<string>{{76,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0004</key>
			<dict>
				<key>frame</key>
				<string>{{152,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0005</key>
			<dict>
				<key>frame</key>
				<string>{{228,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0006</key>
			<dict>
				<key>frame</key>
				<string>{{304,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0007</key>
			<dict>
				<key>frame</key>
				<string>{{380,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0008</key>
			<dict>
				<key>frame</key>
				<string>{{456,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0009</key>
			<dict>
				<key>frame</key>
				<string>{{532,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0010</key>
			<dict>
				<key>frame</key>
				<string>{{608,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0011</key>
			<dict>
				<key>frame</key>
				<string>{{684,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0012</key>
			<dict>
				<key>frame</key>
				<string>{{760,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0013</key>
			<dict>
				<key>frame</key>
				<string>{{836,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0014</key>
			<dict>
				<key>frame</key>
				<string>{{912,491},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0016</key>
			<dict>
				<key>frame</key>
				<string>{{76,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0017</key>
			<dict>
				<key>frame</key>
				<string>{{152,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0018</key>
			<dict>
				<key>frame</key>
				<string>{{228,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0019</key>
			<dict>
				<key>frame</key>
				<string>{{304,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0020</key>
			<dict>
				<key>frame</key>
				<string>{{380,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0021</key>
			<dict>
				<key>frame</key>
				<string>{{456,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0022</key>
			<dict>
				<key>frame</key>
				<string>{{532,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0023</key>
			<dict>
				<key>frame</key>
				<string>{{608,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0024</key>
			<dict>
				<key>frame</key>
				<string>{{684,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0025</key>
			<dict>
				<key>frame</key>
				<string>{{760,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0026</key>
			<dict>
				<key>frame</key>
				<string>{{836,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0027</key>
			<dict>
				<key>frame</key>
				<string>{{912,563},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>flower_effects.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>flower_effects.png</string>
		</dict>
	</dict>
</plist>
