<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_score_point0000</key>
            <dict>
                <key>frame</key>
                <string>{{322,425},{24,24}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>color_bird_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{297,272},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>colorbird_effect0000</key>
            <dict>
                <key>frame</key>
                <string>{{289,595},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>countdown_10000</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{92,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,158}}</string>
                <key>sourceSize</key>
                <string>{94,160}</string>
            </dict>
            <key>countdown_20000</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{135,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,157}}</string>
                <key>sourceSize</key>
                <string>{139,159}</string>
            </dict>
            <key>countdown_30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{127,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{127,158}}</string>
                <key>sourceSize</key>
                <string>{131,160}</string>
            </dict>
            <key>countdown_go0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{246,164}}</string>
                <key>sourceSize</key>
                <string>{248,166}</string>
            </dict>
            <key>falling_star_rainbow0000</key>
            <dict>
                <key>frame</key>
                <string>{{167,313},{23,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,201}}</string>
                <key>sourceSize</key>
                <string>{23,201}</string>
            </dict>
            <key>fallingstar0000</key>
            <dict>
                <key>frame</key>
                <string>{{192,286},{16,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,219}}</string>
                <key>sourceSize</key>
                <string>{16,219}</string>
            </dict>
            <key>fallingstar_white0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,286},{22,200}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,200}}</string>
                <key>sourceSize</key>
                <string>{26,204}</string>
            </dict>
            <key>game_collect_small_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{528,96},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>head_image_mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>ladybug_rotated_coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{413,496},{31,32}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{31,32}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0001</key>
            <dict>
                <key>frame</key>
                <string>{{507,204},{67,72}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{67,72}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0002</key>
            <dict>
                <key>frame</key>
                <string>{{547,468},{59,62}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{59,62}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0003</key>
            <dict>
                <key>frame</key>
                <string>{{483,462},{59,62}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{59,62}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0004</key>
            <dict>
                <key>frame</key>
                <string>{{417,368},{61,64}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{61,64}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0005</key>
            <dict>
                <key>frame</key>
                <string>{{417,300},{63,66}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{63,66}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0006</key>
            <dict>
                <key>frame</key>
                <string>{{278,358},{65,68}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{65,68}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0007</key>
            <dict>
                <key>frame</key>
                <string>{{348,331},{67,70}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,70}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0008</key>
            <dict>
                <key>frame</key>
                <string>{{278,286},{67,70}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{67,70}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0009</key>
            <dict>
                <key>frame</key>
                <string>{{581,180},{69,72}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_coin0010</key>
            <dict>
                <key>frame</key>
                <string>{{507,128},{71,74}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,74}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>ladybug_rotated_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{606,359},{38,39}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{38,39}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0001</key>
            <dict>
                <key>frame</key>
                <string>{{580,104},{74,73}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,73}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0002</key>
            <dict>
                <key>frame</key>
                <string>{{483,331},{64,63}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{64,63}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0003</key>
            <dict>
                <key>frame</key>
                <string>{{417,431},{64,63}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{64,63}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0004</key>
            <dict>
                <key>frame</key>
                <string>{{318,532},{62,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{62,61}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0005</key>
            <dict>
                <key>frame</key>
                <string>{{254,532},{62,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{62,61}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0006</key>
            <dict>
                <key>frame</key>
                <string>{{190,532},{62,61}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{62,61}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0007</key>
            <dict>
                <key>frame</key>
                <string>{{444,532},{60,61}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{60,61}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0008</key>
            <dict>
                <key>frame</key>
                <string>{{382,532},{60,61}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{60,61}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0009</key>
            <dict>
                <key>frame</key>
                <string>{{506,532},{60,59}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{60,59}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_rotated_star0010</key>
            <dict>
                <key>frame</key>
                <string>{{347,272},{58,57}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{58,57}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>ladybug_summerfish_star10000</key>
            <dict>
                <key>frame</key>
                <string>{{605,400},{35,41}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{35,41}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10001</key>
            <dict>
                <key>frame</key>
                <string>{{125,516},{63,77}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{63,77}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10002</key>
            <dict>
                <key>frame</key>
                <string>{{348,403},{55,67}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{55,67}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10003</key>
            <dict>
                <key>frame</key>
                <string>{{222,595},{55,65}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{55,65}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10004</key>
            <dict>
                <key>frame</key>
                <string>{{549,331},{55,65}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{55,65}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10005</key>
            <dict>
                <key>frame</key>
                <string>{{568,532},{53,65}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{53,65}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10006</key>
            <dict>
                <key>frame</key>
                <string>{{414,595},{53,65}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{53,65}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10007</key>
            <dict>
                <key>frame</key>
                <string>{{549,599},{51,65}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{51,65}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10008</key>
            <dict>
                <key>frame</key>
                <string>{{234,479},{51,63}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{51,63}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10009</key>
            <dict>
                <key>frame</key>
                <string>{{299,479},{49,61}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{49,61}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star10010</key>
            <dict>
                <key>frame</key>
                <string>{{362,460},{49,59}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{49,59}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>ladybug_summerfish_star30000</key>
            <dict>
                <key>frame</key>
                <string>{{606,313},{36,44}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{36,44}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30001</key>
            <dict>
                <key>frame</key>
                <string>{{407,230},{68,84}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{68,84}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30002</key>
            <dict>
                <key>frame</key>
                <string>{{581,251},{60,72}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{60,72}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30003</key>
            <dict>
                <key>frame</key>
                <string>{{76,595},{58,72}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{58,72}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30004</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{58,72}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{58,72}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30005</key>
            <dict>
                <key>frame</key>
                <string>{{150,595},{58,70}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{58,70}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30006</key>
            <dict>
                <key>frame</key>
                <string>{{493,273},{56,70}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{56,70}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30007</key>
            <dict>
                <key>frame</key>
                <string>{{547,398},{56,68}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,68}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30008</key>
            <dict>
                <key>frame</key>
                <string>{{344,595},{54,68}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{54,68}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30009</key>
            <dict>
                <key>frame</key>
                <string>{{481,595},{52,66}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{52,66}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_summerfish_star30010</key>
            <dict>
                <key>frame</key>
                <string>{{256,425},{52,64}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{52,64}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>ladybug_sunshine0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{121,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{121,120}}</string>
                <key>sourceSize</key>
                <string>{159,156}</string>
            </dict>
            <key>prefix_halo0000</key>
            <dict>
                <key>frame</key>
                <string>{{297,161},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>prop_bubble10000</key>
            <dict>
                <key>frame</key>
                <string>{{140,501},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>prop_bubble20000</key>
            <dict>
                <key>frame</key>
                <string>{{387,128},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>share_coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{182,168},{116,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,113}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>share_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{131,313},{34,186}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{34,186}}</string>
                <key>sourceSize</key>
                <string>{38,200}</string>
            </dict>
            <key>share_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{483,396},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>thunder_effect10000</key>
            <dict>
                <key>frame</key>
                <string>{{387,96},{30,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,139}}</string>
                <key>sourceSize</key>
                <string>{30,139}</string>
            </dict>
            <key>thunder_effect20000</key>
            <dict>
                <key>frame</key>
                <string>{{256,286},{20,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,111}}</string>
                <key>sourceSize</key>
                <string>{20,111}</string>
            </dict>
            <key>win_star_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{125,501},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>win_star_dust0000</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{5,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,4}}</string>
                <key>sourceSize</key>
                <string>{5,4}</string>
            </dict>
            <key>win_star_high_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{407,128},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>win_star_shine0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,496},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>witch0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{178,143}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{178,143}}</string>
                <key>sourceSize</key>
                <string>{188,153}</string>
            </dict>
            <key>witch_tail0000</key>
            <dict>
                <key>frame</key>
                <string>{{234,286},{168,20}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{168,20}}</string>
                <key>sourceSize</key>
                <string>{238,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_effects.png</string>
            <key>size</key>
            <string>{655,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1efb39909fd2bbaafcc04e6784f98a36:0663ca5705074528a71fd540c2d0a896:178b2b4036451e0e0ad8547baf0d92d9$</string>
            <key>textureFileName</key>
            <string>home_effects.png</string>
        </dict>
    </dict>
</plist>
