<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>target.dig_move instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,105}</string>
				<key>spriteSourceSize</key>
				<string>{105,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,112},{105,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,105}</string>
				<key>spriteSourceSize</key>
				<string>{105,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{492,113},{105,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.drop instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,90}</string>
				<key>spriteSourceSize</key>
				<string>{88,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{629,720},{88,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.hedgehog_endless_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,92}</string>
				<key>spriteSourceSize</key>
				<string>{99,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{561,623},{99,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.ice instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,97}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,97}</string>
				<key>spriteSourceSize</key>
				<string>{96,97}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{668,524},{96,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.key instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,323},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.moleweek instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,120}</string>
				<key>spriteSourceSize</key>
				<string>{96,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{715,0},{96,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,103}</string>
				<key>spriteSourceSize</key>
				<string>{103,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,342},{103,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,103}</string>
				<key>spriteSourceSize</key>
				<string>{103,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{242,447},{103,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,103}</string>
				<key>spriteSourceSize</key>
				<string>{102,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{345,552},{102,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,103}</string>
				<key>spriteSourceSize</key>
				<string>{103,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{240,552},{103,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,103}</string>
				<key>spriteSourceSize</key>
				<string>{103,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{212,657},{103,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,103}</string>
				<key>spriteSourceSize</key>
				<string>{103,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{317,657},{103,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,126}</string>
				<key>spriteSourceSize</key>
				<string>{124,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{133,0},{124,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,119}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,119}</string>
				<key>spriteSourceSize</key>
				<string>{116,119}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,508},{116,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,105}</string>
				<key>spriteSourceSize</key>
				<string>{101,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{599,113},{101,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,121}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,121}</string>
				<key>spriteSourceSize</key>
				<string>{125,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,385},{125,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{121,126}</string>
				<key>spriteSourceSize</key>
				<string>{121,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{128,128},{121,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,126}</string>
				<key>spriteSourceSize</key>
				<string>{119,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{127,256},{119,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{131,126}</string>
				<key>spriteSourceSize</key>
				<string>{131,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{131,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,120}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,120}</string>
				<key>spriteSourceSize</key>
				<string>{124,120}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{259,0},{124,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,127}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,127}</string>
				<key>spriteSourceSize</key>
				<string>{125,127}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,256},{125,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,101}</string>
				<key>spriteSourceSize</key>
				<string>{99,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{557,426},{99,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,105}</string>
				<key>spriteSourceSize</key>
				<string>{99,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{353,342},{99,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{347,449},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,92}</string>
				<key>spriteSourceSize</key>
				<string>{105,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{561,529},{105,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,91}</string>
				<key>spriteSourceSize</key>
				<string>{107,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{658,431},{107,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,93}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,93}</string>
				<key>spriteSourceSize</key>
				<string>{109,93}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,529},{109,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_7 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,101}</string>
				<key>spriteSourceSize</key>
				<string>{105,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{702,122},{105,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_10 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{101,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,102}</string>
				<key>spriteSourceSize</key>
				<string>{101,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,748},{101,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_11 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,108}</string>
				<key>spriteSourceSize</key>
				<string>{106,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{104,629},{106,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_12 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,101}</string>
				<key>spriteSourceSize</key>
				<string>{103,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{422,657},{103,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_13 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,95}</string>
				<key>spriteSourceSize</key>
				<string>{95,95}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{662,623},{95,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_14 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,-2},{101,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,102}</string>
				<key>spriteSourceSize</key>
				<string>{101,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{357,235},{101,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_15 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,126}</string>
				<key>spriteSourceSize</key>
				<string>{126,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,128},{126,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_16 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{454,426},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{107,88}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,90}</string>
				<key>spriteSourceSize</key>
				<string>{107,88}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{422,760},{107,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{460,220},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{563,220},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{666,225},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,114}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,114}</string>
				<key>spriteSourceSize</key>
				<string>{113,114}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{127,384},{113,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_7 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,109}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,109}</string>
				<key>spriteSourceSize</key>
				<string>{107,109}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{606,0},{107,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_8 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,111}</string>
				<key>spriteSourceSize</key>
				<string>{107,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{497,0},{107,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_9 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{666,328},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,105}</string>
				<key>spriteSourceSize</key>
				<string>{105,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,128},{105,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,101}</string>
				<key>spriteSourceSize</key>
				<string>{111,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{127,500},{111,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{100,109}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,111}</string>
				<key>spriteSourceSize</key>
				<string>{100,109}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{104,739},{100,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,110}</string>
				<key>spriteSourceSize</key>
				<string>{110,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,0},{110,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order_lotus_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{563,323},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.score instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,94}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,94}</string>
				<key>spriteSourceSize</key>
				<string>{96,94}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{531,717},{96,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.summer_weekly_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,105}</string>
				<key>spriteSourceSize</key>
				<string>{104,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{251,235},{104,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.time instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,117}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,117}</string>
				<key>spriteSourceSize</key>
				<string>{102,117}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,629},{102,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{850,850}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>target_icon.png</string>
				<key>textureFileName</key>
				<string>target_icon</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
