<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PublicServicePkg/cells/bar0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{210,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,37}}</string>
                <key>sourceSize</key>
                <string>{210,37}</string>
            </dict>
            <key>PublicServicePkg/cells/barBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{218,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{218,42}}</string>
                <key>sourceSize</key>
                <string>{218,44}</string>
            </dict>
            <key>PublicServicePkg/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,148}}</string>
                <key>sourceSize</key>
                <string>{326,148}</string>
            </dict>
            <key>PublicServicePkg/cells/c10000</key>
            <dict>
                <key>frame</key>
                <string>{{222,172},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>PublicServicePkg/cells/collection0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>PublicServicePkg/cells/label10000</key>
            <dict>
                <key>frame</key>
                <string>{{222,199},{80,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,20}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>PublicServicePkg/cells/tips0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{248,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,18}}</string>
                <key>sourceSize</key>
                <string>{248,18}</string>
            </dict>
            <key>PublicServicePkg/cells/turntablePart0000</key>
            <dict>
                <key>frame</key>
                <string>{{252,152},{63,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,52}}</string>
                <key>sourceSize</key>
                <string>{63,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel.png</string>
            <key>size</key>
            <string>{330,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58d3b549829f9b74ea88a9ee700b1a07:3e08e68d19528251241b1d51f872d94b:9e27fa7a307d887fe39d9c0f12d19806$</string>
            <key>textureFileName</key>
            <string>panel.png</string>
        </dict>
    </dict>
</plist>
