<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ActivityCenter/panelStyle/itemBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,277},{131,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,92}}</string>
                <key>sourceSize</key>
                <string>{131,92}</string>
            </dict>
            <key>ActivityCenter/panelStyle/itemNormalBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,141},{134,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,91}}</string>
                <key>sourceSize</key>
                <string>{134,91}</string>
            </dict>
            <key>ActivityCenter/pushBinding/_assets/bg_10000</key>
            <dict>
                <key>frame</key>
                <string>{{576,736},{519,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,524}}</string>
                <key>sourceSize</key>
                <string>{519,524}</string>
            </dict>
            <key>ActivityCenter/pushBinding/_assets/bg_20000</key>
            <dict>
                <key>frame</key>
                <string>{{576,205},{521,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,529}}</string>
                <key>sourceSize</key>
                <string>{521,529}</string>
            </dict>
            <key>ActivityCenter/pushBinding/_assets/bg_30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{572,533}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{572,533}}</string>
                <key>sourceSize</key>
                <string>{584,533}</string>
            </dict>
            <key>ActivityCenter/pushBinding/_assets/bg_40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{494,559}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{494,559}}</string>
                <key>sourceSize</key>
                <string>{510,567}</string>
            </dict>
            <key>ActivityCenter/pushBinding/_assets/reward_tip_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{149,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,137}}</string>
                <key>sourceSize</key>
                <string>{149,139}</string>
            </dict>
            <key>ActivityCenter/sym/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1192,143},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>ActivityCenter/sym/itemBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,410},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>ActivityCenter/sym/itemNormalBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,528},{118,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{118,89}</string>
            </dict>
            <key>ActivityCenter/sym/new0000</key>
            <dict>
                <key>frame</key>
                <string>{{1192,214},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ActivityCenter/sym/noArrowSym0000</key>
            <dict>
                <key>frame</key>
                <string>{{1150,648},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>ActivityCenter/sym/noArrowSymR0000</key>
            <dict>
                <key>frame</key>
                <string>{{1198,73},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>ActivityCenter/sym/rewardIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,141},{38,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ActivityCenter/sym/topBgSym0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1043,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1043,201}}</string>
                <key>sourceSize</key>
                <string>{1043,201}</string>
            </dict>
            <key>leftArrowImg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,648},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>rightArrowImg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,69}}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ActivityCenterPanel.png</string>
            <key>size</key>
            <string>{1257,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b16e3907170dde6fa4c0328a0b9c5d5d:d3a9e6a82b5c0fe5c1de6a984ec98187:ba40a90f906cb312eb5e0ebc9e533242$</string>
            <key>textureFileName</key>
            <string>ActivityCenterPanel.png</string>
        </dict>
    </dict>
</plist>
