<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>countdown_party_flower/countdown_party_fly_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{133,154},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_item0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_num0000</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_num_10000</key>
            <dict>
                <key>frame</key>
                <string>{{83,102},{79,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,48}}</string>
                <key>sourceSize</key>
                <string>{79,48}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_num_20000</key>
            <dict>
                <key>frame</key>
                <string>{{133,57},{95,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,48}}</string>
                <key>sourceSize</key>
                <string>{95,48}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_num_30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{106,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,48}}</string>
                <key>sourceSize</key>
                <string>{106,48}</string>
            </dict>
            <key>countdown_party_flower/countdown_party_fly_num_40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,48}}</string>
                <key>sourceSize</key>
                <string>{108,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CollectMisc.png</string>
            <key>size</key>
            <string>{185,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca630ebfa63b9baac1e42fd3e1b686f:0630bbd9bd90dcfb156a8c04558be276:2e08f18983289a575e6e814a6f2443b1$</string>
            <key>textureFileName</key>
            <string>CollectMisc.png</string>
        </dict>
    </dict>
</plist>
