<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Aquarius0000</key>
            <dict>
                <key>frame</key>
                <string>{{1515,212},{117,159}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{117,159}}</string>
                <key>sourceSize</key>
                <string>{125,167}</string>
            </dict>
            <key>Aries0000</key>
            <dict>
                <key>frame</key>
                <string>{{579,1533},{81,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,47}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>Cancer0000</key>
            <dict>
                <key>frame</key>
                <string>{{409,1533},{97,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,92}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>Capricornus0000</key>
            <dict>
                <key>frame</key>
                <string>{{275,1533},{89,132}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,132}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>Gemini0000</key>
            <dict>
                <key>frame</key>
                <string>{{154,1533},{119,99}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{119,99}}</string>
                <key>sourceSize</key>
                <string>{127,107}</string>
            </dict>
            <key>Leo0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1533},{100,150}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{100,150}}</string>
                <key>sourceSize</key>
                <string>{108,158}</string>
            </dict>
            <key>Libra0000</key>
            <dict>
                <key>frame</key>
                <string>{{503,1533},{74,101}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,101}}</string>
                <key>sourceSize</key>
                <string>{82,109}</string>
            </dict>
            <key>Ophiuchus0000</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1212},{252,237}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,237}}</string>
                <key>sourceSize</key>
                <string>{260,245}</string>
            </dict>
            <key>Pisces0000</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1466},{154,191}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,191}}</string>
                <key>sourceSize</key>
                <string>{162,199}</string>
            </dict>
            <key>Sagittarius0000</key>
            <dict>
                <key>frame</key>
                <string>{{630,1500},{158,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,130}}</string>
                <key>sourceSize</key>
                <string>{166,138}</string>
            </dict>
            <key>Scorpio0000</key>
            <dict>
                <key>frame</key>
                <string>{{1515,553},{139,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{139,118}}</string>
                <key>sourceSize</key>
                <string>{147,126}</string>
            </dict>
            <key>Stars_constellations0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{962,669}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{962,669}}</string>
                <key>sourceSize</key>
                <string>{968,677}</string>
            </dict>
            <key>Taurus0000</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1502},{125,147}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,147}}</string>
                <key>sourceSize</key>
                <string>{133,155}</string>
            </dict>
            <key>Virgo0000</key>
            <dict>
                <key>frame</key>
                <string>{{1515,373},{96,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,178}}</string>
                <key>sourceSize</key>
                <string>{104,186}</string>
            </dict>
            <key>meteo10000</key>
            <dict>
                <key>frame</key>
                <string>{{1515,2},{208,100}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{208,100}}</string>
                <key>sourceSize</key>
                <string>{232,120}</string>
            </dict>
            <key>nebula10000</key>
            <dict>
                <key>frame</key>
                <string>{{1392,694},{516,219}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{516,219}}</string>
                <key>sourceSize</key>
                <string>{534,229}</string>
            </dict>
            <key>world_bg_planet/bg010000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{626,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,272}}</string>
                <key>sourceSize</key>
                <string>{626,272}</string>
            </dict>
            <key>world_bg_planet/lunar0000</key>
            <dict>
                <key>frame</key>
                <string>{{484,673},{480,540}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,540}}</string>
                <key>sourceSize</key>
                <string>{480,550}</string>
            </dict>
            <key>world_bg_planet/planet010000</key>
            <dict>
                <key>frame</key>
                <string>{{966,673},{563,424}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{563,424}}</string>
                <key>sourceSize</key>
                <string>{571,434}</string>
            </dict>
            <key>world_bg_planet/planet020000</key>
            <dict>
                <key>frame</key>
                <string>{{630,1215},{286,283}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{286,283}}</string>
                <key>sourceSize</key>
                <string>{290,289}</string>
            </dict>
            <key>world_bg_planet/planet030000</key>
            <dict>
                <key>frame</key>
                <string>{{918,1238},{209,209}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,209}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>world_bg_planet/planet040000</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1238},{262,169}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{262,169}}</string>
                <key>sourceSize</key>
                <string>{274,179}</string>
            </dict>
            <key>world_bg_planet/planet050000</key>
            <dict>
                <key>frame</key>
                <string>{{918,1466},{249,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{249,159}}</string>
                <key>sourceSize</key>
                <string>{251,159}</string>
            </dict>
            <key>world_bg_planet/planet060000</key>
            <dict>
                <key>frame</key>
                <string>{{790,1500},{125,125}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>world_bg_planet/smoke0000</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{669,547}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{669,547}}</string>
                <key>sourceSize</key>
                <string>{687,559}</string>
            </dict>
            <key>world_bg_planet/solar0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{480,584}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{480,584}}</string>
                <key>sourceSize</key>
                <string>{480,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>constellations.png</string>
            <key>size</key>
            <string>{1636,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dc44bc434cda99c0c71d647113dd935:6e9a6993fc2b12418fc21298b75f70b0:a94360e4bced4bf5390c921020dec402$</string>
            <key>textureFileName</key>
            <string>constellations.png</string>
        </dict>
    </dict>
</plist>
