<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accountTipDot__uk__30000</key>
            <dict>
                <key>frame</key>
                <string>{{370,339},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>bagButtonImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{150,55},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>commonloadingclose instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>countdown_party_flower/bgvmu60000</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>gameMisc_reward/reward0000</key>
            <dict>
                <key>frame</key>
                <string>{{273,372},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>homeSceneCoinIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{207,382},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>homeSceneEner_j34i0000</key>
            <dict>
                <key>frame</key>
                <string>{{316,189},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>loading_ico_1 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>loading_ico_2 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{165,148},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>loading_ico_3 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{165,229},{73,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,76}}</string>
                <key>sourceSize</key>
                <string>{73,76}</string>
            </dict>
            <key>loading_ico_4 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{165,307},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>loading_ico_5 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{405,54},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>loading_ico_6 instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{320,38},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>loading_ico_circle instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{327,235},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>loading_ico_rect instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{398,133},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>loading_ico_turn instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{273,446},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>loading_progress_dot instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{376,189},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>loading_progress_text instance 10000</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>misc_home_icon_res/GoldIconGlowUI0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{125,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,108}}</string>
                <key>sourceSize</key>
                <string>{125,108}</string>
            </dict>
            <key>misc_home_icon_res/accountTipDot__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{370,339},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>misc_home_icon_res/bvcwe1asdjy0000</key>
            <dict>
                <key>frame</key>
                <string>{{129,264},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>misc_home_icon_res/maskm3lrjksdjeio0000</key>
            <dict>
                <key>frame</key>
                <string>{{97,260},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>misc_home_icon_res/nhmuu6230000</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>misc_home_icon_res/one_yuan/cells/oneYuanFlag0000</key>
            <dict>
                <key>frame</key>
                <string>{{242,294},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>misc_home_icon_res/one_yuan/cells/promotionIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{320,115},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>misc_home_icon_res/one_yuan/pennyFlags0000</key>
            <dict>
                <key>frame</key>
                <string>{{246,55},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>misc_home_icon_res/vdcf23t4tgrf0000</key>
            <dict>
                <key>frame</key>
                <string>{{129,150},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>misc_home_icon_res/vdcwe23t5fv0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>misc_home_icon_res/wheel_0000</key>
            <dict>
                <key>frame</key>
                <string>{{138,382},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>numTip/numTipRes/g00000</key>
            <dict>
                <key>frame</key>
                <string>{{208,450},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/g10000</key>
            <dict>
                <key>frame</key>
                <string>{{438,417},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g20000</key>
            <dict>
                <key>frame</key>
                <string>{{438,387},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g30000</key>
            <dict>
                <key>frame</key>
                <string>{{438,357},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g40000</key>
            <dict>
                <key>frame</key>
                <string>{{438,327},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g50000</key>
            <dict>
                <key>frame</key>
                <string>{{408,324},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g60000</key>
            <dict>
                <key>frame</key>
                <string>{{163,450},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/g70000</key>
            <dict>
                <key>frame</key>
                <string>{{438,447},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/g80000</key>
            <dict>
                <key>frame</key>
                <string>{{409,414},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/g90000</key>
            <dict>
                <key>frame</key>
                <string>{{430,279},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/g_bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{326,337},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>numTip/numTipRes/g_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{242,148},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>numTip/numTipRes/gadd0000</key>
            <dict>
                <key>frame</key>
                <string>{{460,303},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>numTip/numTipRes/o00000</key>
            <dict>
                <key>frame</key>
                <string>{{400,279},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o10000</key>
            <dict>
                <key>frame</key>
                <string>{{415,234},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o20000</key>
            <dict>
                <key>frame</key>
                <string>{{385,234},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o30000</key>
            <dict>
                <key>frame</key>
                <string>{{422,204},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o40000</key>
            <dict>
                <key>frame</key>
                <string>{{364,411},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o50000</key>
            <dict>
                <key>frame</key>
                <string>{{409,369},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/o60000</key>
            <dict>
                <key>frame</key>
                <string>{{363,441},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/o70000</key>
            <dict>
                <key>frame</key>
                <string>{{363,381},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o80000</key>
            <dict>
                <key>frame</key>
                <string>{{318,441},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/o90000</key>
            <dict>
                <key>frame</key>
                <string>{{273,416},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/o_bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{326,293},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>numTip/numTipRes/o_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{94,378},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>numTip/numTipRes/oadd0000</key>
            <dict>
                <key>frame</key>
                <string>{{460,279},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>numTip/numTipRes/r00000</key>
            <dict>
                <key>frame</key>
                <string>{{296,327},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/r10000</key>
            <dict>
                <key>frame</key>
                <string>{{376,204},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r20000</key>
            <dict>
                <key>frame</key>
                <string>{{286,192},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>numTip/numTipRes/r30000</key>
            <dict>
                <key>frame</key>
                <string>{{318,411},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r40000</key>
            <dict>
                <key>frame</key>
                <string>{{317,381},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r50000</key>
            <dict>
                <key>frame</key>
                <string>{{370,293},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r60000</key>
            <dict>
                <key>frame</key>
                <string>{{445,234},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>numTip/numTipRes/r70000</key>
            <dict>
                <key>frame</key>
                <string>{{296,281},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r80000</key>
            <dict>
                <key>frame</key>
                <string>{{286,146},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>numTip/numTipRes/r90000</key>
            <dict>
                <key>frame</key>
                <string>{{117,449},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>numTip/numTipRes/r_bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{283,237},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>numTip/numTipRes/r_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{240,229},{63,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,41}}</string>
                <key>sourceSize</key>
                <string>{63,41}</string>
            </dict>
            <key>numTip/numTipRes/radd0000</key>
            <dict>
                <key>frame</key>
                <string>{{242,355},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>package.ftw.cm/prop0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>wheel0000</key>
            <dict>
                <key>frame</key>
                <string>{{138,382},{65,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,67}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameMisc.png</string>
            <key>size</key>
            <string>{483,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63510ebadf07dc98f9e7079f22db95ab:0437873c87873e4975f36da55454f56c:2e1c0eac9e0bb2e3ef8647b236cb5646$</string>
            <key>textureFileName</key>
            <string>gameMisc.png</string>
        </dict>
    </dict>
</plist>
