<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aaa3_dino0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{328,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,165}}</string>
                <key>sourceSize</key>
                <string>{328,165}</string>
            </dict>
            <key>aaaa1_dino0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,269}}</string>
                <key>sourceSize</key>
                <string>{557,269}</string>
            </dict>
            <key>aaaa2_dino0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{555,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,262}}</string>
                <key>sourceSize</key>
                <string>{555,262}</string>
            </dict>
            <key>feichai0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,540},{8,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{8,11}</string>
            </dict>
            <key>sky0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,537},{1,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,22}}</string>
                <key>sourceSize</key>
                <string>{1,22}</string>
            </dict>
            <key>starCell0000</key>
            <dict>
                <key>frame</key>
                <string>{{356,537},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{704,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e97202349169af7345eb191378d8be:0142eb58c90c95367d3d20dd2991ab48:10101cf27d0f1c17e861425c0e9b5b27$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
