<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Platter0000</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>accountTipDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{382,181},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>avatarstarandnamebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{138,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,75}}</string>
                <key>sourceSize</key>
                <string>{138,75}</string>
            </dict>
            <key>bf4hbgt5hg220000</key>
            <dict>
                <key>frame</key>
                <string>{{211,374},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fuewhofndsfushgbvafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,370}}</string>
                <key>sourceSize</key>
                <string>{240,370}</string>
            </dict>
            <key>iconPh0000</key>
            <dict>
                <key>frame</key>
                <string>{{253,351},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>timer.peron.reward/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{244,181},{168,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,136}}</string>
                <key>sourceSize</key>
                <string>{168,136}</string>
            </dict>
            <key>tip/tipBgScale90000</key>
            <dict>
                <key>frame</key>
                <string>{{164,374},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>tip/tipDownArrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{142,374},{57,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,20}}</string>
                <key>sourceSize</key>
                <string>{57,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeScene.png</string>
            <key>size</key>
            <string>{451,451}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69cdddbd8526bd8ac43257ad29a9b34e:f70d97c7d8e7d100d94e73c83edee7a3:0f7b16f144aa64f08348bba47ddaac58$</string>
            <key>textureFileName</key>
            <string>homeScene.png</string>
        </dict>
    </dict>
</plist>
