<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>294014u39021401249012iodjwoqweq0000</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{98,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{98,112}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ali_kf_promo_icon_sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{81,98}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{81,98}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>android_discount_icon_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{341,187},{96,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,81}}</string>
                <key>sourceSize</key>
                <string>{96,81}</string>
            </dict>
            <key>applepaycodebutton_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{117,162},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>area.task.ui/res/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{341,85},{90,100}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,100}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>area.task.ui/res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{239,208},{88,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,100}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>area.task.ui/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,130}}</string>
                <key>sourceSize</key>
                <string>{117,130}</string>
            </dict>
            <key>area.task.ui/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{121,120},{116,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,40}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>area.task.ui/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{239,116},{90,100}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{90,100}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>broadcastIcon10000</key>
            <dict>
                <key>frame</key>
                <string>{{192,263},{19,33}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,33}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>broadcastIconSymbol0000</key>
            <dict>
                <key>frame</key>
                <string>{{212,378},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>collectInfoIconWrapperIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{257,298},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>incite_bg_010000</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>incite_light_010000</key>
            <dict>
                <key>frame</key>
                <string>{{343,285},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>incite_play_010000</key>
            <dict>
                <key>frame</key>
                <string>{{192,298},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>incite_t_010000</key>
            <dict>
                <key>frame</key>
                <string>{{211,162},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>moduleNotice/moduleNoticeBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{113,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{115,130}</string>
            </dict>
            <key>moduleNotice/module_notice_bind_account_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{54,65}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,65}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>moduleNotice/module_notice_jump_level_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{69,382},{54,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>moduleNotice/module_notice_new_gift_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{124,359},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>new.lady.bug.sp/ladybuy.box.sym0000</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{117,118}</string>
            </dict>
            <key>penny_icon_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{282,378},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>penny_icon_sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{108,266},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_icon.png</string>
            <key>size</key>
            <string>{438,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b9634263252f7d5057e78abba3b470:eba19d3588222f6f301d141dcde1b081:2d9c0371005dc649c67590e584e1ab80$</string>
            <key>textureFileName</key>
            <string>home_icon.png</string>
        </dict>
    </dict>
</plist>
