<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dsafsdfhjkadsf0000</key>
            <dict>
                <key>frame</key>
                <string>{{737,388},{432,199}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{432,199}}</string>
                <key>sourceSize</key>
                <string>{432,213}</string>
            </dict>
            <key>gotoBuxing0000</key>
            <dict>
                <key>frame</key>
                <string>{{986,921},{163,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{163,69}}</string>
                <key>sourceSize</key>
                <string>{173,75}</string>
            </dict>
            <key>hide_cloud0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{494,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{494,280}}</string>
                <key>sourceSize</key>
                <string>{496,280}</string>
            </dict>
            <key>hide_cloud_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,105},{64,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,52}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>hide_cloud_guan0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,313},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>hide_cloud_title0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,105},{206,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{206,54}}</string>
                <key>sourceSize</key>
                <string>{218,78}</string>
            </dict>
            <key>home_clouds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{496,231}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{496,231}}</string>
                <key>sourceSize</key>
                <string>{508,235}</string>
            </dict>
            <key>home_lock_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{737,822},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>home_top_bg_clouds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{799,383}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{799,383}}</string>
                <key>sourceSize</key>
                <string>{807,401}</string>
            </dict>
            <key>home_top_clouds0000</key>
            <dict>
                <key>frame</key>
                <string>{{938,388},{375,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{375,168}}</string>
                <key>sourceSize</key>
                <string>{379,168}</string>
            </dict>
            <key>lockedCloudOpenBackground0000</key>
            <dict>
                <key>frame</key>
                <string>{{978,992},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>lockedCloudShiningStars0000</key>
            <dict>
                <key>frame</key>
                <string>{{938,765},{1,1}}</string>
                <key>offset</key>
                <string>{-6.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>lockedCloudTipHand/guide_hand_down0000</key>
            <dict>
                <key>frame</key>
                <string>{{848,822},{167,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,136}}</string>
                <key>sourceSize</key>
                <string>{167,136}</string>
            </dict>
            <key>lockedCloudTipHand/guide_hand_ring0000</key>
            <dict>
                <key>frame</key>
                <string>{{764,1061},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>lockedCloudTipHand/guide_hand_up0000</key>
            <dict>
                <key>frame</key>
                <string>{{986,765},{154,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,148}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>locked_cloud_ico0000</key>
            <dict>
                <key>frame</key>
                <string>{{658,1061},{86,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{86,104}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>planet_cloud_single0000</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{384,242}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,242}}</string>
                <key>sourceSize</key>
                <string>{386,246}</string>
            </dict>
            <key>planet_cloud_small_cloud0000</key>
            <dict>
                <key>frame</key>
                <string>{{498,1061},{158,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{158,72}}</string>
                <key>sourceSize</key>
                <string>{168,88}</string>
            </dict>
            <key>planet_cloud_stars0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,387},{447,235}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{447,235}}</string>
                <key>sourceSize</key>
                <string>{453,239}</string>
            </dict>
            <key>stellar_cloud_single0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,836},{346,223}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{346,223}}</string>
                <key>sourceSize</key>
                <string>{378,273}</string>
            </dict>
            <key>stellar_gradient0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{494,199}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{494,199}}</string>
                <key>sourceSize</key>
                <string>{494,207}</string>
            </dict>
            <key>stellar_smiling_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{848,991},{122,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>stellar_yellow_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lockedCloud.png</string>
            <key>size</key>
            <string>{1157,1157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f0256f8fa8ec1f73bc21e1bfd141e1e:a283738a88ef0b7f159bf0513bd722e1:df7211de415310b5bb4fc298117aee0c$</string>
            <key>textureFileName</key>
            <string>lockedCloud.png</string>
        </dict>
    </dict>
</plist>
