<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HiddenBranchRewardTipPanel/res/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{83,268},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>HiddenBranchRewardTipPanel/res/arrowLeft0000</key>
            <dict>
                <key>frame</key>
                <string>{{83,224},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>HiddenBranchRewardTipPanel/res/cdkjsahjfhuisdahf0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>HiddenBranchRewardTipPanel/res/刷新0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HiddenBranchRewardTipPanel.png</string>
            <key>size</key>
            <string>{299,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:705e9a75024bb23f0a2fef35c55763f3:4508c3b09cdbacda64f4ad1c625be2f0:aedfceb9520ef0a8e7e1bcee223e1714$</string>
            <key>textureFileName</key>
            <string>HiddenBranchRewardTipPanel.png</string>
        </dict>
    </dict>
</plist>
