<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oppo_launch_desc/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{557,149},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>oppo_launch_desc/cells/desc10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{553,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,305}}</string>
                <key>sourceSize</key>
                <string>{553,305}</string>
            </dict>
            <key>oppo_launch_desc/cells/desc20000</key>
            <dict>
                <key>frame</key>
                <string>{{309,310},{552,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,426}}</string>
                <key>sourceSize</key>
                <string>{552,426}</string>
            </dict>
            <key>oppo_launch_desc/cells/midesc10000</key>
            <dict>
                <key>frame</key>
                <string>{{737,149},{552,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,197}}</string>
                <key>sourceSize</key>
                <string>{552,197}</string>
            </dict>
            <key>oppo_launch_desc/cells/mititle0000</key>
            <dict>
                <key>frame</key>
                <string>{{84,865},{303,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,53}}</string>
                <key>sourceSize</key>
                <string>{303,53}</string>
            </dict>
            <key>oppo_launch_desc/cells/mititle10000</key>
            <dict>
                <key>frame</key>
                <string>{{44,865},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>oppo_launch_desc/cells/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{377,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,72}}</string>
                <key>sourceSize</key>
                <string>{377,72}</string>
            </dict>
            <key>oppo_launch_desc/cells/vivoDesc1_cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,306}}</string>
                <key>sourceSize</key>
                <string>{553,306}</string>
            </dict>
            <key>oppo_launch_desc/cells/vivoTitle20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>oppo_launch_desc/cells/vivoTitle_cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{557,76},{375,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,71}}</string>
                <key>sourceSize</key>
                <string>{375,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desc.png</string>
            <key>size</key>
            <string>{936,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d841c06d0576f36b9524e540e2485ee3:d11788816f5a5fec98893c7fc296dfda:8b82b705e8e47f34682848d3ff085b72$</string>
            <key>textureFileName</key>
            <string>desc.png</string>
        </dict>
    </dict>
</plist>
