<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oppo_launch/cells/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{732,1000},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>oppo_launch/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{667,675}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{667,675}}</string>
                <key>sourceSize</key>
                <string>{667,675}</string>
            </dict>
            <key>oppo_launch/cells/bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{354,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,474}}</string>
                <key>sourceSize</key>
                <string>{354,474}</string>
            </dict>
            <key>oppo_launch/cells/btnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{820,819},{261,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,263}}</string>
                <key>sourceSize</key>
                <string>{261,263}</string>
            </dict>
            <key>oppo_launch/cells/label10000</key>
            <dict>
                <key>frame</key>
                <string>{{478,819},{340,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,54}}</string>
                <key>sourceSize</key>
                <string>{340,54}</string>
            </dict>
            <key>oppo_launch/cells/label20000</key>
            <dict>
                <key>frame</key>
                <string>{{478,679},{440,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,138}}</string>
                <key>sourceSize</key>
                <string>{440,138}</string>
            </dict>
            <key>oppo_launch/cells/labelBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{671,492},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>oppo_launch/cells/leaf10000</key>
            <dict>
                <key>frame</key>
                <string>{{732,875},{123,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,80}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>oppo_launch/cells/leaf20000</key>
            <dict>
                <key>frame</key>
                <string>{{671,305},{195,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,185}}</string>
                <key>sourceSize</key>
                <string>{195,185}</string>
            </dict>
            <key>oppo_launch/cells/leaf30000</key>
            <dict>
                <key>frame</key>
                <string>{{478,875},{157,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,252}}</string>
                <key>sourceSize</key>
                <string>{157,252}</string>
            </dict>
            <key>oppo_launch/cells/leaf50000</key>
            <dict>
                <key>frame</key>
                <string>{{868,305},{110,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,284}}</string>
                <key>sourceSize</key>
                <string>{110,284}</string>
            </dict>
            <key>oppo_launch/cells/leaf60000</key>
            <dict>
                <key>frame</key>
                <string>{{920,739},{94,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,61}}</string>
                <key>sourceSize</key>
                <string>{94,61}</string>
            </dict>
            <key>oppo_launch/cells/leaf70000</key>
            <dict>
                <key>frame</key>
                <string>{{853,591},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>oppo_launch/cells/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{1053,281},{18,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,256}}</string>
                <key>sourceSize</key>
                <string>{18,256}</string>
            </dict>
            <key>oppo_launch/cells/miTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{277,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,68}}</string>
                <key>sourceSize</key>
                <string>{277,68}</string>
            </dict>
            <key>oppo_launch/cells/midowntitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{288,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,36}}</string>
                <key>sourceSize</key>
                <string>{288,36}</string>
            </dict>
            <key>oppo_launch/cells/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{238,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,301}}</string>
                <key>sourceSize</key>
                <string>{238,301}</string>
            </dict>
            <key>oppo_launch/cells/redDotBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{772,1000},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>oppo_launch/cells/reward_light_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{920,591},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>oppo_launch/cells/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{980,291},{287,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,71}}</string>
                <key>sourceSize</key>
                <string>{287,71}</string>
            </dict>
            <key>oppo_launch/cells/vivoLabel1_cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{478,1034},{292,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,36}}</string>
                <key>sourceSize</key>
                <string>{292,36}</string>
            </dict>
            <key>oppo_launch/cells/vivoTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{287,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,72}}</string>
                <key>sourceSize</key>
                <string>{287,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turntable.png</string>
            <key>size</key>
            <string>{1084,1084}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fd3001c2f0a33e5dd7e83b209a85e47:020194e068bf1c6e799000882b8f6291:f273d4777b785ae84f5eab11dfeed2ba$</string>
            <key>textureFileName</key>
            <string>turntable.png</string>
        </dict>
    </dict>
</plist>
