<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dgfaerhdbawrsgetqaqefd0000</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>gfvbhdsxrhjsetjnfasdhfgb0000</key>
            <dict>
                <key>frame</key>
                <string>{{98,369},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{208,369},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{208,369},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{148,369},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_close_button0000</key>
            <dict>
                <key>frame</key>
                <string>{{288,226},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_bubble_sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100010000</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100020000</key>
            <dict>
                <key>frame</key>
                <string>{{121,217},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100030000</key>
            <dict>
                <key>frame</key>
                <string>{{101,291},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100050000</key>
            <dict>
                <key>frame</key>
                <string>{{207,205},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100070000</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{97,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,93}}</string>
                <key>sourceSize</key>
                <string>{97,93}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100100000</key>
            <dict>
                <key>frame</key>
                <string>{{185,291},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100180000</key>
            <dict>
                <key>frame</key>
                <string>{{327,88},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100520000</key>
            <dict>
                <key>frame</key>
                <string>{{327,173},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100810000</key>
            <dict>
                <key>frame</key>
                <string>{{266,277},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100820000</key>
            <dict>
                <key>frame</key>
                <string>{{207,105},{79,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100890000</key>
            <dict>
                <key>frame</key>
                <string>{{268,355},{57,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,72}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_prop_icon_sprite_100990000</key>
            <dict>
                <key>frame</key>
                <string>{{344,260},{71,67}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{71,67}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/guide_dialogue_skipicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{101,233},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>guide_dialogue_panel_common_ui/w34gtsdfbhzsdhaerfvg0000</key>
            <dict>
                <key>frame</key>
                <string>{{388,333},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>guide_dialogue_pic_tail_white__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{342,377},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>guide_share_energy_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,107}}</string>
                <key>sourceSize</key>
                <string>{202,109}</string>
            </dict>
            <key>guidehelp154512121234__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{344,333},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gvbndtfmkzsrdjmn bmsdnxhfb0000</key>
            <dict>
                <key>frame</key>
                <string>{{288,105},{119,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,37}}</string>
                <key>sourceSize</key>
                <string>{119,37}</string>
            </dict>
            <key>s0000</key>
            <dict>
                <key>frame</key>
                <string>{{121,111},{84,104}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{84,104}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
            <key>x0000</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{104,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,84}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_guide_panels_2.png</string>
            <key>size</key>
            <string>{422,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7630d1faae24992d715bdc7061a3f35c:e05dbbb3e055a3ba0eca878d5dace129:5b3aecf21fa7c48f132d3a876a2d45be$</string>
            <key>textureFileName</key>
            <string>game_guide_panels_2.png</string>
        </dict>
    </dict>
</plist>
