<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_guide_images/guide_npc_raccoon_10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{190,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,232}}</string>
                <key>sourceSize</key>
                <string>{190,232}</string>
            </dict>
            <key>ui_guide_images/guide_npc_raccoon_30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,220}}</string>
                <key>sourceSize</key>
                <string>{215,220}</string>
            </dict>
            <key>ui_guide_images/guide_npc_raccoon_40000</key>
            <dict>
                <key>frame</key>
                <string>{{194,224},{188,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,215}}</string>
                <key>sourceSize</key>
                <string>{188,215}</string>
            </dict>
            <key>ui_guide_scale9/guide_scale9_bg_10000</key>
            <dict>
                <key>frame</key>
                <string>{{384,389},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ui_guide_scale9/guide_scale9_bg_20000</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ui_guide_scale9/guide_scale9_bg_30000</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{385,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,110}}</string>
                <key>sourceSize</key>
                <string>{385,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_guide_common_ui.png</string>
            <key>size</key>
            <string>{496,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46037f3702a188d8e7f7e5e661198096:60875b51c6ea755a19c2b1a6ab79287b:152ab629210db6ea954f8665fc1934d6$</string>
            <key>textureFileName</key>
            <string>game_guide_common_ui.png</string>
        </dict>
    </dict>
</plist>
