<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2018_rank_race_s1_guide/addfiveicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{74,98},{58,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>2018_rank_race_s1_guide/cells/icon10000</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>2018_rank_race_s1_guide/cells/icon20000</key>
            <dict>
                <key>frame</key>
                <string>{{170,126},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>Seed/mole_skill_seed_bg_20000</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{67,71}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{67,71}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>guide_dialogue_bub321321ewq0000</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__1_40000</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__30000</key>
            <dict>
                <key>frame</key>
                <string>{{98,175},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__1_40000</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__2ewqcd0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_panel_res/g4/重复项目文件夹/skipicon 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>guide_panel_res/g4/重复项目文件夹/skipicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>skipicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>skipicon2dwqlikai0000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>skipicon_40000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,94}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{121,96}</string>
            </dict>
            <key>元件 950000</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{70,70}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{70,70}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>蜂蜜0000</key>
            <dict>
                <key>frame</key>
                <string>{{134,75},{50,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>重复项目文件夹/guide_dialogue_bubble_tail_reverse__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{38,175},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>重复项目文件夹/icon10000</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>重复项目文件夹/icon20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>重复项目文件夹/skipicon 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{170,160},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_guide_panels_4.png</string>
            <key>size</key>
            <string>{205,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98687108aad8c2f1ed0833bc1498770d:12a6bd1ee7dfc470b5b02d15730de8f9:2af5334193775ed8c0301b7708e2f620$</string>
            <key>textureFileName</key>
            <string>game_guide_panels_4.png</string>
        </dict>
    </dict>
</plist>
