<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>196xiaohuangji0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{451,95}}</string>
                <key>sourceSize</key>
                <string>{451,99}</string>
            </dict>
            <key>21312312321312321fasdjk890jkdfjaksdfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{322,611},{106,100}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{106,100}}</string>
                <key>sourceSize</key>
                <string>{110,106}</string>
            </dict>
            <key>23132131231231210000</key>
            <dict>
                <key>frame</key>
                <string>{{204,485},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>2452342342521410000</key>
            <dict>
                <key>frame</key>
                <string>{{204,364},{119,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,137}}</string>
                <key>sourceSize</key>
                <string>{119,137}</string>
            </dict>
            <key>324324234234230000</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{350,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,137}}</string>
                <key>sourceSize</key>
                <string>{350,137}</string>
            </dict>
            <key>3543525234234422asdfa78912hdfsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{204,238},{141,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,124}}</string>
                <key>sourceSize</key>
                <string>{141,124}</string>
            </dict>
            <key>46353463576355435345fas789y123hdsagfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{711,530},{58,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>645624532543320000</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{190,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{190,299}}</string>
                <key>sourceSize</key>
                <string>{198,299}</string>
            </dict>
            <key>6547336566744fdasu3qhjkdhfadsfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{711,470},{58,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>acsdhu21389fh8sa9fhasd897f8sdafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{711,590},{88,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,35}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>animal_static_cat_column0000</key>
            <dict>
                <key>frame</key>
                <string>{{347,297},{104,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,112}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>animal_static_cat_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{230,611},{124,90}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,90}}</string>
                <key>sourceSize</key>
                <string>{128,94}</string>
            </dict>
            <key>animal_static_frog_wrap0000</key>
            <dict>
                <key>frame</key>
                <string>{{115,616},{132,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,113}}</string>
                <key>sourceSize</key>
                <string>{132,113}</string>
            </dict>
            <key>cdasjf78912heugfdas907897123ghugfdyagfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{621,597},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>dfash1892yhudv90ajdsiafasjfksdhafdsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{523,600},{96,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dfjaskljdfkldsa8yuihduegftydstafsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{343,411},{200,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>dsafdshjiowqhj89fds89ahfdsuafydas87f89dasf0000</key>
            <dict>
                <key>frame</key>
                <string>{{591,698},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>fdashjkchdjuasuity721hgudsgafdsagfhdsafsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{454,194},{236,112}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,112}}</string>
                <key>sourceSize</key>
                <string>{240,116}</string>
            </dict>
            <key>fg8dghfdjgfd98g890fdg9sdfg0000</key>
            <dict>
                <key>frame</key>
                <string>{{424,600},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>fgsdgfd98gf9d0hjfdgfd87789f9ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,199},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>gdfjkgdfsgfdsgjkdfsjkgfdskgf77780000</key>
            <dict>
                <key>frame</key>
                <string>{{350,719},{46,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>gfdshgjfd8s78gfsdgjkkfdsgdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{453,308},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>ghidjfsg8902ujijjgkfdsjkgfdsgfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{414,719},{45,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,103}}</string>
                <key>sourceSize</key>
                <string>{45,103}</string>
            </dict>
            <key>guide_dialogue_animal_bear_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{545,433},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guide_dialogue_animal_cat_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,424},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guide_dialogue_animal_chicken_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,398},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guide_dialogue_animal_color_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{545,505},{90,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,89}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>guide_dialogue_animal_fox_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,352},{70,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>guide_dialogue_animal_frog_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,699},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>guide_dialogue_bg_dark0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,60},{1,1}}</string>
                <key>offset</key>
                <string>{-35.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>guide_dialogue_bg_scale9_white0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,60},{1,1}}</string>
                <key>offset</key>
                <string>{-35.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>guide_dialogue_bubble_tail__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{290,737},{58,28}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_bubble_tail_reverse__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{230,737},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>guide_dialogue_pic_equal0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,31},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>guide_dialogue_pic_equal_cy0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>guide_dialogue_pic_tail_white0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,60},{1,1}}</string>
                <key>offset</key>
                <string>{-35.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>guide_dialogue_pic_tail_white__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{636,496},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>guide_dialogue_plus0000</key>
            <dict>
                <key>frame</key>
                <string>{{667,308},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>guide_level1_target10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{111,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,134}}</string>
                <key>sourceSize</key>
                <string>{111,134}</string>
            </dict>
            <key>guide_panel_res/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{200,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>guidehelp154512121234__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{621,308},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>hjdsaf789sy12h89d7fashjfhjasdkhfjasdfhasdjk0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{200,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>hjdsfa90sfjdkasfdsauf9ds8fdgdfas0000</key>
            <dict>
                <key>frame</key>
                <string>{{552,375},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>lannndfas9890fsdhajufhdsaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{552,308},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>skipicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>specical_column0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,296},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>specical_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,194},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{76,100}</string>
            </dict>
            <key>specical_wrap0000</key>
            <dict>
                <key>frame</key>
                <string>{{667,688},{89,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,82}}</string>
                <key>sourceSize</key>
                <string>{89,82}</string>
            </dict>
            <key>xiaojifanbandasfdsautguihdfasd0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,99},{98,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_guide_panels.png</string>
            <key>size</key>
            <string>{773,773}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:074a834e64178c5f2369f157b114deed:912d11821b3757281ea689443fa20952:52e181474a60e385e18e2202dcac3962$</string>
            <key>textureFileName</key>
            <string>game_guide_panels.png</string>
        </dict>
    </dict>
</plist>
