<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guides.panImage_baozha.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{316,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{316,320}}</string>
                <key>sourceSize</key>
                <string>{316,322}</string>
            </dict>
            <key>guides.panImage_lotus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,590}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{553,590}}</string>
                <key>sourceSize</key>
                <string>{561,604}</string>
            </dict>
            <key>guides_panImage_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,225},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>guides_panImage_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,207},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>guides_panImage_equa.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,207},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>guides_super_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,320},{258,221}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,221}}</string>
                <key>sourceSize</key>
                <string>{260,223}</string>
            </dict>
            <key>guides_ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{203,97}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,97}}</string>
                <key>sourceSize</key>
                <string>{207,101}</string>
            </dict>
            <key>guides_ufo_rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,320},{67,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{67,135}}</string>
                <key>sourceSize</key>
                <string>{89,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guidespanImage.png</string>
            <key>size</key>
            <string>{1024,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a464aada4c99c4e3bcc2e40d5061c769:be23eb2c59d186342c0210da59121e60:3b13ffe1f233e6ea939b74257c17c06a$</string>
            <key>textureFileName</key>
            <string>guidespanImage.png</string>
        </dict>
    </dict>
</plist>
