<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TurnTable2019_startPanelTip/TicketRes/goldTicket0000</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/TicketRes/silverTicket0000</key>
            <dict>
                <key>frame</key>
                <string>{{305,114},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/bubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{301,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,140}}</string>
                <key>sourceSize</key>
                <string>{301,140}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/bubble20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,151}}</string>
                <key>sourceSize</key>
                <string>{298,151}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/progress0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{211,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,35}}</string>
                <key>sourceSize</key>
                <string>{211,35}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/progressbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{216,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,40}}</string>
                <key>sourceSize</key>
                <string>{216,40}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/start_text10000</key>
            <dict>
                <key>frame</key>
                <string>{{220,322},{132,23}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{132,23}}</string>
                <key>sourceSize</key>
                <string>{202,33}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/start_text20000</key>
            <dict>
                <key>frame</key>
                <string>{{220,297},{132,23}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{132,23}}</string>
                <key>sourceSize</key>
                <string>{140,33}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/sucess_text10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{213,20}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{213,20}}</string>
                <key>sourceSize</key>
                <string>{225,30}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/sucess_text20000</key>
            <dict>
                <key>frame</key>
                <string>{{215,347},{93,20}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,6},{93,20}}</string>
                <key>sourceSize</key>
                <string>{225,30}</string>
            </dict>
            <key>TurnTable2019_startPanelTip/res/sucess_text30000</key>
            <dict>
                <key>frame</key>
                <string>{{305,218},{81,20}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{81,20}}</string>
                <key>sourceSize</key>
                <string>{93,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TurnTable2019Tip.png</string>
            <key>size</key>
            <string>{398,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212fbe8d9af045152cbada47249b27df:c4457211e07a2d93990c1dd934f186f1:a9a36064ad8d19333ae647564cc87354$</string>
            <key>textureFileName</key>
            <string>TurnTable2019Tip.png</string>
        </dict>
    </dict>
</plist>
