<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TurnTable2019_MissionIcon/closeIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,129}}</string>
                <key>sourceSize</key>
                <string>{132,129}</string>
            </dict>
            <key>TurnTable2019_MissionIcon/closeIcon20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{131,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,126}}</string>
                <key>sourceSize</key>
                <string>{131,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TurnTable2019_MissionIcon.png</string>
            <key>size</key>
            <string>{261,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b032437b7e8c62e6fa593f1abccfc1:6bc5f2d7a54de84d346913c73bedf6ee:95209206ecb2a6659072738a42b37ca8$</string>
            <key>textureFileName</key>
            <string>TurnTable2019_MissionIcon.png</string>
        </dict>
    </dict>
</plist>
