<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AsKForHelplFeed/res/AskForHelpBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>AsKForHelplFeed/res/bgs/GetNewHeadFrame0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{720,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>AsKForHelplFeed/res/head/HeadFrameMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{724,724},{209,223}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{209,223}}</string>
                <key>sourceSize</key>
                <string>{237,255}</string>
            </dict>
            <key>AsKForHelplFeed/res/head/HeadIcon.bgMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{724,949},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>AsKForHelplFeed/res/passLevelBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Feed.png</string>
            <key>size</key>
            <string>{1446,1446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f162309d814bd0fa8d0f11f7efab699a:cc71c1b63a8de08221a99f43c0306392:55a1983ad853420945f7b72c39590111$</string>
            <key>textureFileName</key>
            <string>Feed.png</string>
        </dict>
    </dict>
</plist>
