<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CollectStars2019/boxweitu0000</key>
            <dict>
                <key>frame</key>
                <string>{{335,282},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,67}</string>
            </dict>
            <key>CollectStars2019/boxweitu20000</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>CollectStars2019/littleleft0000</key>
            <dict>
                <key>frame</key>
                <string>{{268,278},{16,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,39}}</string>
                <key>sourceSize</key>
                <string>{16,39}</string>
            </dict>
            <key>CollectStars2019/mainbgbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,148}}</string>
                <key>sourceSize</key>
                <string>{328,148}</string>
            </dict>
            <key>CollectStars2019/progressbar0000</key>
            <dict>
                <key>frame</key>
                <string>{{335,66},{214,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,39}}</string>
                <key>sourceSize</key>
                <string>{214,39}</string>
            </dict>
            <key>CollectStars2019/progressbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{290,152},{219,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,43}}</string>
                <key>sourceSize</key>
                <string>{219,43}</string>
            </dict>
            <key>CollectStars2019/staricon0000</key>
            <dict>
                <key>frame</key>
                <string>{{335,351},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>btn/newphplacehholder3287234sef0000</key>
            <dict>
                <key>frame</key>
                <string>{{376,66},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>btn/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>btn/ui_scale9/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel.png</string>
            <key>size</key>
            <string>{408,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be07f3445341e2d08dc9d904babb931:0d02933856a9c79afc1aec9059e23265:9e27fa7a307d887fe39d9c0f12d19806$</string>
            <key>textureFileName</key>
            <string>panel.png</string>
        </dict>
    </dict>
</plist>
