<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ThankGivingPanel/cells/bar0000</key>
            <dict>
                <key>frame</key>
                <string>{{117,242},{210,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,37}}</string>
                <key>sourceSize</key>
                <string>{210,37}</string>
            </dict>
            <key>ThankGivingPanel/cells/barBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{59,160},{218,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{218,42}}</string>
                <key>sourceSize</key>
                <string>{218,44}</string>
            </dict>
            <key>ThankGivingPanel/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,156}}</string>
                <key>sourceSize</key>
                <string>{354,156}</string>
            </dict>
            <key>ThankGivingPanel/cells/label10000</key>
            <dict>
                <key>frame</key>
                <string>{{81,242},{80,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,20}}</string>
                <key>sourceSize</key>
                <string>{84,30}</string>
            </dict>
            <key>ThankGivingPanel/cells/label20000</key>
            <dict>
                <key>frame</key>
                <string>{{59,242},{100,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{100,20}}</string>
                <key>sourceSize</key>
                <string>{104,30}</string>
            </dict>
            <key>ThankGivingPanel/cells/redDotBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{144,281},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ThankGivingPanel/cells/turntable0000</key>
            <dict>
                <key>frame</key>
                <string>{{279,160},{56,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,57}}</string>
                <key>sourceSize</key>
                <string>{64,65}</string>
            </dict>
            <key>ThankGivingPanel/res/fullstartip0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{193,55}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{193,55}}</string>
                <key>sourceSize</key>
                <string>{217,63}</string>
            </dict>
            <key>ThankGivingPanel/res/ingamebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{59,204},{217,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,36}}</string>
                <key>sourceSize</key>
                <string>{217,36}</string>
            </dict>
            <key>ThankGivingPanel/res/moon0000</key>
            <dict>
                <key>frame</key>
                <string>{{188,281},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ThankGivingPanel/res/moonlight0000</key>
            <dict>
                <key>frame</key>
                <string>{{81,324},{34,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ThankGivingPanel/res/redpoint0000</key>
            <dict>
                <key>frame</key>
                <string>{{103,281},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ThankGivingPanel.png</string>
            <key>size</key>
            <string>{358,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15313fa71bb953e963ebb163b59d190:6493ecd277f0f9e7d6b296dcbabde45a:7a9bc63ddfce727297e83307b71c61f9$</string>
            <key>textureFileName</key>
            <string>ThankGivingPanel.png</string>
        </dict>
    </dict>
</plist>
