<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>user_callback_arrow_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{12,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{12,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{12,38}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{12,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,36}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,42}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{12,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0028</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0034</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0035</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0036</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0042</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0043</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0044</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0045</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0046</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0048</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0049</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0050</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0051</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0052</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0053</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0054</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0055</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0056</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0057</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0058</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
            <key>user_callback_arrow_0059</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{12,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow.png</string>
            <key>size</key>
            <string>{16,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c7ecf5903c3f20dfdcccf4ab5e7033:c9f4a99457dcdb7f878b5e8caf90a500:051d0c44f86a9216b35b1090e88ad067$</string>
            <key>textureFileName</key>
            <string>arrow.png</string>
        </dict>
    </dict>
</plist>
