<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SpringFestival_2019res/Skill10000</key>
            <dict>
                <key>frame</key>
                <string>{{94,403},{95,69}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{95,69}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>SpringFestival_2019res/Skill20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{90,73}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{90,73}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>SpringFestival_2019res/Skill30000</key>
            <dict>
                <key>frame</key>
                <string>{{222,293},{100,99}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,99}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>SpringFestival_2019res/Skill40000</key>
            <dict>
                <key>frame</key>
                <string>{{259,181},{98,99}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{98,99}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>SpringFestival_2019res/SkillCircle0000</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{137,137}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>SpringFestival_2019res/SpringFestival_bubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>SpringFestival_2019res/addone0000</key>
            <dict>
                <key>frame</key>
                <string>{{342,141},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>SpringFestival_2019res/addpercent0000</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>SpringFestival_2019res/bag10000</key>
            <dict>
                <key>frame</key>
                <string>{{406,343},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>SpringFestival_2019res/boom0000</key>
            <dict>
                <key>frame</key>
                <string>{{120,293},{108,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{108,100}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>SpringFestival_2019res/caipiao0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{129,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,127}}</string>
                <key>sourceSize</key>
                <string>{129,127}</string>
            </dict>
            <key>SpringFestival_2019res/diamond0000</key>
            <dict>
                <key>frame</key>
                <string>{{399,234},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>SpringFestival_2019res/fudai10000</key>
            <dict>
                <key>frame</key>
                <string>{{133,39},{129,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,126}}</string>
                <key>sourceSize</key>
                <string>{129,126}</string>
            </dict>
            <key>SpringFestival_2019res/nohave0000</key>
            <dict>
                <key>frame</key>
                <string>{{406,291},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>SpringFestival_2019res/pigNumBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{116,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>SpringFestival_2019res/piggyi_10000</key>
            <dict>
                <key>frame</key>
                <string>{{323,291},{81,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>SpringFestival_2019res/piggyi_20000</key>
            <dict>
                <key>frame</key>
                <string>{{373,141},{95,91}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{95,91}}</string>
                <key>sourceSize</key>
                <string>{119,97}</string>
            </dict>
            <key>SpringFestival_2019res/piggyi_30000</key>
            <dict>
                <key>frame</key>
                <string>{{315,395},{81,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,82}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>SpringFestival_2019res/piggyi_40000</key>
            <dict>
                <key>frame</key>
                <string>{{230,395},{81,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>SpringFestival_2019res/pighead10000</key>
            <dict>
                <key>frame</key>
                <string>{{191,403},{69,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>SpringFestival_2019res/pighead30000</key>
            <dict>
                <key>frame</key>
                <string>{{264,110},{69,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>SpringFestival_2019res/pighead40000</key>
            <dict>
                <key>frame</key>
                <string>{{264,39},{69,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>SpringFestival_2019res/redPoint0000</key>
            <dict>
                <key>frame</key>
                <string>{{303,141},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>SpringFestival_2019res/springFestival_Skill0000</key>
            <dict>
                <key>frame</key>
                <string>{{133,167},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>SpringFestival_2019res/useSkillTip0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{305,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,35}}</string>
                <key>sourceSize</key>
                <string>{305,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpringFestivalRes_2019.png</string>
            <key>size</key>
            <string>{478,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4814d46267c8efd55fa30d90b8d6339:34ce11a96fbd3b4f8c07fb97a75bebb1:59f4e39d5fe7ae9d724911cf5b8878ef$</string>
            <key>textureFileName</key>
            <string>SpringFestivalRes_2019.png</string>
        </dict>
    </dict>
</plist>
