<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellowEnergy/csye_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,123}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{171,123}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>yellowEnergy/csye_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{131,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{131,84}}</string>
                <key>sourceSize</key>
                <string>{139,90}</string>
            </dict>
            <key>yellowEnergy/csye_fly_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{193,154},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>yellowEnergy/csye_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{135,154},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>yellowEnergy/csye_ladybug_res_10000</key>
            <dict>
                <key>frame</key>
                <string>{{175,76},{66,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>yellowEnergy/csye_ladybug_res_20000</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>yellowEnergy/layerbugclose0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellowEnergy.png</string>
            <key>size</key>
            <string>{247,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c82db76020f3fa7c82cf4e91e9174e:5cb6be1abb1bb6f5747c9136879a3307:4b3c056b81a7657ad0430bec206501ce$</string>
            <key>textureFileName</key>
            <string>yellowEnergy.png</string>
        </dict>
    </dict>
</plist>
