<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moleweek_race_end_game/add_step_money_line10000</key>
            <dict>
                <key>frame</key>
                <string>{{422,896},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>moleweek_race_end_game/add_step_panel/cell/btnbgshdow12323412342222220000</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{491,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,169}}</string>
                <key>sourceSize</key>
                <string>{491,169}</string>
            </dict>
            <key>moleweek_race_end_game/add_step_panel/cell/closeBtnBg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{562,955},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>moleweek_race_end_game/add_step_panel/cell/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{927,157},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>moleweek_race_end_game/add_step_panel/cell/oriNumberLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{919,489},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>moleweek_race_end_game/add_step_panel_bubble/cells/newBubble_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{614,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,123}}</string>
                <key>sourceSize</key>
                <string>{614,123}</string>
            </dict>
            <key>moleweek_race_end_game/ali_ios_pay_guide_link_res_add_five/link1__0000</key>
            <dict>
                <key>frame</key>
                <string>{{267,315},{324,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,48}}</string>
                <key>sourceSize</key>
                <string>{324,48}</string>
            </dict>
            <key>moleweek_race_end_game/arrow10000</key>
            <dict>
                <key>frame</key>
                <string>{{444,910},{77,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,116}}</string>
                <key>sourceSize</key>
                <string>{77,116}</string>
            </dict>
            <key>moleweek_race_end_game/arrow20000</key>
            <dict>
                <key>frame</key>
                <string>{{609,484},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
            <key>moleweek_race_end_game/bfg23htt40000</key>
            <dict>
                <key>frame</key>
                <string>{{896,860},{93,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,105}}</string>
                <key>sourceSize</key>
                <string>{93,105}</string>
            </dict>
            <key>moleweek_race_end_game/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{357,473},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>moleweek_race_end_game/close0000</key>
            <dict>
                <key>frame</key>
                <string>{{732,942},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>moleweek_race_end_game/freeText0000</key>
            <dict>
                <key>frame</key>
                <string>{{468,748},{160,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,98}</string>
            </dict>
            <key>moleweek_race_end_game/headbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{919,409},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>moleweek_race_end_game/infobg0000</key>
            <dict>
                <key>frame</key>
                <string>{{173,702},{240,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,120}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>moleweek_race_end_game/mole_bg_ui0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,311}}</string>
                <key>sourceSize</key>
                <string>{480,311}</string>
            </dict>
            <key>moleweek_race_end_game/n.race.rank/target/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game/n.race.rank/target/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>moleweek_race_end_game/pro_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{224,315},{374,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,41}}</string>
                <key>sourceSize</key>
                <string>{374,41}</string>
            </dict>
            <key>moleweek_race_end_game/rank0000</key>
            <dict>
                <key>frame</key>
                <string>{{162,944},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>moleweek_race_end_game/res/重复项目文件夹/元件 5 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game/res/重复项目文件夹/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>moleweek_race_end_game/s4/res/bb490000</key>
            <dict>
                <key>frame</key>
                <string>{{732,792},{162,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,148}}</string>
                <key>sourceSize</key>
                <string>{162,148}</string>
            </dict>
            <key>moleweek_race_end_game/target0000</key>
            <dict>
                <key>frame</key>
                <string>{{916,318},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>moleweek_race_end_game/targetbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{295,896},{125,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,94}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>moleweek_race_end_game/元件 111110000</key>
            <dict>
                <key>frame</key>
                <string>{{173,315},{385,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,49}}</string>
                <key>sourceSize</key>
                <string>{385,49}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{317,618},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{224,691},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹/ui_image_coin_icon_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{215,944},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹/yellow2 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/b1 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{767,162},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/b1 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{609,327},{155,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,158}}</string>
                <key>sourceSize</key>
                <string>{155,158}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/b1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/b10000</key>
            <dict>
                <key>frame</key>
                <string>{{609,166},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/s1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{568,792},{162,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,161}}</string>
                <key>sourceSize</key>
                <string>{162,161}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/s10000</key>
            <dict>
                <key>frame</key>
                <string>{{568,792},{162,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,161}}</string>
                <key>sourceSize</key>
                <string>{162,161}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{224,691},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{224,691},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{896,752},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{317,494},{150,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,106}}</string>
                <key>sourceSize</key>
                <string>{150,106}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{162,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,136}}</string>
                <key>sourceSize</key>
                <string>{162,136}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 4 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{357,315},{156,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,123}}</string>
                <key>sourceSize</key>
                <string>{156,123}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 5 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{175,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,158}}</string>
                <key>sourceSize</key>
                <string>{175,158}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 5 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{769,475},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 5 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 6 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{769,318},{155,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,145}}</string>
                <key>sourceSize</key>
                <string>{155,145}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 6 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{295,748},{171,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,146}}</string>
                <key>sourceSize</key>
                <string>{171,146}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 6 副本 50000</key>
            <dict>
                <key>frame</key>
                <string>{{778,605},{152,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,145}}</string>
                <key>sourceSize</key>
                <string>{152,145}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 6 副本 70000</key>
            <dict>
                <key>frame</key>
                <string>{{583,618},{193,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,172}}</string>
                <key>sourceSize</key>
                <string>{193,172}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 6 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>moleweek_race_end_game/重复项目文件夹3/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>moleweek_race_end_game_res/重复项目文件夹2/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game_res/重复项目文件夹2/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>moleweek_race_end_game_res/重复项目文件夹3/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>moleweek_race_end_game_res/重复项目文件夹3/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>ui_buttons/close_yellow/ui_button_close_panel_yellow_shape1230000</key>
            <dict>
                <key>frame</key>
                <string>{{267,641},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>ui_groups/重复项目文件夹/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{317,315},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>ui_groups/重复项目文件夹/元件 6 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{907,94},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoleWeekly.png</string>
            <key>size</key>
            <string>{999,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de14d06db59a12b0a808694c418c9d1b:41ec5253702b60e8b8a5e1247738cc13:51d1681b5640e1c644812723b4cb5eca$</string>
            <key>textureFileName</key>
            <string>MoleWeekly.png</string>
        </dict>
    </dict>
</plist>
