<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>AppNameType</key>
<string>normal</string>
<key>AutoReload</key>
<false/>
<key>AutoReloadPath</key>
<string>C:\Workspace\Animal\trunk\game\project\src\</string>
<key>CIServiceEnabled</key>
<false/>
<key>CIServiceUrl</key>
<string>http://10.130.137.148/ciservice</string>
<key>CheckClientReceiveAddress</key>
<string>tcp://127.0.0.1:1024</string>
<key>CheckClientSendAddress</key>
<string>tcp://127.0.0.1:10240</string>
<key>CmgameTiShen</key>
<false/>
<key>DateVersion</key>
<string>0</string>
<key>DcUniqueKey</key>
<string>animal_ioscn_prod</string>
<key>DcUrl</key>
<string>http://log.dc.cn.happyelements.com/restapi.php</string>
<key>DisplayFps</key>
<false/>
<key>DynamicHost</key>
<string>http://animalmobile.happyelements.cn/</string>
<key>ExternalLibLoaderEnabled</key>
<false/>
<key>FacebookAppId</key>
<string>607359216019419</string>
<key>FacebookDisplayName</key>
<string>開心消消樂</string>
<key>FiddlerProxy</key>
<string></string>
<key>GspAppId</key>
<string>7900105606</string>
<key>GspSecretKey</key>
<string>0a0d6a9f32d75e6a2b4fe82873b45003</string>
<key>InsideVersion</key>
<string></string>
<key>IsPrePackage</key>
<false/>
<key>LocalDevelopMode</key>
<false/>
<key>LogServiceEnabled</key>
<true/>
<key>LogUploadUrl</key>
<string>http://etlog.happyelements.cn/logservice.php</string>
<key>LuaDebugEnable</key>
<false/>
<key>LuaDebugIdeIp</key>
<string>10.130.136.55</string>
<key>LuaDebugMode</key>
<string>attach</string>
<key>PkmSoftwareMode</key>
<true/>
<key>PlatformName</key>
<string>apple</string>
<key>QzoneAppId</key>
<string>100629468</string>
<key>ResolutionPolicy</key>
<string>kResolutionFixedWidth</string>
<key>Server</key>
<string>0</string>
<key>SmallRes</key>
<false/>
<key>StaticSettingsUrl</key>
<string>http://animalmobile.happyelements.cn/update</string>
</dict>
</plist>
