<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoleWeekly_BossDiamondBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1728},{238,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,73}}</string>
                <key>sourceSize</key>
                <string>{238,73}</string>
            </dict>
            <key>MoleWeekly_CanNotUseSkillTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1909},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>MoleWeekly_Progress_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1728},{234,41}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,41}}</string>
                <key>sourceSize</key>
                <string>{238,43}</string>
            </dict>
            <key>MoleWeekly_Progress_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1728},{226,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,31}}</string>
                <key>sourceSize</key>
                <string>{226,31}</string>
            </dict>
            <key>MoleWeekly_Progress_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1728},{228,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,33}}</string>
                <key>sourceSize</key>
                <string>{230,35}</string>
            </dict>
            <key>MoleWeekly_Skilllight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{305,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,43}}</string>
                <key>sourceSize</key>
                <string>{305,43}</string>
            </dict>
            <key>MoleWeekly_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1724}}</string>
                <key>sourceSize</key>
                <string>{960,1724}</string>
            </dict>
            <key>MoleWeekly_bg_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,607},{960,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,477}}</string>
                <key>sourceSize</key>
                <string>{960,477}</string>
            </dict>
            <key>MoleWeekly_bg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,603}}</string>
                <key>sourceSize</key>
                <string>{960,603}</string>
            </dict>
            <key>MoleWeekly_bosshavetarget.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1832},{38,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>MoleWeekly_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1728},{161,179}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{161,179}}</string>
                <key>sourceSize</key>
                <string>{175,193}</string>
            </dict>
            <key>MoleWeekly_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1832},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>MoleWeekly_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1832},{37,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>MoleWeekly_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1909},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>MoleWeekly_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1832},{39,40}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>MoleWeekly_icon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1909},{48,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>MoleWeekly_nextbosstip.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1874},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{81,20}</string>
            </dict>
            <key>MoleWeekly_smallhole1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1728},{659,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,102}}</string>
                <key>sourceSize</key>
                <string>{659,102}</string>
            </dict>
            <key>MoleWeekly_smallhole2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1968},{589,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,61}}</string>
                <key>sourceSize</key>
                <string>{589,61}</string>
            </dict>
            <key>MoleWeekly_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1871},{79,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>MoleWeekly_targetComplete.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1989},{170,57}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,57}}</string>
                <key>sourceSize</key>
                <string>{174,61}</string>
            </dict>
            <key>MoleWeekly_targetbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1728},{125,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,259}}</string>
                <key>sourceSize</key>
                <string>{125,259}</string>
            </dict>
            <key>SkillCD.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1874},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoleWeekly.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd47595773a87fcdf71740d15ec950b1:8d618295b783b40273bea70d6f7212cc:51d1681b5640e1c644812723b4cb5eca$</string>
            <key>textureFileName</key>
            <string>MoleWeekly.png</string>
        </dict>
    </dict>
</plist>
