<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarAchievenmentPanel_New/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1084,998},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>StarAchievenmentPanel_New/closebtnin0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,1183},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>StarAchievenmentPanel_New/downBarbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1017},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>StarAchievenmentPanel_New/downBareff0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{688,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,88}}</string>
                <key>sourceSize</key>
                <string>{688,88}</string>
            </dict>
            <key>StarAchievenmentPanel_New/finishall0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{792,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,237}}</string>
                <key>sourceSize</key>
                <string>{792,237}</string>
            </dict>
            <key>StarAchievenmentPanel_New/iconarea0000</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1132},{66,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,52}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>StarAchievenmentPanel_New/mainbg60000</key>
            <dict>
                <key>frame</key>
                <string>{{1086,803},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>StarAchievenmentPanel_New/mainbghelp0000</key>
            <dict>
                <key>frame</key>
                <string>{{964,803},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>StarAchievenmentPanel_New/mainbghelp20000</key>
            <dict>
                <key>frame</key>
                <string>{{1012,497},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>StarAchievenmentPanel_New/mainpanel_mainbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{960,290},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>StarAchievenmentPanel_New/maintitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{960,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,200}}</string>
                <key>sourceSize</key>
                <string>{960,200}</string>
            </dict>
            <key>StarAchievenmentPanel_New/maintitle30000</key>
            <dict>
                <key>frame</key>
                <string>{{877,304},{210,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,81}}</string>
                <key>sourceSize</key>
                <string>{210,81}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progresscirHalfcular20000</key>
            <dict>
                <key>frame</key>
                <string>{{1082,268},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progresscirHalfcularinner0000</key>
            <dict>
                <key>frame</key>
                <string>{{1007,670},{158,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,85}}</string>
                <key>sourceSize</key>
                <string>{158,85}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progresscircularbarbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{796,572},{204,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,111}}</string>
                <key>sourceSize</key>
                <string>{204,111}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progresscircularbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,304},{221,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,215}}</string>
                <key>sourceSize</key>
                <string>{221,215}</string>
            </dict>
            <key>StarAchievenmentPanel_New/starticonjsma0000</key>
            <dict>
                <key>frame</key>
                <string>{{1164,572},{55,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>StarAchievenmentPanel_New/startipsbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1126,925},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab1_nor0000</key>
            <dict>
                <key>frame</key>
                <string>{{1002,619},{160,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,49}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab1_sel0000</key>
            <dict>
                <key>frame</key>
                <string>{{964,925},{160,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,71}}</string>
                <key>sourceSize</key>
                <string>{160,71}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab2_nor0000</key>
            <dict>
                <key>frame</key>
                <string>{{680,1132},{160,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,49}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab2_sel0000</key>
            <dict>
                <key>frame</key>
                <string>{{842,1132},{160,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,71}}</string>
                <key>sourceSize</key>
                <string>{160,71}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab3_nor0000</key>
            <dict>
                <key>frame</key>
                <string>{{506,1156},{160,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,49}}</string>
                <key>sourceSize</key>
                <string>{160,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tab3_sel0000</key>
            <dict>
                <key>frame</key>
                <string>{{796,727},{160,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,71}}</string>
                <key>sourceSize</key>
                <string>{160,71}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tabFourStarNone_Mainbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,570}}</string>
                <key>sourceSize</key>
                <string>{650,570}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tabFourStarNone_title10000</key>
            <dict>
                <key>frame</key>
                <string>{{692,1015},{390,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,64}}</string>
                <key>sourceSize</key>
                <string>{390,64}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tabFourStarNone_title20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1171},{502,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,49}}</string>
                <key>sourceSize</key>
                <string>{502,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tabFourStarNone_title30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{494,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,64}}</string>
                <key>sourceSize</key>
                <string>{494,64}</string>
            </dict>
            <key>StarAchievenmentPanel_New/tabFourStarNone_title40000</key>
            <dict>
                <key>frame</key>
                <string>{{692,1081},{361,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,49}}</string>
                <key>sourceSize</key>
                <string>{361,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/title30000</key>
            <dict>
                <key>frame</key>
                <string>{{654,521},{356,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,49}}</string>
                <key>sourceSize</key>
                <string>{356,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/title40000</key>
            <dict>
                <key>frame</key>
                <string>{{498,1105},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
            <key>StarAchievenmentPanel_New/title_total_area0000</key>
            <dict>
                <key>frame</key>
                <string>{{958,757},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>StarAchievenmentPanel_New/title_total_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{796,685},{209,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,40}}</string>
                <key>sourceSize</key>
                <string>{209,40}</string>
            </dict>
            <key>StarAchievenmentPanel_New/title_total_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1139},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>StarAchievenmentPanel_New/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1002,572},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>StarAchievenmentPanel_New/ui_fourstarbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>StarAchievenmentPanel_New/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>StarAchievenmentPanel_New/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>StarAchievenmentPanel_New/重复项目文件夹/ui_fontsize_rect 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1002,572},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>fuck_folder/asdfasdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{1166,268},{302,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,44}}</string>
                <key>sourceSize</key>
                <string>{302,44}</string>
            </dict>
            <key>ui_commons/ui_fontsize_rect20000</key>
            <dict>
                <key>frame</key>
                <string>{{1002,572},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StarAchievenmentPanel_New.png</string>
            <key>size</key>
            <string>{1223,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16f7b434ebbaa2d4cdb77ce722bac03f:93a514551827b1374ee14daa0af5ebee:4dce3e64b80a27e208979e7236fda470$</string>
            <key>textureFileName</key>
            <string>StarAchievenmentPanel_New.png</string>
        </dict>
    </dict>
</plist>
