<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mark2019/30daySing0000</key>
            <dict>
                <key>frame</key>
                <string>{{1086,919},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>Mark2019/buqianRes/BuqianTip0000</key>
            <dict>
                <key>frame</key>
                <string>{{732,664},{373,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,44}}</string>
                <key>sourceSize</key>
                <string>{373,44}</string>
            </dict>
            <key>Mark2019/buqianRes/gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{1148,569},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>Mark2019/buqianRes/res 副本/未命名文件夹 3/未命名文件夹 2/未命名文件夹 1/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{543,1164},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Mark2019/noday0000</key>
            <dict>
                <key>frame</key>
                <string>{{977,1084},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Mark2019/progressUI0000</key>
            <dict>
                <key>frame</key>
                <string>{{706,664},{520,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,24}}</string>
                <key>sourceSize</key>
                <string>{520,24}</string>
            </dict>
            <key>Mark2019/res/buqi0000</key>
            <dict>
                <key>frame</key>
                <string>{{1148,627},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>Mark2019/res/curDayLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{911,447},{128,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>Mark2019/res/day140000</key>
            <dict>
                <key>frame</key>
                <string>{{767,1109},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>Mark2019/res/day14_open0000</key>
            <dict>
                <key>frame</key>
                <string>{{1036,353},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>Mark2019/res/day210000</key>
            <dict>
                <key>frame</key>
                <string>{{1041,447},{97,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,105}}</string>
                <key>sourceSize</key>
                <string>{97,105}</string>
            </dict>
            <key>Mark2019/res/day21_open0000</key>
            <dict>
                <key>frame</key>
                <string>{{977,985},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>Mark2019/res/day280000</key>
            <dict>
                <key>frame</key>
                <string>{{778,1009},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>Mark2019/res/day28_open0000</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1011},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{94,97}</string>
            </dict>
            <key>Mark2019/res/day70000</key>
            <dict>
                <key>frame</key>
                <string>{{884,1009},{91,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,102}}</string>
                <key>sourceSize</key>
                <string>{91,102}</string>
            </dict>
            <key>Mark2019/res/day7_open0000</key>
            <dict>
                <key>frame</key>
                <string>{{864,1113},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>Mark2019/res/dayBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{1044,801},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Mark2019/res/dayBg20000</key>
            <dict>
                <key>frame</key>
                <string>{{926,801},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Mark2019/res/downbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{698,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,749}}</string>
                <key>sourceSize</key>
                <string>{698,749}</string>
            </dict>
            <key>Mark2019/res/gift0000</key>
            <dict>
                <key>frame</key>
                <string>{{1140,434},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>Mark2019/res/hasNoMardDay0000</key>
            <dict>
                <key>frame</key>
                <string>{{732,1039},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>Mark2019/res/hassigned0000</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1107},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>Mark2019/res/markGuide0000</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{349,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,137}}</string>
                <key>sourceSize</key>
                <string>{349,137}</string>
            </dict>
            <key>Mark2019/res/monthMarkDay0000</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{201,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,29}}</string>
                <key>sourceSize</key>
                <string>{201,29}</string>
            </dict>
            <key>Mark2019/res/monthResetTip0000</key>
            <dict>
                <key>frame</key>
                <string>{{926,919},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>Mark2019/res/nosigh0000</key>
            <dict>
                <key>frame</key>
                <string>{{1140,502},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>Mark2019/res/progressbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1164},{539,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,42}}</string>
                <key>sourceSize</key>
                <string>{539,42}</string>
            </dict>
            <key>Mark2019/res/sharebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{650,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,409}}</string>
                <key>sourceSize</key>
                <string>{650,409}</string>
            </dict>
            <key>Mark2019/res/tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{654,753},{416,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,50}}</string>
                <key>sourceSize</key>
                <string>{416,50}</string>
            </dict>
            <key>Mark2019/res/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{443,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,123}}</string>
                <key>sourceSize</key>
                <string>{443,123}</string>
            </dict>
            <key>Mark2019/res/title10000</key>
            <dict>
                <key>frame</key>
                <string>{{852,664},{343,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,72}}</string>
                <key>sourceSize</key>
                <string>{343,72}</string>
            </dict>
            <key>Mark2019/res/title20000</key>
            <dict>
                <key>frame</key>
                <string>{{778,664},{343,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,72}}</string>
                <key>sourceSize</key>
                <string>{343,72}</string>
            </dict>
            <key>Mark2019/res/upbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{660,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,207}}</string>
                <key>sourceSize</key>
                <string>{660,207}</string>
            </dict>
            <key>Mark2019/res/yellowbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1175,205},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>Mark2019/tipbgres/cdkjsahjfhuisdahf0000</key>
            <dict>
                <key>frame</key>
                <string>{{926,579},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>Mark2019/tipbgres/dsfjasidyfuidsuiafsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{926,985},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>Mark2019/tipitemres/刷新0000</key>
            <dict>
                <key>frame</key>
                <string>{{1135,353},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mark2019.png</string>
            <key>size</key>
            <string>{1211,1211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02fe29820af76b612555277739cf51cb:7d8fca4dbda75fce39d0ac7474c210a6:7b3f60ab8b4cbe6e9af97f03a13fa8c3$</string>
            <key>textureFileName</key>
            <string>mark2019.png</string>
        </dict>
    </dict>
</plist>
