<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RecallA2019_bindSucess/res/RecallA2019/ARecall/recall/cell copy 2/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{483,179},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/RecallA2019/ARecall/recall_privilege/main/cells/bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{462,539},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/RecallA2019/ARecall/recall_privilege/main/cells/grain00000</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{473,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,161}}</string>
                <key>sourceSize</key>
                <string>{473,161}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/RecallA2019/cell/titlebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{688,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,111}}</string>
                <key>sourceSize</key>
                <string>{688,111}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/headbase0000</key>
            <dict>
                <key>frame</key>
                <string>{{578,179},{102,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{102,105}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{458,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,90}}</string>
                <key>sourceSize</key>
                <string>{458,90}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/tip20000</key>
            <dict>
                <key>frame</key>
                <string>{{165,501},{316,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,36}}</string>
                <key>sourceSize</key>
                <string>{316,36}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/tip30000</key>
            <dict>
                <key>frame</key>
                <string>{{165,179},{320,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,36}}</string>
                <key>sourceSize</key>
                <string>{320,36}</string>
            </dict>
            <key>RecallA2019_bindSucess/res/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{462,115},{225,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,62}}</string>
                <key>sourceSize</key>
                <string>{225,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bindSucess.png</string>
            <key>size</key>
            <string>{692,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77177988b5ee8ad75ed91ffae37cd738:8f9aff3ebb5284c9ddf8e53aabe36f66:5efbaef48c532e7ada0b32f217bd3efc$</string>
            <key>textureFileName</key>
            <string>bindSucess.png</string>
        </dict>
    </dict>
</plist>
