<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement/achi_grade_2_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{715,730},{67,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,80}}</string>
                <key>sourceSize</key>
                <string>{67,80}</string>
            </dict>
            <key>achievement/achi_grade_3_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{715,646},{67,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,82}}</string>
                <key>sourceSize</key>
                <string>{67,82}</string>
            </dict>
            <key>achievement/achi_grade_4_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{630,663},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>achievement/achi_grade_5_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{528,663},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>achievement/achi_grade_6_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{528,562},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>achievement/icon/icon_100000</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{96,136}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{96,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_1400000</key>
            <dict>
                <key>frame</key>
                <string>{{558,286},{102,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{102,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_1500000</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_1600000</key>
            <dict>
                <key>frame</key>
                <string>{{558,428},{100,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{100,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_1700000</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{122,130}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{122,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_1800000</key>
            <dict>
                <key>frame</key>
                <string>{{266,676},{122,132}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{122,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_2000000</key>
            <dict>
                <key>frame</key>
                <string>{{142,144},{134,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_2400000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3000000</key>
            <dict>
                <key>frame</key>
                <string>{{138,286},{134,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{134,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3100000</key>
            <dict>
                <key>frame</key>
                <string>{{138,424},{124,134}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{124,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3200000</key>
            <dict>
                <key>frame</key>
                <string>{{410,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3300000</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{130,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3400000</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{128,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3500000</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{132,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3600000</key>
            <dict>
                <key>frame</key>
                <string>{{540,144},{126,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3700000</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{132,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3800000</key>
            <dict>
                <key>frame</key>
                <string>{{274,414},{122,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_3900000</key>
            <dict>
                <key>frame</key>
                <string>{{416,412},{124,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4000000</key>
            <dict>
                <key>frame</key>
                <string>{{136,550},{124,138}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4100000</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{134,140}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4200000</key>
            <dict>
                <key>frame</key>
                <string>{{668,270},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4300000</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{126,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4400000</key>
            <dict>
                <key>frame</key>
                <string>{{660,520},{124,138}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{124,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4500000</key>
            <dict>
                <key>frame</key>
                <string>{{402,538},{124,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{124,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4600000</key>
            <dict>
                <key>frame</key>
                <string>{{668,144},{124,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4700000</key>
            <dict>
                <key>frame</key>
                <string>{{416,286},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{124,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4800000</key>
            <dict>
                <key>frame</key>
                <string>{{278,144},{130,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_4900000</key>
            <dict>
                <key>frame</key>
                <string>{{662,396},{122,140}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{122,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_500000</key>
            <dict>
                <key>frame</key>
                <string>{{276,538},{124,136}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{124,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_5000000</key>
            <dict>
                <key>frame</key>
                <string>{{274,286},{126,140}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_5100000</key>
            <dict>
                <key>frame</key>
                <string>{{390,676},{110,134}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{110,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_5200000</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{138,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>achievement/icon/icon_900000</key>
            <dict>
                <key>frame</key>
                <string>{{140,676},{124,132}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{124,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achi_icons.png</string>
            <key>size</key>
            <string>{810,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95cb099f11ef4f659d7c4fd550f1c7cf:fbe3bed41f8f75045c48c362aece9697:460afb6e1f3676e9f492130d98d4a79a$</string>
            <key>textureFileName</key>
            <string>achi_icons.png</string>
        </dict>
    </dict>
</plist>
