<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{826,709},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>achievement/background20000</key>
            <dict>
                <key>frame</key>
                <string>{{300,355},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/help0000</key>
            <dict>
                <key>frame</key>
                <string>{{794,788},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>achievement/iconPh10000</key>
            <dict>
                <key>frame</key>
                <string>{{661,696},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>achievement/jifen0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{107,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,75}}</string>
                <key>sourceSize</key>
                <string>{107,75}</string>
            </dict>
            <key>achievement/jifen10000</key>
            <dict>
                <key>frame</key>
                <string>{{186,539},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>achievement/kuang0000</key>
            <dict>
                <key>frame</key>
                <string>{{278,447},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{838,615},{92,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,1}}</string>
                <key>sourceSize</key>
                <string>{92,1}</string>
            </dict>
            <key>achievement/no_friend_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,351}}</string>
                <key>sourceSize</key>
                <string>{463,351}</string>
            </dict>
            <key>achievement/prog_mask1_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{357,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,25}}</string>
                <key>sourceSize</key>
                <string>{357,25}</string>
            </dict>
            <key>achievement/prog_mask_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{748,425},{420,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,44}}</string>
                <key>sourceSize</key>
                <string>{420,44}</string>
            </dict>
            <key>achievement/progress0000</key>
            <dict>
                <key>frame</key>
                <string>{{794,425},{361,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,30}}</string>
                <key>sourceSize</key>
                <string>{361,30}</string>
            </dict>
            <key>achievement/progress10000</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{421,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,45}}</string>
                <key>sourceSize</key>
                <string>{421,45}</string>
            </dict>
            <key>achievement/rank_bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{208,355},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/rank_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{186,447},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/rank_bg30000</key>
            <dict>
                <key>frame</key>
                <string>{{116,355},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/rank_bg40000</key>
            <dict>
                <key>frame</key>
                <string>{{94,471},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/rank_bg50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/rankbtn2220000</key>
            <dict>
                <key>frame</key>
                <string>{{148,615},{139,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,140}}</string>
                <key>sourceSize</key>
                <string>{139,140}</string>
            </dict>
            <key>achievement/redDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{795,361},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>achievement/star10000</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{611,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,118}}</string>
                <key>sourceSize</key>
                <string>{611,118}</string>
            </dict>
            <key>achievement/star20000</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{611,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,159}}</string>
                <key>sourceSize</key>
                <string>{611,159}</string>
            </dict>
            <key>achievement/xuxian0000</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{611,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,3}}</string>
                <key>sourceSize</key>
                <string>{611,3}</string>
            </dict>
            <key>achievement/元件 1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{319,539},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>achievement/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{569,737},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>achievement/元件 1230000</key>
            <dict>
                <key>frame</key>
                <string>{{370,447},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>achievement/元件 2 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{661,778},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>achievement/元件 3 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{538,615},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>achievement/元件 4 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{659,615},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>achievement/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{255,539},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>achievement/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{111,763},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>achievement/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{417,615},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>achievement/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{293,746},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>achievement/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{289,615},{129,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,126}}</string>
                <key>sourceSize</key>
                <string>{129,126}</string>
            </dict>
            <key>achievement/重复项目文件夹 副本/biankuang0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{114,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{114,112}</string>
            </dict>
            <key>achievement/重复项目文件夹/元件 3 副本 150000</key>
            <dict>
                <key>frame</key>
                <string>{{477,737},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/重复项目文件夹/元件 3 副本 160000</key>
            <dict>
                <key>frame</key>
                <string>{{385,746},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>achievement/重复项目文件夹/好友底框0000</key>
            <dict>
                <key>frame</key>
                <string>{{201,757},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achi_panel.png</string>
            <key>size</key>
            <string>{848,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e50facbcba919c243fa665a9596415f:19a36bdd34fd4bf4e2f0dffaec729ae2:e07064d5a7c63a390167ef1dda442e94$</string>
            <key>textureFileName</key>
            <string>achi_panel.png</string>
        </dict>
    </dict>
</plist>
