<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AddFriendPanel2/IDNormal__0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,942},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>AddFriendPanel2/IDSelected__0000</key>
            <dict>
                <key>frame</key>
                <string>{{793,880},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>AddFriendPanel2/NearNormal__0000</key>
            <dict>
                <key>frame</key>
                <string>{{1015,465},{47,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,67}}</string>
                <key>sourceSize</key>
                <string>{47,67}</string>
            </dict>
            <key>AddFriendPanel2/NearSelected__0000</key>
            <dict>
                <key>frame</key>
                <string>{{1015,534},{47,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,66}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>AddFriendPanel2/NewFriendItemBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{274,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,96}}</string>
                <key>sourceSize</key>
                <string>{276,98}</string>
            </dict>
            <key>AddFriendPanel2/NewFriendItemBG_Invited0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,198},{272,94}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,94}}</string>
                <key>sourceSize</key>
                <string>{276,98}</string>
            </dict>
            <key>AddFriendPanel2/PhoneNormal___0000</key>
            <dict>
                <key>frame</key>
                <string>{{731,745},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>AddFriendPanel2/PhoneSelected__0000</key>
            <dict>
                <key>frame</key>
                <string>{{731,704},{39,64}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{39,64}}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>AddFriendPanel2/QQIcon_0000</key>
            <dict>
                <key>frame</key>
                <string>{{696,214},{47,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{47,53}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>AddFriendPanel2/QQSelected_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1014,602},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>AddFriendPanel2/QQ_BG_IMG_CELL0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,538}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,538}}</string>
                <key>sourceSize</key>
                <string>{616,540}</string>
            </dict>
            <key>AddFriendPanel2/QQ__0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,505},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>AddFriendPanel2/SYS_ICON_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1015,294},{49,49}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>AddFriendPanel2/ShakeNormal__0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,214},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>AddFriendPanel2/_assets/_personal_center_auto_add_copy_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,559},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>AddFriendPanel2/bearIcon___0000</key>
            <dict>
                <key>frame</key>
                <string>{{807,294},{206,258}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{206,258}}</string>
                <key>sourceSize</key>
                <string>{210,264}</string>
            </dict>
            <key>AddFriendPanel2/btn_refresh_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{754,100},{273,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{277,98}</string>
            </dict>
            <key>AddFriendPanel2/bubble__0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{111,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,107}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>AddFriendPanel2/empty0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,1063},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>AddFriendPanel2/ffg2134fq0000</key>
            <dict>
                <key>frame</key>
                <string>{{676,991},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>AddFriendPanel2/he_bubble_1124514690894995070000</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{614,522}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{614,522}}</string>
                <key>sourceSize</key>
                <string>{626,534}</string>
            </dict>
            <key>AddFriendPanel2/inputbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1015,395},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,68}</string>
            </dict>
            <key>AddFriendPanel2/inputcancel0000</key>
            <dict>
                <key>frame</key>
                <string>{{1015,345},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>AddFriendPanel2/inputfocus0000</key>
            <dict>
                <key>frame</key>
                <string>{{731,641},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>AddFriendPanel2/itemadd0000</key>
            <dict>
                <key>frame</key>
                <string>{{1014,655},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AddFriendPanel2/load0000</key>
            <dict>
                <key>frame</key>
                <string>{{1014,707},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>AddFriendPanel2/notIcon__0000</key>
            <dict>
                <key>frame</key>
                <string>{{1030,40},{30,29}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,29}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>AddFriendPanel2/nouserimg0000</key>
            <dict>
                <key>frame</key>
                <string>{{731,786},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>AddFriendPanel2/select__0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,115},{100,97}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{100,97}}</string>
                <key>sourceSize</key>
                <string>{106,103}</string>
            </dict>
            <key>AddFriendPanel2/shakeanimleft0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,294},{209,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,185}}</string>
                <key>sourceSize</key>
                <string>{209,185}</string>
            </dict>
            <key>AddFriendPanel2/shakeanimright0000</key>
            <dict>
                <key>frame</key>
                <string>{{807,554},{205,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,190}}</string>
                <key>sourceSize</key>
                <string>{205,190}</string>
            </dict>
            <key>AddFriendPanel2/shakeresultok0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,991},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,56}}</string>
                <key>sourceSize</key>
                <string>{70,56}</string>
            </dict>
            <key>AddFriendPanel2/signal10000</key>
            <dict>
                <key>frame</key>
                <string>{{1029,158},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>AddFriendPanel2/signal20000</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{54,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,18}}</string>
                <key>sourceSize</key>
                <string>{54,18}</string>
            </dict>
            <key>AddFriendPanel2/signal30000</key>
            <dict>
                <key>frame</key>
                <string>{{1030,71},{85,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,28}}</string>
                <key>sourceSize</key>
                <string>{85,28}</string>
            </dict>
            <key>AddFriendPanel2/tip__bg__0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,542},{447,111}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,111}}</string>
                <key>sourceSize</key>
                <string>{453,115}</string>
            </dict>
            <key>AddFriendPanel2/ui_brown_scale9_invite0000</key>
            <dict>
                <key>frame</key>
                <string>{{731,880},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>AddFriendPanel2/yesIcon__QQ0000</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{36,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,32}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AddFriendPanel2.png</string>
            <key>size</key>
            <string>{1066,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ffba5a7689cac98bb2982fa7a6ab7a:c6575a894b0c08f8764f4f90262c750f:9baf8861d46c9dcf59eca83a5c8d6b69$</string>
            <key>textureFileName</key>
            <string>AddFriendPanel2.png</string>
        </dict>
    </dict>
</plist>
