<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SignResultFailed0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{371,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,96}}</string>
                <key>sourceSize</key>
                <string>{371,96}</string>
            </dict>
            <key>SignResultSuccess0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,106}}</string>
                <key>sourceSize</key>
                <string>{382,106}</string>
            </dict>
            <key>ali_quickpay_confirm_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{189,441},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>alipayment/alipayment_title0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{328,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,88}}</string>
                <key>sourceSize</key>
                <string>{328,88}</string>
            </dict>
            <key>alipayment/input_bg_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{296,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,35}}</string>
                <key>sourceSize</key>
                <string>{296,35}</string>
            </dict>
            <key>alipayment/line_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{189,533},{111,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,2}}</string>
                <key>sourceSize</key>
                <string>{111,2}</string>
            </dict>
            <key>alipayment/mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{362,461},{59,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,42}}</string>
                <key>sourceSize</key>
                <string>{59,42}</string>
            </dict>
            <key>alipayment/payment_BG0000</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{144,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,256}}</string>
                <key>sourceSize</key>
                <string>{144,256}</string>
            </dict>
            <key>alipayment/payment_title_BG0000</key>
            <dict>
                <key>frame</key>
                <string>{{334,260},{144,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,119}}</string>
                <key>sourceSize</key>
                <string>{144,119}</string>
            </dict>
            <key>alipayment/quick/promotion/hole0000</key>
            <dict>
                <key>frame</key>
                <string>{{480,318},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>alipayment/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{302,527},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>dfsfhfdsg90s8gfdjsghjfsgfd87gd0000</key>
            <dict>
                <key>frame</key>
                <string>{{362,505},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>new145bgold/3213210000</key>
            <dict>
                <key>frame</key>
                <string>{{96,441},{91,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>sourceSize</key>
                <string>{91,94}</string>
            </dict>
            <key>newWindShop_quick_ali/1_45/aaa/ccc/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{295,461},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>new_lineFrame0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{330,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,104}}</string>
                <key>sourceSize</key>
                <string>{330,104}</string>
            </dict>
            <key>newaliquick_bg1_450000</key>
            <dict>
                <key>frame</key>
                <string>{{442,381},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>quick_song_new_0000</key>
            <dict>
                <key>frame</key>
                <string>{{480,260},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>red_frame_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,381},{108,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,78}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>sdafdsag88fds9gf6d7s6gfsdkjgfsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{300,404},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>sdfsa98gduskjgfds098g9fdsgfdskg0000</key>
            <dict>
                <key>frame</key>
                <string>{{334,208},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ui_images/new_goldCoin_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ali_payment.png</string>
            <key>size</key>
            <string>{537,537}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e6505114420eab8b7a7ea6221294230:1d78e15ffe50fe5f8011a264a1af1aee:db29388ab959806cf2df881225481011$</string>
            <key>textureFileName</key>
            <string>ali_payment.png</string>
        </dict>
    </dict>
</plist>
