<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img.appleStore/_ui_white_pure_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{176,177},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>img.appleStore/blackDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>img.appleStore/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>img.appleStore/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{176,269},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>img.appleStore/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,173}}</string>
                <key>sourceSize</key>
                <string>{575,173}</string>
            </dict>
            <key>img.appleStore/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{341,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,172}}</string>
                <key>sourceSize</key>
                <string>{341,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appleStoreGuide.png</string>
            <key>size</key>
            <string>{579,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cb495b74bf485ee443e984f3c1ba8e3:b7179e130c8db7ebfc50ec7bbc2fdab7:7cbc37599a41b4d6468631f11e66e882$</string>
            <key>textureFileName</key>
            <string>appleStoreGuide.png</string>
        </dict>
    </dict>
</plist>
