<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_task.liusha/PointUp0000</key>
            <dict>
                <key>frame</key>
                <string>{{453,1073},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>area_task.liusha/asdw/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{109,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,189}}</string>
                <key>sourceSize</key>
                <string>{109,189}</string>
            </dict>
            <key>area_task.liusha/asdw/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,756}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,756}}</string>
                <key>sourceSize</key>
                <string>{186,756}</string>
            </dict>
            <key>area_task.liusha/assert/d/未命名文件夹 1/未命名文件夹 2/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{768,716},{176,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>area_task.liusha/lh2/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{921,1035},{139,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,30}}</string>
                <key>sourceSize</key>
                <string>{139,30}</string>
            </dict>
            <key>area_task.liusha/元件 15023 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{310,750},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>area_task.liusha/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{288,750},{20,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,76}}</string>
                <key>sourceSize</key>
                <string>{20,76}</string>
            </dict>
            <key>area_task.liusha/重复项目文件夹/PointUp0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,750},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>area_task.liusha/重复项目文件夹/元件 15023 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{734,874},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>area_task.panel/_assets/adqs/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{921,1067},{136,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,25}}</string>
                <key>sourceSize</key>
                <string>{136,25}</string>
            </dict>
            <key>area_task.panel/_assets/dsa/dwq0000</key>
            <dict>
                <key>frame</key>
                <string>{{331,680},{34,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,516}}</string>
                <key>sourceSize</key>
                <string>{34,516}</string>
            </dict>
            <key>area_task.panel/_assets/dsa/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{196,1031},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>area_task.panel/_assets/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1132,367},{146,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,3}}</string>
                <key>sourceSize</key>
                <string>{146,3}</string>
            </dict>
            <key>area_task.panel/area/ui_groups/newTipBg_23120000</key>
            <dict>
                <key>frame</key>
                <string>{{946,826},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>area_task.panel/area/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>area_task.panel/area/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{771,371},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>area_task.panel/area/元件 320000</key>
            <dict>
                <key>frame</key>
                <string>{{128,760},{328,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,66}}</string>
                <key>sourceSize</key>
                <string>{328,66}</string>
            </dict>
            <key>area_task.panel/assert/4th.set.niu/未命名文件夹 2/wmy.2018/123/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{771,241},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>area_task.panel/assert/n.race.rank.assert/asdwq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{196,750},{279,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,90}}</string>
                <key>sourceSize</key>
                <string>{279,90}</string>
            </dict>
            <key>area_task.panel/assert/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>area_task.panel/assert/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>area_task.panel/assert/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1137,367},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{878,371},{220,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,137}}</string>
                <key>sourceSize</key>
                <string>{220,137}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{1017,371},{177,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,113}}</string>
                <key>sourceSize</key>
                <string>{177,113}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{946,687},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{734,896},{206,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,126}}</string>
                <key>sourceSize</key>
                <string>{206,126}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{1037,193},{172,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,108}}</string>
                <key>sourceSize</key>
                <string>{172,108}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{734,1024},{185,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,115}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{942,930},{150,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,103}}</string>
                <key>sourceSize</key>
                <string>{150,103}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/重复项目文件夹/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{946,687},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/重复项目文件夹/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{734,1024},{185,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,115}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>area_task.panel/eeeqweeq/重复项目文件夹/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{942,930},{150,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,103}}</string>
                <key>sourceSize</key>
                <string>{150,103}</string>
            </dict>
            <key>area_task.panel/n.race.rank/as/wqewq0000</key>
            <dict>
                <key>frame</key>
                <string>{{404,1073},{72,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,47}}</string>
                <key>sourceSize</key>
                <string>{72,47}</string>
            </dict>
            <key>area_task.panel/w0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{139,746}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,746}}</string>
                <key>sourceSize</key>
                <string>{139,746}</string>
            </dict>
            <key>area_task.panel/xxx/15555550000</key>
            <dict>
                <key>frame</key>
                <string>{{288,874},{221,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,197}}</string>
                <key>sourceSize</key>
                <string>{221,197}</string>
            </dict>
            <key>area_task.panel/xxx/xsa/assert/KitchenGodsDay/clothespress/321/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{771,241},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>area_task.panel/xxx/xsa/assert/KitchenGodsDay/clothespress/321/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>area_task.panel/xxx/xsa/assert/KitchenGodsDay/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1137,367},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>area_task.panel/xxx/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{331,605},{527,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,73}}</string>
                <key>sourceSize</key>
                <string>{527,73}</string>
            </dict>
            <key>area_task.panel/xxx/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{511,874},{221,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,198}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>area_task.panel/xxx/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{261,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,237}}</string>
                <key>sourceSize</key>
                <string>{261,237}</string>
            </dict>
            <key>area_task.panel/xxx/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{331,716},{435,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,156}}</string>
                <key>sourceSize</key>
                <string>{435,156}</string>
            </dict>
            <key>area_task.panel/xxx/元件 180000</key>
            <dict>
                <key>frame</key>
                <string>{{331,422},{545,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,181}}</string>
                <key>sourceSize</key>
                <string>{545,181}</string>
            </dict>
            <key>area_task.panel/xxx/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{438,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,418}}</string>
                <key>sourceSize</key>
                <string>{438,418}</string>
            </dict>
            <key>area_task.panel/xxx/元件 330000</key>
            <dict>
                <key>frame</key>
                <string>{{1017,550},{135,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,112}}</string>
                <key>sourceSize</key>
                <string>{135,112}</string>
            </dict>
            <key>area_task.panel/xxx/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1094,687},{139,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,51}}</string>
                <key>sourceSize</key>
                <string>{139,51}</string>
            </dict>
            <key>area_task.panel/xxx/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{196,1073},{206,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>area_task.png</string>
            <key>size</key>
            <string>{1147,1147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba249bbebae7c100ddafd219dbedb7e5:6fda781628804040806be648cb4a1b92:c1c0f1cb872c6786cb6f16ad28746612$</string>
            <key>textureFileName</key>
            <string>area_task.png</string>
        </dict>
    </dict>
</plist>
