<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>afep_select_bg_jajkfdsfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{626,329},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>ask_for_energy_res/__resource/cdsafd6s7cds7af6d4s76a7fg21783yt7yd78syfasdfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{281,290},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>ask_for_energy_res/__resource/dsafgds7af678ds6a7gd7df678sd5af765dsa76fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{628,638},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>ask_for_energy_res/tip_share0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{275,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,91}}</string>
                <key>sourceSize</key>
                <string>{275,91}</string>
            </dict>
            <key>dasf6789sdjcas987df88dsa96fdsa89fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{375,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,170}}</string>
                <key>sourceSize</key>
                <string>{375,170}</string>
            </dict>
            <key>dasfdas789cashdf789das7fdsaf90dsadf78sa0000</key>
            <dict>
                <key>frame</key>
                <string>{{409,466},{241,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,85}}</string>
                <key>sourceSize</key>
                <string>{241,85}</string>
            </dict>
            <key>dsafdsa9c8d9sa6f785as6d47fdasfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{496,466},{221,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,85}}</string>
                <key>sourceSize</key>
                <string>{221,85}</string>
            </dict>
            <key>dsafsdf789dsahfnds8a7f896sd78a6fsdadfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{297,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,85}}</string>
                <key>sourceSize</key>
                <string>{297,85}</string>
            </dict>
            <key>fasd78f9dsanc9sa08f90ds8a897f876sdafasd0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{277,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,96}}</string>
                <key>sourceSize</key>
                <string>{277,96}</string>
            </dict>
            <key>gfdfs789j19089ghjsdg987d9s7g87s82k4hdfsggf0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{228,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,265}}</string>
                <key>sourceSize</key>
                <string>{228,265}</string>
            </dict>
            <key>img/AskForEnergyPanel_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,114}}</string>
                <key>sourceSize</key>
                <string>{416,114}</string>
            </dict>
            <key>img/AskForEnergyPanel_sfbxczeybnd0000</key>
            <dict>
                <key>frame</key>
                <string>{{565,329},{59,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,91}}</string>
                <key>sourceSize</key>
                <string>{59,91}</string>
            </dict>
            <key>img/AskForEnergyPanel_unlock_ico0000</key>
            <dict>
                <key>frame</key>
                <string>{{628,553},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>img/invite_friend_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{403,329},{135,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,160}}</string>
                <key>sourceSize</key>
                <string>{135,160}</string>
            </dict>
            <key>img/invite_friend_normal_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{341,401},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>img/invite_friend_selected_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{279,401},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>img/jinianyixiawosiqudeaiqing0000</key>
            <dict>
                <key>frame</key>
                <string>{{379,215},{372,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,112}}</string>
                <key>sourceSize</key>
                <string>{372,112}</string>
            </dict>
            <key>img/remindaskingenergypanel_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>img/res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{496,553},{196,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,130}}</string>
                <key>sourceSize</key>
                <string>{196,130}</string>
            </dict>
            <key>img/res/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{232,481},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>img/res/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{420,89},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>img/res/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{719,19},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>img/zhishuidaowozuijxmai0000</key>
            <dict>
                <key>frame</key>
                <string>{{362,467},{275,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,45}}</string>
                <key>sourceSize</key>
                <string>{275,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AskForEnergyPanel.png</string>
            <key>size</key>
            <string>{753,753}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e7e77221052c2cd6e1e191bb1e4440b:26dee0211e60044ca7f00bc284ec60a2:41e36d1fd5826fe3d14a97a5fd45d21b$</string>
            <key>textureFileName</key>
            <string>AskForEnergyPanel.png</string>
        </dict>
    </dict>
</plist>
