<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SvipGetReward/res/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,606}}</string>
                <key>sourceSize</key>
                <string>{664,606}</string>
            </dict>
            <key>img/beginnerpanel_bgp_refresh0000</key>
            <dict>
                <key>frame</key>
                <string>{{810,113},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>img/beginnerpanel_brush0000</key>
            <dict>
                <key>frame</key>
                <string>{{783,385},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>img/beginnerpanel_cdkey_input_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>img/beginnerpanel_coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{806,332},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>img/beginnerpanel_energybottle0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,80},{131,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,140}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>img/beginnerpanel_hammer0000</key>
            <dict>
                <key>frame</key>
                <string>{{806,278},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>img/beginnerpanel_inputtatus0000</key>
            <dict>
                <key>frame</key>
                <string>{{830,60},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>img/beginnerpanel_refresh_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{810,188},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>img/beginnerpanel_step_20000</key>
            <dict>
                <key>frame</key>
                <string>{{668,213},{125,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,136}}</string>
                <key>sourceSize</key>
                <string>{125,136}</string>
            </dict>
            <key>img/beginnerpanel_swap0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,340},{112,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>img/beginnerpanel_ui_empty0000</key>
            <dict>
                <key>frame</key>
                <string>{{810,80},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>img/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{286,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,296}}</string>
                <key>sourceSize</key>
                <string>{286,296}</string>
            </dict>
            <key>reward_text_btn0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,41},{160,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,37}}</string>
                <key>sourceSize</key>
                <string>{160,37}</string>
            </dict>
            <key>reward_text_btn_20000</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{160,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,37}}</string>
                <key>sourceSize</key>
                <string>{160,37}</string>
            </dict>
            <key>stock_link_text0000</key>
            <dict>
                <key>frame</key>
                <string>{{860,332},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BeginnerPanel.png</string>
            <key>size</key>
            <string>{898,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78547556fbf1f287d79e53ddb12b644a:470c54bdf7cac59c098a76cc582d0a66:7b6a608de2cd3f18e77fe334bdbe3bdb$</string>
            <key>textureFileName</key>
            <string>BeginnerPanel.png</string>
        </dict>
    </dict>
</plist>
