<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_prop.res/ali_quick_pay/cells/splitLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{857,122},{716,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,3}}</string>
                <key>sourceSize</key>
                <string>{716,3}</string>
            </dict>
            <key>buy_prop.res/com.niu2x.store.res/11/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{122,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,111}}</string>
                <key>sourceSize</key>
                <string>{122,111}</string>
            </dict>
            <key>buy_prop.res/com.niu2x.store.res/11/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{103,508},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>buy_prop.res/item_play/Symbol 1610000</key>
            <dict>
                <key>frame</key>
                <string>{{129,320},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>buy_prop.res/item_play/Symbol 370000</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{224,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,56}}</string>
                <key>sourceSize</key>
                <string>{224,56}</string>
            </dict>
            <key>buy_prop.res/res.1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{867,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{867,108}}</string>
                <key>sourceSize</key>
                <string>{867,108}</string>
            </dict>
            <key>buy_prop.res/res.1/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{857,112},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>buy_prop.res/res.2/2132310000</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{180,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,99}}</string>
                <key>sourceSize</key>
                <string>{180,99}</string>
            </dict>
            <key>buy_prop.res/res.2/rrrrrrrrrr0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,320},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buy_prop.res/res.2/xxxx0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{130,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,22}}</string>
                <key>sourceSize</key>
                <string>{130,22}</string>
            </dict>
            <key>buy_prop.res/res.2/xxxxxxxxx0000</key>
            <dict>
                <key>frame</key>
                <string>{{207,171},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{201,508},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{115,559},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{222,372},{111,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,110}}</string>
                <key>sourceSize</key>
                <string>{111,110}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{60,320},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{103,389},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{853,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{853,57}}</string>
                <key>sourceSize</key>
                <string>{853,57}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{154,508},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{243,263},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>buy_prop.res/res.2/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{60,171},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,145}}</string>
                <key>sourceSize</key>
                <string>{147,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buy_prop.png</string>
            <key>size</key>
            <string>{871,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb75157a18e5ebf7c0639b3f188e49ca:1a0428eac21bd1c17a501646cbb06edb:16707fc3d184107b448fb7941d1d37ce$</string>
            <key>textureFileName</key>
            <string>buy_prop.png</string>
        </dict>
    </dict>
</plist>
