<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2016_03_01_add/cells/bgArrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{269,1070},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>2016_03_01_add/cells/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1004,453},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>2016_03_01_add/cells/discountLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{198,1011},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>2016_03_01_add/cells/discountLine_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{612,106},{112,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,10}}</string>
                <key>sourceSize</key>
                <string>{112,10}</string>
            </dict>
            <key>2016_05_10_add/game_logo0000</key>
            <dict>
                <key>frame</key>
                <string>{{610,862},{113,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,111}}</string>
                <key>sourceSize</key>
                <string>{113,111}</string>
            </dict>
            <key>2016_05_10_add/img_separator0000</key>
            <dict>
                <key>frame</key>
                <string>{{636,106},{514,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,4}}</string>
                <key>sourceSize</key>
                <string>{514,4}</string>
            </dict>
            <key>2016_05_10_add/title_sjdfksal0000</key>
            <dict>
                <key>frame</key>
                <string>{{551,286},{309,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,71}}</string>
                <key>sourceSize</key>
                <string>{309,71}</string>
            </dict>
            <key>2017_04_21_add/onlyOnceTipMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,106},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
            <key>ali_promotion/cells/fasdfdsa78fdsghjgf78ds7g8fdsg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1075,819},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>ali_quick_pay/cells/checkBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{599,824},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>ali_quick_pay/cells/checkIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{709,992},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>ali_quick_pay/cells/splitLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{631,106},{716,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{716,3}}</string>
                <key>sourceSize</key>
                <string>{716,3}</string>
            </dict>
            <key>buy_confirm_panel/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1043,819},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>buy_confirm_panel/cells/bg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{198,1037},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>buy_confirm_panel/cells/bg_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{1010,523},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>buy_confirm_panel/cells/btnBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{447,1037},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>buy_confirm_panel/cells/bubbleBg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,893},{158,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,151}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>buy_confirm_panel/cells/bubbleBg_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{464,879},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>buy_confirm_panel/cells/bubbleFg_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{858,384},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>buy_confirm_panel/cells/buy_bottom0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{719,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,34}}</string>
                <key>sourceSize</key>
                <string>{719,34}</string>
            </dict>
            <key>buy_confirm_panel/cells/buy_bottom_dark_fake0000</key>
            <dict>
                <key>frame</key>
                <string>{{624,106},{714,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,5}}</string>
                <key>sourceSize</key>
                <string>{714,5}</string>
            </dict>
            <key>buy_confirm_panel/cells/buy_top0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{719,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,102}}</string>
                <key>sourceSize</key>
                <string>{719,102}</string>
            </dict>
            <key>buy_confirm_panel/cells/buy_top_dark_fake0000</key>
            <dict>
                <key>frame</key>
                <string>{{624,106},{714,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,5}}</string>
                <key>sourceSize</key>
                <string>{714,5}</string>
            </dict>
            <key>buy_confirm_panel/cells/checkinIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{610,975},{86,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{86,97}</string>
            </dict>
            <key>buy_confirm_panel/cells/closeBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{709,1033},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>buy_confirm_panel/cells/closeBtnBg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{675,195},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>buy_confirm_panel/cells/closeBtnBg_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,195},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>buy_confirm_panel/cells/minus0000</key>
            <dict>
                <key>frame</key>
                <string>{{612,220},{26,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{26,10}</string>
            </dict>
            <key>buy_confirm_panel/cells/plus0000</key>
            <dict>
                <key>frame</key>
                <string>{{1080,453},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>buy_confirm_panel/cells/prop_count_area0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>buy_confirm_panel/cells/qm_dark0000</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1027},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>buy_confirm_panel/cells/qm_dark_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{795,1046},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>buy_confirm_panel/cells/qm_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{379,1037},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>buy_confirm_panel/cells/qm_light_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{774,777},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>buy_confirm_panel/cells/splitLineUnit0000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,2},{116,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,3}}</string>
                <key>sourceSize</key>
                <string>{116,3}</string>
            </dict>
            <key>buy_confirm_panel/cells/splitLineUnit20000</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{116,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,3}}</string>
                <key>sourceSize</key>
                <string>{116,3}</string>
            </dict>
            <key>buy_confirm_panel/cells/unlockIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{992,228},{114,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,86}}</string>
                <key>sourceSize</key>
                <string>{114,86}</string>
            </dict>
            <key>default_payment_change_panel/cells/goToSetBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{725,862},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>gold_not_enough_panel/cells/newBubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{169,286},{510,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,148}}</string>
                <key>sourceSize</key>
                <string>{510,148}</string>
            </dict>
            <key>gold_not_enough_panel/cells/newNpc0000</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{315,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,220}}</string>
                <key>sourceSize</key>
                <string>{315,220}</string>
            </dict>
            <key>gold_not_enough_panel/cells/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{319,613},{278,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,264}}</string>
                <key>sourceSize</key>
                <string>{278,264}</string>
            </dict>
            <key>item_play/Symbol 1610000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{63,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,60}}</string>
                <key>sourceSize</key>
                <string>{63,60}</string>
            </dict>
            <key>item_play/Symbol 370000</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{224,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,56}}</string>
                <key>sourceSize</key>
                <string>{224,56}</string>
            </dict>
            <key>item_play/marketpanel_propdescglow0000</key>
            <dict>
                <key>frame</key>
                <string>{{67,1046},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>item_play/marketpanel_propdescglow_newLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{319,286},{325,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,230}}</string>
                <key>sourceSize</key>
                <string>{325,230}</string>
            </dict>
            <key>linkStoreC0000</key>
            <dict>
                <key>frame</key>
                <string>{{269,1037},{108,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,31}}</string>
                <key>sourceSize</key>
                <string>{108,31}</string>
            </dict>
            <key>manual_online_pay_check/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{870,594},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>manual_online_pay_check/cells/progress0000</key>
            <dict>
                <key>frame</key>
                <string>{{783,604},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>new.repay/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{608,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,178}}</string>
                <key>sourceSize</key>
                <string>{608,178}</string>
            </dict>
            <key>new.repay/bg_tip_0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,286},{605,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,129}}</string>
                <key>sourceSize</key>
                <string>{605,129}</string>
            </dict>
            <key>new.repay/buttle0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,224},{186,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,185}}</string>
                <key>sourceSize</key>
                <string>{186,185}</string>
            </dict>
            <key>new.repay/flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{795,411},{171,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,61}}</string>
                <key>sourceSize</key>
                <string>{171,61}</string>
            </dict>
            <key>new.repay/sg__0000</key>
            <dict>
                <key>frame</key>
                <string>{{757,954},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>new.repay/specialbutton.20171704/add_step_panel/diamondflag/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{169,798},{133,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,72}}</string>
                <key>sourceSize</key>
                <string>{133,72}</string>
            </dict>
            <key>new.repay/specialbutton.20171704/bzxczv0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,411},{151,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,191}}</string>
                <key>sourceSize</key>
                <string>{151,191}</string>
            </dict>
            <key>new.repay/specialbutton.20171704/l气泡定版0000</key>
            <dict>
                <key>frame</key>
                <string>{{306,879},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>new.repay/specialbutton.20171704/market_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{830,224},{160,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,158}</string>
            </dict>
            <key>new.repay/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1098,120},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>pay_icon/icon_ali_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1021,941},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_ali_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{1043,645},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>pay_icon/icon_huawei_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1021,855},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_huawei_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{935,1003},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>pay_icon/icon_mi_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{935,855},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_mi_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{1042,696},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>pay_icon/icon_mobile_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{849,941},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_mobile_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{503,1026},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>pay_icon/icon_qihoo_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{849,854},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_qihoo_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{935,942},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>pay_icon/icon_qqwallet_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{957,768},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_qqwallet_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{129,1046},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>pay_icon/icon_sms_union_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{870,768},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_sms_union_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{996,1027},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>pay_icon/icon_telecom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{956,681},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_telecom_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{738,1046},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>pay_icon/icon_unicom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{870,681},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_unicom_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{1043,594},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>pay_icon/icon_wdj_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{783,691},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_wdj_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{849,1028},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>pay_icon/icon_wechat_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{957,594},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>pay_icon/icon_wechat_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{1043,756},{61,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,56}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>pay_panel_repay/cells/payBgSscale90000</key>
            <dict>
                <key>frame</key>
                <string>{{757,862},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>redDotBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{561,1026},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>res.PayCoin/goods_10k0000</key>
            <dict>
                <key>frame</key>
                <string>{{1004,316},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>res.PayCoin/goods_20k0000</key>
            <dict>
                <key>frame</key>
                <string>{{198,872},{106,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,137}}</string>
                <key>sourceSize</key>
                <string>{106,137}</string>
            </dict>
            <key>res.PayCoin/goods_30k0000</key>
            <dict>
                <key>frame</key>
                <string>{{636,731},{129,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,136}}</string>
                <key>sourceSize</key>
                <string>{129,136}</string>
            </dict>
            <key>res.PayCoin/goods_40k0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,604},{139,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,125}}</string>
                <key>sourceSize</key>
                <string>{139,125}</string>
            </dict>
            <key>weekly_target_2017_s4/cells/labelBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{858,530},{150,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,62}}</string>
                <key>sourceSize</key>
                <string>{150,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuyConfirmPanel.png</string>
            <key>size</key>
            <string>{1108,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1add3552e9998fde6649a98d95582bd:52f3d9467993a8521734bb2f4cfaf1d4:e22f6b97d005ae955e1f0ca587c1bd85$</string>
            <key>textureFileName</key>
            <string>BuyConfirmPanel.png</string>
        </dict>
    </dict>
</plist>
