<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ali_market_panel/IconCheck0000</key>
            <dict>
                <key>frame</key>
                <string>{{531,341},{50,40}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>ali_market_panel/checkBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{531,393},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>ali_market_panel/icon_help_green__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{515,433},{63,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>buy_gold_items/cells/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{423,433},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>buy_gold_items/cells/bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{439,341},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>buy_gold_items/cells/clearRecordBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{266,493},{144,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,41}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>buy_gold_items/cells/extraFlag0000</key>
            <dict>
                <key>frame</key>
                <string>{{408,536},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>buy_gold_items/cells/goldIcon10000</key>
            <dict>
                <key>frame</key>
                <string>{{266,406},{155,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>buy_gold_items/cells/goldIcon20000</key>
            <dict>
                <key>frame</key>
                <string>{{266,306},{171,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,98}}</string>
                <key>sourceSize</key>
                <string>{171,98}</string>
            </dict>
            <key>buy_gold_items/cells/goldIcon30000</key>
            <dict>
                <key>frame</key>
                <string>{{456,180},{159,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,109}}</string>
                <key>sourceSize</key>
                <string>{159,109}</string>
            </dict>
            <key>buy_gold_items/cells/goldIcon40000</key>
            <dict>
                <key>frame</key>
                <string>{{147,359},{191,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,117}}</string>
                <key>sourceSize</key>
                <string>{191,117}</string>
            </dict>
            <key>buy_gold_items/cells/goldIcon50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{254,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,177}}</string>
                <key>sourceSize</key>
                <string>{254,177}</string>
            </dict>
            <key>buy_gold_items/cells/goldIconSpecial0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{225,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,143}}</string>
                <key>sourceSize</key>
                <string>{225,143}</string>
            </dict>
            <key>buy_gold_items/cells/lightBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{569,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,176}}</string>
                <key>sourceSize</key>
                <string>{571,176}</string>
            </dict>
            <key>buy_gold_items/cells/payHelpBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{266,536},{140,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,41}}</string>
                <key>sourceSize</key>
                <string>{140,41}</string>
            </dict>
            <key>buy_gold_items/cells/salesOffFlag0000</key>
            <dict>
                <key>frame</key>
                <string>{{258,180},{196,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,124}}</string>
                <key>sourceSize</key>
                <string>{196,124}</string>
            </dict>
            <key>third_party_link_item/thirdPartyLinkBtnLabel0000</key>
            <dict>
                <key>frame</key>
                <string>{{147,552},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>wenkan_add/safsa7g8fds7g87dsjhnjrewbjbdshgfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{515,498},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuyGoldItem.png</string>
            <key>size</key>
            <string>{586,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5ad0b0f851a6d6f3e5d691e0157515:2ea231fcc58bfa575d20a7cbd4a8b13d:e4701cc5b05f5de11aae44759ea4804b$</string>
            <key>textureFileName</key>
            <string>BuyGoldItem.png</string>
        </dict>
    </dict>
</plist>
