<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconCheck0000</key>
            <dict>
                <key>frame</key>
                <string>{{323,458},{50,40}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>Line0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,3}}</string>
                <key>sourceSize</key>
                <string>{497,3}</string>
            </dict>
            <key>NewAliPaymentIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,305},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>NewIconWeChat0000</key>
            <dict>
                <key>frame</key>
                <string>{{242,417},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>WDJ_ICON0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{93,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{93,116}}</string>
                <key>sourceSize</key>
                <string>{121,126}</string>
            </dict>
            <key>checkBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{375,458},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>choosePayment/alipay_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{239,201},{90,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{94,126}</string>
            </dict>
            <key>choosePayment/duoku_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{247,293},{83,122}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{91,122}</string>
            </dict>
            <key>choosePayment/mi_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{120,404},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>choosePayment/we_chat_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{113,214},{90,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,124}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>choosePayment/wechat_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{109,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,183}}</string>
                <key>sourceSize</key>
                <string>{109,183}</string>
            </dict>
            <key>choosePayment/wechat_icon10000</key>
            <dict>
                <key>frame</key>
                <string>{{375,99},{108,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>choosePayment_chinaMobile0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,306},{96,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,135}</string>
            </dict>
            <key>choosePayment_chinaTelecom0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{106,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,137}}</string>
                <key>sourceSize</key>
                <string>{106,137}</string>
            </dict>
            <key>choosePayment_chinaUnicom0000</key>
            <dict>
                <key>frame</key>
                <string>{{363,209},{94,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,137}}</string>
                <key>sourceSize</key>
                <string>{94,137}</string>
            </dict>
            <key>discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{422,305},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,61}</string>
            </dict>
            <key>discountBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{332,395},{79,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,61}</string>
            </dict>
            <key>icon_help_green0000</key>
            <dict>
                <key>frame</key>
                <string>{{422,368},{63,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,62}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>midashi0000</key>
            <dict>
                <key>frame</key>
                <string>{{238,97},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>new_alipayment_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{395,7},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>paymentPanel_buttonBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{113,83},{123,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,129}}</string>
                <key>sourceSize</key>
                <string>{123,129}</string>
            </dict>
            <key>qihoo_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{254,7},{88,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,139}}</string>
                <key>sourceSize</key>
                <string>{88,139}</string>
            </dict>
            <key>titleAliPayment0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{250,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{250,74}}</string>
                <key>sourceSize</key>
                <string>{268,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choose_payment_panel.png</string>
            <key>size</key>
            <string>{502,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756bd165bc789095e249916cc7e67e9f:76fa2a8d90c5081d20379b34c031f7e9:e551a3366fecb8bcb921987f623eab92$</string>
            <key>textureFileName</key>
            <string>choose_payment_panel.png</string>
        </dict>
    </dict>
</plist>
