<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CoinInfoPanelimg/close0000</key>
            <dict>
                <key>frame</key>
                <string>{{312,298},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>CoinInfoPanelimg/node10000</key>
            <dict>
                <key>frame</key>
                <string>{{94,249},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,100}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>CoinInfoPanelimg/node2sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>CoinInfoPanelimg/node3sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{100,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,92}}</string>
                <key>sourceSize</key>
                <string>{102,94}</string>
            </dict>
            <key>CoinInfoPanelimg/node4sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{104,129},{118,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,76}}</string>
                <key>sourceSize</key>
                <string>{122,80}</string>
            </dict>
            <key>CoinInfoPanelimg/node50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,125}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>CoinInfoPanelimg/node60000</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{143,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,119}}</string>
                <key>sourceSize</key>
                <string>{143,119}</string>
            </dict>
            <key>CoinInfoPanelimg/splitShape0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{191,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{191,10}}</string>
                <key>sourceSize</key>
                <string>{199,10}</string>
            </dict>
            <key>CoinInfoPanelimg/title10000</key>
            <dict>
                <key>frame</key>
                <string>{{210,123},{214,66}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{214,66}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>CoinInfoPanelimg/title20000</key>
            <dict>
                <key>frame</key>
                <string>{{278,123},{203,32}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{203,32}}</string>
                <key>sourceSize</key>
                <string>{215,44}</string>
            </dict>
            <key>CoinInfoPanelimg/title30000</key>
            <dict>
                <key>frame</key>
                <string>{{312,123},{173,32}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{173,32}}</string>
                <key>sourceSize</key>
                <string>{193,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_info_panel.png</string>
            <key>size</key>
            <string>{355,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b49f080b2c7601cd62a7c3b7e487951:2a1898515095364138bb5c3a44a3c20a:eee1be3e22014af2fe8373d923a15a0b$</string>
            <key>textureFileName</key>
            <string>coin_info_panel.png</string>
        </dict>
    </dict>
</plist>
