<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>broadcast/area.task.ui/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>broadcast/b_assets__/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,102}}</string>
                <key>sourceSize</key>
                <string>{607,102}</string>
            </dict>
            <key>broadcast/b_assets__/countTime__0000</key>
            <dict>
                <key>frame</key>
                <string>{{214,106},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>broadcast/b_assets__/icon10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{162,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,168}}</string>
                <key>sourceSize</key>
                <string>{162,168}</string>
            </dict>
            <key>broadcast/b_assets__/icon20000</key>
            <dict>
                <key>frame</key>
                <string>{{197,330},{139,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,100}}</string>
                <key>sourceSize</key>
                <string>{139,100}</string>
            </dict>
            <key>broadcast/b_assets__/wechatFriendPayTip/logLink0000</key>
            <dict>
                <key>frame</key>
                <string>{{166,330},{141,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,29}}</string>
                <key>sourceSize</key>
                <string>{141,29}</string>
            </dict>
            <key>broadcast/b_assets__/xiaoDongxi_0000</key>
            <dict>
                <key>frame</key>
                <string>{{256,471},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>broadcast/personinfopic/chakan0000</key>
            <dict>
                <key>frame</key>
                <string>{{256,573},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>broadcast/weq0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,500},{154,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,101}}</string>
                <key>sourceSize</key>
                <string>{154,101}</string>
            </dict>
            <key>broadcast/wqwqwq0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{222,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,210}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommonMessage.png</string>
            <key>size</key>
            <string>{611,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:480d1519e6c0b6ec123f0b31f1af84bc:5921f0735247801121d33aacd1aa7f36:e9e9c11cea970035745066e9bd32d252$</string>
            <key>textureFileName</key>
            <string>CommonMessage.png</string>
        </dict>
    </dict>
</plist>
