<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_pay_icon/pay_icon/icon_ali_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{174,88},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_ali_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{261,139},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_huawei_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{88,262},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_huawei_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{297,246},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_mi_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{88,175},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_mi_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{236,190},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_mobile_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_mobile_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{174,305},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_qihoo_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_qihoo_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{174,230},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_qqwallet_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_qqwallet_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_sms_union_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_sms_union_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{232,305},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_telecom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_telecom_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{287,305},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_unicom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_unicom_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{261,88},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{63,49}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_wdj_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_wdj_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{235,250},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_wechat_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>common_pay_icon/pay_icon/icon_wechat_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{297,190},{59,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_pay_icon.png</string>
            <key>size</key>
            <string>{364,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee725c8e664f8345f00a155525a255a6:7a70dff4646da67f200d37632c82dc27:c238aa35994a6140cec96b05a7037825$</string>
            <key>textureFileName</key>
            <string>common_pay_icon.png</string>
        </dict>
    </dict>
</plist>
