<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>consumeHistory/arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{64,203},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>consumeHistory/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{88,7},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>consumeHistory/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,3}}</string>
                <key>sourceSize</key>
                <string>{221,3}</string>
            </dict>
            <key>consumeHistory/loadingIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{118,137},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>consumeHistory/subTitleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{64,149},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>consumeHistory/titleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>other_btns/cells/clearRecordBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{144,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,41}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>other_btns/cells/payHelpBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{45,7},{140,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,41}}</string>
                <key>sourceSize</key>
                <string>{140,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>consume_history.png</string>
            <key>size</key>
            <string>{225,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a4a5bc2e1a014082bb1f5028a9f752:e04f422dd3a55267f559a8159d3b79f0:cc7191103a8aa2f78043a67a021d9fa4$</string>
            <key>textureFileName</key>
            <string>consume_history.png</string>
        </dict>
    </dict>
</plist>
