<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>custom.display.quality/d/元件 200000</key>
            <dict>
                <key>frame</key>
                <string>{{467,268},{150,132}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,132}}</string>
                <key>sourceSize</key>
                <string>{162,140}</string>
            </dict>
            <key>custom.display.quality/d/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{472,72}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{472,72}}</string>
                <key>sourceSize</key>
                <string>{508,88}</string>
            </dict>
            <key>custom.display.quality/dsqwqewq0000</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{32,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>custom.display.quality/radio/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{231,266}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{231,266}}</string>
                <key>sourceSize</key>
                <string>{275,292}</string>
            </dict>
            <key>custom.display.quality/radio/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{230,264}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{230,264}}</string>
                <key>sourceSize</key>
                <string>{286,282}</string>
            </dict>
            <key>custom.display.quality/radio/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{235,310},{230,266}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{230,266}}</string>
                <key>sourceSize</key>
                <string>{266,308}</string>
            </dict>
            <key>custom.display.quality/radio/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{467,402},{77,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{81,68}</string>
            </dict>
            <key>custom.display.quality/radio/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{533,402},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>custom.display.quality/set/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{486,4}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{486,4}}</string>
                <key>sourceSize</key>
                <string>{496,4}</string>
            </dict>
            <key>custom.display.quality/set/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,306}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{280,306}}</string>
                <key>sourceSize</key>
                <string>{314,318}</string>
            </dict>
            <key>custom.display.quality/set/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{467,490},{84,87}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>customDisplayQuality.png</string>
            <key>size</key>
            <string>{652,652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc93da7c6bb235cad0241d8a79f5fc64:c366fa57f187f50e4e91026edba90164:a753b6c11079f9e3290eb7aba59b2768$</string>
            <key>textureFileName</key>
            <string>customDisplayQuality.png</string>
        </dict>
    </dict>
</plist>
