<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit_alert_panel/__resource/exit_bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{643,643},{639,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,706}}</string>
                <key>sourceSize</key>
                <string>{639,706}</string>
            </dict>
            <key>exit_alert_panel/__resource/exit_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{639,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,706}}</string>
                <key>sourceSize</key>
                <string>{639,706}</string>
            </dict>
            <key>exit_alert_panel/__resource/exit_bg30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{639,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,706}}</string>
                <key>sourceSize</key>
                <string>{639,706}</string>
            </dict>
            <key>exit_alert_panel/__resource/exit_bg40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,706}}</string>
                <key>sourceSize</key>
                <string>{639,706}</string>
            </dict>
            <key>exit_alert_panel/__resource/lable10000</key>
            <dict>
                <key>frame</key>
                <string>{{1351,152},{112,45}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{112,45}}</string>
                <key>sourceSize</key>
                <string>{150,57}</string>
            </dict>
            <key>exit_alert_panel/__resource/lable20000</key>
            <dict>
                <key>frame</key>
                <string>{{1351,266},{76,45}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,45}}</string>
                <key>sourceSize</key>
                <string>{84,57}</string>
            </dict>
            <key>exit_alert_panel/__resource/lable40000</key>
            <dict>
                <key>frame</key>
                <string>{{1351,2},{148,45}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{148,45}}</string>
                <key>sourceSize</key>
                <string>{156,57}</string>
            </dict>
            <key>exit_alert_panel/__resource/okBtn__0000</key>
            <dict>
                <key>frame</key>
                <string>{{1284,922},{228,124}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{228,124}}</string>
                <key>sourceSize</key>
                <string>{236,132}</string>
            </dict>
            <key>exit_alert_panel/__resource/元件 1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1284,643},{277,134}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,134}}</string>
                <key>sourceSize</key>
                <string>{283,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exit_alert_panel.png</string>
            <key>size</key>
            <string>{1420,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1e68e7e21ba5c5ed247d3bd571ca41:d0020726478572c29886450f476d877d:f576230ef0a81cbb1bfe23d3189fc393$</string>
            <key>textureFileName</key>
            <string>exit_alert_panel.png</string>
        </dict>
    </dict>
</plist>
