<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fcm/icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>fcm/ui_brown_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{222,132},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>fcm/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>fcm/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>fcm/ui_yellow_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fcmpanel.png</string>
            <key>size</key>
            <string>{352,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a8493816f7423700d95737a48e3d89:f4593008c388775f5c969548ddf7146e:40b06c14035e616b2945c7a3c21c2410$</string>
            <key>textureFileName</key>
            <string>fcmpanel.png</string>
        </dict>
    </dict>
</plist>
