<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_white0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,492},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dialogue_for_tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{406,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{406,174}}</string>
                <key>sourceSize</key>
                <string>{410,178}</string>
            </dict>
            <key>dot_for_tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{452,644},{20,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,17}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>ladybug_dfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,584},{71,74}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{71,74}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>ladybug_txt0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,410},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>little_star_jksdf10000</key>
            <dict>
                <key>frame</key>
                <string>{{432,644},{18,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mnhjy78310000</key>
            <dict>
                <key>frame</key>
                <string>{{410,644},{20,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>normalFlowerAnim112fsfdsf0000</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
            <key>normalFlowerAnim2232fdsfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{575,371},{89,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,119}}</string>
                <key>sourceSize</key>
                <string>{89,119}</string>
            </dict>
            <key>share_feed_pic0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,476}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{515,476}}</string>
                <key>sourceSize</key>
                <string>{549,508}</string>
            </dict>
            <key>star_bg_green_dd0000</key>
            <dict>
                <key>frame</key>
                <string>{{575,207},{162,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{162,89}}</string>
                <key>sourceSize</key>
                <string>{172,97}</string>
            </dict>
            <key>star_bg_purple0000</key>
            <dict>
                <key>frame</key>
                <string>{{410,480},{162,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{162,88}}</string>
                <key>sourceSize</key>
                <string>{172,98}</string>
            </dict>
            <key>star_golden0000</key>
            <dict>
                <key>frame</key>
                <string>{{592,492},{73,72}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{73,72}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>star_purple0000</key>
            <dict>
                <key>frame</key>
                <string>{{577,123},{73,73}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{73,73}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>title10000</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{203,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{203,56}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
            <key>title20000</key>
            <dict>
                <key>frame</key>
                <string>{{519,207},{201,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{201,54}}</string>
                <key>sourceSize</key>
                <string>{221,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>four_star_guid.png</string>
            <key>size</key>
            <string>{666,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9170c2543bc50f98db73022c5f45593d:1a99f005242fe0adf13dded69a9b9178:a122878861e82f7c9957e6f2c72d415b$</string>
            <key>textureFileName</key>
            <string>four_star_guid.png</string>
        </dict>
    </dict>
</plist>
