<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FriendsPanel/animal2_add_friend_message_bg_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{348,464},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>FriendsPanel/crownShadowWrapper_ranking_item0000</key>
            <dict>
                <key>frame</key>
                <string>{{248,662},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>FriendsPanel/deprecate/help_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{454,823},{105,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,2}}</string>
                <key>sourceSize</key>
                <string>{105,2}</string>
            </dict>
            <key>FriendsPanel/deprecate/重复项目文件夹/ui_fontsize_rect__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{710,190},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>FriendsPanel/friendRanking_labelBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,507},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>FriendsPanel/message_icon_10000</key>
            <dict>
                <key>frame</key>
                <string>{{199,533},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>FriendsPanel/messageitemhelp/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{710,190},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>FriendsPanel/messageitemhelp/vfdsgh8d9uvjds6g785fd645g4fd56s45gh892h5ruhgfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{384,751},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>FriendsPanel/personinfopic/00000</key>
            <dict>
                <key>frame</key>
                <string>{{222,272},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/approve_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{396,660},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/cellBg30000</key>
            <dict>
                <key>frame</key>
                <string>{{352,372},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/clearance0000</key>
            <dict>
                <key>frame</key>
                <string>{{539,680},{131,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,44}}</string>
                <key>sourceSize</key>
                <string>{131,44}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/crown0000</key>
            <dict>
                <key>frame</key>
                <string>{{159,735},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{700,210},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/itemclose0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,457},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>FriendsPanel/request_message_panel/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{454,249},{572,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,3}}</string>
                <key>sourceSize</key>
                <string>{572,3}</string>
            </dict>
            <key>FriendsPanel/request_message_panel_ph0000</key>
            <dict>
                <key>frame</key>
                <string>{{700,190},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>_res.Friend1902/item_bgs/bg_owner0000</key>
            <dict>
                <key>frame</key>
                <string>{{222,441},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_res.Friend1902/item_bgs/bg_selected0000</key>
            <dict>
                <key>frame</key>
                <string>{{353,280},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>_res.Friend1902/newUI/bg_inner0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{14,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,450}}</string>
                <key>sourceSize</key>
                <string>{14,450}</string>
            </dict>
            <key>_res.Friend1902/newUI/tab_blue0000</key>
            <dict>
                <key>frame</key>
                <string>{{18,507},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>_res.Friend1902/newUI/tab_hover0000</key>
            <dict>
                <key>frame</key>
                <string>{{647,637},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
            <key>_res.Friend1902/newUI/tab_purple0000</key>
            <dict>
                <key>frame</key>
                <string>{{698,313},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>_res.Friend1902/sortListBtn0000</key>
            <dict>
                <key>frame</key>
                <string>{{348,556},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>_res.Friend1902/元件 1 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{314,485},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>_res.Friend1902/元件 1 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{790,348},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>_res.Friend1902/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{300,662},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>_res.Friend1902/元件 1320000</key>
            <dict>
                <key>frame</key>
                <string>{{709,744},{82,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,69}</string>
            </dict>
            <key>_res.Friend1902/元件 1330000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{719,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,186}}</string>
                <key>sourceSize</key>
                <string>{719,186}</string>
            </dict>
            <key>_res.Friend1902/元件 134 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{18,272},{202,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,183}}</string>
                <key>sourceSize</key>
                <string>{202,183}</string>
            </dict>
            <key>_res.Friend1902/元件 1340000</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{14,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,600}}</string>
                <key>sourceSize</key>
                <string>{14,600}</string>
            </dict>
            <key>_res.Friend1902/元件 1370000</key>
            <dict>
                <key>frame</key>
                <string>{{18,457},{171,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,48}}</string>
                <key>sourceSize</key>
                <string>{171,48}</string>
            </dict>
            <key>_res.Friend1902/元件 138 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{395,710},{39,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>_res.Friend1902/元件 1380000</key>
            <dict>
                <key>frame</key>
                <string>{{647,587},{171,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,48}}</string>
                <key>sourceSize</key>
                <string>{171,48}</string>
            </dict>
            <key>_res.Friend1902/元件 2 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{314,454},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>_res.friends.faq/faqBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{104,596},{69,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>_res.friends.faq/imgFriend0000</key>
            <dict>
                <key>frame</key>
                <string>{{303,607},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>_res.friends.faq/imgMine0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,661},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>_res.friends.faq/redDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>interface/lbNoNetwork0000</key>
            <dict>
                <key>frame</key>
                <string>{{557,381},{270,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,204}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/_assets/_personal_center_auto_add_copy_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,249},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,54}}</string>
                <key>sourceSize</key>
                <string>{99,54}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/inputbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{780,744},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/inputcancel0000</key>
            <dict>
                <key>frame</key>
                <string>{{396,610},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/load0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,704},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/nouserimg0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,190},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/AddFriendPanel2/ui_brown_scale9_invite0000</key>
            <dict>
                <key>frame</key>
                <string>{{585,764},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>interface/res/SearchByIDPanel_res/lbTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{454,190},{244,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,57}}</string>
                <key>sourceSize</key>
                <string>{244,57}</string>
            </dict>
            <key>interface/res/UserPanel_res/NewFriendItemBG_Invited0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,305},{276,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,96}}</string>
                <key>sourceSize</key>
                <string>{276,96}</string>
            </dict>
            <key>interface/res/UserPanel_res/itemadd0000</key>
            <dict>
                <key>frame</key>
                <string>{{284,723},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>interface/res/UserPanel_res/load0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,704},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/Symbol 190000</key>
            <dict>
                <key>frame</key>
                <string>{{585,680},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,60}}</string>
                <key>sourceSize</key>
                <string>{82,60}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/dfsdgdfs_disable0000</key>
            <dict>
                <key>frame</key>
                <string>{{348,610},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/friendRanking_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{336,750},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{710,190},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/ui_commons/ui_transparent_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,515},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>interface/res/friendRankingPanelItem_res/好友底框元件0000</key>
            <dict>
                <key>frame</key>
                <string>{{18,735},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>interface/res/icons/bronzeCrownShadowWrapper0000</key>
            <dict>
                <key>frame</key>
                <string>{{242,610},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>interface/res/icons/silverCrownShadowWrapper0000</key>
            <dict>
                <key>frame</key>
                <string>{{181,610},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>interface/res/message_tabButton_res/ui_fontsize_rect__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{710,190},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>interface/res/ui_buttons/NormalSend.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{723,106},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>interface/res/ui_buttons/NormalSendGrey0000</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>interface/res/ui_buttons/allsel.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{92,667},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>interface/res/ui_buttons/btnDel.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{221,728},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>interface/res/ui_buttons/sync.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{92,735},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>interface/res/wigets/bgLevel20000</key>
            <dict>
                <key>frame</key>
                <string>{{499,680},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>interface/res/wigets/lbAlreadyRequest0000</key>
            <dict>
                <key>frame</key>
                <string>{{314,363},{89,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,36}}</string>
                <key>sourceSize</key>
                <string>{89,36}</string>
            </dict>
            <key>interface/res/wigets/lbAlreadySend0000</key>
            <dict>
                <key>frame</key>
                <string>{{315,272},{89,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,36}}</string>
                <key>sourceSize</key>
                <string>{89,36}</string>
            </dict>
            <key>interface/res/wigets/levelBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,680},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>recommendFriends/cells/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{561,249},{135,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{135,130}</string>
            </dict>
            <key>recommendFriends/cells/sendBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{18,575},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>recommendFriends/cells/sendBtnBottle0000</key>
            <dict>
                <key>frame</key>
                <string>{{200,662},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>recommendFriends/cells/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{23,190},{329,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,80}}</string>
                <key>sourceSize</key>
                <string>{329,80}</string>
            </dict>
            <key>ui/HeadFrame.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{556,587},{89,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,91}}</string>
                <key>sourceSize</key>
                <string>{89,91}</string>
            </dict>
            <key>ui_blue/cell_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{222,349},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_blue/ui_blue_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{709,637},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>ui_blue/ui_button_close_panel_brown_shape0000</key>
            <dict>
                <key>frame</key>
                <string>{{790,313},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>ui_blue/ui_light_blue_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{18,661},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>重复项目文件夹/元件 1330000</key>
            <dict>
                <key>frame</key>
                <string>{{459,583},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>重复项目文件夹/元件 1340000</key>
            <dict>
                <key>frame</key>
                <string>{{160,667},{38,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,65}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>重复项目文件夹/元件 1350000</key>
            <dict>
                <key>frame</key>
                <string>{{282,547},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FriendsPanel.png</string>
            <key>size</key>
            <string>{829,829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a715a3383479b521c67c2c2f5587005:c5ae0d9ad437dd10c09783467d100359:244f664d2099f570979ea8600a39ec50$</string>
            <key>textureFileName</key>
            <string>FriendsPanel.png</string>
        </dict>
    </dict>
</plist>
