<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>get_rewards_bg/321/FLG/assert/qxbtb/assert/未命名文件夹 1/he_animal_1_28_72635991996380000</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>get_rewards_bg/321/FLG/assert/qxbtb/assert/未命名文件夹 2/xf.assert___/sv2018.set.niu 副本 2/e132/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>get_rewards_bg/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>get_rewards_bg/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>get_rewards_bg/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,39},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_rewards_bg.png</string>
            <key>size</key>
            <string>{75,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c6e77f14047353e3cc33fb3cce7e3dd:0f3cf2b968994d40fef9b75a61a9b9ee:b4cadd36130b0689b52224a1f9e01149$</string>
            <key>textureFileName</key>
            <string>get_rewards_bg.png</string>
        </dict>
    </dict>
</plist>
