<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GiftPack.EndGame/cellx/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{378,162},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>GiftPack.EndGame/cellx/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{505,314},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>GiftPack.EndGame/cellx/song0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,512},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,57}}</string>
                <key>sourceSize</key>
                <string>{62,57}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/gold10000</key>
            <dict>
                <key>frame</key>
                <string>{{230,257},{147,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,95}}</string>
                <key>sourceSize</key>
                <string>{147,95}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/gold20000</key>
            <dict>
                <key>frame</key>
                <string>{{230,406},{147,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,92}}</string>
                <key>sourceSize</key>
                <string>{147,92}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/gold_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{530,199},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/lefttop0000</key>
            <dict>
                <key>frame</key>
                <string>{{419,314},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{538,109},{88,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,13}}</string>
                <key>sourceSize</key>
                <string>{88,13}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/more0000</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{105,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,30}}</string>
                <key>sourceSize</key>
                <string>{105,30}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/newer2gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{308,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,226}}</string>
                <key>sourceSize</key>
                <string>{308,226}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/newer2xiangou0000</key>
            <dict>
                <key>frame</key>
                <string>{{324,406},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/newerbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{327,314},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/normalbg10000</key>
            <dict>
                <key>frame</key>
                <string>{{438,468},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/normalbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{500,450},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/nwerbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{438,406},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/prombg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,253}}</string>
                <key>sourceSize</key>
                <string>{374,253}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/songsong0000</key>
            <dict>
                <key>frame</key>
                <string>{{324,520},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/timeicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{530,241},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/windmillbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{505,388},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>GiftPack.EndGame/newer/cell/zhe0000</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GiftPackEndGamePanel.png</string>
            <key>size</key>
            <string>{573,573}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e734599e9001ef7b074465bed805d2fd:1a2a74008c0aa9546f37855bedd456b9:96193d034adc7b3a5c32b6bbbb208ea1$</string>
            <key>textureFileName</key>
            <string>GiftPackEndGamePanel.png</string>
        </dict>
    </dict>
</plist>
