<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giftpack.energy/panelmarkenergynotionce_sunshine_image0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{141,141}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>giftpack.energy/sprite/panelmarkenergynotionce_item0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{103,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,126}}</string>
                <key>sourceSize</key>
                <string>{103,126}</string>
            </dict>
            <key>giftpack.energy/sprite/panelmarkenergynotionce_lightitem0000</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>giftpack.energy/sprite/panelmarkenergynotionce_number0000</key>
            <dict>
                <key>frame</key>
                <string>{{145,67},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>giftpack.energy/sprite/panelmarkenergynotionce_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{130,145},{96,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GiftPackEnergy.png</string>
            <key>size</key>
            <string>{250,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c051fa18913decfac08003d821c713c:18f94042928e8ee081c4ce3344985586:92964f13e331302716ae0c52fff48030$</string>
            <key>textureFileName</key>
            <string>GiftPackEnergy.png</string>
        </dict>
    </dict>
</plist>
