<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>homeSceneIconTipPanel/newTipBg_23120000</key>
            <dict>
                <key>frame</key>
                <string>{{585,235},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>homeSceneIconTipPanel/rankracetipicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{227,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,225}}</string>
                <key>sourceSize</key>
                <string>{227,225}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{229,470},{219,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,227}}</string>
                <key>sourceSize</key>
                <string>{219,227}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{332,235},{233,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,251}}</string>
                <key>sourceSize</key>
                <string>{233,251}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,244}}</string>
                <key>sourceSize</key>
                <string>{328,244}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{282,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,231}}</string>
                <key>sourceSize</key>
                <string>{282,231}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{291,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,176}}</string>
                <key>sourceSize</key>
                <string>{291,176}</string>
            </dict>
            <key>homeSceneIconTipPanel/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{458,470},{221,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,213}}</string>
                <key>sourceSize</key>
                <string>{221,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HomeSceneIconTipPanel.png</string>
            <key>size</key>
            <string>{691,691}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41e0684c6a1305ac65d0da684c3e538f:4905aa38d0e2807a17c198a8a4f0a8a4:1563425dcfd4dbc3984c0d385d37d0d3$</string>
            <key>textureFileName</key>
            <string>HomeSceneIconTipPanel.png</string>
        </dict>
    </dict>
</plist>
