<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huawei_ali_pay_guide_new/cardGuide0000</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{258,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{258,33}}</string>
                <key>sourceSize</key>
                <string>{258,41}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/dian0000</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/huawei_payguide_page10000</key>
            <dict>
                <key>frame</key>
                <string>{{125,934},{1,1}}</string>
                <key>offset</key>
                <string>{-35.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/liangquan0000</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1079,934},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1059,2},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_30000</key>
            <dict>
                <key>frame</key>
                <string>{{612,934},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_40000</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_50000</key>
            <dict>
                <key>frame</key>
                <string>{{145,934},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/page_60000</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{465,930}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,930}}</string>
                <key>sourceSize</key>
                <string>{465,930}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/png_440000</key>
            <dict>
                <key>frame</key>
                <string>{{1546,37},{579,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,103}}</string>
                <key>sourceSize</key>
                <string>{579,103}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/png_ll0000</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{57,936}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,936}}</string>
                <key>sourceSize</key>
                <string>{57,936}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/png_rr0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,936}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,936}}</string>
                <key>sourceSize</key>
                <string>{62,936}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/png_tt0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{582,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,141}}</string>
                <key>sourceSize</key>
                <string>{582,141}</string>
            </dict>
            <key>huawei_ali_pay_guide_new/title_huawei0000</key>
            <dict>
                <key>frame</key>
                <string>{{1651,37},{355,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{355,70}}</string>
                <key>sourceSize</key>
                <string>{373,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huawei_ali_pay_guide.png</string>
            <key>size</key>
            <string>{1866,1866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e6f37ce14981b7006afed8c438c1379:7483461bcc681c1cc9c9a8cf6fd5e3fc:b621a10502dc32ee36b899fc9787fd2b$</string>
            <key>textureFileName</key>
            <string>huawei_ali_pay_guide.png</string>
        </dict>
    </dict>
</plist>
