<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>InviteFriendPanel_discountbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{668,154},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>Symbol 600000</key>
			<dict>
				<key>frame</key>
				<string>{{374,134},{110,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,96}}</string>
				<key>sourceSize</key>
				<string>{110,96}</string>
			</dict>
			<key>_assets/defaultImg0000</key>
			<dict>
				<key>frame</key>
				<string>{{486,134},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,98}}</string>
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>alphe0btnbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{213,174},{84,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,72}}</string>
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>cdkjsahjfhuisdahf0000</key>
			<dict>
				<key>frame</key>
				<string>{{724,2},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,220}}</string>
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>dsfjasidyfuidsuiafsd0000</key>
			<dict>
				<key>frame</key>
				<string>{{668,224},{33,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,20}}</string>
				<key>sourceSize</key>
				<string>{33,20}</string>
			</dict>
			<key>fds6t4cdvasrweds0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,213},{69,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{69,33}}</string>
				<key>sourceSize</key>
				<string>{69,33}</string>
			</dict>
			<key>fdw532sfsr3rewe0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,134},{370,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,38}}</string>
				<key>sourceSize</key>
				<string>{370,38}</string>
			</dict>
			<key>foregroundYellowBar0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,101},{530,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,31}}</string>
				<key>sourceSize</key>
				<string>{530,31}</string>
			</dict>
			<key>inviteFriend_WDJ_Symbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{299,174},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>inviteFriend_weChat_Symbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{946,2},{74,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,65}}</string>
				<key>sourceSize</key>
				<string>{74,65}</string>
			</dict>
			<key>invite_friend_rule_btn_dkjakfdsfjkdjkfdk0000</key>
			<dict>
				<key>frame</key>
				<string>{{586,101},{136,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,51}}</string>
				<key>sourceSize</key>
				<string>{136,51}</string>
			</dict>
			<key>invite_friend_semi_transparent_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{720,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{720,97}}</string>
				<key>sourceSize</key>
				<string>{720,97}</string>
			</dict>
			<key>n43tesfsddq232qdas0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,174},{209,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,37}}</string>
				<key>sourceSize</key>
				<string>{209,37}</string>
			</dict>
			<key>元件 230000</key>
			<dict>
				<key>frame</key>
				<string>{{534,101},{37,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,31}}</string>
				<key>sourceSize</key>
				<string>{37,31}</string>
			</dict>
			<key>刷新0000</key>
			<dict>
				<key>frame</key>
				<string>{{586,154},{80,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,-2},{80,76}}</string>
				<key>sourceSize</key>
				<string>{80,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>invite_friend_reward_panel.png</string>
			<key>size</key>
			<string>{1024,250}</string>
			<key>textureFileName</key>
			<string>invite_friend_reward_panel.png</string>
		</dict>
	</dict>
</plist>
