<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ios_ali_pay_guide_new/cardGuide0000</key>
            <dict>
                <key>frame</key>
                <string>{{779,88},{258,33}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{258,33}}</string>
                <key>sourceSize</key>
                <string>{258,41}</string>
            </dict>
            <key>ios_ali_pay_guide_new/dian0000</key>
            <dict>
                <key>frame</key>
                <string>{{816,69},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ios_ali_pay_guide_new/downBanner0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,348},{487,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,72}}</string>
                <key>sourceSize</key>
                <string>{487,72}</string>
            </dict>
            <key>ios_ali_pay_guide_new/ios_payguide_page10000</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{1,1}}</string>
                <key>offset</key>
                <string>{-35.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ios_ali_pay_guide_new/ios_payguide_phone_down0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,161},{582,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,168}}</string>
                <key>sourceSize</key>
                <string>{582,168}</string>
            </dict>
            <key>ios_ali_pay_guide_new/ios_payguide_phone_left0000</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{46,843}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,843}}</string>
                <key>sourceSize</key>
                <string>{68,843}</string>
            </dict>
            <key>ios_ali_pay_guide_new/ios_payguide_phone_top0000</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{584,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,157}}</string>
                <key>sourceSize</key>
                <string>{584,157}</string>
            </dict>
            <key>ios_ali_pay_guide_new/liangquan0000</key>
            <dict>
                <key>frame</key>
                <string>{{816,46},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ios_ali_pay_guide_new/res/title20000</key>
            <dict>
                <key>frame</key>
                <string>{{762,348},{352,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{352,70}}</string>
                <key>sourceSize</key>
                <string>{368,88}</string>
            </dict>
            <key>ios_ali_pay_guide_new/res/titleAli0000</key>
            <dict>
                <key>frame</key>
                <string>{{690,262},{407,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{407,70}}</string>
                <key>sourceSize</key>
                <string>{425,88}</string>
            </dict>
            <key>ios_ali_pay_guide_new/wqwq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{180,702},{351,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{351,70}}</string>
                <key>sourceSize</key>
                <string>{369,88}</string>
            </dict>
            <key>ios_ali_pay_guide_new/wqwq/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{122,84}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,84}}</string>
                <key>sourceSize</key>
                <string>{128,90}</string>
            </dict>
            <key>ios_ali_pay_guide_new/wqwq/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{690,175},{85,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ios_ali_pay_guide_new/wqwq/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{692,88},{85,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>ios_ali_pay_guide_new/wqwq/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>ios_ali_pay_guide_new/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,843}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{54,843}}</string>
                <key>sourceSize</key>
                <string>{80,843}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ios_ali_pay_guide.png</string>
            <key>size</key>
            <string>{847,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7573bed33c3a150358dcc1b25162ac3:3d68225a8fa9ee94c16ecaabc508b5da:76b876c18a12de98815df48dd5e3cbd2$</string>
            <key>textureFileName</key>
            <string>ios_ali_pay_guide.png</string>
        </dict>
    </dict>
</plist>
