<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asghfhfh0000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{284,380}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,380}}</string>
                <key>sourceSize</key>
                <string>{288,384}</string>
            </dict>
            <key>dian0000</key>
            <dict>
                <key>frame</key>
                <string>{{1707,312},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ios_cartoon_panel_title0000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,288},{258,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{258,76}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>ios_pay_help_bubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,366},{235,124}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,124}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>ios_payguide_page10000</key>
            <dict>
                <key>frame</key>
                <string>{{492,492},{488,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,871}}</string>
                <key>sourceSize</key>
                <string>{488,871}</string>
            </dict>
            <key>ios_payguide_page20000</key>
            <dict>
                <key>frame</key>
                <string>{{822,1134},{488,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,871}}</string>
                <key>sourceSize</key>
                <string>{488,871}</string>
            </dict>
            <key>ios_payguide_page30000</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{488,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,871}}</string>
                <key>sourceSize</key>
                <string>{488,871}</string>
            </dict>
            <key>ios_payguide_page40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{488,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,871}}</string>
                <key>sourceSize</key>
                <string>{488,871}</string>
            </dict>
            <key>ios_payguide_page50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,871}}</string>
                <key>sourceSize</key>
                <string>{488,871}</string>
            </dict>
            <key>ios_payguide_phone_down0000</key>
            <dict>
                <key>frame</key>
                <string>{{652,1134},{582,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,168}}</string>
                <key>sourceSize</key>
                <string>{582,168}</string>
            </dict>
            <key>ios_payguide_phone_left0000</key>
            <dict>
                <key>frame</key>
                <string>{{822,1624},{68,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,844}}</string>
                <key>sourceSize</key>
                <string>{68,844}</string>
            </dict>
            <key>ios_payguide_phone_right0000</key>
            <dict>
                <key>frame</key>
                <string>{{1625,288},{80,844}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,844}}</string>
                <key>sourceSize</key>
                <string>{80,844}</string>
            </dict>
            <key>ios_payguide_phone_top0000</key>
            <dict>
                <key>frame</key>
                <string>{{492,1134},{584,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,158}}</string>
                <key>sourceSize</key>
                <string>{584,158}</string>
            </dict>
            <key>liangquan0000</key>
            <dict>
                <key>frame</key>
                <string>{{1707,288},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ios_pay_guide_help.png</string>
            <key>size</key>
            <string>{1748,1748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93e8eeb370d4a3f212f04d76a056e6ea:87dc0c02e70eae146fd1be9acfcf38b4:4c2a7c2f3393052c2ce603a013e89bf8$</string>
            <key>textureFileName</key>
            <string>ios_pay_guide_help.png</string>
        </dict>
    </dict>
</plist>
