<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2016_03_28_add/cells/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{700,407},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>2016_03_28_add/cells/zhe0000</key>
            <dict>
                <key>frame</key>
                <string>{{578,529},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>2016_04_29_add/cells/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{153,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,4}}</string>
                <key>sourceSize</key>
                <string>{153,4}</string>
            </dict>
            <key>ios_promotion_ali_guide_link/ui_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{155,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,48}}</string>
                <key>sourceSize</key>
                <string>{155,48}</string>
            </dict>
            <key>normal_panel/cells/bg30000</key>
            <dict>
                <key>frame</key>
                <string>{{629,651},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>normal_panel/cells/bubbleBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{337,586},{161,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>normal_panel/cells/coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,586},{127,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,131}}</string>
                <key>sourceSize</key>
                <string>{127,131}</string>
            </dict>
            <key>normal_panel/cells/flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{717,315},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>normal_panel/cells/light0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{333,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,161}}</string>
                <key>sourceSize</key>
                <string>{335,161}</string>
            </dict>
            <key>normal_panel/cells/redLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{159,749},{71,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{71,20}</string>
            </dict>
            <key>normal_panel/cells/star0000</key>
            <dict>
                <key>frame</key>
                <string>{{717,228},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>normal_panel/cells/titleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{574,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,107}}</string>
                <key>sourceSize</key>
                <string>{574,107}</string>
            </dict>
            <key>special_panel/cells/add0000</key>
            <dict>
                <key>frame</key>
                <string>{{751,504},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>special_panel/cells/bg40000</key>
            <dict>
                <key>frame</key>
                <string>{{629,529},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>special_panel/cells/bg50000</key>
            <dict>
                <key>frame</key>
                <string>{{578,407},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>special_panel/cells/bubbleBg20000</key>
            <dict>
                <key>frame</key>
                <string>{{540,228},{175,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>special_panel/cells/cloud0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{536,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{536,247}}</string>
                <key>sourceSize</key>
                <string>{538,249}</string>
            </dict>
            <key>special_panel/cells/dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{540,407},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>special_panel/cells/titleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{747,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,224}}</string>
                <key>sourceSize</key>
                <string>{749,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IosSalesPromotion.png</string>
            <key>size</key>
            <string>{799,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b009512dfbc240bd639038f300410770:1f51ac016488fe4e08a477f0c0e518ae:d2174da55763de2c02c124d77972fdde$</string>
            <key>textureFileName</key>
            <string>IosSalesPromotion.png</string>
        </dict>
    </dict>
</plist>
