<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_strategy/cells/bar0000</key>
            <dict>
                <key>frame</key>
                <string>{{389,49},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>level_strategy/cells/barBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,45}}</string>
                <key>sourceSize</key>
                <string>{400,45}</string>
            </dict>
            <key>level_strategy/cells/barBg20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{385,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,40}}</string>
                <key>sourceSize</key>
                <string>{385,40}</string>
            </dict>
            <key>level_strategy/cells/guideTipBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{329,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,257}}</string>
                <key>sourceSize</key>
                <string>{329,257}</string>
            </dict>
            <key>level_strategy/cells/playBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{261,115},{152,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,157}}</string>
                <key>sourceSize</key>
                <string>{152,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelStrategy.png</string>
            <key>size</key>
            <string>{422,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f2949dc574b62d1f4339e669fff6b0:2a7928b801996510680ceafecc05556a:2dcd95e2d9408a87419da6b5c6b1c530$</string>
            <key>textureFileName</key>
            <string>LevelStrategy.png</string>
        </dict>
    </dict>
</plist>
