<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoginAlertPanel/_assets/bg_2af0000</key>
            <dict>
                <key>frame</key>
                <string>{{451,459},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>LoginAlertPanel/_assets/bmp/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{356,459},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>LoginAlertPanel/_assets/bmp/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{262,137},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>LoginAlertPanel/_assets/dup_ce/level_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{262,291},{139,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,190}}</string>
                <key>sourceSize</key>
                <string>{139,190}</string>
            </dict>
            <key>LoginAlertPanel/_assets/g_btn_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{352,107},{182,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,112}}</string>
                <key>sourceSize</key>
                <string>{182,112}</string>
            </dict>
            <key>LoginAlertPanel/_assets_2/loginBtn_0000</key>
            <dict>
                <key>frame</key>
                <string>{{356,68},{113,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,37}}</string>
                <key>sourceSize</key>
                <string>{113,37}</string>
            </dict>
            <key>LoginAlertPanel/barBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{426,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,48}}</string>
                <key>sourceSize</key>
                <string>{426,48}</string>
            </dict>
            <key>LoginAlertPanel/bar_content0000</key>
            <dict>
                <key>frame</key>
                <string>{{192,263},{122,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,46}}</string>
                <key>sourceSize</key>
                <string>{122,46}</string>
            </dict>
            <key>LoginAlertPanel/bar_star__0000</key>
            <dict>
                <key>frame</key>
                <string>{{262,432},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>LoginAlertPanel/ctn_login_text0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{352,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,38}}</string>
                <key>sourceSize</key>
                <string>{352,38}</string>
            </dict>
            <key>LoginAlertPanel/dwq/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{59,137},{313,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,83}}</string>
                <key>sourceSize</key>
                <string>{313,83}</string>
            </dict>
            <key>LoginAlertPanel/dwq/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{471,87},{370,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,83}}</string>
                <key>sourceSize</key>
                <string>{370,83}</string>
            </dict>
            <key>LoginAlertPanel/flag_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{287,432},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>LoginAlertPanel/flag_old0000</key>
            <dict>
                <key>frame</key>
                <string>{{192,387},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>LoginAlertPanel/star_0000</key>
            <dict>
                <key>frame</key>
                <string>{{262,458},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>LoginAlertPanel/title_40000</key>
            <dict>
                <key>frame</key>
                <string>{{59,68},{291,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,67}}</string>
                <key>sourceSize</key>
                <string>{291,67}</string>
            </dict>
            <key>LoginAlertPanel/title_50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,64}}</string>
                <key>sourceSize</key>
                <string>{470,64}</string>
            </dict>
            <key>LoginAlertPanel/朋友啊朋友/3210000</key>
            <dict>
                <key>frame</key>
                <string>{{144,268},{181,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,46}}</string>
                <key>sourceSize</key>
                <string>{181,46}</string>
            </dict>
            <key>LoginAlertPanel/朋友啊朋友/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{52,107},{344,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,5}}</string>
                <key>sourceSize</key>
                <string>{344,5}</string>
            </dict>
            <key>LoginAlertPanel/朋友啊朋友/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{250,220},{100,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,46}}</string>
                <key>sourceSize</key>
                <string>{100,46}</string>
            </dict>
            <key>LoginAlertPanel/朋友啊朋友/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{52,453},{208,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,46}}</string>
                <key>sourceSize</key>
                <string>{208,46}</string>
            </dict>
            <key>LoginAlertPanel/朋友啊朋友/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>LoginAlertPanel/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{144,137},{124,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,104}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoginAlertPanel.png</string>
            <key>size</key>
            <string>{557,557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1d896b4f5343a664bdb4f4c31ff50f:18d13f0faed89112e9ab7a057dc96cd0:df1fbb1ca2b40960a8518d48ba71244d$</string>
            <key>textureFileName</key>
            <string>LoginAlertPanel.png</string>
        </dict>
    </dict>
</plist>
