<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancelBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{373,218},{224,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,89}}</string>
                <key>sourceSize</key>
                <string>{224,89}</string>
            </dict>
            <key>jp/status_qq0000</key>
            <dict>
                <key>frame</key>
                <string>{{697,639},{116,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,36}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
            <key>jp/status_wx0000</key>
            <dict>
                <key>frame</key>
                <string>{{187,447},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>login/checkBoxBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{158,701},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>login/d_2/confirmBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{154,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,61}}</string>
                <key>sourceSize</key>
                <string>{154,61}</string>
            </dict>
            <key>login/dropDownArrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{597,455},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>login/dropDownBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{535,570},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>login/dropDownButtonImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{716,136},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>login/drowDownItemBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{349,654},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>login/head_img_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{599,218},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>login/icon/360Image0000</key>
            <dict>
                <key>frame</key>
                <string>{{187,244},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>login/icon/360MiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{625,662},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>login/icon/migameImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{164,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,214}}</string>
                <key>sourceSize</key>
                <string>{164,214}</string>
            </dict>
            <key>login/icon/migameImage_20000</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{164,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,214}}</string>
                <key>sourceSize</key>
                <string>{164,214}</string>
            </dict>
            <key>login/icon/migameMiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{431,572},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>login/icon/phoneImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{183,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,239}}</string>
                <key>sourceSize</key>
                <string>{183,239}</string>
            </dict>
            <key>login/icon/phoneMiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,439},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>login/icon/qqImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{184,240}</string>
            </dict>
            <key>login/icon/wandoujiaImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{179,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,214}}</string>
                <key>sourceSize</key>
                <string>{179,214}</string>
            </dict>
            <key>login/icon/wandoujiaMiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{349,443},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>login/icon/wechatImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{183,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,239}}</string>
                <key>sourceSize</key>
                <string>{183,239}</string>
            </dict>
            <key>login/icon/wechatMiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{349,547},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>login/icon/weiboImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{183,485},{164,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,213}}</string>
                <key>sourceSize</key>
                <string>{164,213}</string>
            </dict>
            <key>login/icon/weiboMiniImage0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,335},{76,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,102}}</string>
                <key>sourceSize</key>
                <string>{76,102}</string>
            </dict>
            <key>login/iconCheck0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,243},{41,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>login/login_reward_tip_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{514,309},{167,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,81}}</string>
                <key>sourceSize</key>
                <string>{167,81}</string>
            </dict>
            <key>login/panel_bg_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{579,478},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>login/switch_acc_btn_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{132,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,50}}</string>
                <key>sourceSize</key>
                <string>{132,50}</string>
            </dict>
            <key>loginPanels/loading_animation_010000</key>
            <dict>
                <key>frame</key>
                <string>{{94,764},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>loginPanels/loading_animation_020000</key>
            <dict>
                <key>frame</key>
                <string>{{764,297},{12,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,4}}</string>
                <key>sourceSize</key>
                <string>{12,4}</string>
            </dict>
            <key>loginPanels/loading_animation_030000</key>
            <dict>
                <key>frame</key>
                <string>{{764,276},{19,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,4}}</string>
                <key>sourceSize</key>
                <string>{19,4}</string>
            </dict>
            <key>loginPanels/loading_text0000</key>
            <dict>
                <key>frame</key>
                <string>{{735,639},{116,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,23}}</string>
                <key>sourceSize</key>
                <string>{116,23}</string>
            </dict>
            <key>loginPanels/panel_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{533,662},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loginPanels/res/button_blue_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{441,649},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loginPanels/res/button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{487,478},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>loginPanels/res/iconClose0000</key>
            <dict>
                <key>frame</key>
                <string>{{313,447},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>phone/ButtonBg__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{332,309},{180,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,132}}</string>
                <key>sourceSize</key>
                <string>{180,132}</string>
            </dict>
            <key>phone/btnGetCodeBG20000</key>
            <dict>
                <key>frame</key>
                <string>{{443,443},{127,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,42}}</string>
                <key>sourceSize</key>
                <string>{127,42}</string>
            </dict>
            <key>phone/clearIconImage__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{716,222},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>phone/inputBG__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{607,570},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>phone/lineImage__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{90,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,3}}</string>
                <key>sourceSize</key>
                <string>{90,3}</string>
            </dict>
            <key>phone/transparent_rect__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{716,276},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>rmd_icon_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{696,543},{94,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>rmd_toplevel_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{597,335},{118,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,93}}</string>
                <key>sourceSize</key>
                <string>{118,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{770,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24891e8d1078a8d6e444785b96f81cf:46c92f56130b1671f7c1349dc201eb6c:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
