<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.step.lottery/fwew0000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,819},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>add.step.lottery/icon_lottery0000</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1092},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>add.step.lottery/res-res-res/xxxxxxxxxxxx0000</key>
            <dict>
                <key>frame</key>
                <string>{{1187,250},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{1084,918},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{858,895},{164,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,57}}</string>
                <key>sourceSize</key>
                <string>{164,57}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,294},{129,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,122}}</string>
                <key>sourceSize</key>
                <string>{129,122}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{992,954},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 310000</key>
            <dict>
                <key>frame</key>
                <string>{{646,941},{198,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,194}}</string>
                <key>sourceSize</key>
                <string>{198,194}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1152},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,613},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{985,1158},{67,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,63}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>add.step.lottery/res-res-res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1154},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>add.step.lottery/res-res-res/重复项目文件夹/ui_fontsize_rect 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1176,603},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1176,562},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1176,603},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/song0000</key>
            <dict>
                <key>frame</key>
                <string>{{1144,757},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/zuan0000</key>
            <dict>
                <key>frame</key>
                <string>{{756,1137},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1158},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{657,1137},{97,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,82}}</string>
                <key>sourceSize</key>
                <string>{97,82}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{364,1139},{116,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{917,1156},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1144,688},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{841,1156},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{846,1058},{146,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,96}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/dqwrqbuasd/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{364,1080},{262,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,57}}</string>
                <key>sourceSize</key>
                <string>{262,57}</string>
            </dict>
            <key>add.step.lottery/res/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{750,696},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>add.step.lottery/res/decro/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{364,728},{280,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,350}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>add.step.lottery/res/decro/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{280,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,350}}</string>
                <key>sourceSize</key>
                <string>{280,350}</string>
            </dict>
            <key>add.step.lottery/res/dfghf0000</key>
            <dict>
                <key>frame</key>
                <string>{{718,696},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>add.step.lottery/res/res/bag_expire_flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1187,105},{78,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,37}}</string>
                <key>sourceSize</key>
                <string>{78,37}</string>
            </dict>
            <key>add.step.lottery/res/res/bag_pre_prop_flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1187,185},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,37}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>add.step.lottery/res/res/bag_time_limit_flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,879},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,37}}</string>
                <key>sourceSize</key>
                <string>{63,37}</string>
            </dict>
            <key>add.step.lottery/res/res/bag_time_pre_prop_flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1187,2},{101,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,37}}</string>
                <key>sourceSize</key>
                <string>{101,37}</string>
            </dict>
            <key>add.step.lottery/res/res/llll/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{948,642},{126,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,47}}</string>
                <key>sourceSize</key>
                <string>{126,47}</string>
            </dict>
            <key>add.step.lottery/res/res/res/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{718,653},{228,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,41}}</string>
                <key>sourceSize</key>
                <string>{228,41}</string>
            </dict>
            <key>add.step.lottery/res/res/res/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1053,826},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>add.step.lottery/res/res/res/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{646,728},{211,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,210}}</string>
                <key>sourceSize</key>
                <string>{211,210}</string>
            </dict>
            <key>add.step.lottery/res/res/res/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{575,1139},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>add.step.lottery/res/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1010},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>add.step.lottery/res/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{482,1139},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>add.step.lottery/res/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{994,1046},{110,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,105}}</string>
                <key>sourceSize</key>
                <string>{110,105}</string>
            </dict>
            <key>add.step.lottery/res/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{718,354},{203,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,297}}</string>
                <key>sourceSize</key>
                <string>{203,297}</string>
            </dict>
            <key>add.step.lottery/res/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{923,354},{178,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,286}}</string>
                <key>sourceSize</key>
                <string>{178,286}</string>
            </dict>
            <key>add.step.lottery/res/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{24,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,261}}</string>
                <key>sourceSize</key>
                <string>{24,261}</string>
            </dict>
            <key>add.step.lottery/res/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{858,696},{197,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,193}}</string>
                <key>sourceSize</key>
                <string>{197,193}</string>
            </dict>
            <key>add.step.lottery/res/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{1053,691},{133,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,89}}</string>
                <key>sourceSize</key>
                <string>{133,89}</string>
            </dict>
            <key>add.step.lottery/res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{290,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,185}}</string>
                <key>sourceSize</key>
                <string>{290,185}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/3/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1000,294},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/3/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1176,425},{135,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,46}}</string>
                <key>sourceSize</key>
                <string>{135,46}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/3/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,425},{186,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,71}}</string>
                <key>sourceSize</key>
                <string>{186,71}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{360,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,452}}</string>
                <key>sourceSize</key>
                <string>{360,452}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{714,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,724}}</string>
                <key>sourceSize</key>
                <string>{714,724}</string>
            </dict>
            <key>add.step.lottery/res/重复项目文件夹/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1092},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>ui_groups/ne321u676760000</key>
            <dict>
                <key>frame</key>
                <string>{{846,954},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lottery.png</string>
            <key>size</key>
            <string>{1227,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f794dbd566e75d0eebea1250eec262:c9743afde10ce0aacf243c855fd2f0b3:46f5d11ef30bdcad5d0a70d6497c3a2d$</string>
            <key>textureFileName</key>
            <string>lottery.png</string>
        </dict>
    </dict>
</plist>
