<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pay_panel_mark_prise/cells/bg40000</key>
			<dict>
				<key>frame</key>
				<string>{{679,268},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/bubble_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{514,228},{163,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,173}}</string>
				<key>sourceSize</key>
				<string>{163,173}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/discountBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{801,268},{74,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,68}}</string>
				<key>sourceSize</key>
				<string>{74,68}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/newBubble0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,228},{510,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{510,148}}</string>
				<key>sourceSize</key>
				<string>{510,148}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/npcMarkPrise0000</key>
			<dict>
				<key>frame</key>
				<string>{{753,2},{186,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,264}}</string>
				<key>sourceSize</key>
				<string>{186,264}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/titleBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{749,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{749,224}}</string>
				<key>sourceSize</key>
				<string>{749,224}</string>
			</dict>
			<key>pay_panel_mark_prise/cells/whiteLine0000</key>
			<dict>
				<key>frame</key>
				<string>{{801,338},{75,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,4}}</string>
				<key>sourceSize</key>
				<string>{75,4}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>MarkPrisePanel.png</string>
			<key>size</key>
			<string>{1024,500}</string>
			<key>textureFileName</key>
			<string>MarkPrisePanel.png</string>
		</dict>
	</dict>
</plist>
