<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MarketGiftPack/GiftPack.EndGame/cellx/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{710,315},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>MarketGiftPack/cell/bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{661,673},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>MarketGiftPack/cell/bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{661,611},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>MarketGiftPack/cell/gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{325,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,217}}</string>
                <key>sourceSize</key>
                <string>{325,217}</string>
            </dict>
            <key>MarketGiftPack/cell/gold_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{661,546},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>MarketGiftPack/cell/gold_less0000</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{311,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,252}}</string>
                <key>sourceSize</key>
                <string>{311,252}</string>
            </dict>
            <key>MarketGiftPack/cell/gold_more0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{303,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,254}}</string>
                <key>sourceSize</key>
                <string>{303,254}</string>
            </dict>
            <key>MarketGiftPack/cell/gold_reward0000</key>
            <dict>
                <key>frame</key>
                <string>{{307,329},{246,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,277}}</string>
                <key>sourceSize</key>
                <string>{246,277}</string>
            </dict>
            <key>MarketGiftPack/cell/goldl0000</key>
            <dict>
                <key>frame</key>
                <string>{{329,577},{330,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,207}}</string>
                <key>sourceSize</key>
                <string>{330,207}</string>
            </dict>
            <key>MarketGiftPack/cell/item_top0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,325}}</string>
                <key>sourceSize</key>
                <string>{562,325}</string>
            </dict>
            <key>MarketGiftPack/cell/left_top0000</key>
            <dict>
                <key>frame</key>
                <string>{{586,438},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>MarketGiftPack/cell/lefttop0000</key>
            <dict>
                <key>frame</key>
                <string>{{586,315},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>MarketGiftPack/cell/plus0000</key>
            <dict>
                <key>frame</key>
                <string>{{710,382},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>MarketGiftPack/cell/reward_tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{329,786},{383,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,20}}</string>
                <key>sourceSize</key>
                <string>{383,20}</string>
            </dict>
            <key>MarketGiftPack/cell/rewardtime0000</key>
            <dict>
                <key>frame</key>
                <string>{{586,505},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MarketGiftPackPanel.png</string>
            <key>size</key>
            <string>{820,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79f0c255e1f238d8aad5e6d5f0c71cc7:e6adac0a260f49344de78394793f9eb0:90fcbb8be8b784f0f92f35a4a5c667fa$</string>
            <key>textureFileName</key>
            <string>MarketGiftPackPanel.png</string>
        </dict>
    </dict>
</plist>
