<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>market_ios_ali_guide/assert/tip10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{409,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{409,125}}</string>
                <key>sourceSize</key>
                <string>{415,127}</string>
            </dict>
            <key>market_ios_ali_guide/assert/tip20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{322,101}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,101}}</string>
                <key>sourceSize</key>
                <string>{328,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>market_IOS_Ali_guide.png</string>
            <key>size</key>
            <string>{413,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebbb3251d7c53fb3ad3f116a4e943d63:57ac04c68e6a5e919ae9c560fd24ff2e:a8e177d9565705ab1b8f60a5f74977e2$</string>
            <key>textureFileName</key>
            <string>market_IOS_Ali_guide.png</string>
        </dict>
    </dict>
</plist>
