<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moreStarPanel/little_star_jksdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{255,300},{1,1}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>moreStarPanel/mnhjy7830000</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>moreStarPanel/npc__more_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{255,296}}</string>
                <key>sourceSize</key>
                <string>{265,298}</string>
            </dict>
            <key>moreStarPanel/title_s_c0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{251,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,72}}</string>
                <key>sourceSize</key>
                <string>{253,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>more_star_panel.png</string>
            <key>size</key>
            <string>{259,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aaba058998ccc7e7aa6e3e01c95fbe9:00cfb61f596fc5aaa7ca00bc4c939a42:7a232c6ede50ba7169e40b389b8e550d$</string>
            <key>textureFileName</key>
            <string>more_star_panel.png</string>
        </dict>
    </dict>
</plist>
