<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ahjsg8s89hnjdfs909dsgf0000</key>
			<dict>
				<key>frame</key>
				<string>{{699,333},{56,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,85}}</string>
				<key>sourceSize</key>
				<string>{56,85}</string>
			</dict>
			<key>bahifsa98f90dskfd98s7gfdsg0000</key>
			<dict>
				<key>frame</key>
				<string>{{607,333},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>djsafd8s789fdsnjafjdgfs7d0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{761,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{761,173}}</string>
				<key>sourceSize</key>
				<string>{761,173}</string>
			</dict>
			<key>hjeh8usaifdsa8f9d0sanfkdsafds0000</key>
			<dict>
				<key>frame</key>
				<string>{{515,333},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,91}}</string>
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
			<key>hs8g7u9fdshgfdshgf0000</key>
			<dict>
				<key>frame</key>
				<string>{{765,2},{197,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,239}}</string>
				<key>sourceSize</key>
				<string>{197,239}</string>
			</dict>
			<key>hufiahnewutr78yf8ihdsadsf0000</key>
			<dict>
				<key>frame</key>
				<string>{{757,342},{56,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,82}}</string>
				<key>sourceSize</key>
				<string>{56,82}</string>
			</dict>
			<key>ruthiewnvaf98safidsa0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,177},{511,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,216}}</string>
				<key>sourceSize</key>
				<string>{511,216}</string>
			</dict>
			<key>uifjnsd9a8f9snew867r8wgd0000</key>
			<dict>
				<key>frame</key>
				<string>{{515,243},{268,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{268,88}}</string>
				<key>sourceSize</key>
				<string>{268,88}</string>
			</dict>
			<key>ybfjs78f99sanfds65af6sfs8d7f_hdnfds0000</key>
			<dict>
				<key>frame</key>
				<string>{{785,243},{94,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,97}}</string>
				<key>sourceSize</key>
				<string>{94,97}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>more_ingredient_panel.png</string>
			<key>size</key>
			<string>{1024,550}</string>
			<key>textureFileName</key>
			<string>more_ingredient_panel.png</string>
		</dict>
	</dict>
</plist>
