<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShareChest/cell/chestDown0000</key>
            <dict>
                <key>frame</key>
                <string>{{940,1055},{187,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,181}}</string>
                <key>sourceSize</key>
                <string>{187,181}</string>
            </dict>
            <key>ShareChest/cell/chestLight0000</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1176},{139,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{139,122}}</string>
                <key>sourceSize</key>
                <string>{141,122}</string>
            </dict>
            <key>ShareChest/cell/chestUp0000</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1055},{199,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,136}}</string>
                <key>sourceSize</key>
                <string>{199,136}</string>
            </dict>
            <key>ShareChest/cell/chestUpOpen0000</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1032},{159,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,142}}</string>
                <key>sourceSize</key>
                <string>{159,142}</string>
            </dict>
            <key>ShareChest/cell/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{346,203},{342,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{342,366}}</string>
                <key>sourceSize</key>
                <string>{344,368}</string>
            </dict>
            <key>ShareFinalPassLevel/cell/cloud0000</key>
            <dict>
                <key>frame</key>
                <string>{{687,1261},{261,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,82}}</string>
                <key>sourceSize</key>
                <string>{261,82}</string>
            </dict>
            <key>ShareFirstInFriends/cell/crown0000</key>
            <dict>
                <key>frame</key>
                <string>{{1314,278},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>ShareFirstInFriends/cell/fox0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{388,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{388,381}}</string>
                <key>sourceSize</key>
                <string>{390,383}</string>
            </dict>
            <key>ShareFirstInFriends/cell/paper10000</key>
            <dict>
                <key>frame</key>
                <string>{{453,1363},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>ShareFirstInFriends/cell/paper20000</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1300},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>ShareFirstInFriends/cell/paper30000</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1375},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>ShareFirstInFriends/cell/paper40000</key>
            <dict>
                <key>frame</key>
                <string>{{657,123},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>ShareFirstInFriends/cell/paper50000</key>
            <dict>
                <key>frame</key>
                <string>{{346,571},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>ShareFourStar/cell/circleLight10000</key>
            <dict>
                <key>frame</key>
                <string>{{1019,838},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>ShareFourStar/cell/circleLight20000</key>
            <dict>
                <key>frame</key>
                <string>{{1314,385},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ShareFourStar/cell/star0000</key>
            <dict>
                <key>frame</key>
                <string>{{950,1256},{173,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,170}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>ShareFourStar/cell/star10000</key>
            <dict>
                <key>frame</key>
                <string>{{1317,670},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>ShareFourStar/cell/starBig0000</key>
            <dict>
                <key>frame</key>
                <string>{{687,1001},{251,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,258}}</string>
                <key>sourceSize</key>
                <string>{251,258}</string>
            </dict>
            <key>ShareFourStar/cell/tagbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1317,726},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ShareFourStar/cell/titleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{597,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,119}}</string>
                <key>sourceSize</key>
                <string>{597,119}</string>
            </dict>
            <key>ShareFourStar/cell/xiong0000</key>
            <dict>
                <key>frame</key>
                <string>{{690,123},{347,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,361}}</string>
                <key>sourceSize</key>
                <string>{347,361}</string>
            </dict>
            <key>ShareFourStar/cell/xiong20000</key>
            <dict>
                <key>frame</key>
                <string>{{385,571},{334,326}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{334,326}}</string>
                <key>sourceSize</key>
                <string>{374,332}</string>
            </dict>
            <key>ShareHiddenLevel/cell/bglight0000</key>
            <dict>
                <key>frame</key>
                <string>{{655,907},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>ShareHiddenLevel/cell/bglight10000</key>
            <dict>
                <key>frame</key>
                <string>{{655,991},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>ShareHiddenLevel/cell/lantern0000</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{108,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,158}}</string>
                <key>sourceSize</key>
                <string>{110,158}</string>
            </dict>
            <key>ShareHiddenLevel/cell/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{1039,123},{273,377}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{273,377}}</string>
                <key>sourceSize</key>
                <string>{289,391}</string>
            </dict>
            <key>ShareHiddenLevel/cell/root0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,199}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{653,199}}</string>
                <key>sourceSize</key>
                <string>{709,199}</string>
            </dict>
            <key>ShareLastStep/cell/hippo0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{342,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{342,464}}</string>
                <key>sourceSize</key>
                <string>{342,466}</string>
            </dict>
            <key>ShareLeftTenStep/cell/food0000</key>
            <dict>
                <key>frame</key>
                <string>{{1314,112},{164,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,98}}</string>
                <key>sourceSize</key>
                <string>{164,98}</string>
            </dict>
            <key>ShareLeftTenStep/cell/ladybear0000</key>
            <dict>
                <key>frame</key>
                <string>{{203,1059},{248,339}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,339}}</string>
                <key>sourceSize</key>
                <string>{252,343}</string>
            </dict>
            <key>SharePassFiveLevel/cell/rocketBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{199,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{199,367}}</string>
                <key>sourceSize</key>
                <string>{199,369}</string>
            </dict>
            <key>SharePassFiveLevel/cell/rocket_fire0000</key>
            <dict>
                <key>frame</key>
                <string>{{940,1001},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>SharePassFiveLevel/cell/rocket_skin0000</key>
            <dict>
                <key>frame</key>
                <string>{{713,843},{156,304}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,304}}</string>
                <key>sourceSize</key>
                <string>{162,308}</string>
            </dict>
            <key>SharePassFriend/cell/blueBear0000</key>
            <dict>
                <key>frame</key>
                <string>{{713,486},{269,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{269,355}}</string>
                <key>sourceSize</key>
                <string>{271,357}</string>
            </dict>
            <key>SharePassFriend/cell/flyAnimal0000</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1256},{158,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,144}}</string>
                <key>sourceSize</key>
                <string>{158,144}</string>
            </dict>
            <key>SharePyramid/cell/pyramid0000</key>
            <dict>
                <key>frame</key>
                <string>{{385,907},{268,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,143}}</string>
                <key>sourceSize</key>
                <string>{268,143}</string>
            </dict>
            <key>SharePyramid/cell/xiong20000</key>
            <dict>
                <key>frame</key>
                <string>{{453,1052},{232,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,309}}</string>
                <key>sourceSize</key>
                <string>{232,311}</string>
            </dict>
            <key>ShareThousandOne/cell/animal10000</key>
            <dict>
                <key>frame</key>
                <string>{{1271,1300},{102,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,73}}</string>
                <key>sourceSize</key>
                <string>{102,73}</string>
            </dict>
            <key>ShareThousandOne/cell/animal20000</key>
            <dict>
                <key>frame</key>
                <string>{{1317,572},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>ShareThousandOne/cell/circle0000</key>
            <dict>
                <key>frame</key>
                <string>{{1317,483},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ShareThousandOne/cell/podium0000</key>
            <dict>
                <key>frame</key>
                <string>{{1237,838},{192,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>ShareTrophy/cell/trophy0000</key>
            <dict>
                <key>frame</key>
                <string>{{984,502},{334,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{334,331}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewSharePanel.png</string>
            <key>size</key>
            <string>{1428,1428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aca4a804226cf4a35350160f8b89b0f4:c4423c21e235298ce142e764e7173da7:4ab446f586c1b9614c5c2985f093d0b5$</string>
            <key>textureFileName</key>
            <string>NewSharePanel.png</string>
        </dict>
    </dict>
</plist>
