<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sharePanelEx/ShareFirstInFriends/cell/paper10000</key>
            <dict>
                <key>frame</key>
                <string>{{697,186},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>sharePanelEx/ShareFirstInFriends/cell/paper20000</key>
            <dict>
                <key>frame</key>
                <string>{{697,157},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>sharePanelEx/ShareFirstInFriends/cell/paper30000</key>
            <dict>
                <key>frame</key>
                <string>{{695,228},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>sharePanelEx/ShareFirstInFriends/cell/paper40000</key>
            <dict>
                <key>frame</key>
                <string>{{648,157},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>sharePanelEx/ShareFirstInFriends/cell/paper50000</key>
            <dict>
                <key>frame</key>
                <string>{{648,188},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>sharePanelEx/cell/bglight0000</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>sharePanelEx/cell/buble0000</key>
            <dict>
                <key>frame</key>
                <string>{{261,389},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,252}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>sharePanelEx/cell/circleLight10000</key>
            <dict>
                <key>frame</key>
                <string>{{716,60},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>sharePanelEx/cell/circleLight1__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{515,389},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>sharePanelEx/cell/flower0000</key>
            <dict>
                <key>frame</key>
                <string>{{648,60},{66,95}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,95}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>sharePanelEx/cell/share_bear0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{257,286}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{257,286}}</string>
                <key>sourceSize</key>
                <string>{273,302}</string>
            </dict>
            <key>sharePanelEx/cell/tagbg__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{648,226},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sharePanelEx/cell/titleBg__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{597,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,119}}</string>
                <key>sourceSize</key>
                <string>{597,119}</string>
            </dict>
            <key>sharePanelEx/cell/tree0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{644,264}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{644,264}}</string>
                <key>sourceSize</key>
                <string>{690,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NewSharePanelEx.png</string>
            <key>size</key>
            <string>{732,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd1dd4b552a025bc6cff0ed545c24df:8195e5531c7463c9a614d353d719a9a5:8e3a7e02dbd8b21c5726db5791affe5e$</string>
            <key>textureFileName</key>
            <string>NewSharePanelEx.png</string>
        </dict>
    </dict>
</plist>
