<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newWindShop/1_45/aaa/2016_03_01_add/cells/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{429,1131},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>newWindShop/1_45/aaa/bbb/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{195,950},{180,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,59}}</string>
                <key>sourceSize</key>
                <string>{180,59}</string>
            </dict>
            <key>newWindShop/1_45/aaa/bbb/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1348,68},{88,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,13}}</string>
                <key>sourceSize</key>
                <string>{88,13}</string>
            </dict>
            <key>newWindShop/1_45/aaa/ccc/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1105,982},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>newWindShop/1_45/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{978,1199},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/1_45/bg__0000</key>
            <dict>
                <key>frame</key>
                <string>{{496,453},{279,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,81}}</string>
                <key>sourceSize</key>
                <string>{279,81}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/bbbb0000</key>
            <dict>
                <key>frame</key>
                <string>{{496,536},{270,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,182}}</string>
                <key>sourceSize</key>
                <string>{270,182}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/star/2310000</key>
            <dict>
                <key>frame</key>
                <string>{{913,1057},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{848,1200},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1023,168},{335,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,177}}</string>
                <key>sourceSize</key>
                <string>{335,177}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{734,950},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{499,289},{16,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,99}}</string>
                <key>sourceSize</key>
                <string>{16,99}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{718,1206},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{522,37},{516,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,33}}</string>
                <key>sourceSize</key>
                <string>{516,33}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{588,1206},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{499,289},{16,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,99}}</string>
                <key>sourceSize</key>
                <string>{16,99}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1219,892},{115,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{115,119}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{516,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,33}}</string>
                <key>sourceSize</key>
                <string>{516,33}</string>
            </dict>
            <key>newWindShop/1_45/bgdsa/重复项目文件夹/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{452,1207},{135,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,134}}</string>
                <key>sourceSize</key>
                <string>{135,134}</string>
            </dict>
            <key>newWindShop/1_45/icon_10000</key>
            <dict>
                <key>frame</key>
                <string>{{740,1108},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>newWindShop/aliQuick/assets/box_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1049,925},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>newWindShop/aliQuick/assets/checked0000</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1057},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>newWindShop/aliQuick/assets/q0000</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1055},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>newWindShop/dsadwqwerqrq0000</key>
            <dict>
                <key>frame</key>
                <string>{{287,579},{210,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,205}}</string>
                <key>sourceSize</key>
                <string>{210,205}</string>
            </dict>
            <key>newWindShop/extraVip/coupon0000</key>
            <dict>
                <key>frame</key>
                <string>{{256,1051},{122,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,78}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>newWindShop/extraVip/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{472,955},{174,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,130}}</string>
                <key>sourceSize</key>
                <string>{174,130}</string>
            </dict>
            <key>newWindShop/extraVip/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{864,1057},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>newWindShop/extraVip/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1055},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>newWindShop/flag/assets/flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{293,377},{201,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,200}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>newWindShop/flag/flag_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1116,709},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>newWindShop/flag/flag_20000</key>
            <dict>
                <key>frame</key>
                <string>{{992,709},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>newWindShop/goldNum/assets/song0000</key>
            <dict>
                <key>frame</key>
                <string>{{1156,925},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>newWindShop/goldNum/assets/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,285}}</string>
                <key>sourceSize</key>
                <string>{518,285}</string>
            </dict>
            <key>newWindShop/goldType/goldType10000</key>
            <dict>
                <key>frame</key>
                <string>{{864,926},{183,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,129}}</string>
                <key>sourceSize</key>
                <string>{183,129}</string>
            </dict>
            <key>newWindShop/goldType/goldType20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{185,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{185,138}</string>
            </dict>
            <key>newWindShop/goldType/goldType30000</key>
            <dict>
                <key>frame</key>
                <string>{{690,839},{159,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,109}}</string>
                <key>sourceSize</key>
                <string>{159,109}</string>
            </dict>
            <key>newWindShop/goldType/goldType40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{191,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,116}}</string>
                <key>sourceSize</key>
                <string>{191,116}</string>
            </dict>
            <key>newWindShop/goldType/goldType50000</key>
            <dict>
                <key>frame</key>
                <string>{{477,818},{211,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,135}}</string>
                <key>sourceSize</key>
                <string>{211,135}</string>
            </dict>
            <key>newWindShop/goldType/goldType60000</key>
            <dict>
                <key>frame</key>
                <string>{{260,887},{210,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,162}}</string>
                <key>sourceSize</key>
                <string>{210,162}</string>
            </dict>
            <key>newWindShop/goldType/goldType70000</key>
            <dict>
                <key>frame</key>
                <string>{{604,955},{170,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,128}}</string>
                <key>sourceSize</key>
                <string>{170,128}</string>
            </dict>
            <key>newWindShop/hole0000</key>
            <dict>
                <key>frame</key>
                <string>{{777,453},{235,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,186}}</string>
                <key>sourceSize</key>
                <string>{235,186}</string>
            </dict>
            <key>newWindShop/hole2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{768,641},{222,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,191}}</string>
                <key>sourceSize</key>
                <string>{222,191}</string>
            </dict>
            <key>newWindShop/just_some_garbage/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1023,347},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>newWindShop/largetBlueBtn0000</key>
            <dict>
                <key>frame</key>
                <string>{{1040,68},{306,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,91}}</string>
                <key>sourceSize</key>
                <string>{306,91}</string>
            </dict>
            <key>newWindShop/light0000</key>
            <dict>
                <key>frame</key>
                <string>{{522,72},{499,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,379}}</string>
                <key>sourceSize</key>
                <string>{499,379}</string>
            </dict>
            <key>newWindShop/monthflag/monthPay0000</key>
            <dict>
                <key>frame</key>
                <string>{{309,1131},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>newWindShop/new_quick_check/ali_market_panel/IconCheck0000</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1009},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>newWindShop/new_quick_check/ali_market_panel/checkBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1049},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>newWindShop/new_quick_check/ali_market_panel/icon_help_green__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1291},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>newWindShop/new_quick_check/wenkan_add/safsa7g8fds7g87dsjhnjrewbjbdshgfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{992,641},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>newWindShop/newbuttonBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{494,720},{218,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,96}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>newWindShop/pay_icon/bubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{978,1291},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_ali_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1267},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_huawei_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1267},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_mi_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1181},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_mobile_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1181},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_qihoo_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1095},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_qqwallet_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1095},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_sms_union_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1009},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_telecom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1009},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_unicom_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1095},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_wdj_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1193},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/icon_wechat_big0000</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1106},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>newWindShop/pay_icon/imgs/checked0000</key>
            <dict>
                <key>frame</key>
                <string>{{962,1057},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>newWindShop/pay_icon/pointer0000</key>
            <dict>
                <key>frame</key>
                <string>{{496,390},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>newWindShop/penny_btn_sym0000</key>
            <dict>
                <key>frame</key>
                <string>{{260,791},{215,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,94}}</string>
                <key>sourceSize</key>
                <string>{215,94}</string>
            </dict>
            <key>newWindShop/penny_cion_b0000</key>
            <dict>
                <key>frame</key>
                <string>{{714,775},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>newWindShop/penny_title_s0000</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{317,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,64}}</string>
                <key>sourceSize</key>
                <string>{317,64}</string>
            </dict>
            <key>newWindShop/penny_txt_sym0000</key>
            <dict>
                <key>frame</key>
                <string>{{1325,347},{422,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,33}}</string>
                <key>sourceSize</key>
                <string>{422,33}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{606,1127},{132,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,77}}</string>
                <key>sourceSize</key>
                <string>{132,77}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{495,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,86}}</string>
                <key>sourceSize</key>
                <string>{495,86}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{269,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,81}}</string>
                <key>sourceSize</key>
                <string>{269,81}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{256,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,174}}</string>
                <key>sourceSize</key>
                <string>{256,174}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{283,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,84}}</string>
                <key>sourceSize</key>
                <string>{283,84}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{283,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,84}}</string>
                <key>sourceSize</key>
                <string>{283,84}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{369,1207},{136,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,81}}</string>
                <key>sourceSize</key>
                <string>{136,81}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{25,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,261}}</string>
                <key>sourceSize</key>
                <string>{25,261}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 1/未命名文件夹 2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{225,1208},{142,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,143}}</string>
                <key>sourceSize</key>
                <string>{142,143}</string>
            </dict>
            <key>newWindShop/promotion.fail.top/未命名文件夹 2/scaleBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{1127,833},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/promotion/assets/box0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{154,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,129}}</string>
                <key>sourceSize</key>
                <string>{154,129}</string>
            </dict>
            <key>newWindShop/promotion/assets/flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1240,771},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>newWindShop/promotion/assets/goldIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{714,720},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>newWindShop/promotion/assets/hole0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{289,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,199}}</string>
                <key>sourceSize</key>
                <string>{289,199}</string>
            </dict>
            <key>newWindShop/promotion/assets/scaleBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{924,1107},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/promotion/assets/scaleBg20000</key>
            <dict>
                <key>frame</key>
                <string>{{1035,833},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/promotion/bgbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{133,1208},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>newWindShop/promotion/hole0000</key>
            <dict>
                <key>frame</key>
                <string>{{1240,709},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>newWindShop/scaleBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{943,834},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/scaleBG30000</key>
            <dict>
                <key>frame</key>
                <string>{{851,834},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/scaleBG40000</key>
            <dict>
                <key>frame</key>
                <string>{{832,1108},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>newWindShop/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1348,158},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>newWindShop/wxnbl/bubbleFlag10000</key>
            <dict>
                <key>frame</key>
                <string>{{189,1132},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>newWindShop/zhe_sym0000</key>
            <dict>
                <key>frame</key>
                <string>{{499,1131},{105,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,73}}</string>
                <key>sourceSize</key>
                <string>{105,73}</string>
            </dict>
            <key>newWindShop/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{380,1051},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newWindShop.png</string>
            <key>size</key>
            <string>{1364,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:059e623c816cecb794cbc5597b577e6d:2f81efc52fc0d5639f6dbbd3592259f2:a01a0bb1b25da386161e51436c8846a9$</string>
            <key>textureFileName</key>
            <string>newWindShop.png</string>
        </dict>
    </dict>
</plist>
