<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image/turntablepanel_axis0000</key>
            <dict>
                <key>frame</key>
                <string>{{513,129},{113,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{113,115}</string>
            </dict>
            <key>image/turntablepanel_diskdot0000</key>
            <dict>
                <key>frame</key>
                <string>{{565,244},{26,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>image/turntablepanel_diskquater0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,338}}</string>
                <key>sourceSize</key>
                <string>{338,338}</string>
            </dict>
            <key>image/turntablepanel_diststar0000</key>
            <dict>
                <key>frame</key>
                <string>{{513,244},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image/turntablepanel_leaf10000</key>
            <dict>
                <key>frame</key>
                <string>{{349,330},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{115,75}</string>
            </dict>
            <key>image/turntablepanel_leaf20000</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{125,275}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{125,275}}</string>
                <key>sourceSize</key>
                <string>{125,299}</string>
            </dict>
            <key>image/turntablepanel_leaf30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{285,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{285,157}}</string>
                <key>sourceSize</key>
                <string>{287,157}</string>
            </dict>
            <key>image/turntablepanel_leaf40000</key>
            <dict>
                <key>frame</key>
                <string>{{161,530},{99,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,292}}</string>
                <key>sourceSize</key>
                <string>{101,292}</string>
            </dict>
            <key>image/turntablepanel_leaf50000</key>
            <dict>
                <key>frame</key>
                <string>{{455,330},{213,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{213,117}}</string>
                <key>sourceSize</key>
                <string>{215,117}</string>
            </dict>
            <key>image/turntablepanel_pin0000</key>
            <dict>
                <key>frame</key>
                <string>{{455,545},{76,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,147}}</string>
                <key>sourceSize</key>
                <string>{76,147}</string>
            </dict>
            <key>image/turntablepanel_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{342,129},{173,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,169}}</string>
                <key>sourceSize</key>
                <string>{173,169}</string>
            </dict>
            <key>image/turntablepanel_shine0000</key>
            <dict>
                <key>frame</key>
                <string>{{161,342},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>image/turntablepanel_vine0000</key>
            <dict>
                <key>frame</key>
                <string>{{342,304},{24,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,254}}</string>
                <key>sourceSize</key>
                <string>{24,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_turntable.png</string>
            <key>size</key>
            <string>{631,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b75cdca6173281149a6bc24d9e38a25a:1de5839a8c97e1ee0dd0229119aa309b:46e371ed1199e950a0021650cff7f489$</string>
            <key>textureFileName</key>
            <string>panel_turntable.png</string>
        </dict>
    </dict>
</plist>
