<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>360pay_hjnre324nj32n3420000</key>
            <dict>
                <key>frame</key>
                <string>{{725,425},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>6yegx50000</key>
            <dict>
                <key>frame</key>
                <string>{{182,956},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>DashedLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{369,890},{114,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,4}}</string>
                <key>sourceSize</key>
                <string>{114,4}</string>
            </dict>
            <key>Duplicate Items Folder/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{512,459},{162,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,120}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>Duplicate Items Folder/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{495,212},{153,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,111}}</string>
                <key>sourceSize</key>
                <string>{153,111}</string>
            </dict>
            <key>_downloadProgressPanel/_ui_white_pure_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{360,599},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>_downloadProgressPanel/progressBar0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{579,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,18}}</string>
                <key>sourceSize</key>
                <string>{579,18}</string>
            </dict>
            <key>_downloadProgressPanel/progressBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{585,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,22}}</string>
                <key>sourceSize</key>
                <string>{585,22}</string>
            </dict>
            <key>alipay_324hjkr3j2refdsdsf0000</key>
            <dict>
                <key>frame</key>
                <string>{{886,323},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>asf67ds6a78ghjfdsg9fd8s9hgfsdjgd0000</key>
            <dict>
                <key>frame</key>
                <string>{{492,367},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>blackDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{508,599},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>chinamobile_inner0000</key>
            <dict>
                <key>frame</key>
                <string>{{655,796},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>chinaunion_inner0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,709},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>chinstelecom_inner0000</key>
            <dict>
                <key>frame</key>
                <string>{{898,497},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>clock0000</key>
            <dict>
                <key>frame</key>
                <string>{{220,781},{147,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,118}}</string>
                <key>sourceSize</key>
                <string>{147,118}</string>
            </dict>
            <key>clockIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{369,896},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>cuccwo_pay_icon_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{634,533},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>dasf89sfdksaf890dsa0fdsl0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>dfdsgfd8s9h23uhds8a72h13hjfdsgfdgdfhf0000</key>
            <dict>
                <key>frame</key>
                <string>{{162,619},{204,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,56}}</string>
                <key>sourceSize</key>
                <string>{204,56}</string>
            </dict>
            <key>dsfds87a7f8dshajfhdjsafsdfasfdss0000</key>
            <dict>
                <key>frame</key>
                <string>{{434,952},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>dynamic_update_panel_progressBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{909,824},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>dynamic_update_panel_progressFg0000</key>
            <dict>
                <key>frame</key>
                <string>{{713,265},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>energy_recover_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{162,825},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>exception_panel/cells/closeBtnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{162,900},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>fdas8d7fdabsfd76sa7fdsafdsgfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{613,358},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>fdsa7f8dsfsd90a8fdsajfkddsafd0000</key>
            <dict>
                <key>frame</key>
                <string>{{862,931},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>fdsgfhfyd8gdsngds9af8dsfdsdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{491,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,113}}</string>
                <key>sourceSize</key>
                <string>{491,113}</string>
            </dict>
            <key>fgzww10000</key>
            <dict>
                <key>frame</key>
                <string>{{323,901},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>fsd87f7dsgkdjkfglfdsgdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{488,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,110}}</string>
                <key>sourceSize</key>
                <string>{488,110}</string>
            </dict>
            <key>gamesetting_addfriends0000</key>
            <dict>
                <key>frame</key>
                <string>{{239,901},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>gamesetting_appbar0000</key>
            <dict>
                <key>frame</key>
                <string>{{278,956},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>gamesetting_cs0000</key>
            <dict>
                <key>frame</key>
                <string>{{483,907},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>gamesetting_helpicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{592,907},{47,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,51}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>gamesetting_more_info0000</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{34,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,95}}</string>
                <key>sourceSize</key>
                <string>{34,95}</string>
            </dict>
            <key>gamesetting_panel_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{917,162},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>gamesetting_pauseicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{958,99},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>gamesetting_quit0000</key>
            <dict>
                <key>frame</key>
                <string>{{123,932},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>gamesetting_replay0000</key>
            <dict>
                <key>frame</key>
                <string>{{906,876},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>gamesettingpanel_cdkeyicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,620},{87,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,75}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>gamesettingpanel_controlpanelseparator0000</key>
            <dict>
                <key>frame</key>
                <string>{{492,429},{8,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,57}}</string>
                <key>sourceSize</key>
                <string>{8,57}</string>
            </dict>
            <key>gamesettingpanel_qrcodeimg0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,901},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>gamesettingpanel_weishequicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{233,956},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>hjufhgfyd7g9fd89sg8h7h7fgdjhgj0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>hr6e4dey5chgd0000</key>
            <dict>
                <key>frame</key>
                <string>{{793,931},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>huawei_pay_icon_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{725,512},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>jefdskag948t65sfd7s86fdgdfgfgfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{369,885},{126,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,3}}</string>
                <key>sourceSize</key>
                <string>{126,3}</string>
            </dict>
            <key>mi_pay_j4njsnfjsnfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{812,512},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>phplacehholder32872340000</key>
            <dict>
                <key>frame</key>
                <string>{{886,410},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>prebuff_quit/bgbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{613,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,184}}</string>
                <key>sourceSize</key>
                <string>{613,184}</string>
            </dict>
            <key>prebuff_quit/prebuff001/4rbne9c80ds8ayvcd8s76af8ds7987cdsafdsafhds0000</key>
            <dict>
                <key>frame</key>
                <string>{{506,765},{147,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,140}}</string>
                <key>sourceSize</key>
                <string>{147,140}</string>
            </dict>
            <key>prebuff_quit/prebuff001/cdsav78sda6f789d0saych7ds9a6fdsasdfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{179,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,158}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>prebuff_quit/prebuff001/cdsavg87t987y43287698dashc7d8s96af7dsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{158,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,151}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>prebuff_quit/prebuff001/noidfuahioshcdsuay73ywa67re6afdsafd0000</key>
            <dict>
                <key>frame</key>
                <string>{{220,612},{167,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,138}}</string>
                <key>sourceSize</key>
                <string>{167,138}</string>
            </dict>
            <key>prebuff_quit/prebuff001/xzfgd89sa7f0988y32409d7f9dsa7fdsfj9800000</key>
            <dict>
                <key>frame</key>
                <string>{{761,168},{135,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,136}}</string>
                <key>sourceSize</key>
                <string>{135,136}</string>
            </dict>
            <key>prebuff_quit/prebuff002/4rbne9c80ds8ayvcd8s76af8ds7987cdsafdsafhds0000</key>
            <dict>
                <key>frame</key>
                <string>{{508,623},{147,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,140}}</string>
                <key>sourceSize</key>
                <string>{147,140}</string>
            </dict>
            <key>prebuff_quit/prebuff002/cdsav78sda6f789d0saych7ds9a6fdsasdfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{179,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,158}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>prebuff_quit/prebuff002/cdsavg87t987y43287698dashc7d8s96af7dsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{183,459},{158,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,151}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>prebuff_quit/prebuff002/noidfuahioshcdsuay73ywa67re6afdsafd0000</key>
            <dict>
                <key>frame</key>
                <string>{{343,459},{167,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,138}}</string>
                <key>sourceSize</key>
                <string>{167,138}</string>
            </dict>
            <key>prebuff_quit/prebuff002/xzfgd89sa7f0988y32409d7f9dsa7fdsfj9800000</key>
            <dict>
                <key>frame</key>
                <string>{{369,747},{135,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,136}}</string>
                <key>sourceSize</key>
                <string>{135,136}</string>
            </dict>
            <key>qqpay_jkj2i4kdnfs9fsmfdsfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{655,883},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>qqwallet_pay_icon_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{898,410},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>rdgw3sr0000</key>
            <dict>
                <key>frame</key>
                <string>{{742,931},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>reddot_nghbsdfd89sagfdsgnfdh0000</key>
            <dict>
                <key>frame</key>
                <string>{{323,952},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>sadfdsf78ashfdsjafd0000</key>
            <dict>
                <key>frame</key>
                <string>{{437,896},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>sadfgsahkfjdhgfdkafjkfjkaa0000</key>
            <dict>
                <key>frame</key>
                <string>{{608,265},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,91}</string>
            </dict>
            <key>sbsadgwubrjbqvwehwqgfdsgd0000</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>selectSNSAccountCheckboxBg_new0000</key>
            <dict>
                <key>frame</key>
                <string>{{400,952},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>selectSNSAccountCheckboxGuo0000</key>
            <dict>
                <key>frame</key>
                <string>{{538,907},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>selectSNSAccountIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{617,168},{142,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,95}}</string>
                <key>sourceSize</key>
                <string>{142,95}</string>
            </dict>
            <key>setIcon_prePackage0000</key>
            <dict>
                <key>frame</key>
                <string>{{361,952},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>setting inputtatus0000</key>
            <dict>
                <key>frame</key>
                <string>{{708,358},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>setting_panel_btns/et0000</key>
            <dict>
                <key>frame</key>
                <string>{{899,239},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,82}}</string>
                <key>sourceSize</key>
                <string>{87,82}</string>
            </dict>
            <key>setting_panel_btns/fawtt0000</key>
            <dict>
                <key>frame</key>
                <string>{{820,598},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>setting_panel_btns/fwqt10000</key>
            <dict>
                <key>frame</key>
                <string>{{742,849},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>setting_panel_btns/fwt0000</key>
            <dict>
                <key>frame</key>
                <string>{{744,681},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>setting_panel_btns/fwtwq0000</key>
            <dict>
                <key>frame</key>
                <string>{{744,767},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>setting_panel_btns/no_network_0000</key>
            <dict>
                <key>frame</key>
                <string>{{908,671},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>setting_panel_btns/r2t0000</key>
            <dict>
                <key>frame</key>
                <string>{{827,767},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>setting_panel_btns/rq5250000</key>
            <dict>
                <key>frame</key>
                <string>{{761,305},{118,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,123}}</string>
                <key>sourceSize</key>
                <string>{118,123}</string>
            </dict>
            <key>settingavatarbottomlines0000</key>
            <dict>
                <key>frame</key>
                <string>{{617,162},{298,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,4}}</string>
                <key>sourceSize</key>
                <string>{298,4}</string>
            </dict>
            <key>uewnfjdiufd9sa9f0dsfdskfdsmd0000</key>
            <dict>
                <key>frame</key>
                <string>{{634,441},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>ui_empty0000</key>
            <dict>
                <key>frame</key>
                <string>{{551,429},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>wdj_hjrejkwrkewrewr0000</key>
            <dict>
                <key>frame</key>
                <string>{{812,425},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>wechat_alipay_3nj2nr23nrewrw0000</key>
            <dict>
                <key>frame</key>
                <string>{{734,598},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>wechat_pay_icon_setting_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{825,849},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>wechat_tencent_pay_icon_sprite0000</key>
            <dict>
                <key>frame</key>
                <string>{{826,681},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>wifidownload.disable.201708100000</key>
            <dict>
                <key>frame</key>
                <string>{{909,754},{79,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,68}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>wifidownloadbtn.enable.20178100000</key>
            <dict>
                <key>frame</key>
                <string>{{904,584},{85,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,80}}</string>
                <key>sourceSize</key>
                <string>{85,80}</string>
            </dict>
            <key>重复项目文件夹/对号10000</key>
            <dict>
                <key>frame</key>
                <string>{{921,931},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_game_setting.png</string>
            <key>size</key>
            <string>{995,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27430d27a4ce788eab93bfcb6974f831:afd3441c439cdc9ea038eee2ac0541cc:07f343839d0d47036bafb7dd92e9e167$</string>
            <key>textureFileName</key>
            <string>panel_game_setting.png</string>
        </dict>
    </dict>
</plist>
