<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SummerWeeklyRacePanel/cells/btnBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{491,303},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>SummerWeeklyRacePanel/cells/frame0000</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>SummerWeeklyRacePanel/cells/shareIcon10000</key>
            <dict>
                <key>frame</key>
                <string>{{444,529},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>SummerWeeklyRacePanel/cells/shareIcon20000</key>
            <dict>
                <key>frame</key>
                <string>{{390,529},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>SummerWeeklyRacePanel/cells/shareTipMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{196,407},{192,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,135}}</string>
                <key>sourceSize</key>
                <string>{192,135}</string>
            </dict>
            <key>SummerWeeklyRacePanel/imgs/dwqewqewq0000</key>
            <dict>
                <key>frame</key>
                <string>{{399,64},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>SummerWeeklyRacePanel/resfdsfa/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{399,138},{182,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,41}}</string>
                <key>sourceSize</key>
                <string>{182,41}</string>
            </dict>
            <key>SummerWeeklyRacePanel/resfdsfa/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{399,95},{182,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,41}}</string>
                <key>sourceSize</key>
                <string>{182,41}</string>
            </dict>
            <key>SummerWeeklyRacePanel/select/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{494,529},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>SummerWeeklyRacePanel/select/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,6}}</string>
                <key>sourceSize</key>
                <string>{469,6}</string>
            </dict>
            <key>SummerWeeklyRacePanel/select/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{399,181},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>SummerWeeklyRacePanel/select/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{390,407},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>SummerWeeklyRacePanel/select/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{399,303},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>SummerWeeklyRacePanel/shareTip/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{192,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,135}}</string>
                <key>sourceSize</key>
                <string>{192,135}</string>
            </dict>
            <key>SummerWeeklyRacePanel/shareTip/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{399,10},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>SummerWeeklyRacePanel/wq/lights__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,10},{395,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,395}}</string>
                <key>sourceSize</key>
                <string>{395,395}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_summer_weekly_share2.png</string>
            <key>size</key>
            <string>{584,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2d73c838ff181bd12c2aff8377e14ee:0d87689efed5998b75350022be795517:1146e9704f381f01e263442b22f8908d$</string>
            <key>textureFileName</key>
            <string>panel_summer_weekly_share2.png</string>
        </dict>
    </dict>
</plist>
