<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giveback_panel_stamp0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,141}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{232,141}}</string>
                <key>sourceSize</key>
                <string>{240,161}</string>
            </dict>
            <key>givebacktPanel/announce_panel_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>givebacktPanel/announce_panel_deco_blue0000</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{13,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,47}}</string>
                <key>sourceSize</key>
                <string>{13,47}</string>
            </dict>
            <key>givebacktPanel/announce_panel_deco_red0000</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{13,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,47}}</string>
                <key>sourceSize</key>
                <string>{13,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_give_back.png</string>
            <key>size</key>
            <string>{266,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb6d459061bedf49128ca0b7b93a1fa:f4290c46c41bf84f731c5d38c4bbd818:854dfb59916be161b1a3ec0ebf7702ea$</string>
            <key>textureFileName</key>
            <string>panel_give_back.png</string>
        </dict>
    </dict>
</plist>
