<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accountSettingPanel/account_icon_3600000</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>accountSettingPanel/account_icon_mi0000</key>
            <dict>
                <key>frame</key>
                <string>{{142,53},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>accountSettingPanel/account_icon_phone0000</key>
            <dict>
                <key>frame</key>
                <string>{{95,130},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>accountSettingPanel/account_icon_qq0000</key>
            <dict>
                <key>frame</key>
                <string>{{83,184},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>accountSettingPanel/account_icon_setting0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>accountSettingPanel/account_icon_wdj0000</key>
            <dict>
                <key>frame</key>
                <string>{{142,101},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>accountSettingPanel/account_icon_wechat0000</key>
            <dict>
                <key>frame</key>
                <string>{{51,130},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>accountSettingPanel/account_icon_weibo0000</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>accountSettingPanel/account_name_underline0000</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{188,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,4}}</string>
                <key>sourceSize</key>
                <string>{188,4}</string>
            </dict>
            <key>accountSettingPanel/aewtre0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>accountSettingPanel/personalaccountTipDot0000</key>
            <dict>
                <key>frame</key>
                <string>{{182,184},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>accountSettingPanel/sasdadadsad0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{79,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,29}}</string>
                <key>sourceSize</key>
                <string>{79,29}</string>
            </dict>
            <key>accountSettingPanel/separator_line_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{180,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,5}}</string>
                <key>sourceSize</key>
                <string>{180,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_account_setting.png</string>
            <key>size</key>
            <string>{231,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e982be4989597d79e0cfc71d32d455ab:a9339f1c4917bbf7b5902ec116ebf0f5:976ac596849b32569beda6b3f9fdadce$</string>
            <key>textureFileName</key>
            <string>panel_account_setting.png</string>
        </dict>
    </dict>
</plist>
