<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>assets/1111/__resources/银币0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{120,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,35}}</string>
				<key>sourceSize</key>
				<string>{120,35}</string>
			</dict>
			<key>assets/1111/assetsreq/grt4rtere/泡泡发射器弹窗/bubble_jksidn0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{165,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,174}}</string>
				<key>sourceSize</key>
				<string>{165,174}</string>
			</dict>
			<key>coin__uk__10000</key>
			<dict>
				<key>frame</key>
				<string>{{122,176},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,41}}</string>
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_preprop_remind.png</string>
			<key>size</key>
			<string>{170,220}</string>
			<key>textureFileName</key>
			<string>panel_preprop_remind.png</string>
		</dict>
	</dict>
</plist>
