<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CollectStars2018/jsmapng/x10000</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1034},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>CollectStars2018/jsmapng/x20000</key>
            <dict>
                <key>frame</key>
                <string>{{1158,982},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>CollectStars2018/jsmapng/x30000</key>
            <dict>
                <key>frame</key>
                <string>{{1158,930},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>CollectStars2018/jsmapng/x40000</key>
            <dict>
                <key>frame</key>
                <string>{{632,1231},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>CollectStars2018/jsmapng/x50000</key>
            <dict>
                <key>frame</key>
                <string>{{1158,878},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>FifthAnniversary_add_step/piggyi_40000</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1196},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>act_countdown_party_add5/20180411/labe10000</key>
            <dict>
                <key>frame</key>
                <string>{{433,943},{238,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,48}}</string>
                <key>sourceSize</key>
                <string>{238,48}</string>
            </dict>
            <key>act_countdown_party_add5/20180411/label20000</key>
            <dict>
                <key>frame</key>
                <string>{{620,1063},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,48}</string>
            </dict>
            <key>act_countdown_party_add5/cells/bearBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{888,634},{156,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,137}}</string>
                <key>sourceSize</key>
                <string>{156,137}</string>
            </dict>
            <key>act_countdown_party_add5/cells/bubbleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{339,611},{330,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,155}}</string>
                <key>sourceSize</key>
                <string>{330,155}</string>
            </dict>
            <key>act_countdown_party_add5/cells/collection0000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1221},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>act_countdown_party_add5/cells/tip10000</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2},{179,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,37}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>act_countdown_party_add5/cells/tip20000</key>
            <dict>
                <key>frame</key>
                <string>{{496,899},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{104,37}</string>
            </dict>
            <key>add_step_money_line10000</key>
            <dict>
                <key>frame</key>
                <string>{{1094,529},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>add_step_panel/buy2flag0000</key>
            <dict>
                <key>frame</key>
                <string>{{760,1183},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>add_step_panel/cell/bg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{1023,487},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>add_step_panel/cell/btnbgshdow12323412340000</key>
            <dict>
                <key>frame</key>
                <string>{{698,173},{490,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,126}}</string>
                <key>sourceSize</key>
                <string>{490,126}</string>
            </dict>
            <key>add_step_panel/cell/btnbgshdow12323412342222220000</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{491,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,169}}</string>
                <key>sourceSize</key>
                <string>{491,169}</string>
            </dict>
            <key>add_step_panel/cell/closeBtnBg_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{1106,596},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>add_step_panel/cell/closeBtnBg_newLight_likai0000</key>
            <dict>
                <key>frame</key>
                <string>{{1240,676},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>add_step_panel/cell/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,805},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>add_step_panel/cell/oriNumberLine0000</key>
            <dict>
                <key>frame</key>
                <string>{{1092,393},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>add_step_panel_bubble/cells/newBubble_newDrak0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{614,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,123}}</string>
                <key>sourceSize</key>
                <string>{614,123}</string>
            </dict>
            <key>addsteplotterybuttonicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{483,1101},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>ali_ios_pay_guide_link_res_add_five/assert/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{660,308},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>ali_ios_pay_guide_link_res_add_five/link1__0000</key>
            <dict>
                <key>frame</key>
                <string>{{328,947},{324,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,48}}</string>
                <key>sourceSize</key>
                <string>{324,48}</string>
            </dict>
            <key>as_discountSymbol0000</key>
            <dict>
                <key>frame</key>
                <string>{{986,1196},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>bfg23htt40000</key>
            <dict>
                <key>frame</key>
                <string>{{632,1113},{116,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,126}</string>
            </dict>
            <key>collectstarfiveicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{906,935},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>discountNum10000</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1227},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum20000</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1177},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum30000</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1126},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum40000</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1076},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum50000</key>
            <dict>
                <key>frame</key>
                <string>{{1207,978},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum60000</key>
            <dict>
                <key>frame</key>
                <string>{{1207,928},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum70000</key>
            <dict>
                <key>frame</key>
                <string>{{1207,878},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum80000</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1127},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>discountNum90000</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1077},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>goodsDiscountMinor10000</key>
            <dict>
                <key>frame</key>
                <string>{{1178,301},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>goodsDiscountMinor20000</key>
            <dict>
                <key>frame</key>
                <string>{{567,1101},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>goodsNumSize0000</key>
            <dict>
                <key>frame</key>
                <string>{{1094,467},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>goodsNumSize20000</key>
            <dict>
                <key>frame</key>
                <string>{{685,1231},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>goodsPlateBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{694,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,304}}</string>
                <key>sourceSize</key>
                <string>{694,304}</string>
            </dict>
            <key>goodsPlateBubble0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{324,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,324}}</string>
                <key>sourceSize</key>
                <string>{324,324}</string>
            </dict>
            <key>goodsPlateDiscountBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{1142,635},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>goodsPlateLabel10000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>goodsPlateLabel20000</key>
            <dict>
                <key>frame</key>
                <string>{{1222,725},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>goodsPlateShine0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{335,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,334}}</string>
                <key>sourceSize</key>
                <string>{335,334}</string>
            </dict>
            <key>goodsPlateTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{378,943},{332,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,53}}</string>
                <key>sourceSize</key>
                <string>{332,53}</string>
            </dict>
            <key>ios_abc_test/cells/bubbleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{622,764},{179,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,166}}</string>
                <key>sourceSize</key>
                <string>{179,166}</string>
            </dict>
            <key>ios_abc_test/cells/freeFlag0000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,875},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>ios_abc_test/cells/plus0000</key>
            <dict>
                <key>frame</key>
                <string>{{1140,347},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>ios_abc_test/find-chan-zi0000</key>
            <dict>
                <key>frame</key>
                <string>{{803,773},{161,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,160}}</string>
                <key>sourceSize</key>
                <string>{161,160}</string>
            </dict>
            <key>new-lottery-icon-1-201902210000</key>
            <dict>
                <key>frame</key>
                <string>{{533,1183},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>new-lottery-icon-2-201902210000</key>
            <dict>
                <key>frame</key>
                <string>{{1142,725},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new-lottery-icon-3-201902210000</key>
            <dict>
                <key>frame</key>
                <string>{{433,1183},{98,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{98,97}</string>
            </dict>
            <key>oldPriceSize0000</key>
            <dict>
                <key>frame</key>
                <string>{{1046,558},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>ownHPPlateGoldNumSize0000</key>
            <dict>
                <key>frame</key>
                <string>{{1106,551},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>prebuff001/cds8ayd8d98hj896fdas7c896ds879a6fdsds0000</key>
            <dict>
                <key>frame</key>
                <string>{{760,1066},{144,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>prebuff001/cdsa98cyuds980ahc8dsa6f7d8sa6f89dsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1077},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>prebuff001/cdsahc87ds6f7ds89ac7ds65afds0acdsauif978ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{483,943},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>prebuff001/ndsaf98d7sa9cjd8s9a7f87ds687f96da87fdscdsaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{763,935},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>prebuff001/vfn987y982y1h89ds76a786ds7a6cdsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1166,520},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>prebuff002/cds8ayd8d98hj896fdas7c896ds879a6fdsds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1041,931},{144,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>prebuff002/cdsa98cyuds980ahc8dsa6f7d8sa6f89dsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{906,1069},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>prebuff002/cdsahc87ds6f7ds89ac7ds65afds0acdsauif978ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{966,773},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>prebuff002/fij9e9j932798f0d89cyd9fsj4358790ucu8d7gf9fdgfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,537},{378,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,49}}</string>
                <key>sourceSize</key>
                <string>{378,49}</string>
            </dict>
            <key>prebuff002/ndsaf98d7sa9cjd8s9a7f87ds687f96da87fdscdsaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{620,932},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>prebuff002/res/starinfo_l0000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1176},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>prebuff002/res/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1177,805},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>prebuff002/tip8_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{618,487},{403,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,48}}</string>
                <key>sourceSize</key>
                <string>{403,48}</string>
            </dict>
            <key>prebuff002/vfn987y982y1h89ds76a786ds7a6cdsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1166,405},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>prebuff002/z0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{656,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,176}}</string>
                <key>sourceSize</key>
                <string>{656,176}</string>
            </dict>
            <key>scorebuffTextPic0000</key>
            <dict>
                <key>frame</key>
                <string>{{622,588},{383,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,44}}</string>
                <key>sourceSize</key>
                <string>{383,44}</string>
            </dict>
            <key>tip10res/tip10_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{660,347},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>tip10res/tip11_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{698,301},{478,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,44}}</string>
                <key>sourceSize</key>
                <string>{478,44}</string>
            </dict>
            <key>tip12_res/TicketRes/goldTicket0000</key>
            <dict>
                <key>frame</key>
                <string>{{1046,635},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>tip12_res/TicketRes/silverTicket0000</key>
            <dict>
                <key>frame</key>
                <string>{{882,1188},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>tip12_res/tip12_text_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{660,439},{427,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,46}}</string>
                <key>sourceSize</key>
                <string>{427,46}</string>
            </dict>
            <key>tip9res/tip9_res0000</key>
            <dict>
                <key>frame</key>
                <string>{{660,393},{430,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,44}}</string>
                <key>sourceSize</key>
                <string>{430,44}</string>
            </dict>
            <key>ui_buttons/close_yellow/ui_button_close_panel_yellow_shape123__mmp0000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,107},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>ui_buttons/close_yellow/ui_button_close_panel_yellow_shape123_newLight_mmp0000</key>
            <dict>
                <key>frame</key>
                <string>{{1240,635},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>ui_buttons/close_yellow/ui_button_close_panel_yellow_shape__mmp0000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,107},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>重复项目文件夹/ui_button_green_scale9 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{622,634},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>重复项目文件夹/ui_button_shadow 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{496,611},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>重复项目文件夹/ui_fontsize_rect 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,157},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>重复项目文件夹/ui_image_coin_icon_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1028},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>重复项目文件夹/元件 26 副本 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1190,275},{85,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,11}}</string>
                <key>sourceSize</key>
                <string>{85,11}</string>
            </dict>
            <key>重复项目文件夹/锤子2 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1190,183},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_add_step.png</string>
            <key>size</key>
            <string>{1282,1282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fdfb64ca2a1c56c78928170ffb578ee:735ee4477f0bd0e1387cdfde5f01c68b:ca82444e1eccb6c088038b36c2b0dce7$</string>
            <key>textureFileName</key>
            <string>panel_add_step.png</string>
        </dict>
    </dict>
</plist>
