<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LimitItemGuidePanel/shine10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{231,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{231,229}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>LimitItemGuidePanel/shine20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,248}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>LimitItemGuidePanel/shine30000</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>LimitItemGuidePanel/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{235,252},{183,194}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,194}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_limit_guide.png</string>
            <key>size</key>
            <string>{483,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c5efb2bd9d1335f36d4539daefe3bb:e6a068239fe3447ec54498536cd64ef7:42862aa9665a8b2c47b84d661771f5b8$</string>
            <key>textureFileName</key>
            <string>panel_limit_guide.png</string>
        </dict>
    </dict>
</plist>
