<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close0000</key>
            <dict>
                <key>frame</key>
                <string>{{877,1366},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>flower0000</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1139},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>fruitTree/43t34r23q424e233420000</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1451},{74,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,48}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>fruitTree/account_icon_3600000</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1420},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>fruitTree/account_icon_mi0000</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1260},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,46}</string>
            </dict>
            <key>fruitTree/account_icon_phone0000</key>
            <dict>
                <key>frame</key>
                <string>{{1392,717},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{32,52}</string>
            </dict>
            <key>fruitTree/account_icon_qq0000</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1420},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>fruitTree/account_icon_wdj0000</key>
            <dict>
                <key>frame</key>
                <string>{{1449,826},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>fruitTree/account_icon_weibo0000</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1369},{57,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,49}}</string>
                <key>sourceSize</key>
                <string>{57,49}</string>
            </dict>
            <key>fruitTree/highlight0000</key>
            <dict>
                <key>frame</key>
                <string>{{1438,543},{147,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,61}}</string>
                <key>sourceSize</key>
                <string>{147,61}</string>
            </dict>
            <key>fruitTree/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,1316},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
            <key>fruitTree/tipBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,1164},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>fruitTreePanel_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1278,629},{158,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,86}}</string>
                <key>sourceSize</key>
                <string>{158,86}</string>
            </dict>
            <key>fruitTreePanel_goldMark0000</key>
            <dict>
                <key>frame</key>
                <string>{{1193,707},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>fruitTreeTopPanel_coinMark0000</key>
            <dict>
                <key>frame</key>
                <string>{{945,1373},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>fruitTreeTopPanel_energyMark0000</key>
            <dict>
                <key>frame</key>
                <string>{{1438,692},{61,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,78}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>fruitTreeTopPanel_rewardBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1310},{108,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{108,120}</string>
            </dict>
            <key>icon_login_20180125/icon_wechat_small0000</key>
            <dict>
                <key>frame</key>
                <string>{{877,1432},{60,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,51}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
            <key>imgs/bg_inner_fruits0000</key>
            <dict>
                <key>frame</key>
                <string>{{749,1164},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>imgs/bg_inner_fruits50000</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{710,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,340}}</string>
                <key>sourceSize</key>
                <string>{710,340}</string>
            </dict>
            <key>imgs/coinIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1449,772},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>imgs/energyIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1117},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>imgs/fruitTreeBottomPanel_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,781},{960,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,222}}</string>
                <key>sourceSize</key>
                <string>{960,222}</string>
            </dict>
            <key>imgs/fruitTreeBottomPanel_picked_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{1472,33},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>imgs/fruitTreeBottomPanel_pickedbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{248,1469},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>imgs/fruitTreePanel_fruit00000</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1308},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>imgs/fruitTreePanel_fruit5e0000</key>
            <dict>
                <key>frame</key>
                <string>{{344,1404},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>imgs/fruitTreePanel_fruit5g0000</key>
            <dict>
                <key>frame</key>
                <string>{{1409,914},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>imgs/fruitTreePanel_fruit5s0000</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1310},{94,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>imgs/fruitTreeTitlePanel_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1421,543},{25,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>imgs/fruitTreeUpgradePanel_condition20000</key>
            <dict>
                <key>frame</key>
                <string>{{1266,717},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>imgs/homeSceneStarIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1329,717},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>imgs/icn_regen1530000</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1200},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>imgs/icn_speed1560000</key>
            <dict>
                <key>frame</key>
                <string>{{978,1457},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>imgs/innerbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,1005},{488,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,111}}</string>
                <key>sourceSize</key>
                <string>{488,111}</string>
            </dict>
            <key>imgs/innerbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{937,1005},{334,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,110}}</string>
                <key>sourceSize</key>
                <string>{334,110}</string>
            </dict>
            <key>imgs/jiantou10000</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1467},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>imgs/leaf_leftdown0000</key>
            <dict>
                <key>frame</key>
                <string>{{640,1407},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>imgs/leaf_rightdown0000</key>
            <dict>
                <key>frame</key>
                <string>{{640,1316},{107,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,89}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>imgs/linebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,753}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,753}}</string>
                <key>sourceSize</key>
                <string>{708,753}</string>
            </dict>
            <key>imgs/method_bgsa1f0000</key>
            <dict>
                <key>frame</key>
                <string>{{752,1366},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>imgs/pngor0000</key>
            <dict>
                <key>frame</key>
                <string>{{1449,874},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>imgs/upgradetitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{1409,772},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>imgs/vine_img0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,757},{19,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,256}}</string>
                <key>sourceSize</key>
                <string>{19,256}</string>
            </dict>
            <key>new_fruit/assert/_t0000</key>
            <dict>
                <key>frame</key>
                <string>{{447,1118},{496,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,44}}</string>
                <key>sourceSize</key>
                <string>{496,44}</string>
            </dict>
            <key>new_fruit/assert/l10000</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1467},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>new_fruit/assert/l20000</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1467},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>new_fruit/assert/l3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1421,317},{140,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,78}}</string>
                <key>sourceSize</key>
                <string>{140,78}</string>
            </dict>
            <key>new_fruit/assert/l4_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1005},{214,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,132}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>new_fruit/assert/scaleBG_0000</key>
            <dict>
                <key>frame</key>
                <string>{{712,337},{479,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,442}}</string>
                <key>sourceSize</key>
                <string>{479,442}</string>
            </dict>
            <key>new_fruit/assert/string_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1469},{21,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,211}}</string>
                <key>sourceSize</key>
                <string>{21,211}</string>
            </dict>
            <key>new_fruit/bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{706,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,333}}</string>
                <key>sourceSize</key>
                <string>{706,333}</string>
            </dict>
            <key>new_fruit/big/big_ll0000</key>
            <dict>
                <key>frame</key>
                <string>{{344,757},{101,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,645}}</string>
                <key>sourceSize</key>
                <string>{101,645}</string>
            </dict>
            <key>new_fruit/content0000</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{313,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,50}}</string>
                <key>sourceSize</key>
                <string>{313,50}</string>
            </dict>
            <key>new_fruit/icon/i1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1373},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>new_fruit/icon/i2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1373},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>new_fruit/icon/i3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1421,459},{82,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{82,78}</string>
            </dict>
            <key>new_fruit/scaleBG_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1278,337},{290,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,141}}</string>
                <key>sourceSize</key>
                <string>{290,141}</string>
            </dict>
            <key>new_fruit/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{1193,337},{368,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,83}}</string>
                <key>sourceSize</key>
                <string>{368,83}</string>
            </dict>
            <key>new_fruit/vipPick20171012/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>new_fruit/vipPick20171012/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{215,1469},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>new_fruit/vipPick20171012/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{939,1457},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>sprite/fruittreepanel_animal0000</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1139},{169,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,185}}</string>
                <key>sourceSize</key>
                <string>{169,185}</string>
            </dict>
            <key>重复项目文件夹/ui_button_green_scale9 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1243},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>重复项目文件夹/ui_button_green_scale9 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1243},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1243},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>重复项目文件夹/ui_button_shadow 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1117},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>重复项目文件夹/ui_button_shadow 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1117},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1117},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>重复项目文件夹/ui_fontsize_rect 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1266,707},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>重复项目文件夹/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1266,707},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1266,707},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_fruit_tree.png</string>
            <key>size</key>
            <string>{1501,1501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552d0730a1759d598acc4310b2cf657c:61fadc7a4ccac6838032db0a0c62b8c3:31596cfdee02d87811cc596126429da0$</string>
            <key>textureFileName</key>
            <string>panel_fruit_tree.png</string>
        </dict>
    </dict>
</plist>
