<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ConfirmBuyFullEnergyPanel/img/animal0000</key>
			<dict>
				<key>frame</key>
				<string>{{613,2},{228,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,255}}</string>
				<key>sourceSize</key>
				<string>{228,255}</string>
			</dict>
			<key>ConfirmBuyFullEnergyPanel/img/lightning0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,155},{99,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,130}}</string>
				<key>sourceSize</key>
				<string>{99,130}</string>
			</dict>
			<key>ConfirmBuyFullEnergyPanel/img/tagbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,155},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>confirm_energy_panel_bubble/cells/newBubble0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{609,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{609,151}}</string>
				<key>sourceSize</key>
				<string>{609,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_confirm_buy_full_energy.png</string>
			<key>size</key>
			<string>{900,300}</string>
			<key>textureFileName</key>
			<string>panel_confirm_buy_full_energy.png</string>
		</dict>
	</dict>
</plist>
