<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PigYearItems/bag10000</key>
            <dict>
                <key>frame</key>
                <string>{{209,78},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>PigYearItems/res/tip10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{240,71}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{240,71}}</string>
                <key>sourceSize</key>
                <string>{256,77}</string>
            </dict>
            <key>PigYearItems/res/tip20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,74}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{287,74}}</string>
                <key>sourceSize</key>
                <string>{295,78}</string>
            </dict>
            <key>PigYearItems/res/tip30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{205,72}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{205,72}}</string>
                <key>sourceSize</key>
                <string>{295,82}</string>
            </dict>
            <key>PigYearItems/ticket10000</key>
            <dict>
                <key>frame</key>
                <string>{{244,124},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,41}}</string>
                <key>sourceSize</key>
                <string>{47,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pig_year_start_tip.png</string>
            <key>size</key>
            <string>{291,291}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55c4d02f5e69c297389c47c5841cf32a:be95d7d2a52d6a72af8fc9506d731e4c:87e696123430209451d8c5b0a1d03588$</string>
            <key>textureFileName</key>
            <string>pig_year_start_tip.png</string>
        </dict>
    </dict>
</plist>
