<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prePropDiscountNoti/assets/magicBirdIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>prePropDiscountNoti/assets/panelDesc10000</key>
            <dict>
                <key>frame</key>
                <string>{{381,260},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>prePropDiscountNoti/assets/panelDesc20000</key>
            <dict>
                <key>frame</key>
                <string>{{381,134},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>prePropDiscountNoti/assets/panelTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,56}}</string>
                <key>sourceSize</key>
                <string>{440,56}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_buttons/button_common/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{417,386},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_buttons/close_brown/ui_button_close_panel_brown_shape0000</key>
            <dict>
                <key>frame</key>
                <string>{{381,386},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_buttons_new/btn_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{270,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,108}}</string>
                <key>sourceSize</key>
                <string>{270,108}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_buttons_new/btn_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{280,60},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{280,326},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_commons/ui_transparent_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{417,386},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_scale9/ui_brown_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{274,338},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>prePropDiscountNoti/assets/ui_scale9/ui_yellow_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{360,60},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pre_prop_discount.png</string>
            <key>size</key>
            <string>{449,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ce3bb7234cd72650d5761bc56454b7:33239b93a78f906e45c6c5b0b6c25c71:53909a0250ad1812c7ec6afc012da85e$</string>
            <key>textureFileName</key>
            <string>pre_prop_discount.png</string>
        </dict>
    </dict>
</plist>
