<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>___replacer_push_binding0000</key>
			<dict>
				<key>frame</key>
				<string>{{345,232},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>chdusaif789sdahfjdsa678213789dfasdf0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{352,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,218}}</string>
				<key>sourceSize</key>
				<string>{352,218}</string>
			</dict>
			<key>img_push_binding/beginnerpanel_cdkey_input_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{326,326},{65,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,56}}</string>
				<key>sourceSize</key>
				<string>{65,56}</string>
			</dict>
			<key>img_push_binding/beginnerpanel_inputtatus0000</key>
			<dict>
				<key>frame</key>
				<string>{{235,383},{65,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,52}}</string>
				<key>sourceSize</key>
				<string>{65,52}</string>
			</dict>
			<key>inputLabelbg_jfdijikfasdfds0000</key>
			<dict>
				<key>frame</key>
				<string>{{333,263},{89,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,61}}</string>
				<key>sourceSize</key>
				<string>{89,61}</string>
			</dict>
			<key>inputLabelbg_push_binding0000</key>
			<dict>
				<key>frame</key>
				<string>{{235,320},{89,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,61}}</string>
				<key>sourceSize</key>
				<string>{89,61}</string>
			</dict>
			<key>other_hdjkasf7dsa67fdsa/bg10000</key>
			<dict>
				<key>frame</key>
				<string>{{356,2},{152,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,152}}</string>
				<key>sourceSize</key>
				<string>{152,152}</string>
			</dict>
			<key>other_hdjkasf7dsa67fdsa/gamesetting_more_info0000</key>
			<dict>
				<key>frame</key>
				<string>{{463,156},{44,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,175}}</string>
				<key>sourceSize</key>
				<string>{44,175}</string>
			</dict>
			<key>personal_push_binding/personalcenter_bgbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{356,156},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,105}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>personal_push_binding/personalcenter_bgbg10000</key>
			<dict>
				<key>frame</key>
				<string>{{235,222},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>personal_push_binding/phplacehholder3287234222222220000</key>
			<dict>
				<key>frame</key>
				<string>{{333,222},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>personal_push_binding/selected0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,222},{231,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,230}}</string>
				<key>sourceSize</key>
				<string>{231,230}</string>
			</dict>
			<key>personal_push_binding/ui_empty0000</key>
			<dict>
				<key>frame</key>
				<string>{{345,222},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>push_upload_avatar_panel.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>push_upload_avatar_panel.png</string>
		</dict>
	</dict>
</plist>
