<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>_assets/brush0000</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{60,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,74}}</string>
				<key>sourceSize</key>
				<string>{60,74}</string>
			</dict>
			<key>_assets/bubbleBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{173,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,173}}</string>
				<key>sourceSize</key>
				<string>{173,173}</string>
			</dict>
			<key>_assets/iceScream0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{168,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,181}}</string>
				<key>sourceSize</key>
				<string>{168,181}</string>
			</dict>
			<key>_assets/itemTitle0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{254,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{254,96}}</string>
				<key>sourceSize</key>
				<string>{254,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>RecallUI.png</string>
			<key>size</key>
			<string>{256,470}</string>
			<key>textureFileName</key>
			<string>RecallUI.png</string>
		</dict>
	</dict>
</plist>
