<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal2_add_friend_message_bg_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1042},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ask_for_help_explain_dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1123},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>ask_for_help_record_dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1108},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>ask_for_help_record_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1381},{536,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,5}}</string>
                <key>sourceSize</key>
                <string>{536,5}</string>
            </dict>
            <key>ask_help_xuanchuan_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{632,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,181}}</string>
                <key>sourceSize</key>
                <string>{632,181}</string>
            </dict>
            <key>assert.xxx/yhdf8s80f9dsf78s7fdsjafhjda9f9sfsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{811,1138},{212,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,287}}</string>
                <key>sourceSize</key>
                <string>{212,287}</string>
            </dict>
            <key>assert.xxx/ysjfd9sa9fidsf8d9safdsdfhjsnfdsg0000</key>
            <dict>
                <key>frame</key>
                <string>{{811,690},{446,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,264}}</string>
                <key>sourceSize</key>
                <string>{446,264}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 1/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1108},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 1/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{672,694},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 1/ui_scale9/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,636},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1396},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 2/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{328,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,43}}</string>
                <key>sourceSize</key>
                <string>{328,43}</string>
            </dict>
            <key>assert.xxx/未命名文件夹 2/重复项目文件夹/ui_fontsize_rect__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{672,694},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>gdkkfgd9s89fds908f90dsfgdgfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,704},{626,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,176}}</string>
                <key>sourceSize</key>
                <string>{626,176}</string>
            </dict>
            <key>help_line0000</key>
            <dict>
                <key>frame</key>
                <string>{{662,690},{105,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,2}}</string>
                <key>sourceSize</key>
                <string>{105,2}</string>
            </dict>
            <key>jmdf89dsandf789daskdfdsfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,1332},{154,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,94}}</string>
                <key>sourceSize</key>
                <string>{154,94}</string>
            </dict>
            <key>message.interface.2018.06.15/res/friendRankingPanelItem_res/friendRanking_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{1304,636},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>message_icon_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1419},{81,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,72}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>messageitemhelp/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{672,694},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>messageitemhelp/vfdsgh8d9uvjds6g785fd645g4fd56s45gh892h5ruhgfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1134},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>request_message_panel/approve_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{737,1428},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>request_message_panel/cdsa89fashncvds9a8fds7f87ds8a7fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{439,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,44}}</string>
                <key>sourceSize</key>
                <string>{439,44}</string>
            </dict>
            <key>request_message_panel/cellBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1377},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>request_message_panel/cellBg20000</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1285},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>request_message_panel/cellBg2Shine0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1433},{296,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,59}}</string>
                <key>sourceSize</key>
                <string>{296,59}</string>
            </dict>
            <key>request_message_panel/cellBg30000</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1352},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>request_message_panel/clearance0000</key>
            <dict>
                <key>frame</key>
                <string>{{1443,443},{131,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,44}}</string>
                <key>sourceSize</key>
                <string>{131,44}</string>
            </dict>
            <key>request_message_panel/crown0000</key>
            <dict>
                <key>frame</key>
                <string>{{600,1428},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>request_message_panel/dsaf7891723hjsd7a890fdsia89dhc89dsa7f86dsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{629,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,668}}</string>
                <key>sourceSize</key>
                <string>{629,668}</string>
            </dict>
            <key>request_message_panel/fasd789126378dbhfa879df7d8scbndsa87f8sda0000</key>
            <dict>
                <key>frame</key>
                <string>{{1365,902},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>request_message_panel/fay89u21h8dsa6f7d6sa786f8sd7afdsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1302},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>request_message_panel/fdhsabfsaytiuensafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1438,576},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>request_message_panel/giftIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1174},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>request_message_panel/icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{789,1352},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>request_message_panel/itemclose0000</key>
            <dict>
                <key>frame</key>
                <string>{{300,1433},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>request_message_panel/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{572,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,3}}</string>
                <key>sourceSize</key>
                <string>{572,3}</string>
            </dict>
            <key>request_message_panel/mitalk_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1255,636},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>request_message_panel/newVersionReward0000</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1052},{130,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>request_message_panel/sadashiewnknfshadusadgfdsf__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1174},{75,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,109}</string>
            </dict>
            <key>request_message_panel/sfbxczeybnd0000</key>
            <dict>
                <key>frame</key>
                <string>{{526,1388},{72,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>request_message_panel/zero/res/addFriend/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{658,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{658,700}}</string>
                <key>sourceSize</key>
                <string>{658,700}</string>
            </dict>
            <key>request_message_panel/zero/res/unlock/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{591,686}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,686}}</string>
                <key>sourceSize</key>
                <string>{591,686}</string>
            </dict>
            <key>request_message_panel/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{737,1474},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>request_message_panel_arrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1077,690},{416,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,114}}</string>
                <key>sourceSize</key>
                <string>{416,114}</string>
            </dict>
            <key>request_message_panel_ph0000</key>
            <dict>
                <key>frame</key>
                <string>{{662,694},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>request_message_panel_top_half0000</key>
            <dict>
                <key>frame</key>
                <string>{{1193,690},{360,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,170}}</string>
                <key>sourceSize</key>
                <string>{360,170}</string>
            </dict>
            <key>request_message_panel_zero_dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{473,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,4}}</string>
                <key>sourceSize</key>
                <string>{473,4}</string>
            </dict>
            <key>request_message_tabArrow0000</key>
            <dict>
                <key>frame</key>
                <string>{{614,1374},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>request_message_tabDeco0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{610,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,5}}</string>
                <key>sourceSize</key>
                <string>{610,5}</string>
            </dict>
            <key>title_mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,1388},{192,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,63}}</string>
                <key>sourceSize</key>
                <string>{192,63}</string>
            </dict>
            <key>type_unlock_ico0000</key>
            <dict>
                <key>frame</key>
                <string>{{901,1352},{83,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,102}}</string>
                <key>sourceSize</key>
                <string>{83,102}</string>
            </dict>
            <key>wechaticon_request0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,1428},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>request_message_panel.png</string>
            <key>size</key>
            <string>{1495,1495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ddf547594db0fc776035e3fae389b7e:db5441f85a706f9ce68db280fa06ef3d:52351f86a8d199244b217cf057c3a990$</string>
            <key>textureFileName</key>
            <string>request_message_panel.png</string>
        </dict>
    </dict>
</plist>
