<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cas7df93h289760vhv7da6f78dasf6dsafdsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{636,636}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{636,636}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>cdsa78f67d8saychd7sa85f67dsa57f5ds8a77hcd7s80000</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{638,621}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{638,621}}</string>
                <key>sourceSize</key>
                <string>{692,683}</string>
            </dict>
            <key>cdsacdsa87df89dsychd7s8a6f78sd56a5f7safds0000</key>
            <dict>
                <key>frame</key>
                <string>{{762,640},{202,113}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{202,113}}</string>
                <key>sourceSize</key>
                <string>{230,157}</string>
            </dict>
            <key>cdsadfsach7d08asf76dsahc7sd8a56fdsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,976},{145,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,166}}</string>
                <key>sourceSize</key>
                <string>{145,166}</string>
            </dict>
            <key>cdsafc89s7af896ds78afdsafhdsjhfsaf98dsa7f8ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{758,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{758,762}}</string>
                <key>sourceSize</key>
                <string>{760,762}</string>
            </dict>
            <key>cdsafcdsn7867ds5af67ds5a76f5dsfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{642,766},{208,140}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{208,140}}</string>
                <key>sourceSize</key>
                <string>{234,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareFeeds.png</string>
            <key>size</key>
            <string>{1400,1400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1955dba653fbc570b91fc35e6e83259a:6ed665de953bae9544b88999b0de5ca3:3d9cb8d302f9acf1c6410664c707ccff$</string>
            <key>textureFileName</key>
            <string>ShareFeeds.png</string>
        </dict>
    </dict>
</plist>
