<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_btn_icon/sbi_mi0000</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>share_btn_icon/sbi_qq0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>share_btn_icon/sbi_wx0000</key>
            <dict>
                <key>frame</key>
                <string>{{50,46},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ShareButtonIcon.png</string>
            <key>size</key>
            <string>{92,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f07f3d0b8c155eab22654b5b597c63d:f0d907f93a87de873906c059f19c8b10:dee1ec2f5c6a4d12f61e768dc863621f$</string>
            <key>textureFileName</key>
            <string>ShareButtonIcon.png</string>
        </dict>
    </dict>
</plist>
