<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarBank/StarBankCoinItem/cell/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{222,646},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>StarBank/cell/bg10000</key>
            <dict>
                <key>frame</key>
                <string>{{62,254},{253,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,236}}</string>
                <key>sourceSize</key>
                <string>{253,236}</string>
            </dict>
            <key>StarBank/cell/bg30000</key>
            <dict>
                <key>frame</key>
                <string>{{160,648},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>StarBank/cell/coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{6,662},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>StarBank/cell/descBtn0000</key>
            <dict>
                <key>frame</key>
                <string>{{56,662},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>StarBank/cell/dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{245,590},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>StarBank/cell/hcloud0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,250}}</string>
                <key>sourceSize</key>
                <string>{712,250}</string>
            </dict>
            <key>StarBank/cell/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{172,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,2}}</string>
                <key>sourceSize</key>
                <string>{172,2}</string>
            </dict>
            <key>StarBank/cell/starbg10000</key>
            <dict>
                <key>frame</key>
                <string>{{6,522},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>StarBank/cell/starbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{82,509},{80,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,137}}</string>
                <key>sourceSize</key>
                <string>{80,137}</string>
            </dict>
            <key>StarBank/cell/starbg30000</key>
            <dict>
                <key>frame</key>
                <string>{{164,509},{79,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,135}}</string>
                <key>sourceSize</key>
                <string>{79,135}</string>
            </dict>
            <key>StarBank/cell/tipbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{98,648},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>StarBank/cell/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{266,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,58}}</string>
                <key>sourceSize</key>
                <string>{266,58}</string>
            </dict>
            <key>StarBank/cell/zhebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{245,509},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>star_bank_new.png</string>
            <key>size</key>
            <string>{716,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7856f1e28ec7aa8f0e5a98cb538656de:0b892549d82811699555f83f5e191743:9d936b33d9a0d39fef5ce76b6d6921e8$</string>
            <key>textureFileName</key>
            <string>star_bank_new.png</string>
        </dict>
    </dict>
</plist>
