<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuck_folder/abcdefghi0000</key>
            <dict>
                <key>frame</key>
                <string>{{706,943},{140,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>fuck_folder/asdfas0000</key>
            <dict>
                <key>frame</key>
                <string>{{494,1173},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>fuck_folder/asdfasdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{587,529},{302,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,44}}</string>
                <key>sourceSize</key>
                <string>{302,44}</string>
            </dict>
            <key>fuck_folder/asdfasf0000</key>
            <dict>
                <key>frame</key>
                <string>{{500,1093},{256,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,78}}</string>
                <key>sourceSize</key>
                <string>{256,78}</string>
            </dict>
            <key>fuck_folder/asdfbxczzxvc0000</key>
            <dict>
                <key>frame</key>
                <string>{{1099,313},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>fuck_folder/backgroundSelected0000</key>
            <dict>
                <key>frame</key>
                <string>{{941,1122},{177,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,75}}</string>
                <key>sourceSize</key>
                <string>{177,75}</string>
            </dict>
            <key>fuck_folder/backgroundSelected220000</key>
            <dict>
                <key>frame</key>
                <string>{{943,943},{177,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,75}}</string>
                <key>sourceSize</key>
                <string>{177,75}</string>
            </dict>
            <key>fuck_folder/backgroundSelected3330000</key>
            <dict>
                <key>frame</key>
                <string>{{587,855},{177,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,75}}</string>
                <key>sourceSize</key>
                <string>{177,75}</string>
            </dict>
            <key>fuck_folder/bbg1_9s0000</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1047},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fuck_folder/bbs_new_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1199,955},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fuck_folder/closeiconzz0000</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1047},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>fuck_folder/fdfdsaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,313},{464,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,62}}</string>
                <key>sourceSize</key>
                <string>{464,62}</string>
            </dict>
            <key>fuck_folder/get_none0000</key>
            <dict>
                <key>frame</key>
                <string>{{766,886},{190,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,55}}</string>
                <key>sourceSize</key>
                <string>{190,55}</string>
            </dict>
            <key>fuck_folder/green_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{758,1087},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fuck_folder/leaf_leftdown0000</key>
            <dict>
                <key>frame</key>
                <string>{{1020,939},{110,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{110,83}</string>
            </dict>
            <key>fuck_folder/leaf_rightdown0000</key>
            <dict>
                <key>frame</key>
                <string>{{850,1077},{107,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,89}}</string>
                <key>sourceSize</key>
                <string>{107,89}</string>
            </dict>
            <key>fuck_folder/poiuqwpioeurq0000</key>
            <dict>
                <key>frame</key>
                <string>{{1105,955},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>fuck_folder/qqqqqqqqq0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,105},{536,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,206}}</string>
                <key>sourceSize</key>
                <string>{536,206}</string>
            </dict>
            <key>fuck_folder/qqqqqqrrrrrrrrrr0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{513,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,405}}</string>
                <key>sourceSize</key>
                <string>{513,405}</string>
            </dict>
            <key>fuck_folder/rewq0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{302,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,156}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
            <key>fuck_folder/share_four_star_cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,525}}</string>
                <key>sourceSize</key>
                <string>{629,525}</string>
            </dict>
            <key>fuck_folder/wocala0000</key>
            <dict>
                <key>frame</key>
                <string>{{517,529},{402,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,68}}</string>
                <key>sourceSize</key>
                <string>{402,68}</string>
            </dict>
            <key>fuck_folder/yezi_l0000</key>
            <dict>
                <key>frame</key>
                <string>{{306,1139},{164,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,186}}</string>
                <key>sourceSize</key>
                <string>{164,186}</string>
            </dict>
            <key>fuck_folder/元件510000</key>
            <dict>
                <key>frame</key>
                <string>{{766,860},{24,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,254}}</string>
                <key>sourceSize</key>
                <string>{24,254}</string>
            </dict>
            <key>new_star/assert/inner0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,377},{305,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,309}}</string>
                <key>sourceSize</key>
                <string>{305,309}</string>
            </dict>
            <key>new_star/assert_2/bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{826,686},{317,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,129}}</string>
                <key>sourceSize</key>
                <string>{317,129}</string>
            </dict>
            <key>new_star/assert_2/big_leaf_10000</key>
            <dict>
                <key>frame</key>
                <string>{{848,943},{132,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
            <key>new_star/assert_2/big_leaf_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,686},{143,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>new_star/assert_2/lb0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{702,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,155}}</string>
                <key>sourceSize</key>
                <string>{702,155}</string>
            </dict>
            <key>new_star/assert_2/small_leaf_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1141},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>new_star/assert_2/small_leaf_3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1266},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>new_star/assert_2/small_left_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1141},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>new_star/assert_2/tt_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1093},{496,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,44}}</string>
                <key>sourceSize</key>
                <string>{496,44}</string>
            </dict>
            <key>new_star/body_assert/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{633,684},{169,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,191}}</string>
                <key>sourceSize</key>
                <string>{169,191}</string>
            </dict>
            <key>new_star/body_assert/frame0000</key>
            <dict>
                <key>frame</key>
                <string>{{944,377},{304,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,307}}</string>
                <key>sourceSize</key>
                <string>{304,307}</string>
            </dict>
            <key>new_star/body_assert/lb20000</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{101,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,645}}</string>
                <key>sourceSize</key>
                <string>{101,645}</string>
            </dict>
            <key>new_star/leaf/BGXXX0000</key>
            <dict>
                <key>frame</key>
                <string>{{1097,831},{165,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,59}}</string>
                <key>sourceSize</key>
                <string>{165,59}</string>
            </dict>
            <key>new_star/leaf/l10000</key>
            <dict>
                <key>frame</key>
                <string>{{958,886},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>new_star/leaf/l20000</key>
            <dict>
                <key>frame</key>
                <string>{{1247,758},{71,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,42}}</string>
                <key>sourceSize</key>
                <string>{71,42}</string>
            </dict>
            <key>new_star/leaf/l30000</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1139},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>new_star/leaf/l40000</key>
            <dict>
                <key>frame</key>
                <string>{{1264,831},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>new_star/leaf/l50000</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1139},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>new_star/progress/bar_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1250,558},{198,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,57}}</string>
                <key>sourceSize</key>
                <string>{198,57}</string>
            </dict>
            <key>new_star/progress/bar_proc00000</key>
            <dict>
                <key>frame</key>
                <string>{{1250,358},{198,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,57}}</string>
                <key>sourceSize</key>
                <string>{198,57}</string>
            </dict>
            <key>new_star/tab/tab_btn/bg_normal__0000</key>
            <dict>
                <key>frame</key>
                <string>{{1120,892},{169,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,61}}</string>
                <key>sourceSize</key>
                <string>{169,61}</string>
            </dict>
            <key>new_star/tab/tab_btn/label4.normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{1257,219},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>new_star/tab/tab_btn/label4.selected0000</key>
            <dict>
                <key>frame</key>
                <string>{{1257,105},{112,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>new_star/tab/tab_btn/sda 0000</key>
            <dict>
                <key>frame</key>
                <string>{{883,1266},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>new_star/tab/tab_btn/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{765,1253},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>new_star/tab/tab_btn/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1038,860},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>new_star/tab/tab_btn/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1266},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>new_star/tab/tab_btn/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1266},{77,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,41}}</string>
                <key>sourceSize</key>
                <string>{77,41}</string>
            </dict>
            <key>new_star/tab/tab_btn/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1266},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>new_star/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{1171,105},{251,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,84}}</string>
                <key>sourceSize</key>
                <string>{251,84}</string>
            </dict>
            <key>tab10000</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1199},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>tab2220000</key>
            <dict>
                <key>frame</key>
                <string>{{931,1199},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>tab3330000</key>
            <dict>
                <key>frame</key>
                <string>{{752,1186},{177,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,65}}</string>
                <key>sourceSize</key>
                <string>{177,65}</string>
            </dict>
            <key>title_30000</key>
            <dict>
                <key>frame</key>
                <string>{{494,1253},{269,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,41}}</string>
                <key>sourceSize</key>
                <string>{269,41}</string>
            </dict>
            <key>title_40000</key>
            <dict>
                <key>frame</key>
                <string>{{826,817},{269,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,41}}</string>
                <key>sourceSize</key>
                <string>{269,41}</string>
            </dict>
            <key>ui_yellow_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1051},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>star_achievement.png</string>
            <key>size</key>
            <string>{1309,1309}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c26c88cf5d9616fc738fd1f548e9ccf:b5959610f0aaab85f02670c8eba09996:f0b27aefbfdf4e565035ce220cb900f5$</string>
            <key>textureFileName</key>
            <string>star_achievement.png</string>
        </dict>
    </dict>
</plist>
