<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarBankCoinItem/cell/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,339}}</string>
                <key>sourceSize</key>
                <string>{651,339}</string>
            </dict>
            <key>StarBankCoinItem/cell/bgbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>StarBankCoinItem/cell/blue0000</key>
            <dict>
                <key>frame</key>
                <string>{{177,343},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>StarBankCoinItem/cell/discountBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{168,563},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>StarBankCoinItem/cell/gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{168,453},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>StarBankCoinItem/cell/green0000</key>
            <dict>
                <key>frame</key>
                <string>{{94,343},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>StarBankCoinItem/cell/orange0000</key>
            <dict>
                <key>frame</key>
                <string>{{85,495},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>StarBankCoinItem/cell/purple0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>StarBankCoinItem/cell/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{88,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,13}}</string>
                <key>sourceSize</key>
                <string>{88,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StarBankCoinItem.png</string>
            <key>size</key>
            <string>{655,655}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d64368910ad55ae8d1b4cd1ce3cafd7e:1499d358ff4d3e4985d3e9d10ebf8620:23d80abb17f0c3e51c85f370af14f129$</string>
            <key>textureFileName</key>
            <string>StarBankCoinItem.png</string>
        </dict>
    </dict>
</plist>
