<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com.niu2x.store.res/1/650000</key>
            <dict>
                <key>frame</key>
                <string>{{148,751},{182,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,143}}</string>
                <key>sourceSize</key>
                <string>{182,143}</string>
            </dict>
            <key>com.niu2x.store.res/1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{947,1047},{275,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,71}}</string>
                <key>sourceSize</key>
                <string>{275,71}</string>
            </dict>
            <key>com.niu2x.store.res/1/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{680,947},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>com.niu2x.store.res/11/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1150},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>com.niu2x.store.res/11/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>com.niu2x.store.res/11/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{832,1309},{119,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,109}}</string>
                <key>sourceSize</key>
                <string>{119,109}</string>
            </dict>
            <key>com.niu2x.store.res/11/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{680,983},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>com.niu2x.store.res/12/56465/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1544,26},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>com.niu2x.store.res/12/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{685,445},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>com.niu2x.store.res/123/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{37,1321},{323,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,235}}</string>
                <key>sourceSize</key>
                <string>{323,235}</string>
            </dict>
            <key>com.niu2x.store.res/15/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1414,565},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>com.niu2x.store.res/15/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1234},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>com.niu2x.store.res/15/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{685,737},{172,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,41}}</string>
                <key>sourceSize</key>
                <string>{172,41}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{951,479},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 190000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{241,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,33}}</string>
                <key>sourceSize</key>
                <string>{241,33}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1346},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 230000</key>
            <dict>
                <key>frame</key>
                <string>{{685,632},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1412},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1326},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1346},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>com.niu2x.store.res/18/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{685,685},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>com.niu2x.store.res/2/13/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{680,911},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>com.niu2x.store.res/2/23132140000</key>
            <dict>
                <key>frame</key>
                <string>{{1433,436},{133,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,127}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>com.niu2x.store.res/2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1006,479},{159,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,62}}</string>
                <key>sourceSize</key>
                <string>{159,62}</string>
            </dict>
            <key>com.niu2x.store.res/21/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1241,760},{388,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,323}}</string>
                <key>sourceSize</key>
                <string>{388,323}</string>
            </dict>
            <key>com.niu2x.store.res/22/元件 240000</key>
            <dict>
                <key>frame</key>
                <string>{{951,436},{480,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,41}}</string>
                <key>sourceSize</key>
                <string>{480,41}</string>
            </dict>
            <key>com.niu2x.store.res/23/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>com.niu2x.store.res/3/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,240}}</string>
                <key>sourceSize</key>
                <string>{960,240}</string>
            </dict>
            <key>com.niu2x.store.res/34/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1438},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{122,120}</string>
            </dict>
            <key>com.niu2x.store.res/34/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1412,717},{162,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,41}}</string>
                <key>sourceSize</key>
                <string>{162,41}</string>
            </dict>
            <key>com.niu2x.store.res/36/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{408,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,296}}</string>
                <key>sourceSize</key>
                <string>{408,296}</string>
            </dict>
            <key>com.niu2x.store.res/36/元件 230000</key>
            <dict>
                <key>frame</key>
                <string>{{332,751},{346,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,298}}</string>
                <key>sourceSize</key>
                <string>{346,298}</string>
            </dict>
            <key>com.niu2x.store.res/36/元件 250000</key>
            <dict>
                <key>frame</key>
                <string>{{525,1317},{305,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,258}}</string>
                <key>sourceSize</key>
                <string>{305,258}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{443,1321},{224,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,80}}</string>
                <key>sourceSize</key>
                <string>{224,80}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 2 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1224},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{681,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,180}}</string>
                <key>sourceSize</key>
                <string>{681,180}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 230000</key>
            <dict>
                <key>frame</key>
                <string>{{685,503},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 250000</key>
            <dict>
                <key>frame</key>
                <string>{{1520,307},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>com.niu2x.store.res/4/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{685,387},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>com.niu2x.store.res/4/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{469,1051},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>com.niu2x.store.res/4/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{728,760},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>com.niu2x.store.res/4/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1544,26},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>com.niu2x.store.res/5/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1167,479},{44,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,253}}</string>
                <key>sourceSize</key>
                <string>{44,253}</string>
            </dict>
            <key>com.niu2x.store.res/6/StarBankCoinItem/cell/blue0000</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1460},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>com.niu2x.store.res/6/StarBankCoinItem/cell/gold0000</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1460},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>com.niu2x.store.res/6/StarBankCoinItem/cell/green0000</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1460},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>com.niu2x.store.res/6/StarBankCoinItem/cell/orange0000</key>
            <dict>
                <key>frame</key>
                <string>{{942,1460},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>com.niu2x.store.res/6/StarBankCoinItem/cell/purple0000</key>
            <dict>
                <key>frame</key>
                <string>{{832,1430},{108,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>com.niu2x.store.res/6/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{599,1051},{346,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,256}}</string>
                <key>sourceSize</key>
                <string>{346,256}</string>
            </dict>
            <key>com.niu2x.store.res/6/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{300,1051},{268,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,167}}</string>
                <key>sourceSize</key>
                <string>{268,167}</string>
            </dict>
            <key>com.niu2x.store.res/6/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{578,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,303}}</string>
                <key>sourceSize</key>
                <string>{578,303}</string>
            </dict>
            <key>com.niu2x.store.res/6/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{747,244},{299,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,202}}</string>
                <key>sourceSize</key>
                <string>{299,202}</string>
            </dict>
            <key>com.niu2x.store.res/6/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{854,760},{385,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,285}}</string>
                <key>sourceSize</key>
                <string>{385,285}</string>
            </dict>
            <key>com.niu2x.store.res/8/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1482},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>com.niu2x.store.res/99/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{951,307},{567,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,127}}</string>
                <key>sourceSize</key>
                <string>{567,127}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{681,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,180}}</string>
                <key>sourceSize</key>
                <string>{681,180}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{947,1120},{338,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,269}}</string>
                <key>sourceSize</key>
                <string>{338,269}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/未命名文件夹 1/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1150},{224,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,72}}</string>
                <key>sourceSize</key>
                <string>{224,72}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/未命名文件夹 1/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{362,1321},{230,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,79}}</string>
                <key>sourceSize</key>
                <string>{230,79}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{743,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,141}}</string>
                <key>sourceSize</key>
                <string>{743,141}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{740,545},{672,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,106}}</string>
                <key>sourceSize</key>
                <string>{672,106}</string>
            </dict>
            <key>com.niu2x.store.res/xxxx/重复项目文件夹/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{738,653},{672,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,105}}</string>
                <key>sourceSize</key>
                <string>{672,105}</string>
            </dict>
            <key>com.niu2x.store/item-sp-10098-0000</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1438},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{1577,1577}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662bf442fa66699effc821a8eaad5cce:e50df98fe1134d68f6d33288fdc38fb8:ee0860f12ea04ba9ef83abc23bb8c439$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
