<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_ui_thumb/cells/labelBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>component_ui_thumb/cells/thumb0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thumb.png</string>
            <key>size</key>
            <string>{42,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f7404486b018d7224c78e59431ea74:97af339ca568a93536fabb4864f5ab47:7c73f7cc608bc0f8897ecec1ae1696dd$</string>
            <key>textureFileName</key>
            <string>thumb.png</string>
        </dict>
    </dict>
</plist>
