<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>umpay/inputLabelbg_push_binding0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{89,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,61}}</string>
                <key>sourceSize</key>
                <string>{89,61}</string>
            </dict>
            <key>umpay/personal_center_achi_hide_bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>umpay_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{93,100},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UMPayPanel.png</string>
            <key>size</key>
            <string>{163,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2918506e891f524e74675cf185199f1f:7d1b60051cf238c6032321d0ef74c2c2:ada9154061359c0a126c302ea868f444$</string>
            <key>textureFileName</key>
            <string>UMPayPanel.png</string>
        </dict>
    </dict>
</plist>
