<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gd9sdkfnd0smfdskf78sdgfdgf0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{402,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{402,232}}</string>
				<key>sourceSize</key>
				<string>{402,232}</string>
			</dict>
			<key>unlock_guide/mitalk_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{406,61},{52,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,47}}</string>
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>
			<key>wechaticon_request10000</key>
			<dict>
				<key>frame</key>
				<string>{{406,2},{67,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,57}}</string>
				<key>sourceSize</key>
				<string>{67,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>unlock_guide_panel.png</string>
			<key>size</key>
			<string>{512,250}</string>
			<key>textureFileName</key>
			<string>unlock_guide_panel.png</string>
		</dict>
	</dict>
</plist>
