<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_unlock/__resource/WorldSceneUnlockInfoPanelBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{565,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,375}}</string>
                <key>sourceSize</key>
                <string>{565,375}</string>
            </dict>
            <key>area_unlock/__resource/cdsafd6s7cds7af6d4s76a7fg21783yt7yd78syfasdfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{833,597},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>area_unlock/__resource/dsafgds7af678ds6a7gd7df678sd5af765dsa76fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{833,694},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>area_unlock/__resource/fengexian0000</key>
            <dict>
                <key>frame</key>
                <string>{{379,615},{541,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,4}}</string>
                <key>sourceSize</key>
                <string>{541,4}</string>
            </dict>
            <key>area_unlock/__resource/friendItemNameBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{1125,494},{119,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,37}}</string>
                <key>sourceSize</key>
                <string>{119,37}</string>
            </dict>
            <key>area_unlock/__resource/gfnhws54ahwegtq30000</key>
            <dict>
                <key>frame</key>
                <string>{{385,970},{236,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,74}}</string>
                <key>sourceSize</key>
                <string>{236,74}</string>
            </dict>
            <key>area_unlock/__resource/icon_360ddd0000</key>
            <dict>
                <key>frame</key>
                <string>{{932,1075},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>area_unlock/__resource/little_chiken_N20000</key>
            <dict>
                <key>frame</key>
                <string>{{833,899},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>area_unlock/__resource/little_frog_N20000</key>
            <dict>
                <key>frame</key>
                <string>{{935,873},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>area_unlock/__resource/little_hippo_N20000</key>
            <dict>
                <key>frame</key>
                <string>{{833,797},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>area_unlock/__resource/sdgvgfnw34resfdv 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{385,1046},{133,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,103}}</string>
                <key>sourceSize</key>
                <string>{133,103}</string>
            </dict>
            <key>area_unlock/__resource/sdgvgfnw34resfdv0000</key>
            <dict>
                <key>frame</key>
                <string>{{490,1046},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
            <key>area_unlock/__resource/timeUnlocakBtn_c0000</key>
            <dict>
                <key>frame</key>
                <string>{{385,615},{259,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,127}}</string>
                <key>sourceSize</key>
                <string>{259,127}</string>
            </dict>
            <key>area_unlock/__resource/time_bar0000</key>
            <dict>
                <key>frame</key>
                <string>{{748,445},{293,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,61}}</string>
                <key>sourceSize</key>
                <string>{293,61}</string>
            </dict>
            <key>area_unlock/__resource/time_bar_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{944,597},{274,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,61}}</string>
                <key>sourceSize</key>
                <string>{274,61}</string>
            </dict>
            <key>area_unlock/__resource/time_count_down0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{653,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{653,611}}</string>
                <key>sourceSize</key>
                <string>{653,611}</string>
            </dict>
            <key>area_unlock/__resource/time_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{833,1001},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>area_unlock/__resource/unlock_star_n0000</key>
            <dict>
                <key>frame</key>
                <string>{{1043,445},{119,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,76}}</string>
                <key>sourceSize</key>
                <string>{119,76}</string>
            </dict>
            <key>area_unlock/__resource/unlocklevelsstarsprogressbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{586,1046},{105,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,56}}</string>
                <key>sourceSize</key>
                <string>{105,56}</string>
            </dict>
            <key>area_unlock/__resource/vrdhgsew3rsefg0000</key>
            <dict>
                <key>frame</key>
                <string>{{935,975},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>area_unlock/__resource/进度条yell copy0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,445},{89,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,46}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>area_unlock/cdsaf7d89acu9dsaf78sd0a789dcdsafk9dsaf78ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{745,597},{580,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,86}}</string>
                <key>sourceSize</key>
                <string>{580,86}</string>
            </dict>
            <key>area_unlock/cdsajc89sa0783cdsjaf9dsa789302y8ds0a7cds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1126,70},{422,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,52}}</string>
                <key>sourceSize</key>
                <string>{422,52}</string>
            </dict>
            <key>area_unlock/cdsg97f89dsvfd78392u89ucd9a7fsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{467,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,441}}</string>
                <key>sourceSize</key>
                <string>{467,441}</string>
            </dict>
            <key>area_unlock/dsabjgf9g89ds08983jc98s08182938cvvdf0000</key>
            <dict>
                <key>frame</key>
                <string>{{1037,566},{602,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,86}}</string>
                <key>sourceSize</key>
                <string>{602,86}</string>
            </dict>
            <key>area_unlock/rmbIcon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>area_unlock/xasjiduiojqionioehcuyafoscdsdf9s8a90f8dscds0000</key>
            <dict>
                <key>frame</key>
                <string>{{657,494},{651,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,86}}</string>
                <key>sourceSize</key>
                <string>{651,86}</string>
            </dict>
            <key>area_unlock/xcdsa89df790yh3209hd78s96af7ds77c90000</key>
            <dict>
                <key>frame</key>
                <string>{{385,744},{244,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,224}}</string>
                <key>sourceSize</key>
                <string>{244,224}</string>
            </dict>
            <key>area_unlock/xsajid23879d9asfd0fd0scjds9a89ds890afcj8sda0000</key>
            <dict>
                <key>frame</key>
                <string>{{745,508},{290,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,87}}</string>
                <key>sourceSize</key>
                <string>{290,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlock_cloud_panel_new.png</string>
            <key>size</key>
            <string>{1183,1183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08bcc6f0e58b1ed1c155fc4c7fd91ee7:087eec4f687466ae3215d9ab27bf36e3:9c7b6269f16397bf081b9b34e8476ed7$</string>
            <key>textureFileName</key>
            <string>unlock_cloud_panel_new.png</string>
        </dict>
    </dict>
</plist>
