<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gp/update_version_panel_47_1518/skin/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1280}}</string>
                <key>sourceSize</key>
                <string>{960,1280}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/pap0000</key>
            <dict>
                <key>frame</key>
                <string>{{389,1284},{213,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,208}}</string>
                <key>sourceSize</key>
                <string>{213,208}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/pic_10000</key>
            <dict>
                <key>frame</key>
                <string>{{964,750},{529,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,166}}</string>
                <key>sourceSize</key>
                <string>{529,166}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/sdawq0000</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1424},{474,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,165}}</string>
                <key>sourceSize</key>
                <string>{474,165}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{259,1284},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{133,1284},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1579},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{964,918},{514,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,168}}</string>
                <key>sourceSize</key>
                <string>{514,168}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{964,514},{573,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,234}}</string>
                <key>sourceSize</key>
                <string>{573,234}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{964,1088},{514,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,163}}</string>
                <key>sourceSize</key>
                <string>{514,163}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{1557,392},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{12,1579},{457,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,4}}</string>
                <key>sourceSize</key>
                <string>{457,4}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{1539,514},{432,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,52}}</string>
                <key>sourceSize</key>
                <string>{432,52}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 190000</key>
            <dict>
                <key>frame</key>
                <string>{{1495,750},{414,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,36}}</string>
                <key>sourceSize</key>
                <string>{414,36}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{599,1284},{474,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,171}}</string>
                <key>sourceSize</key>
                <string>{474,171}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1253},{474,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,169}}</string>
                <key>sourceSize</key>
                <string>{474,169}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1557,431},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{964,392},{591,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,120}}</string>
                <key>sourceSize</key>
                <string>{591,120}</string>
            </dict>
            <key>gp/update_version_panel_47_1518/skin/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{600,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,388}}</string>
                <key>sourceSize</key>
                <string>{600,388}</string>
            </dict>
            <key>gp/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{389,1499},{440,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,64}}</string>
                <key>sourceSize</key>
                <string>{440,64}</string>
            </dict>
            <key>gp/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{293,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,129}}</string>
                <key>sourceSize</key>
                <string>{293,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_new_version_panel_ver_47a.png</string>
            <key>size</key>
            <string>{1593,1593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:400ebbcece9e741c5181f028aa46d3fd:0598c18c24fd0256043b0632adc0bbe7:271b75592bff1085fc01ddb25af82c4e$</string>
            <key>textureFileName</key>
            <string>update_new_version_panel_ver_47a.png</string>
        </dict>
    </dict>
</plist>
