<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line.dot0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{61,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,4}}</string>
                <key>sourceSize</key>
                <string>{61,4}</string>
            </dict>
            <key>loadingBar0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,753},{90,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,8}}</string>
                <key>sourceSize</key>
                <string>{90,8}</string>
            </dict>
            <key>loadingBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{99,845},{90,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,8}}</string>
                <key>sourceSize</key>
                <string>{90,8}</string>
            </dict>
            <key>new/bg_123456780000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,749}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,749}}</string>
                <key>sourceSize</key>
                <string>{589,749}</string>
            </dict>
            <key>new/newBG2__0000</key>
            <dict>
                <key>frame</key>
                <string>{{99,753},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>new/progressBG__0000</key>
            <dict>
                <key>frame</key>
                <string>{{697,474},{151,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,50}}</string>
                <key>sourceSize</key>
                <string>{151,50}</string>
            </dict>
            <key>new/progressFG__0000</key>
            <dict>
                <key>frame</key>
                <string>{{697,645},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>new/xbt_s20000</key>
            <dict>
                <key>frame</key>
                <string>{{593,223},{224,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,54}}</string>
                <key>sourceSize</key>
                <string>{224,54}</string>
            </dict>
            <key>title__haha110000</key>
            <dict>
                <key>frame</key>
                <string>{{593,301},{533,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,102}}</string>
                <key>sourceSize</key>
                <string>{533,102}</string>
            </dict>
            <key>touxiang0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>update_new_version/img/cell/paper10000</key>
            <dict>
                <key>frame</key>
                <string>{{817,604},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>update_new_version/img/cell/paper20000</key>
            <dict>
                <key>frame</key>
                <string>{{819,223},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>update_new_version/img/cell/paper30000</key>
            <dict>
                <key>frame</key>
                <string>{{817,574},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>update_new_version/img/cell/paper40000</key>
            <dict>
                <key>frame</key>
                <string>{{819,252},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>update_new_version/img/cell/paper50000</key>
            <dict>
                <key>frame</key>
                <string>{{817,526},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>update_new_version/paopao20177170000</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{234,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,219}}</string>
                <key>sourceSize</key>
                <string>{234,219}</string>
            </dict>
            <key>xiaoji0000</key>
            <dict>
                <key>frame</key>
                <string>{{697,301},{171,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,157}}</string>
                <key>sourceSize</key>
                <string>{171,157}</string>
            </dict>
            <key>重复项目文件夹/biankuang2220000</key>
            <dict>
                <key>frame</key>
                <string>{{697,526},{118,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,117}}</string>
                <key>sourceSize</key>
                <string>{118,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_new_version_panel.png</string>
            <key>size</key>
            <string>{856,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45003ff4a574792bd766e6da66df645c:38fd7ece14a005a726c8091cfac8489e:0d1ac88235543d537532461547b84b60$</string>
            <key>textureFileName</key>
            <string>update_new_version_panel.png</string>
        </dict>
    </dict>
</plist>
