<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>user_review.res/Replay/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{480,374},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>user_review.res/Replay/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{556,87},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>user_review.res/Replay/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{607,87},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>user_review.res/Replay/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{204,512},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>user_review.res/Replay/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{556,139},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>user_review.res/Replay/未命名文件夹 1/未命名文件夹 2/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{83,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,51}}</string>
                <key>sourceSize</key>
                <string>{83,51}</string>
            </dict>
            <key>user_review.res/Replay/未命名文件夹 1/未命名文件夹 2/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{572,374},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>user_review.res/Replay/未命名文件夹 1/重复项目文件夹/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{311,326},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>user_review.res/panel.res/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,255}}</string>
                <key>sourceSize</key>
                <string>{335,255}</string>
            </dict>
            <key>user_review.res/panel.res/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{480,226},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{146,144}</string>
            </dict>
            <key>user_review.res/panel.res/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,251}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>user_review.res/panel.res/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{633,619},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>user_review.res/r/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{469,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,139}}</string>
                <key>sourceSize</key>
                <string>{469,139}</string>
            </dict>
            <key>user_review.res/r/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{255,473},{398,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,93}}</string>
                <key>sourceSize</key>
                <string>{398,93}</string>
            </dict>
            <key>user_review.res/r/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{204,568},{427,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,87}}</string>
                <key>sourceSize</key>
                <string>{427,87}</string>
            </dict>
            <key>user_review.res/r2/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{633,568},{49,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,34}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>user_review.res/r2/未命名文件夹 1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>user_review.res/res/res/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{222,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,36}}</string>
                <key>sourceSize</key>
                <string>{222,36}</string>
            </dict>
            <key>user_review.res/res/res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{222,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,36}}</string>
                <key>sourceSize</key>
                <string>{222,36}</string>
            </dict>
            <key>user_review.res/res/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{154,512},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>user_review.res/res/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{311,259},{65,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,21}}</string>
                <key>sourceSize</key>
                <string>{65,21}</string>
            </dict>
            <key>user_review.res/res/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{255,414},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>user_review.res/res/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{311,336},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>user_review.res/res/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{154,634},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>user_review.res/res/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{255,259},{153,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,54}}</string>
                <key>sourceSize</key>
                <string>{153,54}</string>
            </dict>
            <key>user_review.res/www0000</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{222,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,36}}</string>
                <key>sourceSize</key>
                <string>{222,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>user_review.png</string>
            <key>size</key>
            <string>{670,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb220750dc1e606399cbe6d94dbaa535:ea1b2d83be230800240460326f511be5:80b41cacb12742da9a8d8440f6259915$</string>
            <key>textureFileName</key>
            <string>user_review.png</string>
        </dict>
    </dict>
</plist>
