<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VideoAd/cell/arrow10000</key>
            <dict>
                <key>frame</key>
                <string>{{455,1519},{49,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,67}}</string>
                <key>sourceSize</key>
                <string>{49,67}</string>
            </dict>
            <key>VideoAd/cell/arrowlight0000</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1518},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>VideoAd/cell/bottombg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1147,764}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1147,764}}</string>
                <key>sourceSize</key>
                <string>{1147,764}</string>
            </dict>
            <key>VideoAd/cell/closec0000</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1027},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>VideoAd/cell/gift0000</key>
            <dict>
                <key>frame</key>
                <string>{{1359,955},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{94,107}</string>
            </dict>
            <key>VideoAd/cell/leftye0000</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2},{138,426}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,426}}</string>
                <key>sourceSize</key>
                <string>{140,426}</string>
            </dict>
            <key>VideoAd/cell/light0000</key>
            <dict>
                <key>frame</key>
                <string>{{1347,430},{348,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,140}}</string>
                <key>sourceSize</key>
                <string>{348,140}</string>
            </dict>
            <key>VideoAd/cell/mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{1324,780},{430,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,33}}</string>
                <key>sourceSize</key>
                <string>{430,33}</string>
            </dict>
            <key>VideoAd/cell/progbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1519},{451,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,49}}</string>
                <key>sourceSize</key>
                <string>{451,49}</string>
            </dict>
            <key>VideoAd/cell/prohicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1433},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>VideoAd/cell/rightye0000</key>
            <dict>
                <key>frame</key>
                <string>{{692,1400},{117,422}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{117,422}}</string>
                <key>sourceSize</key>
                <string>{137,422}</string>
            </dict>
            <key>VideoAd/cell/startbg10000</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1212},{214,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,219}}</string>
                <key>sourceSize</key>
                <string>{214,219}</string>
            </dict>
            <key>VideoAd/cell/startbtnc0000</key>
            <dict>
                <key>frame</key>
                <string>{{1359,780},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>VideoAd/cell/starttxt0000</key>
            <dict>
                <key>frame</key>
                <string>{{1487,2},{115,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,61}}</string>
                <key>sourceSize</key>
                <string>{115,61}</string>
            </dict>
            <key>VideoAd/cell/titleBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{762,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,194}}</string>
                <key>sourceSize</key>
                <string>{762,194}</string>
            </dict>
            <key>VideoAd/cell/trun0000</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1400},{104,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>VideoAd/cell/video0000</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1400},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>VideoAd/rank.race.get.reward/321/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1459},{518,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,58}}</string>
                <key>sourceSize</key>
                <string>{518,58}</string>
            </dict>
            <key>VideoAd/rank.race.get.reward/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1174},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>VideoAd/rank.race.get.reward/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1504},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>VideoAd/rank.race.get.reward/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1518},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/ASSERT/未命名文件夹 2/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1504},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/asdwq/KitchenGodsDay_2/fsafsa/重复项目文件夹/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1504},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/asdwq/KitchenGodsDay_2/weq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1064},{82,108}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,108}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/asdwq/wqewqe0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{688,689}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{688,689}}</string>
                <key>sourceSize</key>
                <string>{694,695}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/asdwq/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{692,768},{630,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,630}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank.assert/asdwq/重复项目文件夹/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{1455,955},{70,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank/as/timeLabel10000</key>
            <dict>
                <key>frame</key>
                <string>{{1487,119},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>VideoAd/turntable/n.race.rank/as/timeLabel20000</key>
            <dict>
                <key>frame</key>
                <string>{{522,1459},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VideoAdPanel.png</string>
            <key>size</key>
            <string>{1570,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d48a7ea9f2fe9ea9debdfc97c0470bf:7581e4b08f77751d1e24dffc17338e9f:59f4c11ee18015b578de61b21f17114d$</string>
            <key>textureFileName</key>
            <string>VideoAdPanel.png</string>
        </dict>
    </dict>
</plist>
