<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wdj_remove/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{702,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,632}}</string>
                <key>sourceSize</key>
                <string>{702,632}</string>
            </dict>
            <key>wdj_remove/check10000</key>
            <dict>
                <key>frame</key>
                <string>{{735,81},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>wdj_remove/denglu0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{138,129}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{138,129}}</string>
                <key>sourceSize</key>
                <string>{192,187}</string>
            </dict>
            <key>wdj_remove/icon110000</key>
            <dict>
                <key>frame</key>
                <string>{{411,636},{98,103}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>wdj_remove/numbermc0000</key>
            <dict>
                <key>frame</key>
                <string>{{706,51},{58,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{58,28}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>wdj_remove/titlemc0000</key>
            <dict>
                <key>frame</key>
                <string>{{142,636},{267,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{267,103}}</string>
                <key>sourceSize</key>
                <string>{277,115}</string>
            </dict>
            <key>wdj_remove/zi0000</key>
            <dict>
                <key>frame</key>
                <string>{{706,81},{94,27}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,27}}</string>
                <key>sourceSize</key>
                <string>{102,41}</string>
            </dict>
            <key>wdj_remove/重复项目文件夹/对号10000</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{58,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wdj_remove.png</string>
            <key>size</key>
            <string>{767,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b58d3f7bcacb4564434d69cb9f55b2:03ffde3e894f855106dd6903b8353e4e:5a383e7d745edc6009d4703a92ed409d$</string>
            <key>textureFileName</key>
            <string>wdj_remove.png</string>
        </dict>
    </dict>
</plist>
