<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ios_pay_guide_res_wechat_20170927/1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{874,494},{490,870}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,870}}</string>
                <key>sourceSize</key>
                <string>{490,870}</string>
            </dict>
            <key>ios_pay_guide_res_wechat_20170927/2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{490,870}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,870}}</string>
                <key>sourceSize</key>
                <string>{490,870}</string>
            </dict>
            <key>ios_pay_guide_res_wechat_20170927/3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{490,870}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,870}}</string>
                <key>sourceSize</key>
                <string>{490,870}</string>
            </dict>
            <key>ios_pay_guide_res_wechat_20170927/4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,870}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,870}}</string>
                <key>sourceSize</key>
                <string>{490,870}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wechat_ios_pay_guide.png</string>
            <key>size</key>
            <string>{1746,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c2061034e569625900fa7158ee548d:34c4307512b10f939fa7dfe7e38d7c72:dc185e06f00ad5ffebfa3544ededfcb3$</string>
            <key>textureFileName</key>
            <string>wechat_ios_pay_guide.png</string>
        </dict>
    </dict>
</plist>
