<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weekly_2017_s1_guide/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>weekly_2017_s1_guide/guide_dialogue_bubble_tail_reverse__uk__10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{58,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{68,28}</string>
            </dict>
            <key>weekly_2017_s1_guide/npc0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,200}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeeklyGuidePanel.png</string>
            <key>size</key>
            <string>{254,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab61232ea635ed840a5c5fda3fba3ea:72992019e9c5cb83a2a2467f95e401d1:eb64696b078f249991772bb1c6f0fa78$</string>
            <key>textureFileName</key>
            <string>WeeklyGuidePanel.png</string>
        </dict>
    </dict>
</plist>
