<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto.wifi/x/skin/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{804,469},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>auto.wifi/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,585}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,585}}</string>
                <key>sourceSize</key>
                <string>{596,585}</string>
            </dict>
            <key>auto.wifi/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{600,293},{566,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,107}}</string>
                <key>sourceSize</key>
                <string>{566,107}</string>
            </dict>
            <key>auto.wifi/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{489,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,186}}</string>
                <key>sourceSize</key>
                <string>{489,186}</string>
            </dict>
            <key>auto.wifi/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{709,293},{459,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,93}}</string>
                <key>sourceSize</key>
                <string>{459,93}</string>
            </dict>
            <key>auto.wifi/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{819,2},{465,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,36}}</string>
                <key>sourceSize</key>
                <string>{465,36}</string>
            </dict>
            <key>auto.wifi/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{217,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,289}}</string>
                <key>sourceSize</key>
                <string>{217,289}</string>
            </dict>
            <key>auto.wifi/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{709,754},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>auto.wifi/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>auto.wifi/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{82,777},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wifi_auto_download.png</string>
            <key>size</key>
            <string>{861,861}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46a5f06cb2eaf45ed4ed27b26830d262:dc2b265b50848db2e4a11208cb337a3d:f3dbc19e3e45e294b1120e565fa9e0f8$</string>
            <key>textureFileName</key>
            <string>wifi_auto_download.png</string>
        </dict>
    </dict>
</plist>
