<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xf_homescene_icon/accountTipDot__uk__20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{32,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>xf_homescene_icon/xf_btn_icon_res_icon20180000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{103,82}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>xf_homescene_icon/xf_label_res_20180000</key>
            <dict>
                <key>frame</key>
                <string>{{36,86},{94,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{94,26}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xf_homescene_icon.png</string>
            <key>size</key>
            <string>{132,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14eeb39e8567ae9c85fc855be8a046ed:18b4ab367eeb5f38b283e35fcdb7fe97:0f8c3f9b56d9d327be961a0108b1cc8d$</string>
            <key>textureFileName</key>
            <string>xf_homescene_icon.png</string>
        </dict>
    </dict>
</plist>
