<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clock0000</key>
            <dict>
                <key>frame</key>
                <string>{{559,841},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>num10000</key>
            <dict>
                <key>frame</key>
                <string>{{350,773},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>num20000</key>
            <dict>
                <key>frame</key>
                <string>{{546,766},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>num30000</key>
            <dict>
                <key>frame</key>
                <string>{{559,796},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>num40000</key>
            <dict>
                <key>frame</key>
                <string>{{501,766},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>num50000</key>
            <dict>
                <key>frame</key>
                <string>{{239,745},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>num60000</key>
            <dict>
                <key>frame</key>
                <string>{{456,766},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>tab1_nor0000</key>
            <dict>
                <key>frame</key>
                <string>{{533,442},{177,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,53}}</string>
                <key>sourceSize</key>
                <string>{177,53}</string>
            </dict>
            <key>tab1_sel0000</key>
            <dict>
                <key>frame</key>
                <string>{{430,797},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>tab2_nor0000</key>
            <dict>
                <key>frame</key>
                <string>{{504,796},{177,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,53}}</string>
                <key>sourceSize</key>
                <string>{177,53}</string>
            </dict>
            <key>tab2_sel0000</key>
            <dict>
                <key>frame</key>
                <string>{{356,797},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>xf.assert___/435/scale33330000</key>
            <dict>
                <key>frame</key>
                <string>{{588,442},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xf.assert___/435/元件 180000</key>
            <dict>
                <key>frame</key>
                <string>{{421,142},{556,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,68}}</string>
                <key>sourceSize</key>
                <string>{556,68}</string>
            </dict>
            <key>xf.assert___/435/元件 190000</key>
            <dict>
                <key>frame</key>
                <string>{{43,142},{602,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,95}}</string>
                <key>sourceSize</key>
                <string>{602,95}</string>
            </dict>
            <key>xf.assert___/4th.set.niu/未命名文件夹 1/未命名文件夹 1/未命名文件夹 1/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{336,537},{194,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,79}}</string>
                <key>sourceSize</key>
                <string>{194,79}</string>
            </dict>
            <key>xf.assert___/4th.set.niu/未命名文件夹 1/未命名文件夹 1/未命名文件夹 1/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{81,798},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>xf.assert___/ddd/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{160,798},{177,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,194}}</string>
                <key>sourceSize</key>
                <string>{177,194}</string>
            </dict>
            <key>xf.assert___/lxqlyg,yhbsy/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{691,316},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>xf.assert___/lxqlyg,yhbsy/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{306,621},{150,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,99}}</string>
                <key>sourceSize</key>
                <string>{150,99}</string>
            </dict>
            <key>xf.assert___/lxqlyg,yhbsy/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{591,766},{222,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,242}}</string>
                <key>sourceSize</key>
                <string>{222,242}</string>
            </dict>
            <key>xf.assert___/n.race.rank.assert/asdwq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{279,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,90}}</string>
                <key>sourceSize</key>
                <string>{279,90}</string>
            </dict>
            <key>xf.assert___/s80000</key>
            <dict>
                <key>frame</key>
                <string>{{599,316},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>xf.assert___/sv2018.set.niu/e132/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{311,234},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>xf.assert___/sv2018.set.niu/e132/重复项目文件夹/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{185,234},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>xf.assert___/sv2018.set.niu/e132/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{979,142},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>xf.assert___/sxx/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{373,500},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>xf.assert___/sxx/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{140,621},{122,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,126}}</string>
                <key>sourceSize</key>
                <string>{122,126}</string>
            </dict>
            <key>xf.assert___/sxx/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{160,977},{259,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,5}}</string>
                <key>sourceSize</key>
                <string>{259,5}</string>
            </dict>
            <key>xf.assert___/sxx/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{850,621},{136,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,33}}</string>
                <key>sourceSize</key>
                <string>{136,33}</string>
            </dict>
            <key>xf.assert___/sxx/元件 330000</key>
            <dict>
                <key>frame</key>
                <string>{{140,234},{301,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,43}}</string>
                <key>sourceSize</key>
                <string>{301,43}</string>
            </dict>
            <key>xf.assert___/sxx/元件 380000</key>
            <dict>
                <key>frame</key>
                <string>{{189,745},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>xf.assert___/sxx/元件 390000</key>
            <dict>
                <key>frame</key>
                <string>{{420,771},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>xf.assert___/sxx/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{39,985},{545,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,3}}</string>
                <key>sourceSize</key>
                <string>{545,3}</string>
            </dict>
            <key>xf.assert___/sxx/元件 420000</key>
            <dict>
                <key>frame</key>
                <string>{{588,564},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>xf.assert___/sxx/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{883,936},{93,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,34}}</string>
                <key>sourceSize</key>
                <string>{93,34}</string>
            </dict>
            <key>xf.assert___/sxx/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{140,537},{194,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,79}}</string>
                <key>sourceSize</key>
                <string>{194,79}</string>
            </dict>
            <key>xf.assert___/sxx/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{185,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,77}}</string>
                <key>sourceSize</key>
                <string>{185,77}</string>
            </dict>
            <key>xf.assert___/x/dwqweq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{979,152},{467,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,3}}</string>
                <key>sourceSize</key>
                <string>{467,3}</string>
            </dict>
            <key>xf.assert___/x/dwqweq/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{43,746},{144,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{144,50}</string>
            </dict>
            <key>xf.assert___/x/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{987,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{987,138}}</string>
                <key>sourceSize</key>
                <string>{987,138}</string>
            </dict>
            <key>xf.assert___/xsa/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{703,212},{90,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>xf.assert___/xsa/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{441,212},{230,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,60}}</string>
                <key>sourceSize</key>
                <string>{230,60}</string>
            </dict>
            <key>xf.assert___/xsa/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{311,500},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>xf.assert___/xsa/元件 320000</key>
            <dict>
                <key>frame</key>
                <string>{{835,936},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>xf.assert___/xsa/重复项目文件夹/scale110000</key>
            <dict>
                <key>frame</key>
                <string>{{441,444},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>xf.assert___/xsad/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{420,771},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>xf.assert___/xsad/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{394,773},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>xf.assert___/元件 330000</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{35,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,4}}</string>
                <key>sourceSize</key>
                <string>{35,4}</string>
            </dict>
            <key>xf.assert___/元件 470000</key>
            <dict>
                <key>frame</key>
                <string>{{824,212},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xf/503000000</key>
            <dict>
                <key>frame</key>
                <string>{{835,801},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>xf/503010000</key>
            <dict>
                <key>frame</key>
                <string>{{850,656},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>xf/503020000</key>
            <dict>
                <key>frame</key>
                <string>{{715,621},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>xf/504000000</key>
            <dict>
                <key>frame</key>
                <string>{{580,621},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>xf/504010000</key>
            <dict>
                <key>frame</key>
                <string>{{445,621},{143,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,133}}</string>
                <key>sourceSize</key>
                <string>{143,133}</string>
            </dict>
            <key>xf/downbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{654,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,39}}</string>
                <key>sourceSize</key>
                <string>{654,39}</string>
            </dict>
            <key>xf/full_person_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{268,621},{172,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>xf/full_star_label0000</key>
            <dict>
                <key>frame</key>
                <string>{{407,621},{148,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,36}}</string>
                <key>sourceSize</key>
                <string>{148,36}</string>
            </dict>
            <key>xf/gototopbtn0000</key>
            <dict>
                <key>frame</key>
                <string>{{599,212},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>xf/icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{441,771},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>xf/jiaobiaobg0000</key>
            <dict>
                <key>frame</key>
                <string>{{765,212},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>xf/persionicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{332,773},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>xf/staricon0000</key>
            <dict>
                <key>frame</key>
                <string>{{306,773},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>xf/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{503,212},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xf_panel.png</string>
            <key>size</key>
            <string>{991,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62eed7b35b54d503ac956f13971ea17b:d6fbf11fac708d312f5d27f1db7217ca:65e4978ccaed7ff9c6b29d223a096aef$</string>
            <key>textureFileName</key>
            <string>xf_panel.png</string>
        </dict>
    </dict>
</plist>
