<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xf_share_panel/assert/未命名文件夹 1/guide0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,208}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,29},{612,208}}</string>
                <key>sourceSize</key>
                <string>{630,238}</string>
            </dict>
            <key>xf_share_panel/assert/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{242,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,241}}</string>
                <key>sourceSize</key>
                <string>{242,241}</string>
            </dict>
            <key>xf_share_panel/assert/未命名文件夹 1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{383,455},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xf_share_panel/l10000</key>
            <dict>
                <key>frame</key>
                <string>{{330,455},{129,51}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{129,51}}</string>
                <key>sourceSize</key>
                <string>{131,73}</string>
            </dict>
            <key>xf_share_panel/l20000</key>
            <dict>
                <key>frame</key>
                <string>{{505,455},{46,51}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{46,51}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>xf_share_panel/rank.race.showoff/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{574,212},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>xf_share_panel/rank.race.showoff/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{606,249},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>xf_share_panel/rank.race.showoff/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{574,249},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xf_share_panel/title10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{328,72}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{328,72}}</string>
                <key>sourceSize</key>
                <string>{366,86}</string>
            </dict>
            <key>xf_share_panel/title20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{326,72}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{326,72}}</string>
                <key>sourceSize</key>
                <string>{366,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xf_share.png</string>
            <key>size</key>
            <string>{616,616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec951d3aeae4836a8f363a5524b8817:9c02f5d7122eb27027de8a876fbb8a2e:1595ceb30a4f8aa26eee5956c4d3935e$</string>
            <key>textureFileName</key>
            <string>xf_share.png</string>
        </dict>
    </dict>
</plist>
