<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottomText10000</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{351,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,37}}</string>
                <key>sourceSize</key>
                <string>{351,37}</string>
            </dict>
            <key>bottomText20000</key>
            <dict>
                <key>frame</key>
                <string>{{42,465},{403,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,38}}</string>
                <key>sourceSize</key>
                <string>{403,38}</string>
            </dict>
            <key>bottomText30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{425,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,38}}</string>
                <key>sourceSize</key>
                <string>{425,38}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{100,461},{270,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,186}}</string>
                <key>sourceSize</key>
                <string>{270,186}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{851,589},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{788,838},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{288,465},{259,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,161}}</string>
                <key>sourceSize</key>
                <string>{259,161}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 840000</key>
            <dict>
                <key>frame</key>
                <string>{{461,465},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 850000</key>
            <dict>
                <key>frame</key>
                <string>{{837,461},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 870000</key>
            <dict>
                <key>frame</key>
                <string>{{523,856},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>rank.dan_/assert/as/元件 880000</key>
            <dict>
                <key>frame</key>
                <string>{{593,856},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>rank.dan_/assert/d/未命名文件夹 1/未命名文件夹 2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{653,686},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.dan_/assert/d/未命名文件夹 1/未命名文件夹 2/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{283,733},{176,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>rank.dan_/assert/dsa/未命名文件夹 2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{82,733},{134,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,38}}</string>
                <key>sourceSize</key>
                <string>{134,38}</string>
            </dict>
            <key>rank.dan_/assert/dsa/未命名文件夹 2/元件 840000</key>
            <dict>
                <key>frame</key>
                <string>{{461,704},{154,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,38}}</string>
                <key>sourceSize</key>
                <string>{154,38}</string>
            </dict>
            <key>rank.dan_/assert/dsa/未命名文件夹 2/重复项目文件夹/210000</key>
            <dict>
                <key>frame</key>
                <string>{{659,530},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/asdwq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{556,424},{279,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,90}}</string>
                <key>sourceSize</key>
                <string>{279,90}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/4th.set.niu/未命名文件夹 2/wmy.2018/123/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{290,335},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/4th.set.niu/未命名文件夹 2/wmy.2018/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{851,530},{57,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,63}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{27,888},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{451,534},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{557,41},{341,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,195}}</string>
                <key>sourceSize</key>
                <string>{341,195}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{46,870},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 830000</key>
            <dict>
                <key>frame</key>
                <string>{{860,291},{168,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,54}}</string>
                <key>sourceSize</key>
                <string>{168,54}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{226,866},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>rank.dan_/assert/n.race.rank.assert/assert/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{507,534},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.dan_/asw/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{557,238},{301,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,184}}</string>
                <key>sourceSize</key>
                <string>{301,184}</string>
            </dict>
            <key>rank.dan_/asw/元件 840000</key>
            <dict>
                <key>frame</key>
                <string>{{725,838},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>rank.dan_/asw/元件 850000</key>
            <dict>
                <key>frame</key>
                <string>{{662,838},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>rank.dan_/headtipctrl0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,331}}</string>
                <key>sourceSize</key>
                <string>{553,331}</string>
            </dict>
            <key>rank.dan_/history0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,869},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>rank.dan_/newhead0000</key>
            <dict>
                <key>frame</key>
                <string>{{860,238},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>rank.dan_/skill_10000</key>
            <dict>
                <key>frame</key>
                <string>{{861,771},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>rank.dan_/skill_20000</key>
            <dict>
                <key>frame</key>
                <string>{{805,771},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>rank.dan_/skill_30000</key>
            <dict>
                <key>frame</key>
                <string>{{851,715},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>rank.dan_/skill_40000</key>
            <dict>
                <key>frame</key>
                <string>{{851,659},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>rank.dan_/skill_50000</key>
            <dict>
                <key>frame</key>
                <string>{{461,860},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>rank.dan_/zhou.rank.race/cell/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{501,704},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.dan_/zhou.rank.race/cell/bgwen0000</key>
            <dict>
                <key>frame</key>
                <string>{{122,733},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dan.png</string>
            <key>size</key>
            <string>{918,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35343fdea98a4644ba14cd243b6d0de6:85f6bf958d2fb54b1084204157929053:df5743859c93da5a9d48b91ff3e1c8a3$</string>
            <key>textureFileName</key>
            <string>dan.png</string>
        </dict>
    </dict>
</plist>
