<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank.race.get.reward/321/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,75}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,75}}</string>
                <key>sourceSize</key>
                <string>{372,83}</string>
            </dict>
            <key>rank.race.get.reward/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>rank.race.get.reward/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{404,39},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>rank.race.get.reward/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{372,39},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GetReward.png</string>
            <key>size</key>
            <string>{414,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a1876216624471ab91d83cfb4cfc479:3aef7855de6f6617dda7d1d49df977a1:b4ed49c68e695bcd321847f63a400ea4$</string>
            <key>textureFileName</key>
            <string>GetReward.png</string>
        </dict>
    </dict>
</plist>
