<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moleWeeklyHistory/assert/n.race.rank.assert/assert/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{333,139},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>moleWeeklyHistory/namelist0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{553,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,55}}</string>
                <key>sourceSize</key>
                <string>{553,55}</string>
            </dict>
            <key>moleWeeklyHistory/part_settlement/cell/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>moleWeeklyHistory/part_settlement/cell/bg2cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{154,59},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>moleWeeklyHistory/res/line0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{535,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,4}}</string>
                <key>sourceSize</key>
                <string>{535,4}</string>
            </dict>
            <key>moleWeeklyHistory/res/target0000</key>
            <dict>
                <key>frame</key>
                <string>{{276,139},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>moleWeeklyHistory/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{276,59},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>history.png</string>
            <key>size</key>
            <string>{557,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb896e9927a9860b1b7be82274350ceb:7f72bf6f9fd23be5b47ef8c86a0d161d:2ae7da890e538cf775393bbc6ff6f02b$</string>
            <key>textureFileName</key>
            <string>history.png</string>
        </dict>
    </dict>
</plist>
