<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newChange/bg_scal90000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>newChange/part_top/title/cells/closeBtnBg10000</key>
            <dict>
                <key>frame</key>
                <string>{{304,124},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>newChange/res/bg20000</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>newChange/res/text10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{472,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,97}}</string>
                <key>sourceSize</key>
                <string>{472,97}</string>
            </dict>
            <key>newChange/res/text20000</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{477,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,97}}</string>
                <key>sourceSize</key>
                <string>{477,97}</string>
            </dict>
            <key>newChange/res/text30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{389,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,121}}</string>
                <key>sourceSize</key>
                <string>{389,121}</string>
            </dict>
            <key>newChange/res/text40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{466,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,66}}</string>
                <key>sourceSize</key>
                <string>{466,66}</string>
            </dict>
            <key>newChange/res/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{416,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,66}}</string>
                <key>sourceSize</key>
                <string>{416,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newChange.png</string>
            <key>size</key>
            <string>{594,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41f6cce39817ba871fd046e35aae7f4:09fbd02c58490260eee2ff6d8614b44e:f0769275218144070b50d4864997ba3e$</string>
            <key>textureFileName</key>
            <string>newChange.png</string>
        </dict>
    </dict>
</plist>
