<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n.race.rank.assert/ASSERT/未命名文件夹 2/newTipBg_23120000</key>
            <dict>
                <key>frame</key>
                <string>{{985,963},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>n.race.rank.assert/ASSERT/未命名文件夹 2/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,552},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/Prop_10056_inner 副本 40000</key>
            <dict>
                <key>frame</key>
                <string>{{911,963},{89,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b1 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1395,801},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b1 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1238,801},{155,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,158}}</string>
                <key>sourceSize</key>
                <string>{155,158}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1078,801},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b3 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{458,1331},{211,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,236}}</string>
                <key>sourceSize</key>
                <string>{211,236}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b3 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{698,816},{211,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,236}}</string>
                <key>sourceSize</key>
                <string>{211,236}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b3 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{241,1331},{215,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,236}}</string>
                <key>sourceSize</key>
                <string>{215,236}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/b30000</key>
            <dict>
                <key>frame</key>
                <string>{{698,577},{214,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,237}}</string>
                <key>sourceSize</key>
                <string>{214,237}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 5 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 5 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 5 副本 40000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1457,961},{159,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,118}}</string>
                <key>sourceSize</key>
                <string>{159,118}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1454,462},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本 70000</key>
            <dict>
                <key>frame</key>
                <string>{{874,1309},{163,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,143}}</string>
                <key>sourceSize</key>
                <string>{163,143}</string>
            </dict>
            <key>n.race.rank.assert/aaaaaaaaaaaaaaaaaaaaaa/元件 6 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/KitchenGodsDay_2/fsafsa/重复项目文件夹/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,552},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/KitchenGodsDay_2/weq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,432},{92,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,118}}</string>
                <key>sourceSize</key>
                <string>{92,118}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/wqewqe0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{694,695}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,695}}</string>
                <key>sourceSize</key>
                <string>{694,695}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{708,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,428}}</string>
                <key>sourceSize</key>
                <string>{708,428}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1111},{161,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,127}}</string>
                <key>sourceSize</key>
                <string>{161,127}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1122},{126,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{126,148}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1469},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{630,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,630}}</string>
                <key>sourceSize</key>
                <string>{630,630}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1240},{130,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 17_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1382},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{698,1054},{278,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,88}}</string>
                <key>sourceSize</key>
                <string>{278,88}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{1127,771},{28,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,325}}</string>
                <key>sourceSize</key>
                <string>{28,325}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 590000</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1525},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 59_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1251,1525},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{1330,552},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1520},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/重复项目文件夹/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1219},{114,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/重复项目文件夹/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1502},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1488,610},{146,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,86}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/重复项目文件夹/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{698,432},{143,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,327}}</string>
                <key>sourceSize</key>
                <string>{143,327}</string>
            </dict>
            <key>n.race.rank.assert/asdwq/重复项目文件夹/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{159,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,310}}</string>
                <key>sourceSize</key>
                <string>{159,310}</string>
            </dict>
            <key>n.race.rank.assert/cccccccccccccccccccc/元件 1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1129,1525},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>n.race.rank.assert/cccccccccccccccccccc/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/cccccccccccccccccccc/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/res2/tip20000</key>
            <dict>
                <key>frame</key>
                <string>{{666,699},{424,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,30}}</string>
                <key>sourceSize</key>
                <string>{424,30}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/b1 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1078,801},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/b2 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1127,562},{201,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,207}}</string>
                <key>sourceSize</key>
                <string>{201,207}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/b3 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{241,1331},{215,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,236}}</string>
                <key>sourceSize</key>
                <string>{215,236}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/s10000</key>
            <dict>
                <key>frame</key>
                <string>{{914,800},{162,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,161}}</string>
                <key>sourceSize</key>
                <string>{162,161}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/s2 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1318},{201,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,206}}</string>
                <key>sourceSize</key>
                <string>{201,206}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/s20000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1318},{201,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,206}}</string>
                <key>sourceSize</key>
                <string>{201,206}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/s30000</key>
            <dict>
                <key>frame</key>
                <string>{{829,1144},{163,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,176}}</string>
                <key>sourceSize</key>
                <string>{163,176}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/ui_fontsize_rect 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,552},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/ui_fontsize_rect 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,552},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{1293,552},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 2 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1442},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 2 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1442},{116,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,58}}</string>
                <key>sourceSize</key>
                <string>{116,58}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 5 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 5 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 5 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1395},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 6 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 6 副本 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1408,314},{171,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,146}}</string>
                <key>sourceSize</key>
                <string>{171,146}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 6 副本 60000</key>
            <dict>
                <key>frame</key>
                <string>{{634,1144},{193,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,172}}</string>
                <key>sourceSize</key>
                <string>{193,172}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 6 副本 70000</key>
            <dict>
                <key>frame</key>
                <string>{{1295,961},{160,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,151}}</string>
                <key>sourceSize</key>
                <string>{160,151}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 6 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/res2/重复项目文件夹/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank.assert/ui_scale9/ui_brown_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{874,1474},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>n.race.rank.assert/ui_scale9/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{1027,432},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>n.race.rank.assert/ui_scale9/ui_tip_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{914,577},{221,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,211}}</string>
                <key>sourceSize</key>
                <string>{221,211}</string>
            </dict>
            <key>n.race.rank.assert/ui_scale9/ui_yellow_withoutborder_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{981,1502},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>n.race.rank.assert/wqe/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1372},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>n.race.rank.assert/wqe/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1287},{153,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,124}}</string>
                <key>sourceSize</key>
                <string>{153,124}</string>
            </dict>
            <key>n.race.rank.assert/wqe/元件 4_30000</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1114},{156,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,123}}</string>
                <key>sourceSize</key>
                <string>{156,123}</string>
            </dict>
            <key>n.race.rank.assert/wqe/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1240},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>n.race.rank.assert/wqe/重复项目文件夹/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1272},{130,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,98}}</string>
                <key>sourceSize</key>
                <string>{130,98}</string>
            </dict>
            <key>n.race.rank/as/b40000</key>
            <dict>
                <key>frame</key>
                <string>{{1330,610},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>n.race.rank/as/s10000</key>
            <dict>
                <key>frame</key>
                <string>{{914,800},{162,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,161}}</string>
                <key>sourceSize</key>
                <string>{162,161}</string>
            </dict>
            <key>n.race.rank/as/s20000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1318},{201,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,206}}</string>
                <key>sourceSize</key>
                <string>{201,206}</string>
            </dict>
            <key>n.race.rank/as/s30000</key>
            <dict>
                <key>frame</key>
                <string>{{829,1144},{163,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,176}}</string>
                <key>sourceSize</key>
                <string>{163,176}</string>
            </dict>
            <key>n.race.rank/as/timeLabel10000</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1442},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>n.race.rank/as/timeLabel20000</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1372},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>n.race.rank/as/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{237,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,244}}</string>
                <key>sourceSize</key>
                <string>{237,244}</string>
            </dict>
            <key>n.race.rank/s4/res/bb490000</key>
            <dict>
                <key>frame</key>
                <string>{{1131,961},{162,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,148}}</string>
                <key>sourceSize</key>
                <string>{162,148}</string>
            </dict>
            <key>n.race.rank/scaleBG00000</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1067},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>n.race.rank/target/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>n.race.rank/target/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>n.race.rank/元件 610000</key>
            <dict>
                <key>frame</key>
                <string>{{634,699},{424,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,30}}</string>
                <key>sourceSize</key>
                <string>{424,30}</string>
            </dict>
            <key>ui_groups/bbbbbbbbbbbbbbbbbbbbbb/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{671,1526},{177,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,38}}</string>
                <key>sourceSize</key>
                <string>{177,38}</string>
            </dict>
            <key>ui_groups/bbbbbbbbbbbbbbbbbbbbbb/元件 6 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1387,462},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{1581,1581}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f26d36f97892ad7d333a7b13e9e307fb:b1ee73ac9fbf925242e81eb4c103011a:743fe12129f05c7c7e320e50b9be0c25$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
