<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank.race.showoff/clothespress/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>rank.race.showoff/clothespress/321/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{444,34},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>rank.race.showoff/clothespress/重复项目文件夹/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>rank.race.showoff/ewqe210000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{403,42}}</string>
                <key>sourceSize</key>
                <string>{407,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>showoff.png</string>
            <key>size</key>
            <string>{476,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ea4e10fbbc57dd60ea516917f102b3:1757f90c291e8d666b7be07c90e4dd76:cae4b45428664416696a430dc9f0d68d$</string>
            <key>textureFileName</key>
            <string>showoff.png</string>
        </dict>
    </dict>
</plist>
