<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill.desc.panel.du/a/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,76}}</string>
                <key>sourceSize</key>
                <string>{424,76}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/rank.smallpan/assert/assert.kal/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{262,361},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/rank.smallpan/assert/n.race.rank.assert/assert/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{372,228},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/zhou.rank.race/cell/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,361},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/zhou.rank.race/cell/bgwen0000</key>
            <dict>
                <key>frame</key>
                <string>{{211,228},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/未命名文件夹 1/重复项目文件夹/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{265,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,78}}</string>
                <key>sourceSize</key>
                <string>{265,78}</string>
            </dict>
            <key>skill.desc.panel.du/assert/assert/未命名文件夹 1/重复项目文件夹/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{159,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,153}}</string>
                <key>sourceSize</key>
                <string>{159,153}</string>
            </dict>
            <key>skill.desc.panel.du/kk/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{110,241},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{414,269},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{228,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,52}}</string>
                <key>sourceSize</key>
                <string>{228,52}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{414,349},{158,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,72}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{164,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,52}}</string>
                <key>sourceSize</key>
                <string>{164,52}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{211,154},{202,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,72}}</string>
                <key>sourceSize</key>
                <string>{202,72}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{56,269},{221,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,52}}</string>
                <key>sourceSize</key>
                <string>{221,52}</string>
            </dict>
            <key>skill.desc.panel.du/rwerew/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{211,80},{213,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,72}}</string>
                <key>sourceSize</key>
                <string>{213,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_desc.png</string>
            <key>size</key>
            <string>{513,513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b76164aadcc086427ae2d81ca9fda6be:7d9bedf1bfd59d54b06deb17604b4a67:818f75360fa64a7725377ab1e5c330b9$</string>
            <key>textureFileName</key>
            <string>skill_desc.png</string>
        </dict>
    </dict>
</plist>
