<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank.smallpan/_assets/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,282}}</string>
                <key>sourceSize</key>
                <string>{380,282}</string>
            </dict>
            <key>rank.smallpan/assert/2130000</key>
            <dict>
                <key>frame</key>
                <string>{{384,128},{265,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,78}}</string>
                <key>sourceSize</key>
                <string>{265,78}</string>
            </dict>
            <key>rank.smallpan/assert/430000</key>
            <dict>
                <key>frame</key>
                <string>{{340,448},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>rank.smallpan/assert/assert.kal/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>rank.smallpan/assert/assert.kal/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{614,440},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.smallpan/assert/assert.kal/元件 190000</key>
            <dict>
                <key>frame</key>
                <string>{{651,192},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>rank.smallpan/assert/assert.kal/元件 200000</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rank.smallpan/assert/assert.kal/元件 220000</key>
            <dict>
                <key>frame</key>
                <string>{{651,128},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/rrr0000</key>
            <dict>
                <key>frame</key>
                <string>{{340,664},{262,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,64}}</string>
                <key>sourceSize</key>
                <string>{262,64}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/yyy0000</key>
            <dict>
                <key>frame</key>
                <string>{{340,596},{262,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{632,714},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{437,730},{124,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,44}}</string>
                <key>sourceSize</key>
                <string>{124,44}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{340,528},{262,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{604,592},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/VV/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{388,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,78}}</string>
                <key>sourceSize</key>
                <string>{388,78}</string>
            </dict>
            <key>rank.smallpan/assert/n.race.rank.assert/assert/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{726,592},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>rank.smallpan/assert/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{115,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,59}}</string>
                <key>sourceSize</key>
                <string>{115,59}</string>
            </dict>
            <key>rank.smallpan/assert/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{348,368},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>rank.smallpan/assert/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{766,120},{535,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,4}}</string>
                <key>sourceSize</key>
                <string>{535,4}</string>
            </dict>
            <key>rank.smallpan/rank.dan_/assert/d/未命名文件夹 1/未命名文件夹 2/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{82,416},{176,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>rank.smallpan/rank.dan_/assert/n.race.rank.assert/assert/4th.set.niu/未命名文件夹 2/wmy.2018/123/重复项目文件夹/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{82,286},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>rank.smallpan/rank.dan_/assert/n.race.rank.assert/assert/4th.set.niu/未命名文件夹 2/wmy.2018/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>rank.smallpan/zhou.rank.race/cell/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{614,288},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.smallpan/zhou.rank.race/cell/bgwen0000</key>
            <dict>
                <key>frame</key>
                <string>{{82,596},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>rank.smallpan/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{348,288},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{384,208},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{264,78}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{256,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,44}}</string>
                <key>sourceSize</key>
                <string>{256,44}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 250000</key>
            <dict>
                <key>frame</key>
                <string>{{563,730},{67,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,44}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 260000</key>
            <dict>
                <key>frame</key>
                <string>{{260,730},{175,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 270000</key>
            <dict>
                <key>frame</key>
                <string>{{709,192},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/元件 27_20000</key>
            <dict>
                <key>frame</key>
                <string>{{726,657},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/重复项目文件夹/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{604,528},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/重复项目文件夹/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{614,440},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/重复项目文件夹/元件 250000</key>
            <dict>
                <key>frame</key>
                <string>{{563,730},{67,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,44}}</string>
                <key>sourceSize</key>
                <string>{67,44}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/重复项目文件夹/元件 260000</key>
            <dict>
                <key>frame</key>
                <string>{{260,730},{175,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>rank.smallpan/未命名文件夹 1/重复项目文件夹/元件 270000</key>
            <dict>
                <key>frame</key>
                <string>{{709,192},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>small_panel.png</string>
            <key>size</key>
            <string>{776,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11a31b5db762d3307b638214416578d:2de7bbb8d7a879874d218ba0225f79b5:6fbd3dea75b09b7aa9b9b5576dbf1018$</string>
            <key>textureFileName</key>
            <string>small_panel.png</string>
        </dict>
    </dict>
</plist>
