<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AskForHelp/res/AddFriends/avatarMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{343,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,309}}</string>
                <key>sourceSize</key>
                <string>{343,309}</string>
            </dict>
            <key>AskForHelp/res/AddFriends/lbTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{192,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,63}}</string>
                <key>sourceSize</key>
                <string>{192,63}</string>
            </dict>
            <key>AskForHelp/res/AddFriends/tip1MC0000</key>
            <dict>
                <key>frame</key>
                <string>{{887,48},{85,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,91}}</string>
                <key>sourceSize</key>
                <string>{85,91}</string>
            </dict>
            <key>AskForHelp/res/AddFriends/tipsMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{441,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,187}}</string>
                <key>sourceSize</key>
                <string>{441,187}</string>
            </dict>
            <key>AskForHelp/res/AskFromWeixin/avatarMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{347,151},{318,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,296}}</string>
                <key>sourceSize</key>
                <string>{318,296}</string>
            </dict>
            <key>AskForHelp/res/AskFromWeixin/tipsMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,471},{522,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,122}}</string>
                <key>sourceSize</key>
                <string>{522,122}</string>
            </dict>
            <key>AskForHelp/res/CellItem/HeadIcon.bgMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{819,583},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>AskForHelp/res/CellItem/headMask.pngMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{795,460},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>AskForHelp/res/CellItem/icons/res/1MC0000</key>
            <dict>
                <key>frame</key>
                <string>{{903,377},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>AskForHelp/res/CellItem/icons/res/2MC0000</key>
            <dict>
                <key>frame</key>
                <string>{{902,686},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>AskForHelp/res/CellItem/icons/res/3MC0000</key>
            <dict>
                <key>frame</key>
                <string>{{929,272},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>AskForHelp/res/CellItem/icons/res/4MC0000</key>
            <dict>
                <key>frame</key>
                <string>{{902,635},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>AskForHelp/res/CellItem/lbLevel0000</key>
            <dict>
                <key>frame</key>
                <string>{{856,665},{112,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,44}}</string>
                <key>sourceSize</key>
                <string>{112,44}</string>
            </dict>
            <key>AskForHelp/res/CellItem/lbReqFinished0000</key>
            <dict>
                <key>frame</key>
                <string>{{884,135},{135,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,61}}</string>
                <key>sourceSize</key>
                <string>{135,61}</string>
            </dict>
            <key>AskForHelp/res/CellItem/rc0000</key>
            <dict>
                <key>frame</key>
                <string>{{947,135},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>AskForHelp/res/Help/icon.pngMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{196,957},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>AskForHelp/res/Help/lbTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{645,376},{256,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,82}}</string>
                <key>sourceSize</key>
                <string>{256,82}</string>
            </dict>
            <key>AskForHelp/res/LevelFailed/lbContent0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,147}}</string>
                <key>sourceSize</key>
                <string>{515,147}</string>
            </dict>
            <key>AskForHelp/res/NetWorkAlter/avatarMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{645,129},{245,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,237}}</string>
                <key>sourceSize</key>
                <string>{245,237}</string>
            </dict>
            <key>AskForHelp/res/NoLevelQuota/ScrollPanel/Btn/btnLefterMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{884,272},{43,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,70}}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
            <key>AskForHelp/res/NoLevelQuota/ScrollPanel/Btn/btnRighterMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,856},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,70}}</string>
                <key>sourceSize</key>
                <string>{44,70}</string>
            </dict>
            <key>AskForHelp/res/NoLevelQuota/lbTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,462},{392,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,78}}</string>
                <key>sourceSize</key>
                <string>{392,78}</string>
            </dict>
            <key>AskForHelp/res/NoLevelQuota/levelItemBG.mc0000</key>
            <dict>
                <key>frame</key>
                <string>{{825,779},{109,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,158}}</string>
                <key>sourceSize</key>
                <string>{109,158}</string>
            </dict>
            <key>AskForHelp/res/NoLevelQuota/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,129},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>AskForHelp/res/Notify/lbTip0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,744},{544,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,50}}</string>
                <key>sourceSize</key>
                <string>{544,50}</string>
            </dict>
            <key>AskForHelp/res/ctrl/item/bg/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,48},{366,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,79}}</string>
                <key>sourceSize</key>
                <string>{366,79}</string>
            </dict>
            <key>AskForHelp/res/ctrl/lbTitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,595},{546,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,82}}</string>
                <key>sourceSize</key>
                <string>{546,82}</string>
            </dict>
            <key>AskForHelp/res/ctrl/subTitle/res/lbSubTitleBg0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,679},{583,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,63}}</string>
                <key>sourceSize</key>
                <string>{583,63}</string>
            </dict>
            <key>AskForHelp/res/ctrl/subTitle/res/lbSubTitleD0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,796},{521,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,44}}</string>
                <key>sourceSize</key>
                <string>{521,44}</string>
            </dict>
            <key>AskForHelp/res/ctrl/subTitle/res/lbSubTitleT0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{460,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,44}}</string>
                <key>sourceSize</key>
                <string>{460,44}</string>
            </dict>
            <key>AskForHelp/res/icon/circle.icoMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{196,902},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>AskForHelp/res/icon/friend.icoMC0000</key>
            <dict>
                <key>frame</key>
                <string>{{929,325},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>AskForHelp/res/lbFrom0000</key>
            <dict>
                <key>frame</key>
                <string>{{825,939},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>AskForHelp/未命名文件夹 1/ui_buttons/button_common/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{884,344},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>AskForHelp/未命名文件夹 1/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{271,842},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>AskForHelp/未命名文件夹 1/ui_buttons/close_brown/ui_button_close_panel_brown_shape0000</key>
            <dict>
                <key>frame</key>
                <string>{{902,734},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>AskForHelp/未命名文件夹 1/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{519,129},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>AskForHelp/未命名文件夹 1/ui_scale9/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{559,842},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>ui_buttons/close_brown/ui_button_help0000</key>
            <dict>
                <key>frame</key>
                <string>{{901,583},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_ask_for_help.png</string>
            <key>size</key>
            <string>{981,981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c151178d7493fb54128d88027e09522:d9ef61a327e7e86860e0306330fc63ce:08c24cb4bffc129455da80f44ba23ba0$</string>
            <key>textureFileName</key>
            <string>panel_ask_for_help.png</string>
        </dict>
    </dict>
</plist>
