<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>askforhelp/interface/res/GameEndPane2/effect/PaperGroup_res/cake_finish_panel/cells/paper10000</key>
            <dict>
                <key>frame</key>
                <string>{{290,115},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/effect/PaperGroup_res/cake_finish_panel/cells/paper20000</key>
            <dict>
                <key>frame</key>
                <string>{{321,152},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/effect/PaperGroup_res/cake_finish_panel/cells/paper30000</key>
            <dict>
                <key>frame</key>
                <string>{{332,122},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/effect/PaperGroup_res/cake_finish_panel/cells/paper40000</key>
            <dict>
                <key>frame</key>
                <string>{{290,84},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/effect/PaperGroup_res/cake_finish_panel/cells/paper50000</key>
            <dict>
                <key>frame</key>
                <string>{{339,84},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/ui_buttons/button_common/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{356,152},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/ui_buttons/close_brown/ui_button_close_panel_brown_shape0000</key>
            <dict>
                <key>frame</key>
                <string>{{285,146},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/ui_commons/ui_fontsize_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPane2/ui_scale9/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>askforhelp/interface/res/GameEndPanel/bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>askforhelp/interface/res/frame/head0000</key>
            <dict>
                <key>frame</key>
                <string>{{132,128},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PassLevelShowOff.png</string>
            <key>size</key>
            <string>{394,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf2a6447dd26c44674fe6714af062a0:459b232a089f7ba56e2540a034340092:610fd1e9f174ceaaa618883a6a285953$</string>
            <key>textureFileName</key>
            <string>PassLevelShowOff.png</string>
        </dict>
    </dict>
</plist>
