<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon.buff.add.step.res/assert/321/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{169,138}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{169,138}}</string>
                <key>sourceSize</key>
                <string>{177,144}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/321/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{149,110}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{149,110}}</string>
                <key>sourceSize</key>
                <string>{163,126}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/321/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{137,91}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,91}}</string>
                <key>sourceSize</key>
                <string>{145,93}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/321/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{126,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{126,120}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{225,259},{56,52}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/元件 320000</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{199,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{199,34}}</string>
                <key>sourceSize</key>
                <string>{209,48}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{189,124},{231,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{231,34}}</string>
                <key>sourceSize</key>
                <string>{235,48}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{153,142},{132,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{132,34}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/未命名文件夹 1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{297,203},{53,49}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,49}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/未命名文件夹 1/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{261,124},{130,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{130,34}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>dragon.buff.add.step.res/assert/未命名文件夹 1/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{225,317},{97,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,34}}</string>
                <key>sourceSize</key>
                <string>{103,48}</string>
            </dict>
            <key>dragon.buff.add.step.res/重复项目文件夹/2132140000</key>
            <dict>
                <key>frame</key>
                <string>{{225,124},{133,34}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{133,34}}</string>
                <key>sourceSize</key>
                <string>{145,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_buff_add_step.png</string>
            <key>size</key>
            <string>{357,357}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abff79517dfe8a648ea54929a32242d0:2e2b82173308e6f59ed63f43912ec058:112f5747c2110a9df5b2f68e1cc9eaaf$</string>
            <key>textureFileName</key>
            <string>dragon_buff_add_step.png</string>
        </dict>
    </dict>
</plist>
