<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>moleweekly_gold_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1017,573},{87,84}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{87,84}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>moleweekly_grey_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1054},{79,76}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{79,76}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>moleweekly_normal_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1033,976},{79,76}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{79,76}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>moleweekly_shine_bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{557,859},{101,98}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{101,98}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>moleweekly_shine_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1017,573},{87,84}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{87,84}}</string>
                <key>sourceSize</key>
                <string>{155,156}</string>
            </dict>
            <key>weekly_gold_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{319,1089},{98,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{98,85}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>weekly_grey_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1106,573},{82,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,41},{82,69}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>weekly_item_bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,312}}</string>
                <key>sourceSize</key>
                <string>{382,312}</string>
            </dict>
            <key>weekly_item_bg_star_0000</key>
            <dict>
                <key>frame</key>
                <string>{{592,414},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>weekly_item_bubble_0000</key>
            <dict>
                <key>frame</key>
                <string>{{520,617},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>weekly_item_circle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{980,1140},{48,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,87},{48,47}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{928,1140},{50,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{50,49}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1114,1063},{56,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,83},{56,55}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{1033,1132},{66,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{66,65}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{1114,983},{78,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,72},{78,77}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{1095,363},{90,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{90,89}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{1095,169},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{102,101}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{331,732},{118,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{118,117}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{193,698},{136,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{136,135}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{219,543},{154,153}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{154,153}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{166,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{166,165}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{783,225},{178,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{178,177}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{593,225},{188,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{188,187}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{390,265},{200,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{200,199}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{212,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{212,211}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_circle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{222,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,221}}</string>
                <key>sourceSize</key>
                <string>{222,221}</string>
            </dict>
            <key>weekly_item_comet_0000</key>
            <dict>
                <key>frame</key>
                <string>{{419,1095},{77,93}}</string>
                <key>offset</key>
                <string>{-59,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{77,93}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0001</key>
            <dict>
                <key>frame</key>
                <string>{{570,738},{95,119}}</string>
                <key>offset</key>
                <string>{-52,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{95,119}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0002</key>
            <dict>
                <key>frame</key>
                <string>{{375,617},{113,143}}</string>
                <key>offset</key>
                <string>{-45,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,143}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0003</key>
            <dict>
                <key>frame</key>
                <string>{{962,215},{131,167}}</string>
                <key>offset</key>
                <string>{-38,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{131,167}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0004</key>
            <dict>
                <key>frame</key>
                <string>{{390,466},{149,197}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{149,197}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0005</key>
            <dict>
                <key>frame</key>
                <string>{{219,316},{169,225}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{169,225}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{189,255}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{189,255}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0007</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{205,261}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{205,261}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{215,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,261}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{175,233}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,233}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,1071},{125,153}}</string>
                <key>offset</key>
                <string>{-45,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,153}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0011</key>
            <dict>
                <key>frame</key>
                <string>{{1033,897},{79,77}}</string>
                <key>offset</key>
                <string>{-68,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_comet_0012</key>
            <dict>
                <key>frame</key>
                <string>{{419,1095},{77,93}}</string>
                <key>offset</key>
                <string>{-59,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{77,93}}</string>
                <key>sourceSize</key>
                <string>{215,261}</string>
            </dict>
            <key>weekly_item_normal_bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1024,778},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1024,659},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1059,454},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0003</key>
            <dict>
                <key>frame</key>
                <string>{{914,1021},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0004</key>
            <dict>
                <key>frame</key>
                <string>{{914,902},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0005</key>
            <dict>
                <key>frame</key>
                <string>{{905,783},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0006</key>
            <dict>
                <key>frame</key>
                <string>{{905,664},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0007</key>
            <dict>
                <key>frame</key>
                <string>{{898,545},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0008</key>
            <dict>
                <key>frame</key>
                <string>{{898,426},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0009</key>
            <dict>
                <key>frame</key>
                <string>{{557,1078},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0010</key>
            <dict>
                <key>frame</key>
                <string>{{676,1066},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0011</key>
            <dict>
                <key>frame</key>
                <string>{{795,1021},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0012</key>
            <dict>
                <key>frame</key>
                <string>{{795,902},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0013</key>
            <dict>
                <key>frame</key>
                <string>{{786,783},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0014</key>
            <dict>
                <key>frame</key>
                <string>{{786,664},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0015</key>
            <dict>
                <key>frame</key>
                <string>{{779,545},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0016</key>
            <dict>
                <key>frame</key>
                <string>{{779,426},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0017</key>
            <dict>
                <key>frame</key>
                <string>{{200,1073},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0018</key>
            <dict>
                <key>frame</key>
                <string>{{676,947},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0019</key>
            <dict>
                <key>frame</key>
                <string>{{557,959},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0020</key>
            <dict>
                <key>frame</key>
                <string>{{438,976},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0021</key>
            <dict>
                <key>frame</key>
                <string>{{319,970},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0022</key>
            <dict>
                <key>frame</key>
                <string>{{200,954},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0023</key>
            <dict>
                <key>frame</key>
                <string>{{438,857},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0024</key>
            <dict>
                <key>frame</key>
                <string>{{641,588},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0025</key>
            <dict>
                <key>frame</key>
                <string>{{319,851},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0026</key>
            <dict>
                <key>frame</key>
                <string>{{200,835},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0027</key>
            <dict>
                <key>frame</key>
                <string>{{667,828},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0028</key>
            <dict>
                <key>frame</key>
                <string>{{667,709},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_normal_bg_0029</key>
            <dict>
                <key>frame</key>
                <string>{{451,738},{117,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weekly_item_wave_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1178,454},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1178,454},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1038,426},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0003</key>
            <dict>
                <key>frame</key>
                <string>{{1038,426},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0004</key>
            <dict>
                <key>frame</key>
                <string>{{795,1161},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0005</key>
            <dict>
                <key>frame</key>
                <string>{{795,1161},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0006</key>
            <dict>
                <key>frame</key>
                <string>{{1017,426},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0007</key>
            <dict>
                <key>frame</key>
                <string>{{1017,426},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0008</key>
            <dict>
                <key>frame</key>
                <string>{{795,1140},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0009</key>
            <dict>
                <key>frame</key>
                <string>{{795,1140},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0010</key>
            <dict>
                <key>frame</key>
                <string>{{916,405},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0011</key>
            <dict>
                <key>frame</key>
                <string>{{916,405},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0012</key>
            <dict>
                <key>frame</key>
                <string>{{783,405},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0013</key>
            <dict>
                <key>frame</key>
                <string>{{783,405},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0014</key>
            <dict>
                <key>frame</key>
                <string>{{179,969},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0015</key>
            <dict>
                <key>frame</key>
                <string>{{179,969},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0016</key>
            <dict>
                <key>frame</key>
                <string>{{179,836},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0017</key>
            <dict>
                <key>frame</key>
                <string>{{179,836},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0018</key>
            <dict>
                <key>frame</key>
                <string>{{962,384},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_item_wave_0019</key>
            <dict>
                <key>frame</key>
                <string>{{962,384},{131,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,19}}</string>
                <key>sourceSize</key>
                <string>{131,19}</string>
            </dict>
            <key>weekly_normal_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1114,897},{84,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{84,71}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>weekly_shine_bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{1095,272},{102,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{102,89}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>weekly_shine_item_0000</key>
            <dict>
                <key>frame</key>
                <string>{{319,1089},{98,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{98,85}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weekly_others.png</string>
            <key>size</key>
            <string>{1199,1199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c2b4a77898a647ec4c82169d1fb5f8c:ff623b95c28a27ad291bc28a116ced5b:687247d8f97c75260265744e5955907b$</string>
            <key>textureFileName</key>
            <string>weekly_others.png</string>
        </dict>
    </dict>
</plist>
