<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2017_weekly_s2_top_area/cells/pause_btn_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{589,848},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>SummerFish_target10000</key>
            <dict>
                <key>frame</key>
                <string>{{823,935},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>assert/pauseButtonBg_weekly0000</key>
            <dict>
                <key>frame</key>
                <string>{{942,919},{55,56}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{55,56}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>assert/shucong 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{156,785},{275,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,107}}</string>
                <key>sourceSize</key>
                <string>{275,107}</string>
            </dict>
            <key>background_branch0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{515,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,225}}</string>
                <key>sourceSize</key>
                <string>{515,225}</string>
            </dict>
            <key>branch_light_mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,286},{517,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,132}}</string>
                <key>sourceSize</key>
                <string>{517,132}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/darkstar_png0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,596},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/firefly_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{961,192},{36,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/lady_bug_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{433,785},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/ladybug_glow_circle0000</key>
            <dict>
                <key>frame</key>
                <string>{{68,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/lb_content_replacer0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,848},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/lb_point0000</key>
            <dict>
                <key>frame</key>
                <string>{{156,776},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/star_normal_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{806,862},{71,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>dark_theme/重复项目文件夹/star_white_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{674,848},{72,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,73}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>dark_theme/重复项目文件夹1/vgsfb4t7m3 副本 20000</key>
            <dict>
                <key>frame</key>
                <string>{{718,936},{57,55}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{57,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>darkstar_png0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,596},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>firefly_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{961,192},{36,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>fourstar_leaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{748,906},{56,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{56,28}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>fourstar_shining0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{545,168}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{545,168}}</string>
                <key>sourceSize</key>
                <string>{571,182}</string>
            </dict>
            <key>gameplayscene_leaves/faewwe 副本 60000</key>
            <dict>
                <key>frame</key>
                <string>{{156,894},{175,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{175,90}}</string>
                <key>sourceSize</key>
                <string>{175,92}</string>
            </dict>
            <key>gameplayscene_leaves/gabdff 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{672,936},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>gameplayscene_leaves/leftLeaves_c30000</key>
            <dict>
                <key>frame</key>
                <string>{{519,146},{440,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{440,138}}</string>
                <key>sourceSize</key>
                <string>{440,144}</string>
            </dict>
            <key>gameplayscene_leaves/rightLeaves_c40000</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{476,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{476,142}}</string>
                <key>sourceSize</key>
                <string>{478,146}</string>
            </dict>
            <key>jamSpeardRes/jamSpeard_pause0000</key>
            <dict>
                <key>frame</key>
                <string>{{881,862},{59,58}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{59,58}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>lady_bug_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{433,785},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>ladybug_empty_coin0000</key>
            <dict>
                <key>frame</key>
                <string>{{777,936},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>ladybug_glow_circle0000</key>
            <dict>
                <key>frame</key>
                <string>{{68,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lb/lb_content_replacer0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,848},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lb/lb_point0000</key>
            <dict>
                <key>frame</key>
                <string>{{156,776},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>leftLeaves_c10000</key>
            <dict>
                <key>frame</key>
                <string>{{806,743},{168,117}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{174,125}</string>
            </dict>
            <key>leftLeaves_c20000</key>
            <dict>
                <key>frame</key>
                <string>{{459,420},{364,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,174}}</string>
                <key>sourceSize</key>
                <string>{364,174}</string>
            </dict>
            <key>moveortimecounterbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{825,420},{152,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,321}}</string>
                <key>sourceSize</key>
                <string>{152,321}</string>
            </dict>
            <key>moveortimecounterbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{172,631},{152,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,321}}</string>
                <key>sourceSize</key>
                <string>{152,321}</string>
            </dict>
            <key>rightLeaves_c10000</key>
            <dict>
                <key>frame</key>
                <string>{{333,894},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>star_handle_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{806,596},{4,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,19}}</string>
                <key>sourceSize</key>
                <string>{4,19}</string>
            </dict>
            <key>star_normal_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{806,862},{71,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{71,73}}</string>
                <key>sourceSize</key>
                <string>{81,77}</string>
            </dict>
            <key>star_twink_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{152,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{152,155}}</string>
                <key>sourceSize</key>
                <string>{162,167}</string>
            </dict>
            <key>star_white_gm0000</key>
            <dict>
                <key>frame</key>
                <string>{{674,848},{72,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,73}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>vgsfb4t7m3 7ygujtbuh0000</key>
            <dict>
                <key>frame</key>
                <string>{{942,862},{56,55}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{56,55}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>vgsfb4t7m30000</key>
            <dict>
                <key>frame</key>
                <string>{{748,848},{56,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{56,56}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>weekres/weekbase10000</key>
            <dict>
                <key>frame</key>
                <string>{{172,229},{400,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,285}}</string>
                <key>sourceSize</key>
                <string>{400,285}</string>
            </dict>
            <key>weekres/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{589,929},{81,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>weekres/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{495,596},{250,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,309}}</string>
                <key>sourceSize</key>
                <string>{250,309}</string>
            </dict>
            <key>yellow_gm_sl0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{64,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{459,229},{57,55}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{57,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>重复项目文件夹/darkstar_png0000</key>
            <dict>
                <key>frame</key>
                <string>{{961,146},{44,37}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,37}}</string>
                <key>sourceSize</key>
                <string>{52,45}</string>
            </dict>
            <key>重复项目文件夹/firefly_light0000</key>
            <dict>
                <key>frame</key>
                <string>{{961,192},{36,44}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>重复项目文件夹/lady_bug_icon0000</key>
            <dict>
                <key>frame</key>
                <string>{{433,785},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>重复项目文件夹/ladybug_glow_circle0000</key>
            <dict>
                <key>frame</key>
                <string>{{68,933},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>重复项目文件夹/lb_content_replacer0000</key>
            <dict>
                <key>frame</key>
                <string>{{459,848},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>重复项目文件夹/lb_point0000</key>
            <dict>
                <key>frame</key>
                <string>{{156,776},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamePlaySceneUI.png</string>
            <key>size</key>
            <string>{1000,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c08adb4f62b059996f071f46cc39ad38:8d3ad373008cd246b7e54678f5b22419:737d321ee6334c42f0cb0d27ad884231$</string>
            <key>textureFileName</key>
            <string>gamePlaySceneUI.png</string>
        </dict>
    </dict>
</plist>
