<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_grey_destroy0000</key>
            <dict>
                <key>frame</key>
                <string>{{152,92},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{65,52}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0001</key>
            <dict>
                <key>frame</key>
                <string>{{449,67},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{65,52}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0002</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{65,52}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0003</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{85,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{85,68}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0004</key>
            <dict>
                <key>frame</key>
                <string>{{186,654},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0005</key>
            <dict>
                <key>frame</key>
                <string>{{87,646},{97,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{97,78}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0006</key>
            <dict>
                <key>frame</key>
                <string>{{353,621},{81,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{81,66}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0007</key>
            <dict>
                <key>frame</key>
                <string>{{447,134},{65,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{65,56}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0008</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{65,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{65,58}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0009</key>
            <dict>
                <key>frame</key>
                <string>{{138,442},{65,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{65,62}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0010</key>
            <dict>
                <key>frame</key>
                <string>{{70,493},{69,66}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{69,66}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0011</key>
            <dict>
                <key>frame</key>
                <string>{{436,621},{75,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{75,74}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0012</key>
            <dict>
                <key>frame</key>
                <string>{{275,448},{65,68}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{65,68}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0013</key>
            <dict>
                <key>frame</key>
                <string>{{345,451},{65,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{65,70}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0014</key>
            <dict>
                <key>frame</key>
                <string>{{138,579},{65,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0015</key>
            <dict>
                <key>frame</key>
                <string>{{212,515},{65,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{65,72}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0016</key>
            <dict>
                <key>frame</key>
                <string>{{138,512},{65,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0017</key>
            <dict>
                <key>frame</key>
                <string>{{438,554},{65,74}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{65,74}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0018</key>
            <dict>
                <key>frame</key>
                <string>{{362,554},{65,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{65,74}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0019</key>
            <dict>
                <key>frame</key>
                <string>{{286,518},{65,74}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,1},{65,74}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0020</key>
            <dict>
                <key>frame</key>
                <string>{{417,487},{65,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{65,72}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0021</key>
            <dict>
                <key>frame</key>
                <string>{{37,0},{39,58}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{39,58}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0022</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{39,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{39,60}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0023</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{39,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{39,62}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_destroy0024</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{35,22}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{35,22}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>ball_grey_down0000</key>
            <dict>
                <key>frame</key>
                <string>{{222,208},{69,57}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{69,57}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0001</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{73,51}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0002</key>
            <dict>
                <key>frame</key>
                <string>{{279,387},{59,69}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0003</key>
            <dict>
                <key>frame</key>
                <string>{{223,50},{73,49}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0004</key>
            <dict>
                <key>frame</key>
                <string>{{436,307},{73,57}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0005</key>
            <dict>
                <key>frame</key>
                <string>{{282,585},{69,67}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{69,67}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0006</key>
            <dict>
                <key>frame</key>
                <string>{{298,51},{73,51}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0007</key>
            <dict>
                <key>frame</key>
                <string>{{210,384},{67,59}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{67,59}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0008</key>
            <dict>
                <key>frame</key>
                <string>{{139,381},{59,69}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,37},{59,69}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0009</key>
            <dict>
                <key>frame</key>
                <string>{{148,41},{73,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0010</key>
            <dict>
                <key>frame</key>
                <string>{{217,325},{73,57}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{73,57}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0011</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{67,67}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0012</key>
            <dict>
                <key>frame</key>
                <string>{{75,145},{73,51}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{73,51}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0013</key>
            <dict>
                <key>frame</key>
                <string>{{369,157},{73,53}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{73,53}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0014</key>
            <dict>
                <key>frame</key>
                <string>{{293,211},{71,55}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{71,55}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_down0015</key>
            <dict>
                <key>frame</key>
                <string>{{146,322},{69,57}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{69,57}}</string>
                <key>sourceSize</key>
                <string>{73,133}</string>
            </dict>
            <key>ball_grey_left0000</key>
            <dict>
                <key>frame</key>
                <string>{{364,269},{70,57}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,23},{70,57}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0001</key>
            <dict>
                <key>frame</key>
                <string>{{371,104},{74,51}}</string>
                <key>offset</key>
                <string>{34,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,30},{74,51}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0002</key>
            <dict>
                <key>frame</key>
                <string>{{350,389},{60,67}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,5},{60,67}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0003</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{74,49}}</string>
                <key>offset</key>
                <string>{20,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0004</key>
            <dict>
                <key>frame</key>
                <string>{{436,366},{74,57}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{74,57}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0005</key>
            <dict>
                <key>frame</key>
                <string>{{212,582},{68,67}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{68,67}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0006</key>
            <dict>
                <key>frame</key>
                <string>{{295,104},{74,51}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{74,51}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0007</key>
            <dict>
                <key>frame</key>
                <string>{{71,370},{66,59}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{66,59}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0008</key>
            <dict>
                <key>frame</key>
                <string>{{419,425},{60,69}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{60,69}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0009</key>
            <dict>
                <key>frame</key>
                <string>{{74,41},{72,49}}</string>
                <key>offset</key>
                <string>{-21,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0010</key>
            <dict>
                <key>frame</key>
                <string>{{292,328},{74,57}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{74,57}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0011</key>
            <dict>
                <key>frame</key>
                <string>{{219,101},{74,51}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{74,51}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0012</key>
            <dict>
                <key>frame</key>
                <string>{{74,198},{72,53}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{72,53}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0013</key>
            <dict>
                <key>frame</key>
                <string>{{438,250},{70,55}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{70,55}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0014</key>
            <dict>
                <key>frame</key>
                <string>{{364,269},{70,57}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{70,57}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_left0015</key>
            <dict>
                <key>frame</key>
                <string>{{364,269},{70,57}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{70,57}}</string>
                <key>sourceSize</key>
                <string>{142,81}</string>
            </dict>
            <key>ball_grey_normal0000</key>
            <dict>
                <key>frame</key>
                <string>{{444,192},{68,56}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{68,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ball_grey_right0000</key>
            <dict>
                <key>frame</key>
                <string>{{220,267},{70,56}}</string>
                <key>offset</key>
                <string>{-36,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{70,56}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0001</key>
            <dict>
                <key>frame</key>
                <string>{{293,157},{74,52}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{74,52}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0002</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{60,68}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{60,68}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0003</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{74,48}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,48}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0004</key>
            <dict>
                <key>frame</key>
                <string>{{72,253},{74,56}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{74,56}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0005</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{68,66}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{68,66}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0006</key>
            <dict>
                <key>frame</key>
                <string>{{217,154},{74,52}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{74,52}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0007</key>
            <dict>
                <key>frame</key>
                <string>{{70,431},{66,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{66,60}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0008</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{60,68}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,4},{60,68}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0009</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{74,48}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{74,48}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0010</key>
            <dict>
                <key>frame</key>
                <string>{{72,253},{74,56}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{74,56}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0011</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{68,66}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,13},{68,66}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0012</key>
            <dict>
                <key>frame</key>
                <string>{{217,154},{74,52}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,28},{74,52}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0013</key>
            <dict>
                <key>frame</key>
                <string>{{148,208},{72,54}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,26},{72,54}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0014</key>
            <dict>
                <key>frame</key>
                <string>{{148,264},{70,56}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{70,56}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_right0015</key>
            <dict>
                <key>frame</key>
                <string>{{0,253},{70,56}}</string>
                <key>offset</key>
                <string>{34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,23},{70,56}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>ball_grey_up0000</key>
            <dict>
                <key>frame</key>
                <string>{{292,268},{70,57}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,89},{70,57}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0001</key>
            <dict>
                <key>frame</key>
                <string>{{76,92},{74,51}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0002</key>
            <dict>
                <key>frame</key>
                <string>{{419,425},{60,69}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,70},{60,69}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0003</key>
            <dict>
                <key>frame</key>
                <string>{{0,41},{72,49}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,66},{72,49}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0004</key>
            <dict>
                <key>frame</key>
                <string>{{292,328},{74,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{74,57}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0005</key>
            <dict>
                <key>frame</key>
                <string>{{69,564},{68,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,37},{68,67}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0006</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{74,51}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0007</key>
            <dict>
                <key>frame</key>
                <string>{{368,328},{66,59}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{66,59}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0008</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{58,69}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,69}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0009</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{72,49}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0010</key>
            <dict>
                <key>frame</key>
                <string>{{0,311},{74,57}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,57}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0011</key>
            <dict>
                <key>frame</key>
                <string>{{205,445},{68,65}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{68,65}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0012</key>
            <dict>
                <key>frame</key>
                <string>{{373,51},{74,51}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0013</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{72,53}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{72,53}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0014</key>
            <dict>
                <key>frame</key>
                <string>{{366,212},{70,55}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
            <key>ball_grey_up0015</key>
            <dict>
                <key>frame</key>
                <string>{{76,311},{68,57}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{68,57}}</string>
                <key>sourceSize</key>
                <string>{74,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball_grey.png</string>
            <key>size</key>
            <string>{512,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f933dea6283471214187eaaccd898e58$</string>
            <key>textureFileName</key>
            <string>ball_grey.png</string>
        </dict>
    </dict>
</plist>
