<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigMonster_frosting_destroy_0000</key>
            <dict>
                <key>frame</key>
                <string>{{239,378},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0001</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0002</key>
            <dict>
                <key>frame</key>
                <string>{{440,96},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0003</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0004</key>
            <dict>
                <key>frame</key>
                <string>{{339,119},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0005</key>
            <dict>
                <key>frame</key>
                <string>{{235,119},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0006</key>
            <dict>
                <key>frame</key>
                <string>{{122,114},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0007</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0008</key>
            <dict>
                <key>frame</key>
                <string>{{241,226},{117,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,122}}</string>
                <key>sourceSize</key>
                <string>{117,122}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0009</key>
            <dict>
                <key>frame</key>
                <string>{{122,226},{117,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,122}}</string>
                <key>sourceSize</key>
                <string>{117,122}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0010</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{115,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,125}}</string>
                <key>sourceSize</key>
                <string>{115,125}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0011</key>
            <dict>
                <key>frame</key>
                <string>{{121,389},{116,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,126}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{117,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,127}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>sourceSize</key>
                <string>{118,128}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{118,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,127}}</string>
                <key>sourceSize</key>
                <string>{118,127}</string>
            </dict>
            <key>big_monster_frosting_0000</key>
            <dict>
                <key>frame</key>
                <string>{{360,302},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>big_monster_frosting_0001</key>
            <dict>
                <key>frame</key>
                <string>{{437,263},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>big_monster_frosting_0002</key>
            <dict>
                <key>frame</key>
                <string>{{360,225},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>big_monster_frosting_0003</key>
            <dict>
                <key>frame</key>
                <string>{{440,186},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>star_light_0000</key>
            <dict>
                <key>frame</key>
                <string>{{104,518},{15,12}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,14},{15,12}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0001</key>
            <dict>
                <key>frame</key>
                <string>{{205,517},{11,10}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{11,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0002</key>
            <dict>
                <key>frame</key>
                <string>{{118,518},{13,12}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{13,12}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0003</key>
            <dict>
                <key>frame</key>
                <string>{{132,517},{11,12}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{11,12}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0004</key>
            <dict>
                <key>frame</key>
                <string>{{366,96},{21,26}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0005</key>
            <dict>
                <key>frame</key>
                <string>{{304,510},{23,26}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0006</key>
            <dict>
                <key>frame</key>
                <string>{{439,488},{31,26}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0007</key>
            <dict>
                <key>frame</key>
                <string>{{474,474},{33,26}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0008</key>
            <dict>
                <key>frame</key>
                <string>{{439,460},{33,26}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0009</key>
            <dict>
                <key>frame</key>
                <string>{{323,350},{33,26}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0010</key>
            <dict>
                <key>frame</key>
                <string>{{411,460},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0011</key>
            <dict>
                <key>frame</key>
                <string>{{383,459},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0012</key>
            <dict>
                <key>frame</key>
                <string>{{355,459},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0013</key>
            <dict>
                <key>frame</key>
                <string>{{504,340},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0014</key>
            <dict>
                <key>frame</key>
                <string>{{256,350},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0015</key>
            <dict>
                <key>frame</key>
                <string>{{189,350},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0016</key>
            <dict>
                <key>frame</key>
                <string>{{122,350},{65,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,26}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0017</key>
            <dict>
                <key>frame</key>
                <string>{{420,420},{63,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0018</key>
            <dict>
                <key>frame</key>
                <string>{{239,491},{63,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0019</key>
            <dict>
                <key>frame</key>
                <string>{{239,451},{63,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0020</key>
            <dict>
                <key>frame</key>
                <string>{{315,445},{63,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0021</key>
            <dict>
                <key>frame</key>
                <string>{{355,419},{63,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0022</key>
            <dict>
                <key>frame</key>
                <string>{{489,407},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0023</key>
            <dict>
                <key>frame</key>
                <string>{{422,380},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0024</key>
            <dict>
                <key>frame</key>
                <string>{{355,379},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0025</key>
            <dict>
                <key>frame</key>
                <string>{{437,340},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0026</key>
            <dict>
                <key>frame</key>
                <string>{{315,378},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0027</key>
            <dict>
                <key>frame</key>
                <string>{{36,518},{15,32}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,32}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0028</key>
            <dict>
                <key>frame</key>
                <string>{{70,518},{13,32}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{13,32}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{15,32}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,32}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0030</key>
            <dict>
                <key>frame</key>
                <string>{{157,517},{13,10}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{13,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0031</key>
            <dict>
                <key>frame</key>
                <string>{{193,517},{11,10}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{11,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0032</key>
            <dict>
                <key>frame</key>
                <string>{{181,517},{11,10}}</string>
                <key>offset</key>
                <string>{-25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{11,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0033</key>
            <dict>
                <key>frame</key>
                <string>{{145,517},{13,10}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,28},{13,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>star_light_0034</key>
            <dict>
                <key>frame</key>
                <string>{{169,517},{11,10}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,28},{11,10}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_monster_ext.png</string>
            <key>size</key>
            <string>{535,535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:555d73586e6c3f77192717018e6881a6:80ae86b4c796f381f5697f922eed4859:969ac197c566792cab627e68830ccf82$</string>
            <key>textureFileName</key>
            <string>big_monster_ext.png</string>
        </dict>
    </dict>
</plist>
