<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_back_effect_0000</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{289,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,284}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1134,262},{267,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{267,258}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{243,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{243,230}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0003</key>
            <dict>
                <key>frame</key>
                <string>{{486,962},{223,238}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{223,238}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0004</key>
            <dict>
                <key>frame</key>
                <string>{{481,1187},{211,226}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{211,226}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0005</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1160},{197,224}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{197,224}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0006</key>
            <dict>
                <key>frame</key>
                <string>{{270,288},{237,266}}</string>
                <key>offset</key>
                <string>{26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,2},{237,266}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0007</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{273,272}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{273,272}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{247,250}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{247,250}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0009</key>
            <dict>
                <key>frame</key>
                <string>{{977,934},{221,232}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{221,232}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0010</key>
            <dict>
                <key>frame</key>
                <string>{{962,1157},{207,234}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{207,234}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0011</key>
            <dict>
                <key>frame</key>
                <string>{{270,527},{289,216}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{289,216}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0012</key>
            <dict>
                <key>frame</key>
                <string>{{1078,728},{273,204}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{273,204}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0013</key>
            <dict>
                <key>frame</key>
                <string>{{857,276},{271,236}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{271,236}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0014</key>
            <dict>
                <key>frame</key>
                <string>{{488,732},{247,228}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{247,228}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,284}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,284}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0016</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{267,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{267,258}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0017</key>
            <dict>
                <key>frame</key>
                <string>{{254,818},{243,230}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{243,230}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0018</key>
            <dict>
                <key>frame</key>
                <string>{{737,746},{223,238}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{223,238}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0019</key>
            <dict>
                <key>frame</key>
                <string>{{726,1180},{211,226}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{211,226}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0020</key>
            <dict>
                <key>frame</key>
                <string>{{1211,934},{197,224}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{197,224}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{239,266}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,2},{239,266}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0022</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{273,272}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{273,272}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{247,250}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{247,250}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0024</key>
            <dict>
                <key>frame</key>
                <string>{{247,1063},{221,232}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{221,232}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0025</key>
            <dict>
                <key>frame</key>
                <string>{{726,971},{207,234}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{207,234}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0026</key>
            <dict>
                <key>frame</key>
                <string>{{538,514},{289,216}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{289,216}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0027</key>
            <dict>
                <key>frame</key>
                <string>{{1078,522},{273,204}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{273,204}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0028</key>
            <dict>
                <key>frame</key>
                <string>{{584,276},{271,236}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{271,236}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_back_effect_0029</key>
            <dict>
                <key>frame</key>
                <string>{{829,514},{247,230}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{247,230}}</string>
                <key>sourceSize</key>
                <string>{289,286}</string>
            </dict>
            <key>bird_white_effect_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_effects.png</string>
            <key>size</key>
            <string>{1410,1410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c25db93b01ad660b07ea261d10f64ae:f13dafb1658a3efe09d84059f352e0f6:8e1ca53ae0d96a543bcb6b10b3925893$</string>
            <key>textureFileName</key>
            <string>bird_effects.png</string>
        </dict>
    </dict>
</plist>
