<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_bg_star</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>boss_blood_bar_0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,30},{135,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,17}}</string>
                <key>sourceSize</key>
                <string>{137,19}</string>
            </dict>
            <key>boss_blood_bar_0001</key>
            <dict>
                <key>frame</key>
                <string>{{100,49},{131,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{131,13}}</string>
                <key>sourceSize</key>
                <string>{137,19}</string>
            </dict>
            <key>boss_blood_danger_0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{144,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{144,26}}</string>
                <key>sourceSize</key>
                <string>{146,30}</string>
            </dict>
            <key>boss_star</key>
            <dict>
                <key>frame</key>
                <string>{{100,64},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_mayday.png</string>
            <key>size</key>
            <string>{246,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84cbceea9ba938c7a558808175f3b716:11657e7fd35d72ee92aaa156a3e9346c:0c3992a2a4862c7832df6a99f23427c1$</string>
            <key>textureFileName</key>
            <string>boss_mayday.png</string>
        </dict>
    </dict>
</plist>
