<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shining0001</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{58,52}}</string>
                <key>offset</key>
                <string>{-41,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{58,52}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0002</key>
            <dict>
                <key>frame</key>
                <string>{{184,102},{68,60}}</string>
                <key>offset</key>
                <string>{-38,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{68,60}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0003</key>
            <dict>
                <key>frame</key>
                <string>{{182,730},{170,170}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{170,170}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{178,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{178,176}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0005</key>
            <dict>
                <key>frame</key>
                <string>{{548,728},{178,178}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{178,178}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0006</key>
            <dict>
                <key>frame</key>
                <string>{{548,548},{180,178}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{180,178}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0007</key>
            <dict>
                <key>frame</key>
                <string>{{548,366},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0008</key>
            <dict>
                <key>frame</key>
                <string>{{366,548},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0009</key>
            <dict>
                <key>frame</key>
                <string>{{366,366},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0010</key>
            <dict>
                <key>frame</key>
                <string>{{548,184},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0011</key>
            <dict>
                <key>frame</key>
                <string>{{366,184},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0012</key>
            <dict>
                <key>frame</key>
                <string>{{184,548},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0013</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0014</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0015</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0016</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0017</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{180,180}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>shining0022</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{98,112}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,54},{98,112}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble_flash.png</string>
            <key>size</key>
            <string>{908,908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:608b8a0e8ef0f9481ab517ce2709fc29:2b2bef8c4c02b46023eb21420ee00db0:86236102743f80890a6996304fc4f924$</string>
            <key>textureFileName</key>
            <string>bubble_flash.png</string>
        </dict>
    </dict>
</plist>
