<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocker_chameleon_blast_0000</key>
            <dict>
                <key>frame</key>
                <string>{{133,406},{59,66}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,39},{59,66}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0001</key>
            <dict>
                <key>frame</key>
                <string>{{258,112},{69,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{69,70}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0002</key>
            <dict>
                <key>frame</key>
                <string>{{258,186},{75,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{75,76}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0003</key>
            <dict>
                <key>frame</key>
                <string>{{368,363},{81,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{81,80}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0004</key>
            <dict>
                <key>frame</key>
                <string>{{367,276},{85,84}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{85,84}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0005</key>
            <dict>
                <key>frame</key>
                <string>{{368,186},{89,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{89,88}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0006</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{105,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{105,106}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0007</key>
            <dict>
                <key>frame</key>
                <string>{{133,282},{121,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{121,122}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{135,136}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{135,136}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0009</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{107,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{107,108}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0010</key>
            <dict>
                <key>frame</key>
                <string>{{139,144},{117,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{117,118}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{129,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{129,130}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0013</key>
            <dict>
                <key>frame</key>
                <string>{{256,264},{109,110}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{109,110}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0014</key>
            <dict>
                <key>frame</key>
                <string>{{368,96},{95,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{95,88}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0015</key>
            <dict>
                <key>frame</key>
                <string>{{269,376},{97,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{97,90}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_blast_0016</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{99,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{99,92}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>blocker_chameleon_idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{201,406},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chameleon.png</string>
            <key>size</key>
            <string>{468,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f768b64143af28970dbb7f687cc31563:cdd2cd957853085f663a8aa7b65ccd64:5066047ff6dce96ef4e29c259a78d1ff$</string>
            <key>textureFileName</key>
            <string>chameleon.png</string>
        </dict>
    </dict>
</plist>
