<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>destroy_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,222},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{24,24}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,266},{36,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{36,36}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{72,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{72,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,206},{72,58}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{72,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,132},{72,60}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{72,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,156},{76,64}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{76,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,256},{76,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{76,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,86},{78,68}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{78,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,180},{76,74}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{76,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,256},{76,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{76,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{62,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{62,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{4,4}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{4,4}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,266},{48,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{48,50}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{2,2}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,68},{2,2}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,70},{62,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{62,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{84,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,84}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{90,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>destroy_effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>destroy_effect.png</string>
            <key>size</key>
            <string>{334,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36afe6f7e5136e05793da876881481df:0e9399a8c8548297c7942cab729f051c:a625f49d2ea3b5170b42d35f26c12e0a$</string>
            <key>textureFileName</key>
            <string>destroy_effect.png</string>
        </dict>
    </dict>
</plist>
