<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dig_cloud_0000</key>
            <dict>
                <key>frame</key>
                <string>{{486,280},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>dig_cloud_b_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{86,83}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>dig_cloud_fly_animation_0000</key>
            <dict>
                <key>frame</key>
                <string>{{496,160},{56,34}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{56,34}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0001</key>
            <dict>
                <key>frame</key>
                <string>{{490,218},{60,36}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0002</key>
            <dict>
                <key>frame</key>
                <string>{{210,81},{76,40}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{76,40}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0003</key>
            <dict>
                <key>frame</key>
                <string>{{442,116},{76,42}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,42}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0004</key>
            <dict>
                <key>frame</key>
                <string>{{364,112},{76,42}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{76,42}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0005</key>
            <dict>
                <key>frame</key>
                <string>{{190,272},{76,42}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{76,42}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0006</key>
            <dict>
                <key>frame</key>
                <string>{{90,212},{82,44}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{82,44}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0007</key>
            <dict>
                <key>frame</key>
                <string>{{200,123},{84,44}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,44}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0008</key>
            <dict>
                <key>frame</key>
                <string>{{190,169},{84,46}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,46}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0009</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{86,48}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{86,48}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0010</key>
            <dict>
                <key>frame</key>
                <string>{{365,62},{88,48}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{88,48}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0011</key>
            <dict>
                <key>frame</key>
                <string>{{141,378},{82,48}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,48}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0012</key>
            <dict>
                <key>frame</key>
                <string>{{137,294},{82,50}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{82,50}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0013</key>
            <dict>
                <key>frame</key>
                <string>{{136,208},{84,52}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{84,52}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0014</key>
            <dict>
                <key>frame</key>
                <string>{{76,469},{84,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{84,54}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0015</key>
            <dict>
                <key>frame</key>
                <string>{{79,297},{86,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{86,56}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0016</key>
            <dict>
                <key>frame</key>
                <string>{{102,150},{86,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{86,56}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0017</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{88,58}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{88,58}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0018</key>
            <dict>
                <key>frame</key>
                <string>{{79,385},{82,60}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{82,60}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_cloud_fly_animation_0019</key>
            <dict>
                <key>frame</key>
                <string>{{288,79},{74,38}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{74,38}}</string>
                <key>sourceSize</key>
                <string>{94,74}</string>
            </dict>
            <key>dig_drip_0000</key>
            <dict>
                <key>frame</key>
                <string>{{499,499},{9,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,12}}</string>
                <key>sourceSize</key>
                <string>{9,12}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0000</key>
            <dict>
                <key>frame</key>
                <string>{{191,373},{55,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0001</key>
            <dict>
                <key>frame</key>
                <string>{{426,266},{55,58}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{55,58}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0002</key>
            <dict>
                <key>frame</key>
                <string>{{257,316},{55,58}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{55,58}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0003</key>
            <dict>
                <key>frame</key>
                <string>{{428,211},{53,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{53,60}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0004</key>
            <dict>
                <key>frame</key>
                <string>{{364,266},{55,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,60}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0005</key>
            <dict>
                <key>frame</key>
                <string>{{364,207},{57,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0006</key>
            <dict>
                <key>frame</key>
                <string>{{162,462},{57,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0007</key>
            <dict>
                <key>frame</key>
                <string>{{317,179},{45,58}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{45,58}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0008</key>
            <dict>
                <key>frame</key>
                <string>{{317,119},{45,58}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{45,58}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0009</key>
            <dict>
                <key>frame</key>
                <string>{{317,297},{45,56}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{45,56}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0010</key>
            <dict>
                <key>frame</key>
                <string>{{317,239},{45,56}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{45,56}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0011</key>
            <dict>
                <key>frame</key>
                <string>{{274,217},{41,54}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{41,54}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0012</key>
            <dict>
                <key>frame</key>
                <string>{{480,323},{21,50}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{21,50}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0013</key>
            <dict>
                <key>frame</key>
                <string>{{407,355},{21,50}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{21,50}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0014</key>
            <dict>
                <key>frame</key>
                <string>{{317,355},{19,16}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{19,16}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0015</key>
            <dict>
                <key>frame</key>
                <string>{{191,441},{19,18}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,46},{19,18}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0016</key>
            <dict>
                <key>frame</key>
                <string>{{286,123},{29,42}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{29,42}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0017</key>
            <dict>
                <key>frame</key>
                <string>{{221,499},{31,44}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{31,44}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0018</key>
            <dict>
                <key>frame</key>
                <string>{{430,160},{49,64}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{49,64}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0019</key>
            <dict>
                <key>frame</key>
                <string>{{364,156},{49,64}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{49,64}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0020</key>
            <dict>
                <key>frame</key>
                <string>{{301,373},{51,64}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{51,64}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0021</key>
            <dict>
                <key>frame</key>
                <string>{{248,373},{51,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{51,66}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0022</key>
            <dict>
                <key>frame</key>
                <string>{{189,316},{55,66}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{55,66}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0023</key>
            <dict>
                <key>frame</key>
                <string>{{455,59},{55,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{55,66}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_goldzongzi_cupcake_star_0024</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{55,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>dig_jewel_0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,355},{51,52}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{51,52}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>dig_jewel_front_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>dig_jewel_front_0001</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>dig_jewel_front_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>dig_light_cirlce</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>dig_light_cirlce_zongzi_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{98,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{98,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>dig_rain_0000</key>
            <dict>
                <key>frame</key>
                <string>{{466,411},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0001</key>
            <dict>
                <key>frame</key>
                <string>{{491,441},{56,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0002</key>
            <dict>
                <key>frame</key>
                <string>{{354,409},{52,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0003</key>
            <dict>
                <key>frame</key>
                <string>{{441,499},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0004</key>
            <dict>
                <key>frame</key>
                <string>{{461,441},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0005</key>
            <dict>
                <key>frame</key>
                <string>{{286,167},{48,26}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{48,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0006</key>
            <dict>
                <key>frame</key>
                <string>{{383,499},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0007</key>
            <dict>
                <key>frame</key>
                <string>{{403,441},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0008</key>
            <dict>
                <key>frame</key>
                <string>{{408,411},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0009</key>
            <dict>
                <key>frame</key>
                <string>{{364,323},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0010</key>
            <dict>
                <key>frame</key>
                <string>{{403,471},{56,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0011</key>
            <dict>
                <key>frame</key>
                <string>{{430,353},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0012</key>
            <dict>
                <key>frame</key>
                <string>{{325,499},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0013</key>
            <dict>
                <key>frame</key>
                <string>{{460,353},{56,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0014</key>
            <dict>
                <key>frame</key>
                <string>{{373,439},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0015</key>
            <dict>
                <key>frame</key>
                <string>{{267,499},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0016</key>
            <dict>
                <key>frame</key>
                <string>{{315,469},{56,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0017</key>
            <dict>
                <key>frame</key>
                <string>{{287,441},{56,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0018</key>
            <dict>
                <key>frame</key>
                <string>{{315,439},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rain_0019</key>
            <dict>
                <key>frame</key>
                <string>{{422,323},{56,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>dig_rainbow_0000</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{76,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>dig_star</key>
            <dict>
                <key>frame</key>
                <string>{{268,273},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>dig_weekly_0000</key>
            <dict>
                <key>frame</key>
                <string>{{221,441},{64,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{64,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pm25_circle</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>pm25_cloud</key>
            <dict>
                <key>frame</key>
                <string>{{190,217},{82,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,53}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>super_blocker_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dig_block.png</string>
            <key>size</key>
            <string>{532,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9470451de0d195a8663e36d400c3c7d9:a5b8e0c26d17d5cedc9a42cf3c78c003:84b642c60314de22a39f559e38e5c776$</string>
            <key>textureFileName</key>
            <string>dig_block.png</string>
        </dict>
    </dict>
</plist>
