<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explode_effect_star_0000</key>
            <dict>
                <key>frame</key>
                <string>{{434,1080},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>line_effect_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{545,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,84}}</string>
                <key>sourceSize</key>
                <string>{545,84}</string>
            </dict>
            <key>line_wrap_effect_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{550,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,257}}</string>
                <key>sourceSize</key>
                <string>{550,257}</string>
            </dict>
            <key>speed_line_yellow0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,131}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,131}}</string>
                <key>sourceSize</key>
                <string>{784,133}</string>
            </dict>
            <key>wrap_effect_0000</key>
            <dict>
                <key>frame</key>
                <string>{{87,1012},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,105},{55,62}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{83,94}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0002</key>
            <dict>
                <key>frame</key>
                <string>{{434,952},{125,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{125,126}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0003</key>
            <dict>
                <key>frame</key>
                <string>{{259,952},{173,160}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{173,160}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0004</key>
            <dict>
                <key>frame</key>
                <string>{{561,940},{179,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,53},{179,166}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0005</key>
            <dict>
                <key>frame</key>
                <string>{{744,913},{187,182}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{187,182}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0006</key>
            <dict>
                <key>frame</key>
                <string>{{796,247},{223,222}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{223,222}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0007</key>
            <dict>
                <key>frame</key>
                <string>{{265,480},{263,262}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{263,262}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0008</key>
            <dict>
                <key>frame</key>
                <string>{{265,744},{211,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{211,206}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0009</key>
            <dict>
                <key>frame</key>
                <string>{{530,719},{219,212}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{219,212}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0010</key>
            <dict>
                <key>frame</key>
                <string>{{746,691},{227,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{227,220}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0011</key>
            <dict>
                <key>frame</key>
                <string>{{746,471},{231,218}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{231,218}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0012</key>
            <dict>
                <key>frame</key>
                <string>{{530,480},{237,214}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{237,214}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0013</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{243,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{243,224}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0014</key>
            <dict>
                <key>frame</key>
                <string>{{554,135},{249,240}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{249,240}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{255,256}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{255,256}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
            <key>wrap_effect_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{261,272}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{261,272}}</string>
                <key>sourceSize</key>
                <string>{263,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explode.png</string>
            <key>size</key>
            <string>{1024,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d653cd522c61079b5d34c6dba61deae:5de1c73dae25f2323149a9a04d6a415a:9a6b6e03bb2f7ee660b9781489ce2d1f$</string>
            <key>textureFileName</key>
            <string>explode.png</string>
        </dict>
    </dict>
</plist>
