<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jHeadFrames/6018_1yuanjian0000</key>
            <dict>
                <key>frame</key>
                <string>{{863,385},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>jHeadFrames/6018_2yuanjian0000</key>
            <dict>
                <key>frame</key>
                <string>{{375,519},{109,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,124}}</string>
                <key>sourceSize</key>
                <string>{109,124}</string>
            </dict>
            <key>jHeadFrames/6018_3yuanjian0000</key>
            <dict>
                <key>frame</key>
                <string>{{848,1019},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>jHeadFrames/6019_1_yuanjian0000</key>
            <dict>
                <key>frame</key>
                <string>{{267,276},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>jHeadFrames/6019_2_yuanjian10000</key>
            <dict>
                <key>frame</key>
                <string>{{501,393},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>jHeadFrames/6019_2_yuanjian20000</key>
            <dict>
                <key>frame</key>
                <string>{{382,275},{116,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,124}}</string>
                <key>sourceSize</key>
                <string>{116,124}</string>
            </dict>
            <key>jHeadFrames/6019_3_yuanjian0000</key>
            <dict>
                <key>frame</key>
                <string>{{780,1019},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jHeadFrames_assert/123/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{125,133}</string>
            </dict>
            <key>jHeadFrames_assert/123/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{503,630},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>jHeadFrames_assert/2017_02_08/new_user_icon_2017_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{866,616},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{503,756},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 220000</key>
            <dict>
                <key>frame</key>
                <string>{{377,756},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 230000</key>
            <dict>
                <key>frame</key>
                <string>{{377,630},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 260000</key>
            <dict>
                <key>frame</key>
                <string>{{251,842},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 270000</key>
            <dict>
                <key>frame</key>
                <string>{{866,725},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 280000</key>
            <dict>
                <key>frame</key>
                <string>{{704,981},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 290000</key>
            <dict>
                <key>frame</key>
                <string>{{628,981},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 300000</key>
            <dict>
                <key>frame</key>
                <string>{{251,716},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20181203_rankrace/元件 310000</key>
            <dict>
                <key>frame</key>
                <string>{{375,393},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6022_10000</key>
            <dict>
                <key>frame</key>
                <string>{{741,381},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6022_20000</key>
            <dict>
                <key>frame</key>
                <string>{{124,468},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6022_30000</key>
            <dict>
                <key>frame</key>
                <string>{{975,573},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6023_10000</key>
            <dict>
                <key>frame</key>
                <string>{{915,263},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6023_20000</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6023_30000</key>
            <dict>
                <key>frame</key>
                <string>{{972,874},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6024_10000</key>
            <dict>
                <key>frame</key>
                <string>{{621,507},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6024_20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{128,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,133}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>jHeadFrames_assert/20190324_rankrace/6024_30000</key>
            <dict>
                <key>frame</key>
                <string>{{898,874},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 270000</key>
            <dict>
                <key>frame</key>
                <string>{{457,882},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 280000</key>
            <dict>
                <key>frame</key>
                <string>{{540,130},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 290000</key>
            <dict>
                <key>frame</key>
                <string>{{405,140},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 300000</key>
            <dict>
                <key>frame</key>
                <string>{{377,882},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 320000</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{133,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,136}}</string>
                <key>sourceSize</key>
                <string>{133,136}</string>
            </dict>
            <key>jHeadFrames_assert/6026~6027/元件 330000</key>
            <dict>
                <key>frame</key>
                <string>{{270,140},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jHeadFrames_assert/bgassert/tab0000</key>
            <dict>
                <key>frame</key>
                <string>{{537,882},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jHeadFrames_assert/bgassert/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{340,391},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>jHeadFrames_assert/eeeeq0000</key>
            <dict>
                <key>frame</key>
                <string>{{488,1054},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>jHeadFrames_assert/headfram60250000</key>
            <dict>
                <key>frame</key>
                <string>{{135,141},{133,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>jHeadFrames_assert/headfram6025_20000</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>jHeadFrames_assert/headfram6025_30000</key>
            <dict>
                <key>frame</key>
                <string>{{851,948},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jHeadFrames_assert/py/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,136}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>jHeadFrames_assert/py/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{261,391},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>jHeadFrames_assert/py/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{970,498},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>jHeadFrames_assert/py/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{129,736},{131,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,120}}</string>
                <key>sourceSize</key>
                <string>{131,120}</string>
            </dict>
            <key>jHeadFrames_assert/rewt/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{675,130},{116,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{116,126}</string>
            </dict>
            <key>jHeadFrames_assert/rewt/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{540,265},{114,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{114,132}</string>
            </dict>
            <key>jHeadFrames_assert/rewt/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{748,861},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/6013Head0000</key>
            <dict>
                <key>frame</key>
                <string>{{915,136},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{748,745},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 100000</key>
            <dict>
                <key>frame</key>
                <string>{{793,128},{120,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,126}}</string>
                <key>sourceSize</key>
                <string>{120,126}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{120,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,137}}</string>
                <key>sourceSize</key>
                <string>{120,137}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{864,801},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{124,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,139}}</string>
                <key>sourceSize</key>
                <string>{124,139}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{1014,793},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{675,258},{116,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,121}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{940,801},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{629,756},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{251,968},{120,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,122}}</string>
                <key>sourceSize</key>
                <string>{120,122}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{780,948},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{254,595},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{626,630},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>jHeadFrames_assert/weekhead2/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{922,948},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>jHeadFrames_assert/wqe/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{254,468},{119,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,125}}</string>
                <key>sourceSize</key>
                <string>{119,125}</string>
            </dict>
            <key>jHeadFrames_assert/wqe/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>jHeadFrames_assert/wqe/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{823,874},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{124,602},{125,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,132}}</string>
                <key>sourceSize</key>
                <string>{125,132}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{117,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,148}}</string>
                <key>sourceSize</key>
                <string>{117,148}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 30000</key>
            <dict>
                <key>frame</key>
                <string>{{488,974},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{793,256},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{123,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,136}}</string>
                <key>sourceSize</key>
                <string>{123,136}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{942,725},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{373,968},{113,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,122}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{132,869},{117,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,133}}</string>
                <key>sourceSize</key>
                <string>{117,133}</string>
            </dict>
            <key>jHeadFrames_assert/x/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{994,948},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>jHeadFrames_assert/yr/_assets/avatarstarandnamebg0000</key>
            <dict>
                <key>frame</key>
                <string>{{121,391},{138,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,75}}</string>
                <key>sourceSize</key>
                <string>{138,75}</string>
            </dict>
            <key>jHeadFrames_assert/yr/_assets/bf4hbgt5hg220000</key>
            <dict>
                <key>frame</key>
                <string>{{1042,218},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>jHeadFrames_assert/yr/_assets/friendpicforstackpictopsjdkflsjalkfsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{125,168},{90,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,5}}</string>
                <key>sourceSize</key>
                <string>{90,5}</string>
            </dict>
            <key>jHeadFrames_assert/yr/friend_bg_0000</key>
            <dict>
                <key>frame</key>
                <string>{{976,385},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>jHeadFrames_assert/yr/iconPh0000</key>
            <dict>
                <key>frame</key>
                <string>{{141,1004},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jHeadFrames_assert/zzz/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{1042,136},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{80,42}</string>
            </dict>
            <key>jHeadFrames_assert/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{976,385},{98,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,110}}</string>
                <key>sourceSize</key>
                <string>{98,110}</string>
            </dict>
            <key>jHeadFrames_assert/元件 110000</key>
            <dict>
                <key>frame</key>
                <string>{{125,276},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>jHeadFrames_assert/元件 120000</key>
            <dict>
                <key>frame</key>
                <string>{{564,974},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>jHeadFrames_assert/元件 130000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1023},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>jHeadFrames_assert/元件 140000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,164}}</string>
                <key>sourceSize</key>
                <string>{131,164}</string>
            </dict>
            <key>jHeadFrames_assert/元件 150000</key>
            <dict>
                <key>frame</key>
                <string>{{744,503},{117,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,120}}</string>
                <key>sourceSize</key>
                <string>{117,120}</string>
            </dict>
            <key>jHeadFrames_assert/元件 170000</key>
            <dict>
                <key>frame</key>
                <string>{{863,498},{105,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,116}}</string>
                <key>sourceSize</key>
                <string>{105,116}</string>
            </dict>
            <key>jHeadFrames_assert/元件 180000</key>
            <dict>
                <key>frame</key>
                <string>{{73,1023},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>jHeadFrames_assert/元件 200000</key>
            <dict>
                <key>frame</key>
                <string>{{619,381},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>jHeadFrames_assert/元件 210000</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{120,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>jHeadFrames_assert/元件 220000</key>
            <dict>
                <key>frame</key>
                <string>{{975,647},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>jHeadFrames_assert/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{748,625},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>jHeadFrames_assert/元件 70000</key>
            <dict>
                <key>frame</key>
                <string>{{1013,720},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>jHeadFrames_assert/元件 80000</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{121,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,154}}</string>
                <key>sourceSize</key>
                <string>{121,154}</string>
            </dict>
            <key>jHeadFrames_assert/元件 90000</key>
            <dict>
                <key>frame</key>
                <string>{{501,519},{109,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,118}}</string>
                <key>sourceSize</key>
                <string>{109,118}</string>
            </dict>
            <key>jHeadUI/default_head0000</key>
            <dict>
                <key>frame</key>
                <string>{{629,879},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head_frames.png</string>
            <key>size</key>
            <string>{1092,1092}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d617fa80c54ddb9530720988106f597:15cd97e97e49bfa803d221dd4e71c5ed:be36290c03378b73d54cef38390de8e6$</string>
            <key>textureFileName</key>
            <string>head_frames.png</string>
        </dict>
    </dict>
</plist>
