<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JamSperad_JamSperad_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,312},{21,77}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,391},{29,77}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{37,77}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{47,77}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{55,77}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{63,77}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>JamSperad_JamSperad_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{71,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JamSperad.png</string>
            <key>size</key>
            <string>{75,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bb723b111cb8771cc90f3c8799e4204:a86f3625eb5f1aaaed000dfa8649c2df:6c57872835940f8ec592bee9b96f7d55$</string>
            <key>textureFileName</key>
            <string>JamSperad.png</string>
        </dict>
    </dict>
</plist>
