<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>state_1_in_0001</key>
            <dict>
                <key>frame</key>
                <string>{{859,254},{41,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{41,41}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0002</key>
            <dict>
                <key>frame</key>
                <string>{{812,254},{45,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0003</key>
            <dict>
                <key>frame</key>
                <string>{{761,254},{49,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{49,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0004</key>
            <dict>
                <key>frame</key>
                <string>{{630,254},{55,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{55,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0005</key>
            <dict>
                <key>frame</key>
                <string>{{446,254},{59,57}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{59,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0006</key>
            <dict>
                <key>frame</key>
                <string>{{140,71},{63,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0007</key>
            <dict>
                <key>frame</key>
                <string>{{140,71},{63,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0008</key>
            <dict>
                <key>frame</key>
                <string>{{134,226},{63,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0009</key>
            <dict>
                <key>frame</key>
                <string>{{134,226},{63,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{63,61}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_in_0010</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>state_1_out_0001</key>
            <dict>
                <key>frame</key>
                <string>{{73,141},{66,65}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{66,65}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0002</key>
            <dict>
                <key>frame</key>
                <string>{{319,254},{64,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{64,57}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0003</key>
            <dict>
                <key>frame</key>
                <string>{{73,71},{68,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{68,65}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{70,65}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{72,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{72,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0008</key>
            <dict>
                <key>frame</key>
                <string>{{69,226},{72,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,63}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0009</key>
            <dict>
                <key>frame</key>
                <string>{{685,254},{74,33}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_1_out_0010</key>
            <dict>
                <key>frame</key>
                <string>{{507,254},{62,53}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,53}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>state_2_in_0001</key>
            <dict>
                <key>frame</key>
                <string>{{53,298},{9,7}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,54},{9,7}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{49,13}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,50},{49,13}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0003</key>
            <dict>
                <key>frame</key>
                <string>{{73,209},{55,15}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{55,15}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0004</key>
            <dict>
                <key>frame</key>
                <string>{{134,291},{57,19}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{57,19}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0005</key>
            <dict>
                <key>frame</key>
                <string>{{193,291},{61,17}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,46},{61,17}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0006</key>
            <dict>
                <key>frame</key>
                <string>{{256,285},{61,21}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{61,21}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0007</key>
            <dict>
                <key>frame</key>
                <string>{{187,199},{61,21}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{61,21}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0008</key>
            <dict>
                <key>frame</key>
                <string>{{959,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0009</key>
            <dict>
                <key>frame</key>
                <string>{{953,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0010</key>
            <dict>
                <key>frame</key>
                <string>{{896,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0011</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0012</key>
            <dict>
                <key>frame</key>
                <string>{{896,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0013</key>
            <dict>
                <key>frame</key>
                <string>{{890,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0014</key>
            <dict>
                <key>frame</key>
                <string>{{833,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0015</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_in_0016</key>
            <dict>
                <key>frame</key>
                <string>{{833,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0001</key>
            <dict>
                <key>frame</key>
                <string>{{833,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0002</key>
            <dict>
                <key>frame</key>
                <string>{{827,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0003</key>
            <dict>
                <key>frame</key>
                <string>{{770,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0004</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0005</key>
            <dict>
                <key>frame</key>
                <string>{{770,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0006</key>
            <dict>
                <key>frame</key>
                <string>{{764,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0007</key>
            <dict>
                <key>frame</key>
                <string>{{707,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0008</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0009</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{59,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0010</key>
            <dict>
                <key>frame</key>
                <string>{{385,254},{59,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0011</key>
            <dict>
                <key>frame</key>
                <string>{{571,254},{57,57}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0012</key>
            <dict>
                <key>frame</key>
                <string>{{130,209},{15,55}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,7},{15,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_2_out_0013</key>
            <dict>
                <key>frame</key>
                <string>{{62,298},{5,3}}</string>
                <key>offset</key>
                <string>{20,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,60},{5,3}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0001</key>
            <dict>
                <key>frame</key>
                <string>{{833,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0002</key>
            <dict>
                <key>frame</key>
                <string>{{707,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0003</key>
            <dict>
                <key>frame</key>
                <string>{{701,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0004</key>
            <dict>
                <key>frame</key>
                <string>{{644,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0005</key>
            <dict>
                <key>frame</key>
                <string>{{644,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0006</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0007</key>
            <dict>
                <key>frame</key>
                <string>{{644,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0008</key>
            <dict>
                <key>frame</key>
                <string>{{638,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0009</key>
            <dict>
                <key>frame</key>
                <string>{{581,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0010</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0011</key>
            <dict>
                <key>frame</key>
                <string>{{581,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0012</key>
            <dict>
                <key>frame</key>
                <string>{{575,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0013</key>
            <dict>
                <key>frame</key>
                <string>{{518,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0014</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0015</key>
            <dict>
                <key>frame</key>
                <string>{{518,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0016</key>
            <dict>
                <key>frame</key>
                <string>{{512,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0017</key>
            <dict>
                <key>frame</key>
                <string>{{455,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0018</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0019</key>
            <dict>
                <key>frame</key>
                <string>{{455,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0020</key>
            <dict>
                <key>frame</key>
                <string>{{449,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0021</key>
            <dict>
                <key>frame</key>
                <string>{{392,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_in_0022</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0001</key>
            <dict>
                <key>frame</key>
                <string>{{392,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0002</key>
            <dict>
                <key>frame</key>
                <string>{{386,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0003</key>
            <dict>
                <key>frame</key>
                <string>{{329,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0004</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0005</key>
            <dict>
                <key>frame</key>
                <string>{{329,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0006</key>
            <dict>
                <key>frame</key>
                <string>{{323,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0007</key>
            <dict>
                <key>frame</key>
                <string>{{266,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0008</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0009</key>
            <dict>
                <key>frame</key>
                <string>{{266,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0010</key>
            <dict>
                <key>frame</key>
                <string>{{260,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0011</key>
            <dict>
                <key>frame</key>
                <string>{{203,128},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0012</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0013</key>
            <dict>
                <key>frame</key>
                <string>{{203,65},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0014</key>
            <dict>
                <key>frame</key>
                <string>{{197,222},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0015</key>
            <dict>
                <key>frame</key>
                <string>{{140,136},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0016</key>
            <dict>
                <key>frame</key>
                <string>{{197,222},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>state_3_out_0017</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lotus.png</string>
            <key>size</key>
            <string>{1024,313}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d583ee6f4caf0f47aa4e062ce90a3459:fc90ec800459c563549cfa50558741e6:95c510b268243020a43cf0821702adf5$</string>
            <key>textureFileName</key>
            <string>lotus.png</string>
        </dict>
    </dict>
</plist>
