<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrystalBall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,132},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CrystalBall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,202},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CrystalBall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,132},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CrystalBall04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CrystalBall05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,202},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>CrystalBall06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,132},{66,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{66,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,417},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>StaticItem01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,417},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>StaticItem02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,345},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>StaticItem03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,345},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>StaticItem04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,345},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>StaticItem05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,273},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>StaticItem06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>WallH.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,12}}</string>
                <key>sourceSize</key>
                <string>{76,12}</string>
            </dict>
            <key>WallV.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,417},{14,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,73}}</string>
                <key>sourceSize</key>
                <string>{14,73}</string>
            </dict>
            <key>beanpod.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{64,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>beanpod_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,0},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>frosting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>frosting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,202},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>frosting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,273},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>frosting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>frosting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,273},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>gift1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gift2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gift3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gift4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gift5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gift6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,0},{70,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item_act_collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapBaseItem.png</string>
            <key>size</key>
            <string>{288,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eed50568651e85becac29fe201f7b693:162bf54b511e37180db76af9852a9b21:ceadb0cb6023c130dc0731d9b9a481fe$</string>
            <key>textureFileName</key>
            <string>mapBaseItem.png</string>
        </dict>
    </dict>
</plist>
