<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frosting10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,233},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,233},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,73},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,73},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,304},{67,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,304},{67,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,481},{63,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,481},{63,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,371},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{59,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,371},{59,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{59,61}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>frosting20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,359},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,294},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,415},{63,64}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,230},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,432},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,412},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,359},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,432},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,432},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,432},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,432},{63,62}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{63,62}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,232},{67,68}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{67,68}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,86},{71,74}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{71,74}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,78},{71,78}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{71,78}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{73,82}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{73,82}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{71,78}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{71,78}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{75,76}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{75,76}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{79,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{79,76}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{81,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{81,76}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,76}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{81,76}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{81,74}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{81,74}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{79,74}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{79,74}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,159},{77,72}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{77,72}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{73,66}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,35},{73,66}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,233},{69,66}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,38},{69,66}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,302},{67,66}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,40},{67,66}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,349},{65,64}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{65,64}}</string>
                <key>sourceSize</key>
                <string>{83,108}</string>
            </dict>
            <key>frosting30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,294},{62,62}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,491},{62,60}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,230},{62,62}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,491},{62,60}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{62,60}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,424},{62,62}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,349},{60,58}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{60,58}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,75},{72,58}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{72,58}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,79},{82,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{82,58}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,78},{88,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{88,60}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{92,62}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{92,62}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{94,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{94,56}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{92,56}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{92,56}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30012.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,140},{66,38}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{66,38}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,195},{66,40}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{66,40}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,237},{64,38}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{64,38}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,510},{26,26}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{26,26}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,482},{26,26}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,52},{26,26}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,454},{26,26}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{26,26}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>frosting40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,333},{52,51}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,277},{52,51}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,466},{52,53}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,277},{52,51}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,411},{54,53}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,175},{54,53}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{54,53}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,358},{60,51}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,51}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,144},{68,49}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{68,49}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,135},{72,47}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{72,47}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,304},{74,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{74,43}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,140},{76,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{76,45}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,187},{76,43}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{76,43}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,236},{74,43}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{74,43}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40013.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,415},{74,33}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{74,33}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40014.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,184},{72,35}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,45},{72,35}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,373},{72,37}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{72,37}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40016.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,521},{42,27}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,51},{42,27}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,312},{42,27}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,54},{42,27}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40018.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,386},{40,27}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{40,27}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40019.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,407},{24,23}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,60},{24,23}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,471},{24,23}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{24,23}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting40021.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,433},{22,21}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,65},{22,21}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>frosting50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,368},{37,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,495},{37,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,455},{37,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,495},{37,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,415},{37,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,415},{37,36}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,330},{45,36}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{45,36}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,139},{49,34}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{49,34}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,278},{53,36}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{53,36}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50009.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,496},{55,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{55,38}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50010.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,496},{55,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{55,40}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50011.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,496},{55,40}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{55,40}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50012.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,496},{55,42}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{55,42}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50013.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,488},{55,34}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{55,34}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,221},{55,32}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{55,32}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50015.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,412},{57,34}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50016.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,520},{33,20}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{33,20}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50017.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,208},{33,20}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{33,20}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{31,20}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,44},{31,20}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50019.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,535},{17,16}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,48},{17,16}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50020.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,535},{17,16}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{17,16}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
            <key>frosting50021.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,456},{15,14}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,55},{15,14}}</string>
                <key>sourceSize</key>
                <string>{57,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapSnow.png</string>
            <key>size</key>
            <string>{553,553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a1acc9fb5a24e9434eb2beb0c4c360:79dbeb6a738aa81bd1f69347217bce5e:abdaa611470f4550be340f2336c50609$</string>
            <key>textureFileName</key>
            <string>mapSnow.png</string>
        </dict>
    </dict>
</plist>
