<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mimosa.active_0000</key>
            <dict>
                <key>frame</key>
                <string>{{336,97},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mimosa.active_0001</key>
            <dict>
                <key>frame</key>
                <string>{{591,584},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0002</key>
            <dict>
                <key>frame</key>
                <string>{{540,372},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>mimosa.active_0003</key>
            <dict>
                <key>frame</key>
                <string>{{465,371},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0004</key>
            <dict>
                <key>frame</key>
                <string>{{557,300},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0005</key>
            <dict>
                <key>frame</key>
                <string>{{407,169},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>mimosa.active_0006</key>
            <dict>
                <key>frame</key>
                <string>{{561,155},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0007</key>
            <dict>
                <key>frame</key>
                <string>{{484,154},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0008</key>
            <dict>
                <key>frame</key>
                <string>{{236,308},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0009</key>
            <dict>
                <key>frame</key>
                <string>{{157,353},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0010</key>
            <dict>
                <key>frame</key>
                <string>{{157,280},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0011</key>
            <dict>
                <key>frame</key>
                <string>{{313,393},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0012</key>
            <dict>
                <key>frame</key>
                <string>{{236,381},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0013</key>
            <dict>
                <key>frame</key>
                <string>{{315,321},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>mimosa.active_0014</key>
            <dict>
                <key>frame</key>
                <string>{{482,299},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0015</key>
            <dict>
                <key>frame</key>
                <string>{{390,393},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0016</key>
            <dict>
                <key>frame</key>
                <string>{{559,228},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0017</key>
            <dict>
                <key>frame</key>
                <string>{{518,584},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0018</key>
            <dict>
                <key>frame</key>
                <string>{{445,583},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0019</key>
            <dict>
                <key>frame</key>
                <string>{{336,97},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mimosa.back_light_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,133}}</string>
                <key>sourceSize</key>
                <string>{239,133}</string>
            </dict>
            <key>mimosa.grow.up_0000</key>
            <dict>
                <key>frame</key>
                <string>{{615,444},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>mimosa.grow.up_0001</key>
            <dict>
                <key>frame</key>
                <string>{{614,372},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>mimosa.grow.up_0002</key>
            <dict>
                <key>frame</key>
                <string>{{161,221},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>mimosa.grow.up_0003</key>
            <dict>
                <key>frame</key>
                <string>{{243,97},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>mimosa.grow.up_0004</key>
            <dict>
                <key>frame</key>
                <string>{{66,580},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{61,92}</string>
            </dict>
            <key>mimosa.grow.up_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>mimosa.grow.up_0006</key>
            <dict>
                <key>frame</key>
                <string>{{81,232},{67,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>mimosa.grow.up_0007</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>mimosa.grow.up_0008</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>mimosa.grow.up_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>mimosa.grow.up_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>mimosa.grow.up_0011</key>
            <dict>
                <key>frame</key>
                <string>{{82,137},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>mimosa.grow.up_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{77,84}</string>
            </dict>
            <key>mimosa.grow.up_0013</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>mimosa.grow.up_0014</key>
            <dict>
                <key>frame</key>
                <string>{{161,137},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>mimosa.grow.up_0015</key>
            <dict>
                <key>frame</key>
                <string>{{567,78},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>mimosa.grow.up_0016</key>
            <dict>
                <key>frame</key>
                <string>{{324,245},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0017</key>
            <dict>
                <key>frame</key>
                <string>{{241,232},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0018</key>
            <dict>
                <key>frame</key>
                <string>{{324,169},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0019</key>
            <dict>
                <key>frame</key>
                <string>{{484,78},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0020</key>
            <dict>
                <key>frame</key>
                <string>{{408,84},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0021</key>
            <dict>
                <key>frame</key>
                <string>{{241,156},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0022</key>
            <dict>
                <key>frame</key>
                <string>{{81,327},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0023</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0025</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{372,538},{71,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{299,538},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{226,526},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{484,227},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{407,241},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{151,496},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{156,426},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{81,410},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{540,514},{73,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{465,513},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{390,465},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{540,444},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{465,443},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{129,566},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{304,466},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0016</key>
            <dict>
                <key>frame</key>
                <string>{{231,454},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0017</key>
            <dict>
                <key>frame</key>
                <string>{{78,480},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0018</key>
            <dict>
                <key>frame</key>
                <string>{{392,321},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0019</key>
            <dict>
                <key>frame</key>
                <string>{{372,538},{71,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.star</key>
            <dict>
                <key>frame</key>
                <string>{{638,166},{23,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>mimosa_mask</key>
            <dict>
                <key>frame</key>
                <string>{{615,515},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>scene.mimosa.direction_0000</key>
            <dict>
                <key>frame</key>
                <string>{{647,142},{22,24}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{22,24}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0001</key>
            <dict>
                <key>frame</key>
                <string>{{646,46},{22,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{22,26}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0002</key>
            <dict>
                <key>frame</key>
                <string>{{275,598},{22,28}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{22,28}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0003</key>
            <dict>
                <key>frame</key>
                <string>{{202,566},{22,30}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{22,30}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0004</key>
            <dict>
                <key>frame</key>
                <string>{{647,108},{24,32}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{24,32}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0005</key>
            <dict>
                <key>frame</key>
                <string>{{129,638},{24,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{24,34}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0006</key>
            <dict>
                <key>frame</key>
                <string>{{647,70},{24,36}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0007</key>
            <dict>
                <key>frame</key>
                <string>{{155,638},{26,38}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0008</key>
            <dict>
                <key>frame</key>
                <string>{{78,552},{26,40}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{26,40}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0009</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{26,42}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0010</key>
            <dict>
                <key>frame</key>
                <string>{{275,628},{12,44}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{12,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0011</key>
            <dict>
                <key>frame</key>
                <string>{{615,570},{12,44}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{12,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0012</key>
            <dict>
                <key>frame</key>
                <string>{{299,610},{12,36}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{12,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0013</key>
            <dict>
                <key>frame</key>
                <string>{{337,610},{10,36}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{10,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0014</key>
            <dict>
                <key>frame</key>
                <string>{{377,466},{10,38}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{10,38}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0015</key>
            <dict>
                <key>frame</key>
                <string>{{415,313},{6,6}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0016</key>
            <dict>
                <key>frame</key>
                <string>{{155,666},{6,6}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0017</key>
            <dict>
                <key>frame</key>
                <string>{{407,313},{6,6}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0018</key>
            <dict>
                <key>frame</key>
                <string>{{647,142},{22,24}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{22,24}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mimosa.png</string>
            <key>size</key>
            <string>{674,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d3a5ca685aae4a01db1ff4b43d88e1:86cac83de05dc2cad465b2e22f1fe975:39ae670a29824f04a597ac3d0229569a$</string>
            <key>textureFileName</key>
            <string>mimosa.png</string>
        </dict>
    </dict>
</plist>
