<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission_addWaterBG_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,370}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,370}}</string>
                <key>sourceSize</key>
                <string>{372,372}</string>
            </dict>
            <key>mission_addWaterStarBG_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{98,171}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{98,171}}</string>
                <key>sourceSize</key>
                <string>{136,195}</string>
            </dict>
            <key>mission_addWaterStar_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{5,6}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{5,6}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>mission_addWater_0001</key>
            <dict>
                <key>frame</key>
                <string>{{380,361},{145,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{145,143}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0002</key>
            <dict>
                <key>frame</key>
                <string>{{380,361},{145,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{145,143}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0003</key>
            <dict>
                <key>frame</key>
                <string>{{965,303},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{173,173}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0004</key>
            <dict>
                <key>frame</key>
                <string>{{1166,255},{207,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{207,209}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0005</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{251,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{251,251}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0006</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{299,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{299,299}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0007</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{357,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,357}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0008</key>
            <dict>
                <key>frame</key>
                <string>{{525,361},{203,87}}</string>
                <key>offset</key>
                <string>{-16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,94},{203,87}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0009</key>
            <dict>
                <key>frame</key>
                <string>{{175,374},{203,97}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,103},{203,97}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_addWater_0010</key>
            <dict>
                <key>frame</key>
                <string>{{812,344},{151,77}}</string>
                <key>offset</key>
                <string>{-44,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,131},{151,77}}</string>
                <key>sourceSize</key>
                <string>{357,357}</string>
            </dict>
            <key>mission_bug_on_level_info_panel</key>
            <dict>
                <key>frame</key>
                <string>{{730,361},{80,84}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,84}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>wave_level_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{342,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{342,63}}</string>
                <key>sourceSize</key>
                <string>{342,65}</string>
            </dict>
            <key>wave_level_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{525,450},{340,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{340,57}}</string>
                <key>sourceSize</key>
                <string>{342,65}</string>
            </dict>
            <key>wave_level_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{340,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{340,65}}</string>
                <key>sourceSize</key>
                <string>{342,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missionAnime.png</string>
            <key>size</key>
            <string>{1419,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a48601d901418026b63029c6886c8a6:c4fdf6dcb811668d924488b00e816bd1:8785bd83d8452dc4a58e9e4f4fb3da0c$</string>
            <key>textureFileName</key>
            <string>missionAnime.png</string>
        </dict>
    </dict>
</plist>
