<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honey_disappear_2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,80},{69,70}}</string>
                <key>offset</key>
                <string>{115,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,164},{69,70}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{78,516},{71,68}}</string>
                <key>offset</key>
                <string>{115,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,166},{71,68}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{76,361},{75,76}}</string>
                <key>offset</key>
                <string>{116,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,159},{75,76}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{83,86}}</string>
                <key>offset</key>
                <string>{117,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,150},{83,86}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{87,86}}</string>
                <key>offset</key>
                <string>{115,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,152},{87,86}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{89,88}}</string>
                <key>offset</key>
                <string>{114,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,151},{89,88}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,88}}</string>
                <key>offset</key>
                <string>{114,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{91,88}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0007</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,86}}</string>
                <key>offset</key>
                <string>{114,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,157},{91,86}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{89,78}}</string>
                <key>offset</key>
                <string>{115,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,166},{89,78}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_disappear_2_0009</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{89,76}}</string>
                <key>offset</key>
                <string>{115,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{89,76}}</string>
                <key>sourceSize</key>
                <string>{319,246}</string>
            </dict>
            <key>honey_normal_2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{275,452},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{204,451},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{425,218},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{573,220},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{573,149},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{425,147},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0006</key>
            <dict>
                <key>frame</key>
                <string>{{573,78},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0007</key>
            <dict>
                <key>frame</key>
                <string>{{573,78},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0008</key>
            <dict>
                <key>frame</key>
                <string>{{425,76},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0009</key>
            <dict>
                <key>frame</key>
                <string>{{425,76},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>honey_normal_2_0010</key>
            <dict>
                <key>frame</key>
                <string>{{275,452},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0000</key>
            <dict>
                <key>frame</key>
                <string>{{76,439},{70,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{70,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{74,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{72,85}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{72,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{72,89}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{72,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{72,87}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{72,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{72,83}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{74,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{273,80},{70,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{70,79}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{82,270},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{66,77}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{496,78},{62,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{62,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{139,589},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{58,73}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{93,92},{56,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{56,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{148,439},{54,75}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{54,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{496,200},{54,75}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{54,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{148,516},{54,71}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{54,71}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0015</key>
            <dict>
                <key>frame</key>
                <string>{{201,264},{56,71}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{56,71}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0016</key>
            <dict>
                <key>frame</key>
                <string>{{496,142},{56,75}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{56,75}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0017</key>
            <dict>
                <key>frame</key>
                <string>{{607,587},{56,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{56,51}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0018</key>
            <dict>
                <key>frame</key>
                <string>{{153,381},{56,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{56,51}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0019</key>
            <dict>
                <key>frame</key>
                <string>{{352,391},{60,53}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{60,53}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0020</key>
            <dict>
                <key>frame</key>
                <string>{{410,487},{62,53}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{62,53}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0021</key>
            <dict>
                <key>frame</key>
                <string>{{408,542},{64,53}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{64,53}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0022</key>
            <dict>
                <key>frame</key>
                <string>{{408,597},{68,55}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{68,55}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_0_0023</key>
            <dict>
                <key>frame</key>
                <string>{{204,205},{72,57}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{74,101}</string>
            </dict>
            <key>mole_fragile_cuteball_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{474,500},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0000</key>
            <dict>
                <key>frame</key>
                <string>{{474,440},{70,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{70,58}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0001</key>
            <dict>
                <key>frame</key>
                <string>{{496,256},{72,58}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{72,58}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0002</key>
            <dict>
                <key>frame</key>
                <string>{{546,529},{70,56}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{70,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0003</key>
            <dict>
                <key>frame</key>
                <string>{{478,560},{68,56}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,34},{68,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0004</key>
            <dict>
                <key>frame</key>
                <string>{{148,169},{68,54}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{68,54}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0005</key>
            <dict>
                <key>frame</key>
                <string>{{263,585},{70,58}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{70,58}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0006</key>
            <dict>
                <key>frame</key>
                <string>{{278,210},{72,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{72,58}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0007</key>
            <dict>
                <key>frame</key>
                <string>{{263,523},{70,60}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{70,60}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0008</key>
            <dict>
                <key>frame</key>
                <string>{{346,453},{68,62}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,62}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0009</key>
            <dict>
                <key>frame</key>
                <string>{{199,90},{72,60}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{72,60}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0010</key>
            <dict>
                <key>frame</key>
                <string>{{410,415},{70,58}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{70,58}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0011</key>
            <dict>
                <key>frame</key>
                <string>{{281,152},{74,56}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0012</key>
            <dict>
                <key>frame</key>
                <string>{{546,471},{70,56}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0013</key>
            <dict>
                <key>frame</key>
                <string>{{570,291},{72,56}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump0_0014</key>
            <dict>
                <key>frame</key>
                <string>{{357,152},{66,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{74,90}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{204,522},{65,57}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{274,270},{71,55}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{71,55}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{91,182},{75,55}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{536,587},{69,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{69,53}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{204,152},{75,51}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{150,239},{71,49}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,40},{71,49}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{347,275},{71,53}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{71,53}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{199,589},{73,55}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,33},{73,55}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{78,589},{73,59}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,29},{73,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{493,316},{71,63}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{420,289},{71,63}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{352,210},{71,63}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{71,63}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{226,327},{71,61}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{71,61}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{566,349},{71,61}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{71,61}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{407,354},{71,59}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{71,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{335,584},{71,57}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{71,57}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{553,412},{71,57}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{71,57}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{480,381},{71,57}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{71,57}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0018</key>
            <dict>
                <key>frame</key>
                <string>{{153,322},{71,57}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{71,57}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0019</key>
            <dict>
                <key>frame</key>
                <string>{{335,523},{71,59}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{71,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0020</key>
            <dict>
                <key>frame</key>
                <string>{{279,391},{71,59}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{71,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0021</key>
            <dict>
                <key>frame</key>
                <string>{{299,330},{71,59}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{71,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>mole_fragile_cuteball_jump1_0022</key>
            <dict>
                <key>frame</key>
                <string>{{206,390},{71,59}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{71,59}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mole_weeklyRace_otherSkill.png</string>
            <key>size</key>
            <string>{664,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b52a6bfe7ea73cc43b33b1cc035d5e1:0c67b2b1ce99d63c6223b4ccb0f0a786:3093671f45138e3156701fba62ec1758$</string>
            <key>textureFileName</key>
            <string>mole_weeklyRace_otherSkill.png</string>
        </dict>
    </dict>
</plist>
