<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>month_pay_la_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,208}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,208}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{106,200}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{106,200}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{108,192}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{108,192}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{110,184}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{110,184}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{112,176}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{112,176}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{118,138}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{118,138}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,342},{118,134}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{118,134}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,188},{118,126}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,316},{118,110}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,460},{118,90}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{118,90}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,428},{118,108}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{118,108}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{118,140}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{118,140}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{118,136}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{118,136}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,196},{118,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{118,132}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
            <key>month_pay_la_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,330},{118,128}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{118,128}}</string>
                <key>sourceSize</key>
                <string>{118,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>month_pay_la.png</string>
            <key>size</key>
            <string>{552,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fccbad4d0404b628724cec624e4babd:633023e15680326582b9980d70d6ec81:e58934a8d380846542a6eaf5cf7fc1cc$</string>
            <key>textureFileName</key>
            <string>month_pay_la.png</string>
        </dict>
    </dict>
</plist>
