<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonBottle_Normal_0000</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0001</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0002</key>
            <dict>
                <key>frame</key>
                <string>{{362,145},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0003</key>
            <dict>
                <key>frame</key>
                <string>{{362,145},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0004</key>
            <dict>
                <key>frame</key>
                <string>{{362,145},{73,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{73,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{73,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{73,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0008</key>
            <dict>
                <key>frame</key>
                <string>{{201,145},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0009</key>
            <dict>
                <key>frame</key>
                <string>{{201,145},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0010</key>
            <dict>
                <key>frame</key>
                <string>{{201,145},{73,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0011</key>
            <dict>
                <key>frame</key>
                <string>{{311,295},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0012</key>
            <dict>
                <key>frame</key>
                <string>{{311,295},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0013</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0014</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0015</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0016</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0017</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0018</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0019</key>
            <dict>
                <key>frame</key>
                <string>{{155,295},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0020</key>
            <dict>
                <key>frame</key>
                <string>{{155,295},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0021</key>
            <dict>
                <key>frame</key>
                <string>{{155,295},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0022</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0023</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0024</key>
            <dict>
                <key>frame</key>
                <string>{{234,295},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0025</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0026</key>
            <dict>
                <key>frame</key>
                <string>{{386,295},{75,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0027</key>
            <dict>
                <key>frame</key>
                <string>{{311,295},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0028</key>
            <dict>
                <key>frame</key>
                <string>{{311,295},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0029</key>
            <dict>
                <key>frame</key>
                <string>{{311,295},{73,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0030</key>
            <dict>
                <key>frame</key>
                <string>{{80,295},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0031</key>
            <dict>
                <key>frame</key>
                <string>{{80,295},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0032</key>
            <dict>
                <key>frame</key>
                <string>{{80,295},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0033</key>
            <dict>
                <key>frame</key>
                <string>{{379,220},{75,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0034</key>
            <dict>
                <key>frame</key>
                <string>{{302,220},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0035</key>
            <dict>
                <key>frame</key>
                <string>{{79,220},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0036</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0037</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0038</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0042</key>
            <dict>
                <key>frame</key>
                <string>{{424,72},{75,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0043</key>
            <dict>
                <key>frame</key>
                <string>{{424,72},{75,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0044</key>
            <dict>
                <key>frame</key>
                <string>{{424,72},{75,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,71}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0045</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0046</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonBottle_Normal_0048</key>
            <dict>
                <key>frame</key>
                <string>{{156,220},{75,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>PoisonSpread_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{212,72},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{212,72},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{69,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{69,67}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{355,72},{67,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{67,71}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{233,220},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{233,220},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{233,220},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{233,220},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{73,72},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{73,72},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{65,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>PoisonSpread_2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,18}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,100},{20,18}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{149,145},{50,72}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,45},{50,72}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{408,372},{60,90}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{60,90}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{68,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{68,82}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{76,74}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{76,74}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{84,68}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,68}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>PoisonSpread_3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{276,145},{84,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{84,73}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0001</key>
            <dict>
                <key>frame</key>
                <string>{{276,145},{84,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{84,73}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0002</key>
            <dict>
                <key>frame</key>
                <string>{{312,372},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{84,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{84,79}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0004</key>
            <dict>
                <key>frame</key>
                <string>{{88,372},{76,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{76,79}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0005</key>
            <dict>
                <key>frame</key>
                <string>{{166,372},{74,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{74,81}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0006</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{62,65}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{62,65}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0007</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{56,63}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{56,63}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0008</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{60,63}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{60,63}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0009</key>
            <dict>
                <key>frame</key>
                <string>{{283,72},{70,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{70,71}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0010</key>
            <dict>
                <key>frame</key>
                <string>{{140,72},{70,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{70,71}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0011</key>
            <dict>
                <key>frame</key>
                <string>{{283,72},{70,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{70,71}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0012</key>
            <dict>
                <key>frame</key>
                <string>{{140,72},{70,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{70,71}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>PoisonSpread_3_0013</key>
            <dict>
                <key>frame</key>
                <string>{{77,145},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{70,71}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PoisonBottle.png</string>
            <key>size</key>
            <string>{507,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3618775d1e5932cc80546b27c3cd5041$</string>
            <key>textureFileName</key>
            <string>PoisonBottle.png</string>
        </dict>
    </dict>
</plist>
