<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wrapEffect_stars00.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,99},{233,89}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{233,89}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars01.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,190},{233,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{233,91}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{235,91}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{235,91}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,376},{233,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{233,91}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{235,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{235,91}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{237,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{237,91}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars07.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{233,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,95}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars08.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,376},{233,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{233,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{233,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,283},{231,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{231,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars11.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,231},{223,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{223,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars12.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,516},{225,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{225,93}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars13.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{227,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{227,95}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
            <key>wrapEffect_stars14.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,283},{229,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{229,95}}</string>
                <key>sourceSize</key>
                <string>{237,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>props_stars.png</string>
            <key>size</key>
            <string>{611,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b114d0be8e6e5502c12db870ea773612:74ca92f3791016a7d6001bcd780049e5:00ea39b8ecd2ac6d9275a4a417078b81$</string>
            <key>textureFileName</key>
            <string>props_stars.png</string>
        </dict>
    </dict>
</plist>
