<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quest-anim/res/quest-res/元件 570000</key>
            <dict>
                <key>frame</key>
                <string>{{400,498},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>quest-anim/res/quest-res/元件 580000</key>
            <dict>
                <key>frame</key>
                <string>{{332,498},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>quest-anim/res/quest-res/元件 590000</key>
            <dict>
                <key>frame</key>
                <string>{{282,294},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>quest-anim/res/quest-res/元件 600000</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{281,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,21}}</string>
                <key>sourceSize</key>
                <string>{281,21}</string>
            </dict>
            <key>quest-anim/res/quest-res/元件 610000</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{288,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,28}}</string>
                <key>sourceSize</key>
                <string>{288,28}</string>
            </dict>
            <key>quest-anim/res/未命名文件夹 1/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{293,165},{284,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,25}}</string>
                <key>sourceSize</key>
                <string>{284,25}</string>
            </dict>
            <key>quest-anim/res/未命名文件夹 1/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,161}}</string>
                <key>sourceSize</key>
                <string>{575,161}</string>
            </dict>
            <key>quest-anim/scaleBG0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>quest-icon-dir/10000</key>
            <dict>
                <key>frame</key>
                <string>{{434,396},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/20000</key>
            <dict>
                <key>frame</key>
                <string>{{332,396},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/30000</key>
            <dict>
                <key>frame</key>
                <string>{{475,294},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/40000</key>
            <dict>
                <key>frame</key>
                <string>{{373,294},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/50000</key>
            <dict>
                <key>frame</key>
                <string>{{497,192},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/60000</key>
            <dict>
                <key>frame</key>
                <string>{{395,192},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/70000</key>
            <dict>
                <key>frame</key>
                <string>{{293,192},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/80000</key>
            <dict>
                <key>frame</key>
                <string>{{230,495},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/90000</key>
            <dict>
                <key>frame</key>
                <string>{{230,393},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>quest-icon-dir/d/end-res/元件 10000</key>
            <dict>
                <key>frame</key>
                <string>{{536,396},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>quest-icon-dir/d/end-res/元件 20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{102,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,41}}</string>
                <key>sourceSize</key>
                <string>{102,41}</string>
            </dict>
            <key>quest-icon-dir/d/end-res/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{124,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>quest-icon-dir/d/end-res/元件 50000</key>
            <dict>
                <key>frame</key>
                <string>{{467,498},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>quest-icon-dir/d/end-res/元件 60000</key>
            <dict>
                <key>frame</key>
                <string>{{154,265},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>quest-icon-dir/d/fg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{289,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,45}}</string>
                <key>sourceSize</key>
                <string>{289,45}</string>
            </dict>
            <key>quest-icon-dir/default0000</key>
            <dict>
                <key>frame</key>
                <string>{{128,417},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quest-icon.png</string>
            <key>size</key>
            <string>{599,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350916a2944a92964f6c651a3af50edd:378c454e934ad50d30d7680fdb07a02a:c28febadea218527a4276e5d276334df$</string>
            <key>textureFileName</key>
            <string>quest-icon.png</string>
        </dict>
    </dict>
</plist>
