<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>question_mark_1</key>
            <dict>
                <key>frame</key>
                <string>{{185,76},{68,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{68,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_3</key>
            <dict>
                <key>frame</key>
                <string>{{174,192},{68,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_4</key>
            <dict>
                <key>frame</key>
                <string>{{100,192},{68,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_5</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_6</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{68,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{68,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>question_mark_gold_0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,109},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>question_mark_light</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>question_mark_star</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{96,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>question_mark.png</string>
            <key>size</key>
            <string>{268,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1372d7a54af0baa42c014de52791f5c7:6478be1190a6fab7a09a60a76c08a455:29182ac46510d42586a91be3b8587e82$</string>
            <key>textureFileName</key>
            <string>question_mark.png</string>
        </dict>
    </dict>
</plist>
