<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StarAchievenmentPanel_New/full_jiaobiao0000</key>
            <dict>
                <key>frame</key>
                <string>{{699,569},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>StarAchievenmentPanel_New/itemnodemainbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{648,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,124}}</string>
                <key>sourceSize</key>
                <string>{650,124}</string>
            </dict>
            <key>StarAchievenmentPanel_New/itemnodemainbg20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{648,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,124}}</string>
                <key>sourceSize</key>
                <string>{650,124}</string>
            </dict>
            <key>StarAchievenmentPanel_New/itemnodemainbg30000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{648,124}}</string>
                <key>sourceSize</key>
                <string>{650,124}</string>
            </dict>
            <key>StarAchievenmentPanel_New/lockicon0000</key>
            <dict>
                <key>frame</key>
                <string>{{994,1035},{70,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progressbar0000</key>
            <dict>
                <key>frame</key>
                <string>{{652,224},{320,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,25}}</string>
                <key>sourceSize</key>
                <string>{320,25}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progressbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{564,812},{327,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,32}}</string>
                <key>sourceSize</key>
                <string>{327,32}</string>
            </dict>
            <key>StarAchievenmentPanel_New/progressbgfull0000</key>
            <dict>
                <key>frame</key>
                <string>{{564,483},{327,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,32}}</string>
                <key>sourceSize</key>
                <string>{327,32}</string>
            </dict>
            <key>StarAchievenmentPanel_New/starsbg10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{623,63}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{623,63}}</string>
                <key>sourceSize</key>
                <string>{637,79}</string>
            </dict>
            <key>StarAchievenmentPanel_New/starticon0000</key>
            <dict>
                <key>frame</key>
                <string>{{800,356},{53,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>area_blocker_fade_out_glow0000</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,214}</string>
            </dict>
            <key>area_blocker_fg0000</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{223,220}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{223,220}}</string>
                <key>sourceSize</key>
                <string>{267,250}</string>
            </dict>
            <key>area_blocker_fg_glow0000</key>
            <dict>
                <key>frame</key>
                <string>{{623,396},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>area_icon_00000</key>
            <dict>
                <key>frame</key>
                <string>{{994,940},{91,93}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{91,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1068,301},{91,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{91,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_100000</key>
            <dict>
                <key>frame</key>
                <string>{{883,768},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{89,89}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1000000</key>
            <dict>
                <key>frame</key>
                <string>{{364,1055},{101,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{101,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1060000</key>
            <dict>
                <key>frame</key>
                <string>{{1061,598},{99,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{99,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_110000</key>
            <dict>
                <key>frame</key>
                <string>{{598,860},{97,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{97,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1120000</key>
            <dict>
                <key>frame</key>
                <string>{{598,455},{107,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{107,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1180000</key>
            <dict>
                <key>frame</key>
                <string>{{1069,204},{91,95}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{91,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_120000</key>
            <dict>
                <key>frame</key>
                <string>{{707,455},{112,59}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>area_icon_1240000</key>
            <dict>
                <key>frame</key>
                <string>{{698,656},{81,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{81,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_130000</key>
            <dict>
                <key>frame</key>
                <string>{{164,1069},{91,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{91,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1300000</key>
            <dict>
                <key>frame</key>
                <string>{{467,1055},{101,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{101,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_1380000</key>
            <dict>
                <key>frame</key>
                <string>{{697,759},{107,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{107,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_140000</key>
            <dict>
                <key>frame</key>
                <string>{{897,958},{95,97}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_150000</key>
            <dict>
                <key>frame</key>
                <string>{{959,669},{99,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{99,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_170000</key>
            <dict>
                <key>frame</key>
                <string>{{857,445},{101,85}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{101,85}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_190000</key>
            <dict>
                <key>frame</key>
                <string>{{960,568},{99,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{99,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_20000</key>
            <dict>
                <key>frame</key>
                <string>{{891,859},{95,97}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_230000</key>
            <dict>
                <key>frame</key>
                <string>{{768,411},{101,87}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{101,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_260000</key>
            <dict>
                <key>frame</key>
                <string>{{973,287},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{93,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_280000</key>
            <dict>
                <key>frame</key>
                <string>{{598,757},{97,101}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{97,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_30000</key>
            <dict>
                <key>frame</key>
                <string>{{858,358},{101,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{101,85}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_300000</key>
            <dict>
                <key>frame</key>
                <string>{{794,860},{99,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{99,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_320000</key>
            <dict>
                <key>frame</key>
                <string>{{697,868},{95,93}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{95,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_340000</key>
            <dict>
                <key>frame</key>
                <string>{{1060,699},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_360000</key>
            <dict>
                <key>frame</key>
                <string>{{598,550},{99,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{99,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_380000</key>
            <dict>
                <key>frame</key>
                <string>{{1069,2},{91,99}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{91,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_40000</key>
            <dict>
                <key>frame</key>
                <string>{{261,1054},{101,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_400000</key>
            <dict>
                <key>frame</key>
                <string>{{988,845},{93,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{93,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_430000</key>
            <dict>
                <key>frame</key>
                <string>{{857,532},{93,101}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{93,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_460000</key>
            <dict>
                <key>frame</key>
                <string>{{598,963},{99,99}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{99,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_50000</key>
            <dict>
                <key>frame</key>
                <string>{{1069,103},{99,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{99,91}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_500000</key>
            <dict>
                <key>frame</key>
                <string>{{652,251},{103,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{103,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_540000</key>
            <dict>
                <key>frame</key>
                <string>{{781,662},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_570000</key>
            <dict>
                <key>frame</key>
                <string>{{960,473},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{101,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_590000</key>
            <dict>
                <key>frame</key>
                <string>{{860,251},{111,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_60000</key>
            <dict>
                <key>frame</key>
                <string>{{798,961},{97,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{97,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_620000</key>
            <dict>
                <key>frame</key>
                <string>{{786,759},{95,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{95,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_660000</key>
            <dict>
                <key>frame</key>
                <string>{{1064,398},{95,97}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{95,97}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_70000</key>
            <dict>
                <key>frame</key>
                <string>{{67,1071},{89,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{89,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_700000</key>
            <dict>
                <key>frame</key>
                <string>{{1063,497},{97,99}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{97,99}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_740000</key>
            <dict>
                <key>frame</key>
                <string>{{685,1064},{93,103}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{93,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_780000</key>
            <dict>
                <key>frame</key>
                <string>{{598,653},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{98,102}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>area_icon_80000</key>
            <dict>
                <key>frame</key>
                <string>{{961,384},{101,87}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{101,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_820000</key>
            <dict>
                <key>frame</key>
                <string>{{974,194},{91,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{91,93}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_860000</key>
            <dict>
                <key>frame</key>
                <string>{{598,1064},{85,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{85,96}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>area_icon_90000</key>
            <dict>
                <key>frame</key>
                <string>{{757,251},{101,103}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{101,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>area_icon_900000</key>
            <dict>
                <key>frame</key>
                <string>{{699,963},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{101,99}</string>
            </dict>
            <key>area_icon_940000</key>
            <dict>
                <key>frame</key>
                <string>{{798,1062},{93,98}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{93,98}}</string>
                <key>sourceSize</key>
                <string>{111,112}</string>
            </dict>
            <key>background_new_2017/b_00000</key>
            <dict>
                <key>frame</key>
                <string>{{368,483},{570,98}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{570,98}}</string>
                <key>sourceSize</key>
                <string>{570,106}</string>
            </dict>
            <key>background_new_2017/b_10000</key>
            <dict>
                <key>frame</key>
                <string>{{468,483},{562,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{562,94}}</string>
                <key>sourceSize</key>
                <string>{568,106}</string>
            </dict>
            <key>background_new_2017/b_20000</key>
            <dict>
                <key>frame</key>
                <string>{{261,483},{569,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{569,105}}</string>
                <key>sourceSize</key>
                <string>{569,107}</string>
            </dict>
            <key>bg_render0000</key>
            <dict>
                <key>frame</key>
                <string>{{164,483},{584,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{584,95}}</string>
                <key>sourceSize</key>
                <string>{588,107}</string>
            </dict>
            <key>fg_render0000</key>
            <dict>
                <key>frame</key>
                <string>{{67,483},{586,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{586,95}}</string>
                <key>sourceSize</key>
                <string>{588,107}</string>
            </dict>
            <key>level_fnt_00000</key>
            <dict>
                <key>frame</key>
                <string>{{937,194},{21,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{21,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1104,882},{17,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{17,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_20000</key>
            <dict>
                <key>frame</key>
                <string>{{1083,912},{19,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_30000</key>
            <dict>
                <key>frame</key>
                <string>{{1083,882},{19,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_40000</key>
            <dict>
                <key>frame</key>
                <string>{{857,627},{21,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{21,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_50000</key>
            <dict>
                <key>frame</key>
                <string>{{1140,796},{17,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{17,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_60000</key>
            <dict>
                <key>frame</key>
                <string>{{926,704},{19,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_70000</key>
            <dict>
                <key>frame</key>
                <string>{{739,407},{19,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_80000</key>
            <dict>
                <key>frame</key>
                <string>{{593,380},{19,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_90000</key>
            <dict>
                <key>frame</key>
                <string>{{564,1141},{19,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{19,28}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>level_fnt_di0000</key>
            <dict>
                <key>frame</key>
                <string>{{1083,845},{35,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{35,35}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>level_fnt_guan0000</key>
            <dict>
                <key>frame</key>
                <string>{{1103,796},{35,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{35,35}}</string>
                <key>sourceSize</key>
                <string>{71,57}</string>
            </dict>
            <key>level_fnt_to0000</key>
            <dict>
                <key>frame</key>
                <string>{{988,940},{11,4}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{11,4}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>quick_select_level_resources/quick_select_level/fg_star_cell0000</key>
            <dict>
                <key>frame</key>
                <string>{{880,704},{44,45}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{46,49}</string>
            </dict>
            <key>star_area_lock0000</key>
            <dict>
                <key>frame</key>
                <string>{{781,597},{63,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,74}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>star_bg_green0000</key>
            <dict>
                <key>frame</key>
                <string>{{593,407},{144,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{144,46}}</string>
                <key>sourceSize</key>
                <string>{150,56}</string>
            </dict>
            <key>star_bg_red0000</key>
            <dict>
                <key>frame</key>
                <string>{{652,356},{146,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{146,49}}</string>
                <key>sourceSize</key>
                <string>{154,57}</string>
            </dict>
            <key>star_display/hide_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{974,768},{77,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,75}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>star_display/starAreaBGFull0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{589,101}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,101}}</string>
                <key>sourceSize</key>
                <string>{595,105}</string>
            </dict>
            <key>star_display/star_display_star_bg0000</key>
            <dict>
                <key>frame</key>
                <string>{{776,514},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>star_display/star_hideArea_locked0000</key>
            <dict>
                <key>frame</key>
                <string>{{877,194},{58,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,25}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>star_display/star_hideArea_nolevel0000</key>
            <dict>
                <key>frame</key>
                <string>{{1053,796},{47,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{47,48}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>star_display/star_mask0000</key>
            <dict>
                <key>frame</key>
                <string>{{860,346},{110,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,10}}</string>
                <key>sourceSize</key>
                <string>{110,10}</string>
            </dict>
            <key>star_display/trunk_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{880,627},{77,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{77,75}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>star_fnt_00000</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1058},{14,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_10000</key>
            <dict>
                <key>frame</key>
                <string>{{1113,912},{14,19}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{14,19}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_20000</key>
            <dict>
                <key>frame</key>
                <string>{{739,437},{16,21}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{16,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_30000</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1035},{12,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{12,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_40000</key>
            <dict>
                <key>frame</key>
                <string>{{926,734},{16,19}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{16,19}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_50000</key>
            <dict>
                <key>frame</key>
                <string>{{960,194},{12,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{12,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_60000</key>
            <dict>
                <key>frame</key>
                <string>{{931,752},{14,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_70000</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1081},{14,19}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{14,19}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_80000</key>
            <dict>
                <key>frame</key>
                <string>{{908,752},{14,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_90000</key>
            <dict>
                <key>frame</key>
                <string>{{623,380},{14,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{14,21}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>star_fnt_to0000</key>
            <dict>
                <key>frame</key>
                <string>{{883,751},{15,23}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>star_icon_level0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{52,53}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{52,53}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quick_select_level.png</string>
            <key>size</key>
            <string>{1162,1162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48b7452ee862977c85f3866c07f8ef8b:3dd69eb93ae4772254bd6f35a9610da4:1f1c4b046fcef1a97b5e221c3ab96cb0$</string>
            <key>textureFileName</key>
            <string>quick_select_level.png</string>
        </dict>
    </dict>
</plist>
