<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_clean_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,362},{73,72}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{73,72}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,435},{75,74}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{75,74}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{75,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{75,74}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,362},{71,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{71,72}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,362},{73,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{73,72}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,362},{75,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{75,74}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,436},{77,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{77,76}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,436},{79,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{79,78}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,438},{81,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{81,80}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,438},{83,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{83,82}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{85,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{85,84}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,514},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,86}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,516},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,88}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,520},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{57,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{57,54}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>sand_clean_dust.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>sand_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sand_idle_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sand_idle_clean.png</string>
            <key>size</key>
            <string>{512,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4ebab036a97ff7b5ddbdc5d55fc61f:7829ff2abd08267891cec586880c5b1d:d8f5e5afd4ecd40853d21abca5349d33$</string>
            <key>textureFileName</key>
            <string>sand_idle_clean.png</string>
        </dict>
    </dict>
</plist>
