<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,634},{71,87}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{71,99}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,99}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,221},{71,101}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,294},{71,93}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,93}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,589},{71,95}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,492},{71,95}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{71,95}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,640},{71,89}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,549},{71,89}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,458},{71,89}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,367},{71,89}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{71,89}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,294},{71,91}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,711},{71,83}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,659},{71,83}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,626},{71,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,545},{71,87}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,456},{71,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,367},{71,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{71,87}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,541},{71,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,628},{71,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,541},{71,85}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,454},{71,85}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,367},{71,85}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{71,85}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,541},{71,83}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,148},{71,107}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{71,107}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,626},{71,107}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{71,107}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,517},{71,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{71,107}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,186},{71,109}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{71,109}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,75},{71,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{71,109}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{71,111}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{71,111}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,117}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{71,117}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{71,115}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{71,115}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{71,113}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{71,113}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{71,111}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,408},{71,107}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{71,107}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_down_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,221},{71,105}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{71,105}}</string>
                <key>sourceSize</key>
                <string>{71,139}</string>
            </dict>
            <key>sand_move_right_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,294},{93,71}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,435},{105,71}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,148},{107,71}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,221},{99,71}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{99,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,221},{101,71}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,221},{101,71}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,294},{93,71}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,294},{95,71}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,686},{95,71}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,393},{97,71}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,294},{97,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,586},{83,71}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,513},{85,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,715},{85,71}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,628},{85,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,715},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,440},{85,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,440},{85,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,440},{85,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,367},{85,71}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,367},{85,71}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,367},{85,71}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,723},{85,71}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,221},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,647},{103,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,542},{103,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,328},{105,71}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,148},{107,71}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,148},{107,71}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,148},{107,71}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,75},{107,71}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,75},{107,71}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,75},{107,71}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,75},{107,71}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{113,71}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{113,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{111,71}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{111,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,297},{109,71}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{109,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,75},{107,71}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{107,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,148},{101,71}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
            <key>sand_move_right_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,75},{101,71}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{101,71}}</string>
                <key>sourceSize</key>
                <string>{141,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sand_move.png</string>
            <key>size</key>
            <string>{796,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f1f94ecf0d38e36de052d91342cbe82:6db8c71e57a907ab92abed4db2973e5d:b08dc96dcd977f2ce08a4a2d6328f28f$</string>
            <key>textureFileName</key>
            <string>sand_move.png</string>
        </dict>
    </dict>
</plist>
