<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sea_animal_4_0000</key>
            <dict>
                <key>frame</key>
                <string>{{407,277},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>sea_animal_5_0000</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{69,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,131}}</string>
                <key>sourceSize</key>
                <string>{69,131}</string>
            </dict>
            <key>sea_animal_6_0000</key>
            <dict>
                <key>frame</key>
                <string>{{214,137},{137,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>sea_animal_bear_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{192,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,198}}</string>
                <key>sourceSize</key>
                <string>{192,198}</string>
            </dict>
            <key>sea_animal_fish12_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{138,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>sea_animal_fish21_0000</key>
            <dict>
                <key>frame</key>
                <string>{{353,137},{70,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,138}}</string>
                <key>sourceSize</key>
                <string>{70,140}</string>
            </dict>
            <key>sea_animal_fish22_0000</key>
            <dict>
                <key>frame</key>
                <string>{{196,278},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{136,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sea_animal_fish33_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>sea_animal_fish_0000</key>
            <dict>
                <key>frame</key>
                <string>{{334,404},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sea_animal_num0</key>
            <dict>
                <key>frame</key>
                <string>{{142,404},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num1</key>
            <dict>
                <key>frame</key>
                <string>{{196,204},{16,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{16,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num2</key>
            <dict>
                <key>frame</key>
                <string>{{425,135},{28,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{28,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num3</key>
            <dict>
                <key>frame</key>
                <string>{{435,382},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num4</key>
            <dict>
                <key>frame</key>
                <string>{{142,440},{30,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{30,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num5</key>
            <dict>
                <key>frame</key>
                <string>{{407,382},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num6</key>
            <dict>
                <key>frame</key>
                <string>{{439,346},{28,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num7</key>
            <dict>
                <key>frame</key>
                <string>{{425,207},{26,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num8</key>
            <dict>
                <key>frame</key>
                <string>{{425,171},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_num9</key>
            <dict>
                <key>frame</key>
                <string>{{407,346},{30,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{30,34}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sea_animal_penguin_0000</key>
            <dict>
                <key>frame</key>
                <string>{{334,278},{71,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,124}}</string>
                <key>sourceSize</key>
                <string>{71,124}</string>
            </dict>
            <key>sea_animal_seal_0000</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{190,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,133}}</string>
                <key>sourceSize</key>
                <string>{190,133}</string>
            </dict>
            <key>sea_animal_wenhao</key>
            <dict>
                <key>frame</key>
                <string>{{453,171},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sea_animal.png</string>
            <key>size</key>
            <string>{477,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d0dd5b921684af7d3c9a7ad54eea60:cc62dd8bf1bd8f5112c19f8202290ee2:25b14f4db845647e5be12dbbe8cdfb6d$</string>
            <key>textureFileName</key>
            <string>sea_animal.png</string>
        </dict>
    </dict>
</plist>
