<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Samllicon_inItem/item_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{46,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{46,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,206},{44,42}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{44,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,234},{42,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{42,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_136.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,378},{42,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{42,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,436},{38,40}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{38,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{44,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,52},{40,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{40,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,114},{40,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{40,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{40,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{40,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,140},{40,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{40,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,48},{40,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{40,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{40,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_154_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{40,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{40,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{42,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{42,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,64},{48,38}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{48,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_171.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{46,42}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{46,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_179.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{40,40}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,356},{36,38}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,438},{36,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{36,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,416},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,340},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,264},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,302},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_201_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,264},{36,36}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,296},{38,42}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{38,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,356},{38,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{38,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{36,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{36,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,226},{36,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_212_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{44,44}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{44,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_212_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,138},{42,44}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_212_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,252},{42,42}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{42,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_212_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,190},{42,42}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{42,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,318},{36,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{36,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_227_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{42,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{42,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_227_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,92},{42,44}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_227_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{42,44}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,378},{34,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{34,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{48,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{48,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,46},{38,34}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{38,34}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,162},{40,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{40,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{48,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{48,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,100},{40,44}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{40,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,336},{42,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{42,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{44,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{44,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,46},{42,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{42,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,146},{42,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{42,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,398},{42,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{42,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{44,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{44,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,318},{42,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{42,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{42,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{42,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,226},{36,36}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,436},{38,38}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{38,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,276},{38,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{38,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,420},{40,38}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{40,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{46,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,186},{42,40}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{42,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{42,36}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{42,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Samllicon_inItem/item_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,396},{38,38}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{38,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Smallicon_inItem.png</string>
            <key>size</key>
            <string>{254,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d80dd03db46ada450163ccffb60f13f:8c02ada4163a259010ea253603f387b5:975e710bdafae425cb24bb7e9c593d93$</string>
            <key>textureFileName</key>
            <string>Smallicon_inItem.png</string>
        </dict>
    </dict>
</plist>
