<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>strategy_circle</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>strategy_hand_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{80,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0001</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{80,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,92}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0002</key>
            <dict>
                <key>frame</key>
                <string>{{84,88},{82,88}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{82,88}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0003</key>
            <dict>
                <key>frame</key>
                <string>{{174,96},{82,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{82,86}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0004</key>
            <dict>
                <key>frame</key>
                <string>{{84,172},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0005</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{84,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{84,90}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0006</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{84,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{84,90}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0007</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{84,90}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{84,90}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>strategy_hand_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strategy_replay.png</string>
            <key>size</key>
            <string>{258,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fae29ad922299656e9c29bcdf355ef7:8fb47aa2a2a3dfa9753c221cc49f3704:7542e82aa51efd3baeaa81eb43550760$</string>
            <key>textureFileName</key>
            <string>strategy_replay.png</string>
        </dict>
    </dict>
</plist>
