<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blocker_sunflower_hit_0000</key>
            <dict>
                <key>frame</key>
                <string>{{507,282},{72,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{72,75}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0001</key>
            <dict>
                <key>frame</key>
                <string>{{118,394},{76,77}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{76,77}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0002</key>
            <dict>
                <key>frame</key>
                <string>{{350,209},{80,81}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{80,81}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0003</key>
            <dict>
                <key>frame</key>
                <string>{{625,102},{84,85}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{84,85}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0004</key>
            <dict>
                <key>frame</key>
                <string>{{537,102},{86,89}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{86,89}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0005</key>
            <dict>
                <key>frame</key>
                <string>{{445,109},{90,93}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{90,93}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0006</key>
            <dict>
                <key>frame</key>
                <string>{{254,131},{94,97}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{94,97}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0007</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{98,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{98,101}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{100,103}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{100,103}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0009</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{104,107}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{104,107}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0010</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{102,105}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{102,105}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{98,101}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{98,101}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{102,105}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{102,105}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{114,115}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{114,115}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0014</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{126,127}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{126,127}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{138,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{138,135}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0017</key>
            <dict>
                <key>frame</key>
                <string>{{350,111},{96,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{96,93}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0018</key>
            <dict>
                <key>frame</key>
                <string>{{152,131},{100,95}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{100,95}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0019</key>
            <dict>
                <key>frame</key>
                <string>{{118,290},{102,95}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{102,95}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0020</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{104,97}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{104,97}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0021</key>
            <dict>
                <key>frame</key>
                <string>{{581,271},{72,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{72,75}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0022</key>
            <dict>
                <key>frame</key>
                <string>{{337,546},{72,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,42},{72,75}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0023</key>
            <dict>
                <key>frame</key>
                <string>{{262,472},{72,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,42},{72,75}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_hit_0024</key>
            <dict>
                <key>frame</key>
                <string>{{260,546},{72,75}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,42},{72,75}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>blocker_sunflower_idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{493,437},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{419,443},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{419,365},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{339,460},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{345,382},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{271,382},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{289,304},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{215,304},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{271,230},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{655,423},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{581,426},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{507,359},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{655,345},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{581,348},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{433,287},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{655,267},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0016</key>
            <dict>
                <key>frame</key>
                <string>{{398,620},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0017</key>
            <dict>
                <key>frame</key>
                <string>{{324,620},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0018</key>
            <dict>
                <key>frame</key>
                <string>{{250,620},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0019</key>
            <dict>
                <key>frame</key>
                <string>{{655,189},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0020</key>
            <dict>
                <key>frame</key>
                <string>{{581,193},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0021</key>
            <dict>
                <key>frame</key>
                <string>{{507,204},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0022</key>
            <dict>
                <key>frame</key>
                <string>{{433,209},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0023</key>
            <dict>
                <key>frame</key>
                <string>{{176,620},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0024</key>
            <dict>
                <key>frame</key>
                <string>{{182,546},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0025</key>
            <dict>
                <key>frame</key>
                <string>{{184,472},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0026</key>
            <dict>
                <key>frame</key>
                <string>{{197,394},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0027</key>
            <dict>
                <key>frame</key>
                <string>{{102,620},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0028</key>
            <dict>
                <key>frame</key>
                <string>{{104,546},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_idle_0029</key>
            <dict>
                <key>frame</key>
                <string>{{106,472},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>blocker_sunflower_numplate_0000</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>blocker_sunflower_sun_0000</key>
            <dict>
                <key>frame</key>
                <string>{{548,673},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0000</key>
            <dict>
                <key>frame</key>
                <string>{{203,230},{55,56}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{55,56}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0001</key>
            <dict>
                <key>frame</key>
                <string>{{142,228},{59,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{59,60}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0002</key>
            <dict>
                <key>frame</key>
                <string>{{567,504},{63,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{63,64}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0003</key>
            <dict>
                <key>frame</key>
                <string>{{363,291},{67,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{67,70}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0004</key>
            <dict>
                <key>frame</key>
                <string>{{545,597},{71,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0005</key>
            <dict>
                <key>frame</key>
                <string>{{623,648},{71,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0006</key>
            <dict>
                <key>frame</key>
                <string>{{472,673},{71,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0007</key>
            <dict>
                <key>frame</key>
                <string>{{472,597},{71,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0008</key>
            <dict>
                <key>frame</key>
                <string>{{618,574},{71,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0009</key>
            <dict>
                <key>frame</key>
                <string>{{487,521},{71,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0010</key>
            <dict>
                <key>frame</key>
                <string>{{655,501},{71,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
            <key>blocker_sunflower_sun_appear_0011</key>
            <dict>
                <key>frame</key>
                <string>{{414,521},{71,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunflower.png</string>
            <key>size</key>
            <string>{746,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd6306e4b3bd367ce6266f0ae5cd167:f0cbad3e3663f9307a26166594679094:0c9b113a97d4148edbe2ddabc1a2a361$</string>
            <key>textureFileName</key>
            <string>sunflower.png</string>
        </dict>
    </dict>
</plist>
