<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Line_Effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,100},{10,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{10,19}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,100},{12,21}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{12,21}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{14,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,46},{14,27}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,74},{12,27}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{12,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{12,27}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{12,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,61},{12,27}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{12,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,87},{12,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{12,23}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,93},{14,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{14,25}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{14,25}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{14,25}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,78},{14,25}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{14,25}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,35},{14,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,31},{14,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,16},{14,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Line_Effect_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,1},{14,27}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{14,27}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>Wrap_Effect_Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{33,33}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TileEffect.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb1a5616b63abb69cc1462c30f07f37c$</string>
            <key>textureFileName</key>
            <string>TileEffect.png</string>
        </dict>
    </dict>
</plist>
