<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UserCallBackVer2/FirstDay/FirstDayAwardCell0000</key>
            <dict>
                <key>frame</key>
                <string>{{666,841},{157,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,166}}</string>
                <key>sourceSize</key>
                <string>{157,166}</string>
            </dict>
            <key>UserCallBackVer2/__panelSrc/awardTF0000</key>
            <dict>
                <key>frame</key>
                <string>{{834,841},{195,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,72}}</string>
                <key>sourceSize</key>
                <string>{195,72}</string>
            </dict>
            <key>UserCallBackVer2/__panelSrc/firstdayBtn_lable0000</key>
            <dict>
                <key>frame</key>
                <string>{{28,1002},{262,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,97}}</string>
                <key>sourceSize</key>
                <string>{262,97}</string>
            </dict>
            <key>UserCallBackVer2/__panelSrc/firstdayBtn_lable10000</key>
            <dict>
                <key>frame</key>
                <string>{{28,1101},{324,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,97}}</string>
                <key>sourceSize</key>
                <string>{324,97}</string>
            </dict>
            <key>UserCallBackVer2/__panelSrc/playGameTf0000</key>
            <dict>
                <key>frame</key>
                <string>{{427,1003},{187,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,72}}</string>
                <key>sourceSize</key>
                <string>{187,72}</string>
            </dict>
            <key>UserCallBackVer2/__resources/he_bubble_184314568170427080000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1063},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>UserCallBackVer2/prebuff_icon/res/buff30000</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1069},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>UserCallBackVer2/prebuff_icon/res/buff40000</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1151},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>UserCallBackVer2/prebuff_icon/res/buff50000</key>
            <dict>
                <key>frame</key>
                <string>{{1152,800},{91,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,70}}</string>
                <key>sourceSize</key>
                <string>{91,70}</string>
            </dict>
            <key>UserCallBackVer2/res/be786ad78s5781237896afdgsaycdas9f67dsafnbdsacuds6afds0000</key>
            <dict>
                <key>frame</key>
                <string>{{400,654},{429,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,35}}</string>
                <key>sourceSize</key>
                <string>{429,35}</string>
            </dict>
            <key>UserCallBackVer2/res/bhads7f7631247380912h8f7d7f89dshc7dsa7fdsb87afsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{400,691},{245,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,180}}</string>
                <key>sourceSize</key>
                <string>{245,180}</string>
            </dict>
            <key>UserCallBackVer2/res/cdas767823gh79163bcdsa5f7ds7fdsbafsd978fsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{424,187},{665,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,161}}</string>
                <key>sourceSize</key>
                <string>{665,161}</string>
            </dict>
            <key>UserCallBackVer2/res/cds896392h78567dasfds897981234bh71867dfadusc89asfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{37,892}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,892}}</string>
                <key>sourceSize</key>
                <string>{37,892}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsa63h4892317089g7cd8sa6dfbs8023189dhaf9ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{424,515},{641,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,137}}</string>
                <key>sourceSize</key>
                <string>{641,137}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsa896321h89d7689f7dh39487h009dhfudsadf0000</key>
            <dict>
                <key>frame</key>
                <string>{{1054,800},{96,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,133}}</string>
                <key>sourceSize</key>
                <string>{96,133}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsa89f789h27186378bf7d856s7f8678dsf7afdfnd89f67dsf0000</key>
            <dict>
                <key>frame</key>
                <string>{{1086,388},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsa987342818hj8978ghf8sdf07342h1982370000</key>
            <dict>
                <key>frame</key>
                <string>{{908,949},{112,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,152}}</string>
                <key>sourceSize</key>
                <string>{112,152}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsac7d07984397892714h8970gfafndsa9f78d9sfdsjkahfsd0000</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1069},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsaf890dsajc89dsa6f45ds5a3fd3s6afdshcd89sfa78sdfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{269,578},{377,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,90}}</string>
                <key>sourceSize</key>
                <string>{377,90}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsaftds78ac9sdf67ds6j23121089dhfas8f69d7s6fdsaf0000</key>
            <dict>
                <key>frame</key>
                <string>{{424,350},{660,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,163}}</string>
                <key>sourceSize</key>
                <string>{660,163}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsag78932g9876dfash84623b789d6asf7ahs786fs6afdsafs0000</key>
            <dict>
                <key>frame</key>
                <string>{{354,1101},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsajcd8s9a6f7ds5a785f76ds5afdsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{24,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,261}}</string>
                <key>sourceSize</key>
                <string>{24,261}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsakkhj9823074h8d7s6fg7dsacbd78s6afdsallldf9ds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1091,290},{96,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,135}</string>
            </dict>
            <key>UserCallBackVer2/res/cdsan892374h78cs6f789dshc789sa6fh324876cxjkjjdsf87ds8afds0000</key>
            <dict>
                <key>frame</key>
                <string>{{666,1000},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>UserCallBackVer2/res/cdshv8f7dg892834hj8f7g89fdsg7d97g0921j89vdfsfg0000</key>
            <dict>
                <key>frame</key>
                <string>{{951,1063},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>UserCallBackVer2/res/chcdsua897n89cvd6sa7f4d6s4a56fdsbc7sda76f9ds00000</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{341,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,574}}</string>
                <key>sourceSize</key>
                <string>{341,574}</string>
            </dict>
            <key>UserCallBackVer2/res/csa897427890768tf7tg788fdgv79s72490832ufsakfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{452,1077},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>UserCallBackVer2/res/csa90723984dfanjkf8isda678623h78cda6f76dasfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{647,691},{239,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,148}}</string>
                <key>sourceSize</key>
                <string>{239,148}</string>
            </dict>
            <key>UserCallBackVer2/res/csd89093824h906vsha0f79342hu90ashf0sd9a7f5676dsafds0000</key>
            <dict>
                <key>frame</key>
                <string>{{721,1097},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>UserCallBackVer2/res/csda878134h201986hdf8gdshc9s7a8f7d8sanfdsa7f0000</key>
            <dict>
                <key>frame</key>
                <string>{{817,1063},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>UserCallBackVer2/res/csddgf786723h4786dsbdfds6a78f768dsabg73246ghsd8af7dsf0000</key>
            <dict>
                <key>frame</key>
                <string>{{1067,534},{116,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,155}}</string>
                <key>sourceSize</key>
                <string>{116,155}</string>
            </dict>
            <key>UserCallBackVer2/res/csdnjkaf78ds6832468976as89f678dsafdashbf678s6a78fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{1041,654},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>UserCallBackVer2/res/dascdsa787342816093t2hd879678asf676asdfdsafjhds890000</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{676,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,183}}</string>
                <key>sourceSize</key>
                <string>{676,183}</string>
            </dict>
            <key>UserCallBackVer2/res/dasiocdysa89f689h12893789dhf8asd675f76ds4a56fdasfd0000</key>
            <dict>
                <key>frame</key>
                <string>{{81,578},{422,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,186}}</string>
                <key>sourceSize</key>
                <string>{422,186}</string>
            </dict>
            <key>UserCallBackVer2/res/dhjfds89a79821n38767d8fbdsa9f86das896f7sdbac87ds67fds0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,892}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,892}}</string>
                <key>sourceSize</key>
                <string>{38,892}</string>
            </dict>
            <key>UserCallBackVer2/res/j3920u90ds8fjsa908f902j4907shfguidsaifd9s0a8fdsa0000</key>
            <dict>
                <key>frame</key>
                <string>{{587,1097},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>UserCallBackVer2/res/nmbcdusayf78d78h12389tg7as89fydsba786217837698hdbfa98ds7fas0000</key>
            <dict>
                <key>frame</key>
                <string>{{361,578},{415,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,37}}</string>
                <key>sourceSize</key>
                <string>{415,37}</string>
            </dict>
            <key>UserCallBackVer2/res/skahc90ds7832h4988a90s8fasjusd000fdshakufdskfds0000</key>
            <dict>
                <key>frame</key>
                <string>{{292,1003},{96,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,133}}</string>
                <key>sourceSize</key>
                <string>{96,133}</string>
            </dict>
            <key>UserCallBackVer2/res/u90udjfas90d80u25y98afhdafdjksahfs0audf80000</key>
            <dict>
                <key>frame</key>
                <string>{{1062,935},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>UserCallBackVer2/res/ueywruyf689ds7acbsha672310987dfasjkfhdskjafdsy7fds6afds0000</key>
            <dict>
                <key>frame</key>
                <string>{{888,654},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UserCallBackVer2/res/yruewqigcd78casbc78as67821378967dgf78sda6fd6s745f6d7afdsdnvdfs0000</key>
            <dict>
                <key>frame</key>
                <string>{{908,800},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>ui_buttons/ui_button_green_scale90000</key>
            <dict>
                <key>frame</key>
                <string>{{400,873},{264,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,128}}</string>
                <key>sourceSize</key>
                <string>{264,128}</string>
            </dict>
            <key>ui_commons/button_common/ui_button_close_rect0000</key>
            <dict>
                <key>frame</key>
                <string>{{28,896},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ui_commons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{286,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,124}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>ui_commons/close_brown/he_bubble_13227414640815491440000</key>
            <dict>
                <key>frame</key>
                <string>{{269,957},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_panel.png</string>
            <key>size</key>
            <string>{1228,1228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2076d64f9a674917d7665488f5653a2:6e188d693f52bb7e6af7dbd22077ebee:f57edf30c8e71da693d254d34a1a6630$</string>
            <key>textureFileName</key>
            <string>new_panel.png</string>
        </dict>
    </dict>
</plist>
