<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FifthAnniversary_sucessTip/res/closeres/buqianRes/res 副本/未命名文件夹 3/未命名文件夹 2/未命名文件夹 1/元件 40000</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{36,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/fudai0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/light0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{261,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,325}}</string>
                <key>sourceSize</key>
                <string>{261,325}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/light20000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,114}}</string>
                <key>sourceSize</key>
                <string>{549,114}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/object10000</key>
            <dict>
                <key>frame</key>
                <string>{{265,325},{157,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,147}}</string>
                <key>sourceSize</key>
                <string>{157,147}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/object20000</key>
            <dict>
                <key>frame</key>
                <string>{{265,180},{159,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,143}}</string>
                <key>sourceSize</key>
                <string>{159,143}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/tip0000</key>
            <dict>
                <key>frame</key>
                <string>{{38,501},{437,31}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{437,31}}</string>
                <key>sourceSize</key>
                <string>{443,45}</string>
            </dict>
            <key>FifthAnniversary_sucessTip/res/title0000</key>
            <dict>
                <key>frame</key>
                <string>{{265,118},{272,60}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{272,60}}</string>
                <key>sourceSize</key>
                <string>{306,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sucesstip.png</string>
            <key>size</key>
            <string>{553,553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a7da3bea253c4234ee063bef197fb9:c007a82819417e0b1da1ed97c5a5da07:ec8ae7c8e637fe6d8cca42dee6a61dc5$</string>
            <key>textureFileName</key>
            <string>sucesstip.png</string>
        </dict>
    </dict>
</plist>
