<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emptynode0000</key>
            <dict>
                <key>frame</key>
                <string>{{72,1257},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>huanxiong0000</key>
            <dict>
                <key>frame</key>
                <string>{{406,875},{353,377}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{353,377}}</string>
                <key>sourceSize</key>
                <string>{391,387}</string>
            </dict>
            <key>itembg10000</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{402,402}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{402,402}}</string>
                <key>sourceSize</key>
                <string>{462,458}</string>
            </dict>
            <key>itembg20000</key>
            <dict>
                <key>frame</key>
                <string>{{761,933},{254,254}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{254,254}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>itembg30000</key>
            <dict>
                <key>frame</key>
                <string>{{1045,875},{239,237}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{239,237}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>leftbtn20000</key>
            <dict>
                <key>frame</key>
                <string>{{860,1189},{86,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,127}}</string>
                <key>sourceSize</key>
                <string>{92,133}</string>
            </dict>
            <key>mainbg0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1070,807}}</string>
                <key>offset</key>
                <string>{-14,268}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,215},{1070,807}}</string>
                <key>sourceSize</key>
                <string>{1390,1773}</string>
            </dict>
            <key>maintitle0000</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{581,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,212}}</string>
                <key>sourceSize</key>
                <string>{581,212}</string>
            </dict>
            <key>rightbtn20000</key>
            <dict>
                <key>frame</key>
                <string>{{1074,787},{86,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,127}}</string>
                <key>sourceSize</key>
                <string>{92,133}</string>
            </dict>
            <key>selectednode0000</key>
            <dict>
                <key>frame</key>
                <string>{{72,1215},{40,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>updateMainPanelRes/closeres/close0000</key>
            <dict>
                <key>frame</key>
                <string>{{114,1215},{35,35}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>重复项目文件夹/ffdd 副本0000</key>
            <dict>
                <key>frame</key>
                <string>{{1074,585},{200,200}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{200,200}}</string>
                <key>sourceSize</key>
                <string>{226,228}</string>
            </dict>
            <key>重复项目文件夹/ge0000</key>
            <dict>
                <key>frame</key>
                <string>{{761,1189},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>重复项目文件夹/ui_buttons/button_common/ui_button_shadow0000</key>
            <dict>
                <key>frame</key>
                <string>{{761,811},{282,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,120}}</string>
                <key>sourceSize</key>
                <string>{286,124}</string>
            </dict>
            <key>重复项目文件夹/元件 8 副本 120000</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UpdateMainPanel.png</string>
            <key>size</key>
            <string>{1288,1288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b62c3640058d0ccd8c9afd9b314e3f:8c6432eb2c69134e2cef6c1ee9f6cdd1:72c8614b7c2e172bc4f5d8399ff6032d$</string>
            <key>textureFileName</key>
            <string>UpdateMainPanel.png</string>
        </dict>
    </dict>
</plist>
