<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fruit_tree_share_level_10000</key>
			<dict>
				<key>frame</key>
				<string>{{83,54},{20,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,47}}</string>
				<key>sourceSize</key>
				<string>{20,47}</string>
			</dict>
			<key>fruit_tree_share_level_20000</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{38,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,50}}</string>
				<key>sourceSize</key>
				<string>{38,50}</string>
			</dict>
			<key>fruit_tree_share_level_30000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{38,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,50}}</string>
				<key>sourceSize</key>
				<string>{38,50}</string>
			</dict>
			<key>fruit_tree_share_level_40000</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,50}}</string>
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>fruit_tree_share_level_50000</key>
			<dict>
				<key>frame</key>
				<string>{{42,54},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,50}}</string>
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>fruit_tree_share_level_60000</key>
			<dict>
				<key>frame</key>
				<string>{{42,0},{38,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,50}}</string>
				<key>sourceSize</key>
				<string>{38,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fruit_tree_share_level.png</string>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>fruit_tree_share_level.png</string>
		</dict>
	</dict>
</plist>
